[2016-09-06 07:17] lafrech commented on #1369
OK, I get it. Now I understand the `remove = self._changed_fields.remove`. Looks like the job was half-done already.

[2016-09-06 12:59] iici-gli commented on #1370
This fix made to_mongo method of BaseField and all derived class can take any input without complaining. e.g.  to_mongo(use_db_filed=True) no exception happen, but it should be to_mongo(use_db_field=True)

[2016-09-06 22:07] ppecio opened #1371 "reload() function always clears _changed_fields list"
Document.realod() always set _changed_fields to empty list, even if reload function is invoked with fields arguments. This cause, that not reload fields which were changed before reload() call are not marked as changed after that and for example not saved in later save() call.

Example:

[code]

Second save does not change name from "Bob" to "John" in mongo db, because after reload() call 'name' w

[2016-09-07 07:25] lafrech commented on #1371
Would you like to send a PR with tests showing how the change fixes the use case?

[2016-09-07 10:00] arindamchoudhury opened #1372 "Document BlogPost may not be subclassed"
Hi,

I am new to mongodb and mongoengine. I was following the tutorial. I got the following error:

[code]

[2016-09-07 10:06] lafrech commented on #1372
Do you have `meta = {'allow_inheritance': True}`?

http://docs.mongoengine.org/guide/defining-documents.html?highlight=allow_inheritance#document-inheritance
http://docs.mongoengine.org/apireference.html?highlight=allow_inheritance#mongoengine.Document
http://docs.mongoengine.org/tutorial.html?highlight=allow_inheritance#posts

[2016-09-07 10:14] arindamchoudhury commented on #1372
thanks. it solved it.

[2016-09-07 10:14] #1372 closed

[2016-09-07 14:09] jpoiri opened #1373 "Issue with embedded document uniqueness"
HI there,

I am upgrading mongoengine from 0.8.6 to 0.10.6 and I am hitting issue when saving one of my models.

DuplicateKeyError: E11000 duplicate key error index: mbc_web.level_one.$list_level_twos.en_name_1 dup key: { : "Ambulance/Medical Travel" }

As you can see from my models, I have define 3 unique fields on the LevelTwo model  (l2_id, en_name, fr_name fields) as I would like LevelTwo mode

[2016-09-08 11:12] lokeshmeher opened #1374 "Connects to `HOST` instead of `MONGODB_HOST`"
While using mongoengine with a Flask project I am getting the following error:

[code]

I took a look at the `site-packages/mongoengine/connection.py` file and at line 60 tried to print the value of `conn_host`. It printed:
[code]
The value came from my project's `config.py` file:
[code]
Even though `MONGODB_HOST` is defined, it read the value from `HOST`.

[2016-09-08 12:41] lafrech commented on #1374
Sounds like a flask-mongoengine issue. Please reopen [there](https://github.com/MongoEngine/flask-mongoengine/issues).

[2016-09-08 12:41] #1374 closed

[2016-09-09 06:13] allanlei commented on #1067
This also happens with `pull` on `ListField(GenericEmbeddedDocumentField)`.  Same error.

[code]

[code]

Example
[code]

[code]

[2016-09-14 05:26] wpromatt opened #1376 "db_field with dot-notation works on inserts but not on reads"
[code]

It is saved in the database

[code]

I have a feeling the issue is that you can use dot notation when you assign values after creating the document instance. Somehow assigning the values after bypasses the validation. For example, this doesn't work:

[code]

[2016-09-16 16:00] quique0194 commented on #1224
Brief description of the use case:

I have a User object whose pk is the id returned by facebook login. I have a couple of objects, Lend and UserData, referencing User, and when User gets deleted, the bug arises. This is the traceback

[code]

mongoengine==0.10.6

[2016-09-21 21:16] parisk opened #1377 ".limit is not working"
Hello everyone,

It seems that `limit` is totally broken in MongoEngine 0.10.6 and always returns the full queryset.

IMO this is 💀  **really important** 💀 , as it can easily affect the business logic of lots of apps using MongoEngine in production.

I tried everything with a clean installation and a fresh new mongo daemon (running mongo `3.2.9`  in Docker).

This seem to be related with #1136.

#

[2016-09-21 21:35] parisk commented on #1377
Pointing out that this does not work even without counting at all:

[code]

[2016-09-21 22:05] parisk commented on #1377
Closing this, as it seems that `count` needs an argument to take `limit` into account: http://docs.mongoengine.org/apireference.html#mongoengine.queryset.QuerySet.count.

[2016-09-21 22:05] #1377 closed

[2016-09-22 15:14] neuroid opened #1378 "Regression in handling DictField keys with None values in embedded documents"
Hi,

Consider the following example:

[code]

With mongoengine 0.8.x the above results in the following document being created in mongo:

[code]

However, with mongoengine 0.10.6 (also tested with current master) the following document is created:

[code]

If I set `key` to something else than `None` things work as expected.

[2016-09-22 16:13] neuroid opened #1379 "Regression in reloading DictFields in embedded documents"
Hi,

Consider the following example:

[code]

Tested with mongoengine 0.10.6 and master. With mongoengine 0.8.x the reload works fine.

[2016-09-23 10:46] neuroid commented on #1379
After looking into this a bit more it seems the issue is caused by the field being named `items`. This was already reported in #1344.

[2016-09-23 10:47] #1379 closed

[2016-09-23 12:06] neuroid opened #1380 "Potential regression in handling of the _cls field"
Hi,

Consider the following example:

[code]

With mongoengine 0.8.x the `_cls` key was not returned during iteration, which I think is the correct behaviour.

[2016-09-26 11:49] fairul82 commented on #795
@AnjirHossain  I think you've passed the lng and lat parameters as string. It shd be a number. Give a try.

[2016-09-27 12:28] codekiln commented on #298
+1

[2016-09-28 00:08] codekiln commented on #61
Is there a way to do this with `my_models = ListField(ReferenceField('MyModel'))`? Can I get the ids in `my_models` without dereferencing them?

[2016-09-28 09:41] Gallaecio commented on #861
Can you append "testing", "coverage" or something like that to the title? I believe it is misleading right now.

[2016-10-02 19:34] spitzbubchen commented on #1160
I also support this feature as I really need it for my current project.

[2016-10-02 20:11] spitzbubchen commented on #1367
#1160 Implementing this would solve this problem.

[2016-10-10 17:08] techguy613 commented on #1202
+1 on this one. Just ran into this issue myself. I would think the _pre_save_post_validation_ signal should allow for document changes.

[2016-10-11 08:12] tomasgarzon commented on #1279
Hi, I can't find this error fixed in any Pull Request, will it be included in the next release? is there any plan to fix it?

[2016-10-13 02:30] quantoid opened #1385 "Cannot use nested classes as EmbeddedDocuments"
It would be nice to define EmbeddedDocument subclasses within the Document subclass they are embedded into:

[code]

Unfortunately this doesn't work, probably because mongoengine uses dots as a delimiter between class identifiers to show inheritance. In the above example, you can't have "Text.Page" as a class identifier because `Page` should be `Book.Page`.

Why not use "/" as a delimiter for the

[2016-10-13 08:20] Jeffwhen opened #1386 "Is it possible to reference a embedded document itself inside the class?"
I am trying to store a tree structrue here.

[code]

Django complained that TreeNode is not decleared. So I changed it into:

[code]

Now mongoengine throws a Error:

[code]

Is it possible to do what I want to do? Or maybe I'm in the wrong track?

[2016-10-13 16:25] jcodebrain opened #1387 "ImageField returns Null with DRF"
I am using DRF v3 and mongoengine.
In my Mongodb, image field has been well inserted like ("image_file" : ObjectId("57ff54681d41c8bf44ddc047")
However, when I use the DocumentSerializer of DRF, it returns "image_file": null.
I uploaded this issue on the DRF mongoengine forum.

Looks like mongoengine's ImageField doens't go well with DRF mongoengine's ImageField.
I don't know which one is problem.

[2016-10-13 16:31] jcodebrain commented on #1387
Same Issue : https://github.com/MongoEngine/mongoengine/issues/847

[2016-10-13 16:31] jcodebrain commented on #847
Same Issue here : https://github.com/MongoEngine/mongoengine/issues/1387

[2016-10-14 17:10] BenCoDev opened #1388 "Custom validation of fields"
How could it be easier to integration custom field validation with current field validation ?

Implementing it with keyword validation on Field does not enable to customize ValidationError object.

Are there good practices about it with the current V of mongoengine ?

Cheers,

**EDIT:**

I ended up subclassing mongoengine fields and overwriting the validate methods by first calling the parents val

[2016-10-15 09:09] #1388 closed

[2016-10-17 06:51] tiaod commented on #1326
@wojcikstefan
[code]
But still no tz_info in the DateTimeField

[2016-10-17 07:25] lafrech commented on #1326
This is a known issue with latest release of flask-mongoengine: https://github.com/MongoEngine/flask-mongoengine/issues/250.

Please check with flask-mongoengine 0.7.5. It should work.

If you'd like to help fixing this, you're welcome (https://github.com/MongoEngine/flask-mongoengine/issues/71#issuecomment-252554167).

(If I'm wrong and something actually is broken in MongoEngine as well, then so

[2016-10-17 07:25] #1326 closed

[2016-10-19 16:20] aop commented on #1202
Any thoughts on this @lafrech

[2016-10-19 21:25] lafrech commented on #1294
Closed by https://github.com/MongoEngine/mongoengine/pull/1391.

[2016-10-19 21:25] #1294 closed

[2016-10-21 20:43] nguyenkims commented on #858
Any update on this issue? It has been almost a year ...

[2016-10-25 16:34] andreffs18 opened #1392 "[SOLVED] MongoEngine object returning empty queryset when collection has entries in mongo database"
So, this is my problem:

I'm trying to return a queryset using MongoEngine 0.8.6 in Django 1.8.12.

The model it's called **Job** and I already have some objects in the MongoDB collection.

Here the catch, in Django's shell the following retrieves no results:

However if I access the mongo collection directly, the actual count is given:

By checking the ```_meta``` attribute of the MongoEngine obj

[2016-10-25 20:39] jcodebrain commented on #847
same issue here

[2016-10-25 20:39] jcodebrain commented on #1387
same issue here

[2016-10-25 20:49] jcodebrain opened #1393 "AttributeError when calling methods of SequenceField"
I added `item_num = SequenceField(unique=True)` in my Document class  and tried to call `Item.item_num.get_next_value()`. but got this error

I don't know why this field returns int object because I defined this field as a SequenceField and could call the method without any error..

According to this test example(https://github.com/MongoEngine/mongoengine/blob/05e40e5681dca4d4ca3627c132d63d4529239

[2016-10-26 14:18] vinczente opened #1394 "faster object instantiation"
Hi !

Is Mongoengine performing any data integrity check on load/read ?
While data integrity is important to me on write it is a lot less on read

Asking because the model instantiation can be a bit slow and not sure what is causing it.

[2016-10-26 17:32] andreffs18 commented on #1392
Okay, I manage to find a solution.

The problem was because I had the attributes **allow_inheritance=True** when it should be **False**.

You can understand it better by reading [this](http://stackoverflow.com/questions/13824569/mongoengine-types-and-cls-fields)

[2016-10-26 17:32] #1392 closed

[2016-10-27 05:10] mrTable opened #1395 "Validation of choices in a field"
In current workflow mongoengine always checks for choices, regardless of the value being empty.
Django [does not check](https://github.com/django/django/blob/master/django/db/models/fields/__init__.py#L563) choices if value is empty and it's always been like that.

Basically, if value is being check for availability against choices, it has passed the `not empty if required` validation.

I believe

[2016-10-27 07:19] mrTable opened #1396 "Empty values handling"
Currently `to_mongo` calls `to_python` regardless of the value being empty. This is different to the django behaviour.

The problem, that this causes, is that, for example, `BooleanField` saves `false` to the database, instead of `null` or `StringField` saves empty string. Django does check value being empty for the [first](https://github.com/django/django/blob/f734e2d4b2fc4391a4d097b80357724815c1

[2016-10-27 07:34] mrTable commented on #1396
To be fair, django's `BooleanField` does not accept `null` values.
But it falls with error in that case and provides `NullBooleanField` filed with such functionality. Mongoengine has no such thing.

[2016-10-27 07:39] lafrech commented on #1342
@rozza Perhaps should we open a "call for maintainers" issue like you did with flask-mongoengine (https://github.com/MongoEngine/flask-mongoengine/issues/71). It's not clear who is actually still here and it would be nice to integrate newcomers.

As far as I know, @warvariuc and @wojcikstefan are interested in @MongoEngine/mongoengine or @MongoEngine/flask-mongoengine (or both). See https://github

[2016-10-27 07:39] lafrech commented on #889
@mindojo-victor see https://github.com/MongoEngine/mongoengine/issues/1342

[2016-10-27 08:09] thedrow commented on #1342
I can't contribute much code unfortunately since I'm super busy lately. I am able to ensure the longevity of this project.
@MongoEngine/mongoengine  I agree that we need a roadmap. We can discuss it over Gitter.
Let's try to coordinate an open development conversation tomorrow or the day after. Is that OK with you?

[2016-10-27 08:11] thedrow commented on #1342
@lafrech I just made you the team maintainer of both MongoEngine and MongoEngine-flask so you'd be able to invite people to those repositories.

[2016-10-27 08:13] thedrow commented on #1342
@lafrech I tried inviting you to Gitter but your Github email appears to be a fake one.

[2016-10-27 12:56] lafrech commented on #1342
@thedrow OK, thanks, so now I can invite people into the teams. I still have access only to MongoEngine repo settings, not flask-mongoengine repo settings, but that's not an issue since the only thing I needed was to let people in and this is a team issue.

Currently, I don't have much time to spend on this either. Here's my position:

- We're developing an application for which we switched to [um

[2016-10-27 17:45] wojcikstefan commented on #1342
Hi, I'd love to get more involved, especially with regards to a) fixing things that are broken, b) simplifying things that are overly complex, c) making things more performant, d) making the code and the documentation clearer.

I'm working on a project where we're using our own fork of MongoEngine right now (github.com/closeio/mongoengine), primarily due to its superior performance. Our main Mongo

[2016-10-30 22:17] jfeldstein commented on #518
Is this still the case that indexes must be declared on the top-level document?

Or are we now able to define indexes on embedded documents, and they'll be created on the parent documents for us?

[Documentation](https://mongoengine-odm.readthedocs.io/guide/defining-documents.html#compound-indexes-and-indexing-sub-documents) is not clear, and [google search](https://www.google.com/search?q=mongoen

[2016-11-01 10:38] elephanter commented on #1243
just look inside...
queryset/base.py method _get_as_pymongo
there is problem in internal method "clean" which is supposed to remove fields that are not in _loaded_fields
but it doing this in very strange way for me.
it builds all variants of field combinations ex:
fld1.subfld1.subsubfld2 -> [fld1, fld1.subfld1, fld1.subfld1.subfld2]
and then if any field not in that list -> it remove value

so whe

[2016-11-03 13:36] wyaibyn commented on #1368
@mindojo-victor
I know you mean it needs to be callable, but it seems not work.

[2016-11-04 13:14] Ashwin-Surana commented on #297
Are these features being implemented ?

[2016-11-10 19:49] samuelclay commented on #1227
This happens with pymongo 3.0.3 as well, which is the minimum requirement for MongoDB 3.0. Since these are deprecation warnings, could we submit a PR with just the renames?

[2016-11-10 20:39] lafrech commented on #1227
Sure. Note that as long as PyMongo is supported, it should be conditional (dependent on PyMongo version).

[2016-11-14 13:47] trein commented on #1288
Apparently that's not the focus of MongoEngine. I just don't understand why it provides a feature such as `switch_db` when it does not work properly with dereferencing. Please, correct me if I'm wrong, but the main reason people use MongoEngine is because of dereferencing. Otherwise, the use of straight up PyMongo would be a more suitable option I suppose.

[2016-11-14 17:10] sallyruthstruik commented on #442
Hello,

I added support for this feature in this pull request: https://github.com/MongoEngine/mongoengine/pull/1397

I'm sorry if I done something wrong, it's my first pull request in open source project.

[2016-11-17 10:23] robertaistleitner opened #1398 "DictField is auto-dereferenced if storing data containing _cls property"
This bug already existed some time ago (https://github.com/MongoEngine/mongoengine/issues/1058) and there was even a bugfix for it (https://github.com/MongoEngine/mongoengine/pull/1088) but I'm still experiencing this issue..

The bugfix doesn't work for me and I think the test case is not written in a correct way. I'm not sure but it looks like the DictField is auto-dereferenced if it's loaded fr

[2016-11-17 10:24] robertaistleitner commented on #1398
@thedrow would be awesome if you could join the discussion over here again.. :wink:

[2016-11-18 13:33] aisbaa opened #1400 "Injection prevention"
Hello, I was expecting mongoengine to help developers to prevent Injection vulnerabilities.

[code]

Let me know your opinion on it.

[2016-11-18 16:11] touilleMan commented on #1400
You should use (de)serialization library like [marshmallow](https://github.com/marshmallow-code/marshmallow) to communicate with the outside world.

Have a look at [marshmallow-mongoengine](https://github.com/touilleMan/marshmallow-mongoengine) which allow to generate a mashmallow schema from a mongoengine document.

[2016-11-18 17:22] aisbaa commented on #1400
@touilleMan thank for suggestion. Marshmallow seems to be really cool library, though I can make connection to query injection.

Apologies for not a clear question. What I was trying to show, is that it is possible change query structure. `User.name` is a **string**, therefore `User.objects(name='any_name')._query` should take only string values and query would be `{'name': 'any_name'}`.

However

[2016-11-20 16:26] Folyd commented on #1045
It seems like this is the same bug what i met. here is the issue https://github.com/mongomock/mongomock/issues/281

[2016-11-21 00:30] rlkelly commented on #695
I find that I'm having write lengthy queries and then cast the results to Objects, which is not the cleanest code.

[2016-11-21 09:27] BurkovBA opened #1401 "How to create a field, called `id`, in EmbeddedDocument? When 'id' is replaced with '_id" in `_db_field_map`?"
I have a problem: I absolutely need to create a field, called "id" for an `EmbeddedDocument`:

[code]

Unfortunately, mongoengine maps `id` field to `_id` in json and database - **with underscore** - and I'd like to override this behavior just for my `EmbeddedTool`.

I found out that there's a slot, called `_db_field_map`, responsible for mapping `id` field to `_id` and tried to override it, setti

[2016-11-21 13:21] touilleMan commented on #1401
Have you tried using the `db_field` attribute while defining your field ?

[code]

[2016-11-21 13:51] sergyp opened #1402 "Strange __repr__ method of StrictDict"
In __repr__method of the StrictDict class i saw:

[code]
May be it is an error and author means:
[code]

It is here: [mongoengine/base/datastructures.py:440](https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/datastructures.py#L440)

[2016-11-21 14:02] sergyp commented on #1402
Do I have to do a pull request? Let me know your opinion on it.

[2016-11-21 14:06] BurkovBA commented on #1401
Yeah, I've just digged this deep and in fact, it should work even without db_field='id'. My problem seems to be related to DRF-Mongoengine library, not Mongoengine itself. Thank you!

[2016-11-21 16:57] #1401 closed

[2016-11-21 17:54] wojcikstefan commented on #1402
Just verified that a strict document with a following schema
[code]

shows invalid data for `doc._data`. For example, if `doc` looks like so in MongoDB `{'_id': ObjectId('5833326ac6e47b7d0d750f46'), 'whatever': 1}`, then:

[code]

Here's a comparison of the `__repr__` we have right now vs what you suggested:
[code]

Clearly your solution is better @sergyp. Could you submit a PR that also includes

[2016-11-22 17:57] wojcikstefan commented on #695
@rlkelly do you have an example of what you're doing right now? What results do you get an what type of objects would you expect it to return? The more use cases we gather here, the more insightful the decision we can make.

[2016-11-23 09:22] gjain0 opened #1403 "Access of DynamicEmbeddedDocument type document"
**mongoengine==0.10.5**

More details are here
http://stackoverflow.com/questions/40760177/dynamicembeddeddocument-correct-field-in-mongoeninge

[2016-11-23 11:25] #1403 closed

[2016-11-23 18:26] rlkelly commented on #695
This would be an example of a lengthy aggregation:

        feed = list(Media.objects(owner__in=Follower.objects(follower=g.user, deleted__ne=True).values_list('followee')).aggregate(
            {'$sort': {'modified_date': 1, 'owner': 1}},
            {'$group': {'_id': '$owner',
                'modified': {'$last': {'$dateToString': {'format': '%m/%d %H:%M', 'date': '$modified_date'}}},

[2016-11-23 19:46] wojcikstefan commented on #695
@rlkelly could you also include an example of a result of such aggregation (obviously removing/obfuscating any sensitive data)?

[2016-11-24 05:15] subha-py opened #1404 "How to make collections in mongodb from mongoengine and django on the runtime?"
I am new to this field, I know django pretty well, but I need to make mongodb collections from my views.py. What will be easiest way to create the collection, put data into it and query the data?

[2016-11-24 09:45] zhangjie247 opened #1405 "remove lower level changed fields of marking as changed in base/document.py is not working properly"
version: 0.10.6
[code]

remove while iterating self._changed_fields may not work

[2016-11-24 13:46] wojcikstefan commented on #1405
Duplicate of https://github.com/MongoEngine/mongoengine/issues/1369, fixed in https://github.com/MongoEngine/mongoengine/commit/ca415d5d623b47bfd7e765b28c0b1778db0bbe3b.

[2016-11-24 13:47] #1405 closed

[2016-11-24 13:51] wojcikstefan commented on #1404
Hi @subha-py, you'll need to define your documents (kinda like models.py in Django, see https://mongoengine-odm.readthedocs.io/guide/defining-documents.html), connect to the database https://mongoengine-odm.readthedocs.io/guide/connecting.html, and then create/retrieve documents within your views. Read the docs (https://mongoengine-odm.readthedocs.io) carefully, try it, and let us know if you have

[2016-11-24 13:51] #1404 closed

[2016-11-24 23:31] mirrorcoder opened #1406 "Problems with index for GeoPointField in EmbeddedDocument"
I have code
[code]
After execute command for find nearest point, mongodb was failed because geopoint was not indexed

[2016-11-25 04:52] subha-py commented on #1404
I don't know what will be structure of the document!

[2016-11-25 08:19] allanlei commented on #851
Also experienced this problem.  Found another solution by using mongo connection URI

[code]

I am also using `flask-mongoengine` and it seems `flask-mongoengine` parses a mongo URI into parts before passing to `mongoengine.connect()`.

My work around is actually to patch `flask-mongoengine.connection._resolve_settings()` to pass the `host=mongodb://....` to `mongoengine.connect()`

[code]

[2016-11-25 08:23] lafrech commented on #851
@allanlei, flask-mongoengine's connection code is being reworked. Expect some changes in the coming days/weeks. Maybe you won't need your path anymore.

Or even better, if you have time for this, have a look at [this PR](https://github.com/MongoEngine/flask-mongoengine/pull/280) and see if it works for you and please provide feedback before merge/release.

[2016-11-25 19:03] rlkelly commented on #695
So if I had a bunch of users that created media, and I wanted to select all media from my followers and then group by user.  So I'd have

`Media.objects(owner__in=my_followers_list)`

but then I'd want to aggregate this like:

[{'user1': [{'media1': {____}, 'media2':{____}, etc.}], 'user2' : [{'media1': {____}, 'media2': {____}, etc.}]

it's very easy to do with mongodb syntax, but keeping things

[2016-11-26 17:03] wojcikstefan commented on #1370
Fixed by https://github.com/MongoEngine/mongoengine/commit/2c4536e13756c0388fff25d6445e664c354b31e6

[2016-11-26 17:03] #1370 closed

[2016-11-26 17:04] wojcikstefan commented on #1402
@sergyp will you have a chance to look into creating a PR for this issue?

[2016-11-26 17:15] wojcikstefan commented on #1400
I'm weary of the extra maintenance cost of adding validation to the query params, and so I wouldn't want to e.g. restrict querying a `StringField` by a `str` value only... Restricting a `dict` value is also not that straightforward, because it has to be allowed at least for the `DictField`, `MapField`, `EmbeddedDocumentField`, and probably a bunch of other field types.

Given that any user-generat

[2016-11-26 19:17] wojcikstefan opened #1407 "New Release"
I think it might be time for v0.10.7 (https://github.com/MongoEngine/mongoengine/blob/master/docs/changelog.rst#changes-in-0107---dev). Is anybody opposed? If so, what is missing before we can release? If not, could you do it @lafrech or @thedrow ?

[2016-11-28 03:31] JohnAD commented on #1318
This bug appears to also effecting the subclass EmbeddedDocumentList. I'm doing work-arounds at the moment, but I'd like to get this fixed at some point.

The bug is still in 10.0.6.  So, I'm considering tracing down the source of the error and correcting.

But before I get started: Is anyone else working on this? Any conflicts?

(BTW, the actual list item does get deleted in memory. The error app

[2016-11-28 09:35] lokeshmeher opened #1408 "BaseQuerySet()._limit is None but is checked for equality with 0"
Pre-requisite information:
1. I have defined a model named `Issue` which has a field `associated_to` which is a `ListField()` of `StringField`s.
2. I checked the database, it has a collection `issue` but is empty since nothing hasn't been inserted yet.
3. A part of my code that just reads from the database has the query:
    `Issue.objects(associated_to='yZYzkarZO2d3pJm7j7z')`

The problem:

Since

[2016-11-28 09:57] thedrow commented on #1407
I agree. We can release a new version.

[2016-11-28 10:15] lafrech commented on #1407
Agreed.

@thedrow, would you like us to help in the release process?

AFAICT, the steps are:

- Check/update changelog
- Update version
- Add and push version tag (annotated or non annotated?)

Is the release on PyPi automatic or is there some manual step? I didn't find anything relevant in the "hooks" section of the settings.

Thanks.

[2016-11-28 10:51] thedrow commented on #1407
@lafrech When you create a new tag a new release the code will be released to PyPi. I don't think I'll have time today so you can go ahead and release.

[2016-11-28 11:30] aisbaa commented on #1400
Thank you for your answer. Do agree that maintenance cost would increase in MongoEngine, but it would decrease cost of maintenance in all applications that rely on MongoEngine.

As for input validation, it might not prevent injection - because sometimes you need to accept control characters/structures because business requires it. Nevertheless **input data must never change query structure**. I'm

[2016-11-28 13:33] wojcikstefan commented on #1318
This is definitely a bug, good catch! FYI, I noticed that using `test_list.update(set__test_list=test_list.test_list)` does the right thing as opposed to using `test_list.save()`.

[2016-11-28 13:35] wojcikstefan commented on #1318
@JohnAD AFAIK nobody else is working on it. I'd love to see a PR if you can find and fix the issue!

[2016-11-28 14:34] wiswashegrove commented on #1343
@smitthakkar96 does it exist now also?

[2016-11-28 15:40] wojcikstefan commented on #1407
I finalized the changelog in faef5b8

[2016-11-28 15:47] wojcikstefan commented on #1407
Bumped the version in b461f26 and created a draft of the release at https://github.com/MongoEngine/mongoengine/releases/tag/untagged-1001b9c941c076a2bc13.

@thedrow @lafrech let me know if the release looks good. If so, I can publish it. Btw, just curious, what tool is used to push the package to PyPI upon a published release? :)

[2016-11-28 16:08] smitthakkar96 commented on #1343
yes it's because sometimes my python client looses connection with mongo.

[2016-11-28 16:11] thedrow commented on #1407
Travis does that if you configure it to.

[2016-11-28 21:47] lafrech commented on #1407
Looks good.

I think missing PR number in changelog for

is https://github.com/MongoEngine/mongoengine/pull/1218.

[2016-11-29 00:37] wojcikstefan commented on #1407
Thanks @lafrech, added in 2b7417c and also in the release draft (https://github.com/MongoEngine/mongoengine/releases/tag/untagged-3eb8f3e1443367276b68).

I also managed to add `flake8` linting in #1409, but I don't think  internal code quality improvements need to be communicated to our users. Do you agree? If so, feel free to publish the release :)

[2016-11-29 08:09] gjain0 opened #1410 "OperationFailure: unknown string alias for $type"
I have a collection/model

[code]

Now when I query using double underscore approach
    `MyModel.objects.filter(book__type='fiction")`

this line throws an error

is it conflicting with mongodb's **type** operator ? if yes how can I deal with this in filter query

[2016-11-29 08:30] lafrech commented on #1407
Congratulations, @wojcikstefan, you just released [v0.10.7](https://github.com/MongoEngine/mongoengine/releases/tag/v0.10.7)!

[2016-11-29 08:30] #1407 closed

[2016-11-29 09:35] #1335 closed

[2016-11-29 09:47] julianwachholz commented on #1279
This is definitely a bug, the cause is in how the `get_%s_display` method is created in `__set_field_display`, setting the display function to a partial of the instance `self`, instead of the document class:

[code]

This causes the `get_%s_display` function to always be called with `self` as the last Document that was created.

[2016-11-29 18:43] lokeshmeher commented on #1408
I had a syntax error:
Instead of:
[code]
I did:
[code]

[2016-11-29 18:43] #1408 closed

[2016-11-30 02:06] wojcikstefan commented on #1410
Yup, it's conflicting with https://docs.mongodb.com/manual/reference/operator/query/type/

#1351 added an ability to do `MyModel.objects.filter(book__type__='fiction")`.

I'm gonna close this issue hoping that this is the fix you need. Let me know if it's not working for ya. Make sure you're on the latest mongoengine when you test it.

[2016-11-30 02:06] #1410 closed

[2016-11-30 07:59] pchristos commented on #298
+1

[2016-11-30 10:04] robertaistleitner commented on #1398
@thedrow do you have any (good) news for me? stumbled again over this issue as this needs a workaround every time..

[2016-11-30 10:58] thedrow commented on #1398
I haven't found the time to look into it yet.

[2016-11-30 11:10] robertaistleitner commented on #1398
I just found another issue caused by this bug.. Saving the same document more than one time doesn't work because it replaces the DictField value with a DBRef, which causes validation to fail at the second save.

[2016-11-30 13:07] wojcikstefan commented on #298
We've implemented this (among many other things) in my company's fork of this package (https://github.com/closeio/mongoengine#mongomallard). I'll try to move the performance improvements (including this one) over to this package.

PS GitHub has added reactions to their UI now (https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) so that we don't need to create "+1" comm

[2016-11-30 20:23] aruljothi opened #1413 "model having sequence field misbehaves when i select specific fields using only"
Friends,

I am facing following issue

1. I have a model which contains SequenceField (Ex: MyModel which contains a sequence field say seqid)
2. When i do a normal query on that model (Ex: MyModel.objects(name="arul")) it works properly
3. if i want to select specific fields, it gives me a new object whose sequence field incremented (Ex: MyModel.objects(name="arul").only("id", "enabled" returns a

[2016-11-30 20:29] wojcikstefan commented on #1413
Thanks for reporting this @aruljothi! Could you create a PR with a unit test that shows the problem? You can look at `FieldTest#test_sequence_field` in `tests/fields/fields.py` for inspiration.

[2016-12-01 08:46] lafrech commented on #1256
Good news, @oorestisime, there are new releases for both [Mongoengine](https://github.com/MongoEngine/mongoengine/releases/tag/v0.10.7) and [flask-mongoengine](https://github.com/MongoEngine/flask-mongoengine/releases/tag/0.8.1).

I don't think you got notified since [the debian watch file is broken](https://packages.qa.debian.org/p/python-mongoengine.html).

AFAICT, there is nothing specific to t

[2016-12-01 10:12] aruljothi commented on #1413
After playing with it for a while as i had to resolve an urgent issue, i found that it works fine if i include the sequence field as part of the selected fields.

Also this applies to exclude as well where if you exclude your sequence field, it fails, but if you don't it works.

@wojcikstefan unfortunately i am running against time for few more days to resolve a set of bugs before our release. So

[2016-12-01 12:55] BurkovBA opened #1414 "How do I print the values of all fields of a Mongoengine document?"
I have a Mongoengine document (in fact EmbeddedDocument) and want to print all the values of its fields. How do I do that?

e.g.:

[code]

and I'd like to print it like this:

[code]

[2016-12-01 15:02] aruljothi commented on #1413
I just realised the issue is when you don't include the sequence field in "only" method or exclude it in "exclude" method, the expectation is if the sequence field is accessed it should show the default value (expected None as per http://docs.mongoengine.org/guide/querying.html#retrieving-a-subset-of-fields), but it tried to increment the sequence value and provide the incremented value.

`
class

[2016-12-01 16:19] wojcikstefan commented on #1414
There's no way that prints it by default in the exact form you want.

The simplest/fastest way is to call `doc.to_json()` which will print this:
[code]

You could also do `dict(doc.to_mongo())` which has the benefit of looking more like what you wanted, but it's not recursive:
[code]

This can get you in trouble, but you could also override the `__repr__` method (I would advise against that though

[2016-12-01 16:19] #1414 closed

[2016-12-02 08:26] zeezdev opened #1415 "Failed migration from 'BaseQuerySet.aggregate_sum()' to 'BaseQuerySet.sum()'"
I use models based on QuerySet class in my web application. After update to from 0.10.6 to 0.10.7 I started getting errors: AttributeError: 'MyQuerySet' object has no attribute 'aggregate_sum' because 'aggregate_sum' has been removed in new version from BaseQuerySet class.

Why 'aggregate_sum' method has been removed without prior mark as deprecated?

What should I do? Use 'BaseQuerySet.sum' metho

[2016-12-02 08:41] lafrech commented on #1415
See changelog:

Useless old map-reduce methods have been removed and aggregation-based methods have been renamed as simply sum/average.

You're right it might have been wise to keep the old names as deprecated aliases.

Just rename your methods.

[2016-12-02 09:04] zeezdev commented on #1415
Strangely enough, but in my case, a simple change of name of the method did not work.
My model field:

` total = IntField(db_field='t', default=0) `

my using aggregate_sum:

`total_views = self.aggregate_sum("t")`

i simply rename 'aggregate_sum' -> 'sum' and caught error:

[code]

what's wrong?

[2016-12-02 09:22] lafrech commented on #1415
Surprising. I'm not sure it is related. The error seems to lie in the fact that _lookup_field fails while looking for "t", which should be there AFAIU.

You may want to show more of your code, and maybe try to call _lookup_field directly, see how it goes. And try on a field with no db_field attribute, to see if it makes a difference.

Reopening the issue as I'm not sure you can reopen yourself but

[2016-12-02 11:44] zeezdev commented on #1415
When I call "sum" with field name of my model class ("total") not db field name ("t") I always get result == 0.

In old realization aggregate method work with db_field names, passed from 'field' argument:

[code]

In new **sum()** realization **aggregate()** works with model fields names, that resolved in 'cls._fields' without considering that **field_name** and **db_field** may be different:

htt

[2016-12-02 14:43] zeezdev opened #1416 "PyMongo multiprocessing support"
I use MongoEngine in my Flask-based web application. I run it as nginx+uwsgi+flask. I recently began to run my web application in multiprocessing/multithreading mode:

[code]

And I began get message in output:

[code]

How I can to enable support of multiprocessing in MongoEngine?

[2016-12-02 14:50] zeezdev commented on #1416
Also, periodically my webapp starting with one or many overloaded processes (100% CPU).

[2016-12-02 16:12] wojcikstefan commented on #1415
@zeezdev sorry about that. I take the blame for not being more cautious and starting with a deprecation warning.

As for the issue you're experiencing, it seems that the new `BaseQuerySet.sum` doesn't respect the `db_field`:

[code]

Working on a fix as we speak!

[2016-12-02 16:49] wojcikstefan commented on #1416
@zeezdev How do you initialize MongoEngine and the Flask app? Do you use Flask-MongoEngine?

I haven't used uwsgi personally, so I'm not sure when exactly it starts forking processes, but basically you have to make sure you open connections to MongoDB *after* that happens.

[2016-12-02 19:53] #1415 closed

[2016-12-03 09:51] amergin opened #1418 "pymongo.errors.OperationFailure: unrecognized write concern field: write_concern"
Any idea what the above error is about? I'm running my environment in Docker container and the offending command is:

`ProfileHistogram.objects.all().delete()`

This is command should be semantically correct and has worked in the past, but not anymore in my environment. According to [docs](http://docs.mongoengine.org/apireference.html#mongoengine.Document.delete) it should take the `write_concern`

[2016-12-03 11:17] amergin commented on #1418
The problem went away by upgrading to the latest version of MongoEngine.

[2016-12-03 11:17] #1418 closed

[2016-12-03 21:10] #1352 closed

[2016-12-03 22:49] wojcikstefan commented on #1229
This seems to pertain to v0.8.x and we're already on v0.10.7 (https://github.com/MongoEngine/mongoengine/releases/tag/v0.10.7). It this is still an issue in the latest release, let us know please @apolkosnik-old.

[2016-12-03 22:49] #1229 closed

[2016-12-04 18:47] wojcikstefan commented on #42
Agreed with @sophiejames. Implementing query sets on abstract classes would be very confusing because it would actually need to query N collections separately under the hood. Implementing skips, limits, sorting, etc. would be a nightmare. Inheritance works much better for this use case.

The biggest collection I have in production is based on inheritance with 8 different subclasses, ~200M document

[2016-12-04 18:47] #42 closed

[2016-12-04 18:56] wojcikstefan commented on #1395
@mrTable is this still an issue in the latest release? A quick test in my shell seems to show that it works the way you'd want:

[code]

Am I missing something?

[2016-12-04 18:58] wojcikstefan commented on #76
`__raw__` kwarg should cover these. Please reopen if you think otherwise.

[2016-12-04 18:58] #76 closed

[2016-12-04 19:04] wojcikstefan commented on #167
I'd love to hear more about real-life scenarios in which this would be used. @seglberg @amcgregor  @Hugh-wong could you elaborate on the specific scenarios you'd use this in?

Technically, nothing stops you from updating the `_cls` of a given object. It might leave some redundant (demotion) or empty (promotion) fields in MongoDB, which would need to be handled manually, but other than that it shou

[2016-12-04 19:09] wojcikstefan commented on #175
When using the `__match` operator, we need to use the raw pymongo format, e.g.:
[code]

[2016-12-04 19:09] #175 closed

[2016-12-04 19:26] wojcikstefan commented on #1347
@mindojo-victor is right - if you want a reliable way to find objects w/o the performance data, you can't simply use `performance_data__ne=[]`. For example:

[code]

As you can see, this sample data set has one doc with `performance_data == None`, one where `performance_data` doesn't exist at all, one where it's an empty list, and one where it's set. Using `__exists` and `__size` returns all 3 var

[2016-12-04 19:26] #1347 closed

[2016-12-04 19:49] wojcikstefan commented on #150
Here's the way to do it purely in MongoEngine:

[code]

[2016-12-04 19:49] #150 closed

[2016-12-04 19:51] wojcikstefan commented on #1362
Thanks, looking forward to a PR @NDevox ! I'm curious to see how you envision this working.

[2016-12-04 19:52] wojcikstefan commented on #504
This seems outdated - please reopen if it's still an issue.

[2016-12-04 19:52] #504 closed

[2016-12-04 19:54] wojcikstefan commented on #155
You can use `modify` for this particular use case:

[code]

[2016-12-04 19:54] #155 closed

[2016-12-04 20:03] NDevox commented on #1362
@wojcikstefan completely forgot about this one.

We ended up managing to do it purely with the contextlib and without touching your code thankfully.

This is the relevant code:

    from contextlib import ExitStack
    from mongoengine.context_managers import switch_db

    with ExitStack() as stack:
        for cls in self.MOCK_CLASSES:
            stack.enter_context(switch_db(cls, 'test_db'))

[2016-12-04 20:08] wojcikstefan commented on #156
This one would be tricky because `geoNear`'s response contains more data than just objects. Copying an example from https://docs.mongodb.com/v3.0/reference/command/geoNear/#examples, this is a sample response:

[code]

If you need MongoEngine objects from the response, you could iterate over the `results` and call `MyDoc._from_son(result['obj'])` or perhaps do: `MyDoc.objects.filter(pk__in=[res['o

[2016-12-04 20:08] #156 closed

[2016-12-04 20:18] wojcikstefan commented on #1362
Nice workaround! I think we can close this for now. Just curious though, what's your use case for switching multiple docs to a different DB @NDevox ?

[2016-12-04 20:18] #1362 closed

[2016-12-04 20:28] NDevox commented on #1362
We use it for testing our models and added functionality while keeping our databases clean. All the required models for that set of tests get pushed to the test database which gets cleaned out at the end of the run. That way there's no overlap between runs and we can be a bit lazier with the database. There is also absolutely no chance that the prod db gets touched.

[2016-12-04 20:43] wojcikstefan commented on #1362
I see... Are these tests run on production machines? Do they establish a prod connection which then you have to redirect to a test DB with a `switch_db` statement? Wouldn't it make more sense to have the test suite use different connection settings to begin with?

At my company we use Flask and (Flask-MongoEngine)[https://github.com/MongoEngine/flask-mongoengine], and we have separate config files

[2016-12-04 20:52] wojcikstefan commented on #267
This is not an issue anymore - `test_doc.list_field = []` doesn't unset the list in the database:

[code]

[2016-12-04 20:54] NDevox commented on #1362
Tests are never run on prod and we have Jenkins running CI for us using a local instance of mongo so that's not an issue. We just get a bit excessive sometimes in protecting prod.

The real issue though is the dev environment where you often have data in a local mongo to replicate prod and to play around with while building on new ideas. You don't want to run the tests locally only to find that th

[2016-12-04 20:55] wojcikstefan commented on #200
This seems as simple as `Employee.objects.order_by('-salary').first().salary`. Extra maintenance cost of adding max/min is not worth it unless I'm missing a use case that can't be covered by `order_by`.

[2016-12-04 20:55] #200 closed

[2016-12-04 21:10] wojcikstefan commented on #297
IMHO this isn't a good idea for a default behavior. It would be very tough to imagine what the update dict sent to MongoDB would be like if you did a bunch of `append`s, `remove`s, `del`s, and `extend`s, especially in a highly abstracted code. Clarity is key and I think the current approach is nice and intuitive:

[code]

[2016-12-04 21:10] #297 closed

[2016-12-04 21:10] #1402 closed

[2016-12-04 22:47] wojcikstefan commented on #560
I'm planning to work on this soon. The notes below are mostly me thinking through the problem. Feel free to ignore or provide feedback about the implementation details (listed at the bottom).

-----

First, let me give a bit of extra context on how `GenericReferenceField`s are stored and queried:
[code]

As you can see, a generic reference is stored as an object containing:
[code]

When you filter

[2016-12-04 23:16] wojcikstefan commented on #560
@PaulUithol @sibelius @davidmarble @vitormazzi @cybertoast take a look at #1425 please and let me know what you think.

[2016-12-04 23:52] wojcikstefan commented on #339
This can't be completely solved by MongoEngine (because of $push, $addToSet, etc.) and thus it doesn't make sense to add a half-baked feature. Instead, document validation should be used directly in MongoDB (https://docs.mongodb.com/manual/core/document-validation/).

See also https://github.com/MongoEngine/mongoengine/pull/1174 for an early attempt at solving this.

[2016-12-04 23:52] #339 closed

[2016-12-05 00:06] amcgregor commented on #167
@wojcikstefan Beyond the fact that the initial description _four years ago_ was excessively detailed and covered two distinct use cases, no. I've accepted the fact that MongoEngine is stagnant and broken, and have moved on; ref. that Contentment ticket and the fact that I now maintain a competing ODM.  (This particular issue is to be addressed in 1.2.0 ~January, ref the placeholder PR: marrow/mong

[2016-12-05 00:29] wojcikstefan commented on #1244
@gukoff I just implemented it in #1426. Could you review please?

[2016-12-05 03:14] wojcikstefan commented on #167
Thanks for getting back to me @amcgregor , `marrow.mongo` looks cool! It's unfortunate this ticket hasn't been addressed properly in this package. I myself just started contributing to MongoEngine and I'm going through the old tickets trying to see what's still relevant.

For everybody else interested in this issue, please provide more use cases - the more explicit the better. Personally I still d

[2016-12-05 04:35] mrTable commented on #1395
@wojcikstefan, it's an issue, when value is not `None`, but is empty. Empty string is considered empty value in the validation [here](https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/fields.py#L428-L429), but choices validation fails.

[code]

[2016-12-05 05:07] wojcikstefan commented on #1086
I just proposed a proper fix for this in #1427

[2016-12-05 05:20] wojcikstefan commented on #1416
ping @zeezdev

[2016-12-05 05:21] wojcikstefan commented on #1406
Hi @mirrorcoder , would you be able to submit a PR with a unit test showing the issue?

[2016-12-05 05:22] wojcikstefan commented on #1406
Or at least provide the command that you use to "find nearest point".

[2016-12-05 09:45] BurkovBA commented on #1414
@wojcikstefan
Eventually I used `to_mongo()` and it was enough for me. Thanks!

[2016-12-05 13:32] apolkosnik commented on #1229
It was a stupid simple fix pertaining to 0.8.8, because 0.10.x just kills the performance among other things... See https://github.com/marrow/contentment/issues/12 for a quite large list.

[2016-12-05 14:38] #1086 closed

[2016-12-05 14:43] wojcikstefan commented on #1395
AHA, that's good to know, thanks for a thorough explanation!

So if the `StringField` doesn't have any choices, you'd expect `doc.field = ''; doc.save()` to save `field: ''` in mongo, but if the field *has* choices, you'd expect `doc.field = ''; doc.save()` to silently drop the empty string and save `field: null`?

[2016-12-06 03:13] #1244 closed

[2016-12-06 05:27] mrTable commented on #786
This behaviour looks odd comparing to django's.

Currently the `required` attribute is pretty much the same as the `blank` attribute of django's field.
But the `null` attribute in django is a constraint to the database, whereas in mongoengine it's just a flag to whether use the default value or None.

In my opinion it should work exactly as the [validation in django](https://github.com/django/djan

[2016-12-06 05:30] mrTable commented on #1395
No, I'd expect value to be empty string (`field: ''`) in both cases.

[2016-12-06 05:31] mrTable commented on #1395
The problem is pretty much inside of the fact, that I cannot save the empty string inside of a choice field.

[2016-12-06 15:52] eli-b commented on #1086
Thanks for the fix @wojcikstefan!

[2016-12-07 07:13] oorestisime commented on #1256
Hello,

I am quite busy at work these days.I hope to have some time next week to make the new releases. Thanks for letting me know!

[2016-12-09 17:56] #560 closed

[2016-12-09 18:12] wojcikstefan opened #1429 "Drop Python 2.6 support"
For the most relevant discussion about the topic, see #1294.

Plan:
1. In the upcoming minor release, I'm going to include `warnings.warn(msg, DeprecationWarning)`. with the message saying "Python v2.6 support is deprecated and is going to be dropped entirely in the upcoming v0.11.0 release. Update your Python version if you want to have access to the latest features and bug fixes in MongoEngine."

[2016-12-09 18:21] robbisg opened #1431 "Timing issue after document saving in a replica set environment."
Hi all,
I'm sorry if this question is off-topic, but I don't know if this is a mongo service, a pymongo issue or a mongoengine issue.
I'm using mongoengine in a web-based flask application, with mongo 3.2 and python 2.7, using debian wheezy.
During development, I setup a replica set with two nodes.
I had a script to populate the database with dummy data, in a particular case a User/Role/Permission

[2016-12-09 19:18] rlkelly opened #1432 "Default utcnow() not updating for each individual document"
I had a DateTimeField(default=utcnow()) that I made as a subclass, and then inherited into other classes.  It loaded the utcnow() once and wouldn't update my objects each time they were created.  This feels like an unintended behavior.

for example:

[code]

[2016-12-09 21:42] lafrech commented on #1432
My guess is you want to use a callable as default:

[code]

otherwise `dt.utcnow` is exectued at import time and you always get the same date.

[2016-12-09 22:30] rlkelly commented on #1432
thanks, seems like that was what I was looking for.

[2016-12-09 22:30] #1432 closed

[2016-12-10 18:18] wojcikstefan commented on #1431
Hi @robbisg I see you're using `read_preference=SecondaryPreferred(tag_sets=None))`. That means that you write data to the primary node in your RS (writes always go to the primary) and you read the data from the secondary node. This leads to race conditions where your reads might not get the latest data you wrote.

Consider changing the read preference to "primary preferred".

[2016-12-10 18:18] #1431 closed

[2016-12-10 18:20] wojcikstefan commented on #1369
Fixed in https://github.com/MongoEngine/mongoengine/commit/ca415d5d623b47bfd7e765b28c0b1778db0bbe3b

[2016-12-10 18:20] #1369 closed

[2016-12-10 18:22] wojcikstefan commented on #1394
Thanks for reporting this @vinczente. Document instantiation and loading is definitely something I'll be looking into soon.

[2016-12-10 18:28] wojcikstefan commented on #1393
Hi @jcodebrain ! Would you be able to isolate the issue and send a PR with a unit test showing the problem?

[2016-12-10 18:29] #1429 closed

[2016-12-11 08:52] #1103 closed

[2016-12-11 17:25] zusamann commented on #323
+1 for this
@seglberg the method you're suggesting, do you think it'll work for nested json? Since that's the hard requirement.

[code]

[2016-12-11 23:49] #897 closed

[2016-12-12 00:09] wojcikstefan commented on #323
Quick iPython test shows that it works w/ embedded documents and lists:

[code]

[2016-12-12 02:44] wojcikstefan commented on #729
I believe this is fixed now.

[2016-12-12 02:44] #729 closed

[2016-12-12 03:03] wojcikstefan commented on #1258
This was fixed by #1428, which moved all files to absolute imports.

[2016-12-12 03:03] #1258 closed

[2016-12-12 03:04] wojcikstefan commented on #909
This was fixed by #1428

[2016-12-12 03:04] #909 closed

[2016-12-12 04:00] wojcikstefan commented on #1309
Agreed `Blog.objects.filter(articles__tags='lemon')` should raise `mongoengine.errors.InvalidQueryError` instead of returning an empty list. This is most likely a bug in `BaseDocument._lookup_field`.

[2016-12-12 04:03] wojcikstefan commented on #1416
This issue seems abandoned. Please reopen if still interested.

[2016-12-12 04:03] #1416 closed

[2016-12-12 04:08] wojcikstefan commented on #1380
Hi @neuroid, are you saying that `_cls` shouldn't never be exposed when iterating over the fields of a document?

[2016-12-12 04:12] wojcikstefan commented on #1386
This should work for you:

[code]

[2016-12-12 04:12] #1386 closed

[2016-12-12 04:18] wojcikstefan commented on #1250
@dtatarkin how important is it for you to support non-ascii characters in collection names? It should be pretty trivial to only use ascii chars, right?

[2016-12-12 04:26] wojcikstefan commented on #1224
This appears to be fixed in the latest release.

[2016-12-12 04:26] #1224 closed

[2016-12-12 04:32] wojcikstefan commented on #1349
@oreon we've been successfully using https://github.com/closeio/flask-mongorest in production with tens of thousands of API clients, nearly 4TB of MongoDB data served in real time.

That being said, it's my company's internally developed package and we've done a very poor job at documenting its usage and best practices. PRs are welcome though.

I'll leave this issue open in case anybody has other

[2016-12-12 04:33] wojcikstefan commented on #1348
@smitthakkar96 can you elaborate?

[2016-12-12 04:38] wojcikstefan commented on #1345
This seems to work on the latest master:

[code]

[2016-12-12 04:38] #1345 closed

[2016-12-12 04:42] wojcikstefan commented on #1322
Thanks for reporting this @raphendyr. I'd love to see an actual unit test showing how this issue results in an unexpected behavior. Would you be able to provide it?

[2016-12-12 04:46] wojcikstefan commented on #1279
This was fixed by https://github.com/MongoEngine/mongoengine/pull/1419

[2016-12-12 04:46] #1279 closed

[2016-12-12 04:48] wojcikstefan commented on #1273
See https://docs.mongodb.com/v3.2/tutorial/manage-the-database-profiler/

[2016-12-12 04:48] #1273 closed

[2016-12-12 04:50] wojcikstefan commented on #1242
Agreed this is weird... I'll try to take a look at this soon.

[2016-12-12 04:53] wojcikstefan commented on #1239
The main point here is that `doc.update` doesn't actually change any of the attributes on the `doc` object - it only saves new values to the database. If you want to use an object after you call `update` on it, do `doc.reload()` first.

[2016-12-12 04:53] #1239 closed

[2016-12-12 04:54] wojcikstefan commented on #1232
I believe this is fixed in the latest master.

[2016-12-12 04:54] #1232 closed

[2016-12-12 04:55] wojcikstefan commented on #1215
This is not the case anymore.

[2016-12-12 04:55] #1215 closed

[2016-12-12 05:09] wojcikstefan commented on #1135
This is fixed now, sorry it took that long.

[2016-12-12 05:09] #1135 closed

[2016-12-12 05:10] wojcikstefan commented on #1135
(this is also a dupe of #1224)

[2016-12-12 05:17] wojcikstefan commented on #1136
Wow, this is an awful regression. Will look at it with high priority. I believe the following should return `2`:

[code]

[2016-12-12 05:22] wojcikstefan commented on #1095
We already support PyMongo v3.0

[2016-12-12 05:22] #1095 closed

[2016-12-12 05:24] wojcikstefan commented on #1090
Please reopen if still interested in this issue. Enough time has passed in "awaiting response" state to close this.

[2016-12-12 05:24] #1090 closed

[2016-12-12 15:44] #1342 closed

[2016-12-12 17:05] JohnAD commented on #1318
Starting to work on this. But in the meantime, there appears to be an easy workaround; at least for my combination of versions: use the `.pop` method instead. `pop` returns a value, but you can simply ignore it.

So, given the example above, replace:

    del test_list.test_list[1]

with:

    test_list.test_list.pop(1)

[2016-12-12 18:34] neuroid commented on #1380
I'm inclined to say yes, since this is an implementation detail. Also, quoting the [docs][1]:

[1]: http://docs.mongoengine.org/apireference.html?highlight=_cls#mongoengine.Document

[2016-12-13 01:38] xqliang commented on #357
+1

[2016-12-13 01:49] wojcikstefan commented on #357
I have one more request related to indexes - there should be an easy way to globally **disable automatic index creation for all documents**. While it's a useful feature during development, it's dangerous for production environments... You want full control over *when* and *what* index is created.

It's also better to decouple index definitions from application logic if you have a reasonably big en

[2016-12-13 04:10] wojcikstefan commented on #601
All of this should be fixed now.

[2016-12-13 04:10] #601 closed

[2016-12-13 04:11] wojcikstefan commented on #582
This ticket seems outdated. Please reopen if it's still an issue in the latest MongoEngine version.

[2016-12-13 04:11] #582 closed

[2016-12-14 13:33] BurkovBA opened #1437 "Unable to create a field with colon (":") in field name"
I'm trying to create a field with colon in its name (I cannot change the name, because it is dictated by external protocol, I should comply with, and it uses XML-style namespaces):

[code]

I get the following error message:

[code]

What can I do about this? Any ideas?

[2016-12-14 13:56] sergyp commented on #1437
You can use inverse case:
[code]
But in python you can not use variables with that symbol.
My example representation in json:
[code]
Is it ok for you?

[2016-12-14 14:04] lafrech commented on #1437
I think he want his object to be used like this:

[code]

because some other framework/lib wants a tool that is `dict`-like with keys including semicolons.

Maybe

[code]

then use some `__getitem__` / `__setitem__` / `__delitem__` trickery on the `Document` to cover your needs.

Looks pretty hackish, though.

[2016-12-14 14:08] wojcikstefan commented on #1437
I'd love to hear more about the use case. Are you consuming or sending data that has semicolons in their names? Either way, you should be able to either sanitize it as it comes in or tweak its format as it goes out and not use semicolons in a mongoengine document directly.

[2016-12-14 14:38] BurkovBA commented on #1437
Thanks for quick answers, guys!

Ok, I want the mongoengine field to be called `sbg:includeInPorts` exatly (with colon), cause the name will be used by Django-REST-Framework-Mongoengine's `DocumentSerializer` to create respective serializers field.

Note, that I don't have trouble with python language itself - I've successfully managed to create a class attribute, named 'sbg:includeInPorts', using

[2016-12-14 14:43] wojcikstefan commented on #1437
Is there a way to change the field name in the serializer?

[2016-12-14 14:48] BurkovBA commented on #1437
@wojcikstefan Yes, there is a way, called `source`, but this will really-really complicate my code, forcing me to manually list all DRF fields on the serializer (and I can't use that with auto-generated NestedSerializers at all so far). Also, take not that between DRF3.3.3 and DRF3.4 this syntax has slightly changed, so there could be compatibility issues. So, doing this on Mongoengine level is a

[2016-12-14 14:56] BurkovBA commented on #1437
@wojcikstefan
In fact, I don't understand, why would Mongoengine care about presence of colon in my field name at all :)

[2016-12-15 07:43] #1348 closed

[2016-12-16 01:25] Jeffwhen commented on #1386
Later I choose to store each node instead of storing whole tree stricture in one embedded doc. Seems this embedded doc solution is not good, as the Mongo doc says.

[2016-12-18 03:12] vsmelov commented on #1227
May be is there some method to disable such warnings while bugfix waiting?

[2016-12-19 12:33] maennel opened #1438 "Incorrect error AttributeError raised when querying with wrong type of value"
When querying with a unicode string value on an EmbeddedDocumentListField, an AttributeError is raised due to a failing lookup at https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/document.py#L680.
It is assumed that a SON object is passed as argument.
However in the following portion of code (almost) any other type of object is passed further.
https://github.com/MongoEngine/

[2016-12-22 18:11] #1318 closed

[2016-12-22 18:19] #1438 closed

[2016-12-22 23:26] JohnAD commented on #1437
@BurkovBA
I'm not *entirely* sure what you are wanting to do, but you could certainly create a property to the Document that let's the original `db_field` names behave like a dictionary. Would something like this work?:

[code]

This is not, by any means, fully tested code. I'm just trying to get a better understanding of what you are wanting. The above tested code would allow access, via `.d` to

[2016-12-23 18:20] JohnAD commented on #1106
This is the same bug as #1318, which is now closed. 1318 was expressed differently, where deleting from the middle of the list caused a replication of the next item, rather than a deletion. Deleting from the end of the list 'replicates' None, which is how this issue is described. Ironically, this is how I personally discovered the bug. Either way, it is now solved.

This issue does bring up an add

[2016-12-23 18:51] JohnAD commented on #632
I strongly suspect that this issue was related to #1318; which is now resolved. But, unfortunately, this code contains a likely-unintentional bug. In testing the iteration, the following line is used:

[code]
This overwrites the original meaning of b. In fact, the for loop would leave the value of `b` to be 'b_1'. So when:

[code]
is then executed, it is 'b_1` that is actually removed not the orig

[2016-12-23 19:18] mm3599 commented on #780
Hello - any progress on this? Slated for a future release at all?

[2016-12-24 06:50] rohitkhatri opened #1442 "How to fetch main document with matched embedded document instead all embedded documents"
I'm fetching documents on the base of specific EmbeddedDocument, but I don't want to get all of the EmbeddedDocuments while retrieving, only the matched EmbeddedDocument with main Document.

Here's my code:

**School Embedded Document**

    class School(EmbeddedDocument):
        name = StringField(max_length=120)

**User Document**

    class User(Document):
        first_name = StringField(max_

[2016-12-24 20:31] JohnAD commented on #1442
Are you wanting some example code showing how to do this? Or, are you wanting a change to MongoEngine what would make such a thing automatic? You might want to say why you are wanting to do this; that will help out with the solution.

In general, since the 'schools' list will always contain what you are searching for, returning the single matched entry of that list does not really gain you anythin

[2016-12-24 21:07] JohnAD commented on #1400
@aisbaa
Can you provide me with a concrete example of an injection? The http protocol only passes string values. Therefore if a query was written:

nameToFind = request.form['name-search-field']
User.objects(name=nameToFind)

(where `request.form` is dictionary containing the result of a web form)

If `nameToFind` contained "John Doe" it would find or not find a user. An injection attack implies t

[2016-12-25 22:32] wojcikstefan commented on #632
Thanks for a thorough explanation @JohnAD!

[2016-12-25 22:32] #632 closed

[2016-12-25 23:04] wojcikstefan opened #1443 "Should ListField support Nones for of EmbeddedDocuments can't deserialize None"
I haven't fully thought this through and I'm just logging an issue @JohnAD brought up in https://github.com/MongoEngine/mongoengine/issues/1106#issuecomment-269027633. We should think through all the use cases and discuss what's the best approach.

Right now, you can store `None` in any non-required field, e.g.
[code]

Of course, that capability goes away once you define a field as `required`:
[co

[2016-12-25 23:04] wojcikstefan commented on #1106
Thanks for fixing #1318 @JohnAD. I opened https://github.com/MongoEngine/mongoengine/issues/1443 for the other issue you mentioned.

[2016-12-25 23:04] #1106 closed

[2016-12-26 05:51] rohitkhatri commented on #1442
@JohnAD I want to use the fields of matched `School` model, and I don't want to fetch all of the `School` models, because there will be a lot of schools added for a single user. and then I will have to find the matched school from the list of school models.

[2016-12-27 01:36] wojcikstefan commented on #1442
@rohitkhatri unfortunately right now this isn't possible via MongoEngine, or at least it's not as pretty as you'd want it to be. Basically it boils down to the fact that MongoEngine doesn't support most of the projection operators at the moment and you need one of those (https://docs.mongodb.com/manual/reference/operator/projection/elemMatch/, to be specific).

We'll track support for remaining pr

[2016-12-27 01:36] #1442 closed

[2016-12-27 01:45] wojcikstefan commented on #1442
Actually, there's an even easier, less hacky way to do it:
[code]

[2016-12-27 02:21] bowlofeggs opened #1444 "Test suite does not pass on Fedora Rawhide"
Hello!

I've been working on packaging mongoengine v0.11.0 for Fedora Rawhide, and I'm seeing 11 test issues:

[code]

Some searching on the first failure indicates that there may be some incompatibility with MongoDB 3.4.

Related dependencies:
mongodb-server-3.4.0-1.fc26.x86_64
python3-pymongo-3.3.0-5.fc26.x86_64)

[2016-12-27 03:16] wojcikstefan commented on #529
Our support for projection operators is a bit of a mess right now... It's not cohesive nor documented well.

https://docs.mongodb.com/manual/reference/operator/projection/ specifies 4 projection operators as of v3.4: `$`, `$elemMatch`, `$slice`, `$meta`. `$meta` is only relevant when doing a `$text` search and doesn't have an easy fix, because we'd also have to support sorting by a field that does

[2016-12-27 03:29] wojcikstefan opened #1445 "Support for MongoDB v3.2 & v3.4"
Currently some tests fail on these versions of MongoDB.

This issue is also related to testing multiple MongoDB versions on Travis (#1074).

[2016-12-27 03:30] wojcikstefan commented on #1444
Thanks for reporting this @bowlofeggs. It indeed seems like tests fail on MongoDB v3.2 and v3.4. Let's track this issue in #1445.

[2016-12-27 03:30] #1444 closed

[2016-12-27 03:47] wojcikstefan commented on #1116
#298 is the way to solve this issue. Let's track the progress there.

[2016-12-27 03:47] #1116 closed

[2016-12-27 04:06] wojcikstefan commented on #1437
All of this is super hacky and for a very obscure use case. The primary way of getting and setting data on a MongoEngine doc is by means of property access (e.g. `print(doc.field)` or `doc.field = 2`). Python syntax prohibits us from using fields with colons, and so we'd have to resort to a less popular key access (e.g. `print(doc['sbg:field'])` or `doc['sbg:field'] = 2`). Documents/fields declara

[2016-12-27 04:11] wojcikstefan commented on #1413
@aruljothi I guess the nature of a SequenceField is such that it has to be present to be incremented properly. Do you have a suggestion for an improvement here? Perhaps a warning when the sequence field is excluded via `only`/`exclude`/`fields`... Or at least an improved docstring on that field's class so that people are aware of this caveat? Let me know or close this ticket please :)

[2016-12-27 04:12] wojcikstefan commented on #1394
Will track this further in #1073

[2016-12-27 04:12] #1394 closed

[2016-12-27 04:18] wojcikstefan commented on #1366
In MongoEngine, whichever field has `primary_key=True` is stored as `_id`. You should never override or interact directly with `_id`. It's best to use `host.pk` to refer to your ID.

To fix your problem, change the definition to:
[code]

I tested it by doing:
[code]

and then checking the doc in MongoEngine:
[code]

[2016-12-27 04:18] #1366 closed

[2016-12-27 04:18] #1349 closed

[2016-12-27 05:14] aruljothi commented on #1413
@wojcikstefan I agree that SequenceField has to present on those methods. I prefer warning along with the docstring which tells the users about the issue. Let me know when should i close this (now or after the documentation change is approved)

[2016-12-27 05:16] wojcikstefan commented on #1413
@aruljothi is there a chance you could submit a PR for it?

[2016-12-27 05:19] aruljothi commented on #1413
@wojcikstefan I am sorry i am not aware of the procedure, give me some link and i'll try and create it today.

[2016-12-27 05:34] rohitkhatri commented on #1442
@wojcikstefan Thank you so much, this is what I was looking for, It solved my problem.

[2016-12-27 10:58] anih opened #1446 "mongoengine killed mongodb performance when used with pymongo 3.x"
The root problem is that mongoengine switched from pymongo `ensure_index` to `create_index` method inside mongoengine `ensure_indexes`.
`ensure_index` had simple caching mechanizm but `create_index` doesn't have it.

This switch plus that `ensure_indexes` is called on each `doc.save()` results in that mongodb need to handle with `createIndex` which is quite heavy operation and in our case this res

[2016-12-27 11:07] anih commented on #1446
![e6da9c27-28e8-4f6c-4439-afc1000ddaea](https://cloud.githubusercontent.com/assets/459571/21498473/083cc064-cc2d-11e6-922f-397e9cafbab3.png)
This is a chart from monitoring

[2016-12-27 11:48] pilamb opened #1447 "AttributeError: 'EmbeddedDocument' object has no attribute '_is_document'"
Hi,
I am using MongoEngine with Django 1.5.5.

My models.py are:

[code]

As stated on the manual.
But i am getting the error on the the tittle.

Any ideas/help would be appreciated.
Thanks

[2016-12-27 11:52] pilamb commented on #1447
Unhandled exception in thread started by <bound method Command.inner_run of <django.contrib.staticfiles.management.commands.runserver.Command object at 0x7faa692f46d0>>
Traceback (most recent call last):
  File "/home/user/.virtualenvs/jsonTrackingUsers/local/lib/python2.7/site-packages/django/core/management/commands/runserver.py", line 93, in inner_run
    self.validate(display_num_errors=True)

[2016-12-27 13:22] rohitkhatri commented on #1442
@wojcikstefan I'm sorry to say, but It doesn't contain other fields now, can you tell me how to define other fields too, like

`users = User.objects.filter(schools__name=name).fields('first_name', 'last_name', schools={'$elemMatch': {'name': name}})`

[2016-12-27 15:21] wojcikstefan commented on #1442
@rohitkhatri I improved the docstring for `BaseQuerySet.fields`, which hopefully makes it clearer. You have to use keyword arguments, not positional args. Try:
[code]

[2016-12-27 15:28] wojcikstefan commented on #1447
@pilamb How come you're mixing fields from mongoengine and from django models? Don't think that will work. `username = StringField(max_length=50)` uses a mongoengine fields, but `session = models.TextField()` is a fields from `django.db.models`.

Your issue is caused by this line: `users = ListField(EmbeddedDocument(User))`. Your defining `User` as a `Document`, but then you use it as an `Embedded

[2016-12-27 15:28] #1447 closed

[2016-12-27 15:32] wojcikstefan commented on #1446
Thanks for a thorough report @anih! I'm looking forward to a PR. IMHO, the entire index-ensuring logic is a troubling right now and - while convenient during development - it kills production systems. I touched on it briefly in the comments on https://github.com/MongoEngine/mongoengine/issues/357

[2016-12-27 19:02] wojcikstefan commented on #1413
@aruljothi I'd just make sure that the docstring at https://github.com/MongoEngine/mongoengine/blob/2770cec187835ded145049341a4e72c1c97f8e1d/mongoengine/fields.py#L1728 covers everything.

Have you ever sent a PR before? You need to clone the git repo, apply your changes, push them out, and create a PR in the GitHub UI. There should be plenty of information online on how to do that.

[2016-12-27 22:09] wojcikstefan commented on #1358
Hi @pepisp, sorry for a delayed response (just started to maintain MongoEngine and working through the backlog of issues).

When a document subclasses another document, it always inherits its collection. That's MongoEngine's desired behavior. Create a parent class with `meta = {'abstract': True}` if you want its children to belong to separate collections.

[code]

[2016-12-27 22:09] #1358 closed

[2016-12-27 22:13] wojcikstefan commented on #1376
It's a bug that we allow dots/dollar signs in `db_field`. We should validate db_field values and hence catch the error early because you even try to save/retrieve any documents.

MongoDB doesn't allow dots or dollar signs in the field names: https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names.

[2016-12-27 22:46] wojcikstefan commented on #891
It seems that either the issue has been fixed or it's a user error (and this issue is quite outdated). It definitely works now:

[code]

[2016-12-27 22:46] #891 closed

[2016-12-27 22:50] wojcikstefan commented on #865
I believe this is possible with `connect=False`. See http://api.mongodb.com/python/current/api/pymongo/mongo_client.html#pymongo.mongo_client.MongoClient for details.

[code]

[2016-12-27 22:50] #865 closed

[2016-12-27 23:42] wojcikstefan commented on #1136
Apparently this was changed in #793 as a fix for #759, which complains that MongoEngine's behavior is inconsistent with PyMongo's behavior of `Cursor.count` (http://api.mongodb.com/python/current/api/pymongo/cursor.html?highlight=with_limit_and_skip#pymongo.cursor.Cursor.count).

Having tested it, it indeed looks consistent now:
[code]

I guess it's not as much a regression as a conscious change o

[2016-12-27 23:42] #1136 closed

[2016-12-28 04:20] wojcikstefan commented on #622
@Sirtea I believe this is possible with `connect=False`. See http://api.mongodb.com/python/current/api/pymongo/mongo_client.html#pymongo.mongo_client.MongoClient for details.

[code]

That being said, I still recommend ensuring your mongodb service is started before you start your app.

[2016-12-28 04:20] #622 closed

[2016-12-28 04:24] wojcikstefan commented on #606
Is this still an issue or can it be closed?

[2016-12-28 04:26] JohnAD commented on #1443
I have been thinking about this for a while. Please forgive my wordiness:

In addition to handling None, we also need to deal with invalid data. For example, if a document called `d` in the `Doc` container was:

[code]

We can see that any iterative string operations on the `d.names` attribute would generate errors on the second entry in the list because it is a number.

So, the bigger question co

[2016-12-28 04:29] jaraco commented on #606
I'm not aware of any changes to address the issue and there aren't any pings on the ticket, so I presume no work has been done.

[2016-12-28 04:33] wojcikstefan commented on #514
@l0kix2 I know it's been forever, but I'm cleaning up the issues list and determining what still needs to be addressed. Are you still interested in this and have you tried rozza's approach? I also don't see a better way right now other than monkey-patching `MongoClient`.

[2016-12-28 04:37] wojcikstefan commented on #1091
This should probably be addressed in https://github.com/MongoEngine/django-mongoengine

[2016-12-28 04:37] #1091 closed

[2016-12-28 04:38] wojcikstefan commented on #1064
The docs are up to date already

[2016-12-28 04:38] #1064 closed

[2016-12-28 04:41] wojcikstefan commented on #429
@noirbizarre have you had a chance to look into this one? :)

[2016-12-28 04:51] JohnAD commented on #1443
Adding a bit to the `handleInvalidEntry` option. We could also pass the index in the array/list, was well as the item. So:

[code]

[2016-12-28 04:53] wojcikstefan commented on #1102
I just replicated this behavior in v0.11.0. Still a bug:
[code]

[2016-12-28 05:03] wojcikstefan commented on #1148
Seems to work now:

[code]

[2016-12-28 05:03] #1148 closed

[2016-12-28 05:09] wojcikstefan commented on #1125
You definitely can't out-of-the-box mix references to django models into your mongoengine documents.

[2016-12-28 05:15] wojcikstefan commented on #1203
[code]

You can simply store the URL on the document.

[2016-12-28 05:17] #1203 closed

[2016-12-28 05:19] wojcikstefan commented on #1182
That's a good point. I use `Document._get_collection` quite a lot myself whenever I need access to raw PyMongo Collection methods.

[2016-12-28 05:21] wojcikstefan commented on #1168
Right now the only option is to monkey-patch `MongoClient`, but we should consider having a nicer way to simply specify a connection class inheriting from it.

[2016-12-28 05:21] wojcikstefan commented on #514
Duplicated by #1168

[2016-12-28 05:21] #514 closed

[2016-12-28 05:40] wojcikstefan commented on #1207
This is fixed now:
[code]

[2016-12-28 05:40] #1207 closed

[2016-12-28 05:43] rohitkhatri commented on #1442
@wojcikstefan When I tried the above example, I got this error

`TypeError: unorderable types: int() < dict()`

[2016-12-28 05:43] wojcikstefan commented on #1184
You must be overwriting pid somewhere in your code. There's no way to tell without the entire code sample, including the document's declaration.

[2016-12-28 05:43] #1184 closed

[2016-12-28 05:51] wojcikstefan commented on #1057
I'll add explicit information about supported MongoDB versions as part of #1074. Thanks for reporting this issue!

[2016-12-28 05:51] #1057 closed

[2016-12-28 05:51] #1152 closed

[2016-12-28 06:03] wojcikstefan commented on #1006
I think what @touilleMan recommends is better. A single class should have a single responsibility and mixing Document and EmbeddedDocument behavior in the same class could lead to very unexpected results. The fact it worked in some past versions is more of a bug than a feature.

I also confirmed this works:
[code]

[2016-12-28 06:03] #1006 closed

[2016-12-28 06:08] wojcikstefan commented on #1077
Yea, I don't think that channel is used these days at all. I'm fine with removing it from the readme.

What do you think @lafrech ?

[2016-12-28 06:19] wojcikstefan commented on #1071
I touched on this point in https://github.com/MongoEngine/mongoengine/issues/1006#issuecomment-269430638. TL;DR I don't think it's a good/sustainable idea.

However, it would be nice to have an easy way to transfer the data from a document to an embedded doc. Right now, something like this works:
[code]

[2016-12-28 06:21] wojcikstefan commented on #1066
This has been fixed in #1422

[2016-12-28 06:21] #1066 closed

[2016-12-28 06:23] wojcikstefan commented on #1065
I don't think that's correct. Can you give an example where you believe that is happening?

[2016-12-28 06:28] wojcikstefan commented on #1065
Here's the proof that `count()` on a queryset only results in a single `count` op in MongoDB:
[code]

[2016-12-28 06:28] #1065 closed

[2016-12-28 06:29] wojcikstefan commented on #1056
This issue seems handled already.

[2016-12-28 06:29] #1056 closed

[2016-12-28 06:31] wojcikstefan commented on #913
This issue is being discussed in #1443

[2016-12-28 06:31] #913 closed

[2016-12-28 07:04] #702 closed

[2016-12-28 07:09] wojcikstefan commented on #1442
@rohitkhatri are you on the latest mongoengine? It works for me:

[code]

[2016-12-28 07:45] rohitkhatri commented on #1442
@wojcikstefan I'm doing the same and still getting the error `TypeError: unorderable types: int() < dict()`

Here's what versions I'm using:

`Django==1.10.2`
`django-rest-framework-mongoengine==3.3.1`
`djangorestframework==3.4.7`
`mongoengine==0.11.0`
`pymongo==3.4.0`

[2016-12-28 07:47] rohitkhatri commented on #1442
Here's full error log:

	Traceback (most recent call last):
  	File "/Volumes/Stuff/Projects/unengage/example.py", line 42, in <module>
  	users = User.objects.filter(schools__name=name).fields(first_name=1, last_name=1, schools={'$elemMatch': {'name': name}})
  	File "/Volumes/Stuff/Projects/unengage/lib/python3.5/site-packages/mongoengine/queryset/base.py", line 930, in fields
		fields = sorted(

[2016-12-28 08:02] ethe opened #1451 "How to enable Write Concern in mongoengine"
Maybe just use `connect('testing', host='mongodb://127.0.0.1/testing?w=1')` or any other way?

[2016-12-28 08:46] lafrech commented on #1077
You may remove it from the README as it's not the best place for a user to ask for help.

If a few advanced users are still using it (I don't know, I don't use it myself), we may keep a mention to it in CONTRIBUTING.rst. I don't mind if we remove it totally.

[2016-12-28 15:16] wojcikstefan commented on #1442
And what's the exact document schema?

[2016-12-28 15:21] rohitkhatri commented on #1442
Here's the exact schema:

    import os
    import django

    os.environ.setdefault("DJANGO_SETTINGS_MODULE", "unengage.settings")
    django.setup()

    from mongoengine import *

    class School(EmbeddedDocument):
        name = StringField(max_length=120)

    class User(Document):
        first_name = StringField(max_length=60, required=True)
        last_name = StringField(max_length=60)

[2016-12-28 16:09] wojcikstefan commented on #1442
Thanks @rohitkhatri! https://github.com/MongoEngine/mongoengine/pull/1452 should fix it. That being said, I think there's a separate bug where `to_json` doesn't include `schools` in the payload. If you change `print(users.to_json(indent=4))` to `print([user.schools for user in users])`, it will work properly.

[2016-12-28 16:50] wojcikstefan commented on #1077
Removed in b013a06.

[2016-12-28 16:50] #1077 closed

[2016-12-28 19:01] wojcikstefan commented on #1451
@ethe have you seen the docs for e.g. save (http://docs.mongoengine.org/apireference.html?highlight=write_concern#mongoengine.Document.save) or update (http://docs.mongoengine.org/apireference.html?highlight=write_concern#mongoengine.queryset.QuerySet.update)?

Or are you asking if there's a way to set a global default write concern? If so, there isn't, unfortunately. You can, however, create an a

[2016-12-28 19:46] JohnAD commented on #1443
Reviewing the BaseField __init__ parameters, perhaps a better name for `handleInvalidEntry` is simply `entry_default` or `invalid_entry_default` and document that it can be a callable.

[2016-12-29 02:12] ethe commented on #1451
Sorry for bothering, yes, I am asking for a way to set a global default write concern. Thanks.

[2016-12-29 02:44] wojcikstefan commented on #650
I think `update` should work the way it does. Agreed that it might be confusing and unintuitive for people new to MongoEngine, but there's a good reason for it.

If we wanted `update` to reliably alter the attributes of a document, we'd have to either reload the object upon every update or use [findAndModify](https://docs.mongodb.com/manual/reference/method/db.collection.findAndModify/) (which is

[2016-12-29 02:56] rohitkhatri commented on #1442
@wojcikstefan I get this error even If I remove the `print(users.to_json(indent=4))` statement.

[2016-12-29 03:01] lanfon72 opened #1453 "mixin Field dereference fail."
hi,
I got some trouble in using mixin fields, here is the sample code:

[code]

I want to use `MapField` to mapping `key=String, value=List[Ref(Document)]`, save into mongodb is work, but can't retrieve it.

I tried to trace to figure out something, but I'm failed too. :joy_cat:

[2016-12-29 03:15] #654 closed

[2016-12-29 03:22] wojcikstefan commented on #645
Duplicate of #1242

[2016-12-29 03:22] #645 closed

[2016-12-29 03:26] wojcikstefan commented on #1373
@jpoiri could you simplify the example so that you show the issue with minimum possible code/structure? Right now it's not very readable.

[2016-12-29 03:39] wojcikstefan commented on #857
I believe this works as expected now, at least with MongoDB v3.0+.

First, I created duplicate data in a brand new collection (via a mongo shell):
[code]

Then, I defined a document with "a" field marked as unique:
[code]

When I first access the collection (which triggers indexes creation), I get the expected error:
[code]

Same happens when I change the document definition to:
[code]

[2016-12-29 03:39] #857 closed

[2016-12-29 04:25] wojcikstefan commented on #630
@socrateslee as you mentioned, you work in a multi-threaded environment. It's possible that a dupe doc responsible for the `MultipleObjectsReturned` error won't be there anymore by the time this error is raised.

 `BaseQuerySet.get` does a few non-atomic things that can lead to this confusing result. First it sets up a cursor and tries to iterate over two of its docs. It fails it there are *none*

[2016-12-29 04:25] #642 closed

[2016-12-29 04:26] #615 closed

[2016-12-29 04:43] wojcikstefan commented on #564
This is pretty bad... It leads to a malformed doc stored in the database:
[code]

I agree this should rather fail with an error equivalent to `StaleDataError`. We should, however, make sure that newly created documents still get upserted when you pre-populate their pk. For example, this should insert the doc into the database:
[code]

[2016-12-29 05:25] wojcikstefan commented on #1178
Not sure if this is a real issue. The main problem is your implementation of `__init__`. Here's the problem:

[code]

It prints:
[code]

So initializing with `date` works fine, but initializing with `_date_str` doesn't. When we `reload` a document, its refreshed version is initialized with `_date_str` (because that, after all, is the name of the field on the document). If we fix `__init__`, it wor

[2016-12-29 05:25] #1178 closed

[2016-12-29 05:32] wojcikstefan commented on #782
Hi @alexandre, are you still interested in this by any chance? If so, could you send a PR?

[2016-12-29 10:57] alexandre commented on #782
Hi @wojcikstefan,

No, I'm not using it anymore. Thank you :]

[2016-12-29 12:41] ethe commented on #1451
@wojcikstefan `connect('testing', host='mongodb://127.0.0.1/testing?w=1')` is effective in mongoengine, because pymongo supports it and mongoengine uses pymongo to set up connections, I think doc maybe need to points that.

[2016-12-29 13:41] wojcikstefan commented on #782
Ok, thanks! I'll close this one as I don't see more demand for it and it's not something essential to this package.

[2016-12-29 13:41] #782 closed

[2016-12-29 13:47] wojcikstefan commented on #1451
I dug into this one a bit more and I was completely wrong... There most definitely *is* a way to set the write concern globally. Thanks for pointing it out @ethe and sorry I missed it before!

Reopening this so that we can document/unit test these two:
* `connect('testing', host='mongodb://127.0.0.1/testing?w=1&j=true')`

Relevant portion of the MongoDB docs: https://docs.mongodb.com/manual/refere

[2016-12-29 14:46] Th4nat0s opened #1455 "Error msg for dependency missing when running setup.py in python 3."
Hello,

When installing mongoengine on debian 8.6 in python 3 from the git, I got the blocking message :
[code]
Despites the fact that 2.7.2 is installed by packages and working. The computer don't have access to internet.

[code]

When removing the dependency in install_requires in setup.py the installer is working and the library is working flawlessly.

[2016-12-29 16:00] anih commented on #1446
https://github.com/MongoEngine/mongoengine/pull/1457 First draft of changes, unfortunately I went to far and did change to switching db's and collections, but previous approach wasn't thread safe and was quite dirty. Test should pass but I didn't write any new as I prefer to get feedback if changes are going in right direction.

[2016-12-29 17:37] #1451 closed

[2016-12-29 17:39] #1376 closed

[2016-12-30 07:55] icodeface commented on #1309
I find the same question,
I solve it like this:
[code]

[2016-12-30 08:57] pilamb commented on #1447
You are right. I mixed to different packages. Yours and mongoenginedb. Thanks.

[2016-12-30 19:43] JohnAD commented on #1453
I've confirmed this, but have not yet hunted down the reason. Additional notes:

The problem is also with parent DictField; so this is not a MapField problem per se.
The problem is specifically with a ListField containing ReferenceField. So,

[code]

works fine. And

[code]

Also works fine.

[2016-12-30 20:04] JohnAD commented on #1453
Until this is resolved, here is a temporary work-around:

[code]

[2016-12-30 20:09] JohnAD commented on #1453
WAY OFF TOPIC; but I'm not entirely sure the open-ended nature of DictField and MapField should be part of MongoEngine.

[2016-12-31 06:26] raphendyr commented on #1322
Sorry, I think I just spotted it when reading the code base for some reason and such I can always be just wrong here.

[2016-12-31 15:08] wojcikstefan commented on #1322
Ok, thanks! I'll try to come up with a scenario that breaks it myself then. It definitely looks suspicious :)

[2016-12-31 15:16] wojcikstefan commented on #1455
@Th4nat0s could you share the exact commands you use to install the package?

[2017-01-03 03:11] lanfon72 opened #1459 "__neq__ protocol in datastructure.py"
[code]
defined in [base/datastructures.py](https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/datastructures.py#L432), not sure it's a typo for `__ne__` or called in another place?

[2017-01-03 10:43] aisbaa commented on #1400
**Concrete example** - would a unit test case do or a web application with vulnerability would be more appropriate?

That is true, **HTTP protocol** only passes textual data, therefore without data serialization this vector would not be possible. It is not possible to change query structure in your example.

Yes, it is strictly when data is deserialized from string (YAML, JSON, ...) to python obje

[2017-01-04 15:50] pilamb opened #1460 "Can't save models."
The current MongoDB has documents as follows:

[code]
Using django 1.8
and mongonegine 0.11.0

First open the connection to the mongo instance:

[code]

Here are my models:

[code]

In the shell i am trying to save() any kind of instance with no luck:

[code]
---------------------------------------------------------------------------
[code]

Same with the other model:

[code]

**AttributeError: 's

[2017-01-04 15:55] wojcikstefan commented on #1460
Please share some details/code, ideally in the form of a failing unit test.

[2017-01-04 16:00] pilamb commented on #1460
I am trying this in the Ipython shell because it is not working in Django either :(

[2017-01-04 16:19] pilamb commented on #1460
Sorry, i was writing and upgrading my comment while you wrote, @wojcikstefan  :)

[2017-01-04 16:57] wojcikstefan commented on #1460
Thanks @pilamb, could you fix the formatting of the code in the description? Everything should be in a...
[code]

[2017-01-04 20:52] pilamb commented on #1460
sorry for that, hope is well formated now @wojcikstefan

[2017-01-05 16:14] wojcikstefan commented on #1460
@pilamb `User_class` is an `EmbeddedDocument`, which means it cannot be saved on its own, it can only be *embedded* in an actual `Document`. That being said, I consider it a bug that we don't show you a more understandable error when you try something like this.

[2017-01-05 16:17] wojcikstefan commented on #1460
- [ ] Show a more informative error when trying to save an embedded doc that doesn't belong to any documents.

Simplest test showing the issue:
[code]

[2017-01-05 16:30] pilamb commented on #1460
Thanks @wojcikstefan . I understand the EmbeddedDocument and that i can not be saved on its own.
But later of that, on my question code, I try to save both of them and it is still showing the error mentioned:

`a=Machine_class(machineName="bla", users=u, loginShowing=True, screenShowing=False, jsonTime=datetime.now())`

Where is being saved a `user` of type `u` it should able to, right?

But throw

[2017-01-05 16:33] wojcikstefan commented on #1460
This isn't an error, it's a comment from line number 682. Are you sure that's what you meant?

Could you please share what `u` is in this case, ideally proving it with a code sample? I'm skeptical that it's actually an instance of an `EmbeddedDocument`.

[2017-01-05 16:35] wojcikstefan commented on #1459
Agreed, there is no `__neq__` built-in method in python... Great find @lanfon72 ! Would you like to send a PR with a unit test covering this?

[2017-01-05 16:53] pilamb commented on #1460
u is in the same first question. Is the `User_class` Inheriting from `EmbeddedDocument`.
I dont know why being an instance of an `EmbeddedDocument` could be weird, i followed the tutorial of yours.
Implementation of class u:
[code]
The only rare thing is that Vim code inspection pluggins gives this error,  which i expect is not causing this.
`[no-member] Module 'django_mongoengine.fields' has no '

[2017-01-05 18:54] wojcikstefan commented on #1460
@pilamb this is another example where you're doing it wrong, but we should have a much friendlier error. Thank you for uncovering these issues.

It boils down to the fact that you're assigning `u` (an embedded doc) to a **`ListField`**. If you instead do `users=[u]`, it works:

[code]

That said, it would be nicer if the error warned you that you're assigning a non-list to a list field.

[2017-01-06 03:07] lanfon72 commented on #1459
PR sent, the `__ne__()` already covered in unit test. (`__ne__()` delegates to `__eq__()` and inverts the result unless it is NotImplemented.)

[2017-01-06 03:37] #1459 closed

[2017-01-06 03:37] wojcikstefan commented on #1459
Great, thank you @lanfon72 !

[2017-01-06 08:21] RyanKung commented on #632
Wow, That's my mistake, thanks for pointing it out, @JohnAD

[2017-01-06 10:16] ethe opened #1462 "Updating primary key does not throw an error"
[code]

I think sometimes no error here will allow developers to commit a fatal mistake.

[2017-01-06 10:21] ethe commented on #1462
Looks like my fault, sorry for bothering.

[2017-01-06 10:21] #1462 closed

[2017-01-06 20:52] JohnAD commented on #1400
I agree generally with the principle that having a library enforce quality checks lowers maintenance costs of the projects that depend on the library.

In the particular case of enforcing `User.objects(name=condition)` to ensure that `condition` is only a string is a problem since mongoengine specifically allows more advanced queries using dictionaries and lists. It is a core function.

Do you hav

[2017-01-06 21:48] JohnAD commented on #1443
It has been 9 days since last comment. Okay, admittedly, most of them have been by me. :)

Would everyone be okay I attempted the following?:

Add an `invalid_entry_default=None` parameter to ComplexBaseField so that it applies to:

* 'ListField'
* 'DictField'
* 'MapField'
* 'EmbeddedDocumentListField'
* 'SortedListField'

The effect of this option, if set, is that if a list item (or key/value) is

[2017-01-06 22:15] wojcikstefan commented on #1443
Hi @JohnAD sorry to be stalling on this one, have gotten a bit swamped. I'll respond within the next few days though!

[2017-01-08 15:13] lafrech commented on #1251
@touilleMan, I don't think anybody objects to moving marshmallow-mongoengine here.

[2017-01-08 17:20] touilleMan commented on #1251
@MongoEngine/mongoengine  @lafrech I don't have the right to do fork `touilleMan/marshmallow-mongoengine` into `MongoEngine/marshmallow-mongoengine`, can an admin do this ? I'll add a note on my repo's readme then.

[2017-01-08 17:26] lafrech commented on #1251
@MRigal, @rozza @thedrow, can you do that? Or promote @touilleMan owner so that he can do it?
Thanks.

[2017-01-08 22:50] wojcikstefan commented on #1400
I still think the scenario this argument is based on is a bit artificial. We're talking about directly passing deserialized yet completely unsanitized user data as query args. That's not ok to begin with. It wouldn't fly if you were saving that data, it probably shouldn't fly if you're using it for queries either.

That said, let's unpack it a bit more... Maybe there's something we can do to help

[2017-01-09 00:00] wojcikstefan opened #1464 "Proper ValidationError when trying to save a single doc as a list of EmbeddedDocuments"
[code]

`ValueError: The source SON object needs to be of type 'dict'` isn't very helpful when debugging this subtle issue.

With simple types it works as expected, raising a `ValidationError` with a clear message:
[code]

Thanks to #1460 for exposing it.

[2017-01-09 00:01] wojcikstefan commented on #1460
Closing this in favor of #1464. Thanks for reporting it @pilamb !

[2017-01-09 00:01] #1460 closed

[2017-01-09 06:52] rohitkhatri opened #1465 "How do I skip duplicate documents in a bulk insert?"
I'm trying to insert documents in bulk, I have created a unique index in my collection and want to skip documents which are duplicate while doing bulk insertion. This can be accomplished with native mongodb function:

	db.collection.insert(
		<document or array of documents>,
		{
			ordered: false
		}
	)

How can I achieve this in mongoengine?

[2017-01-09 11:00] thedrow commented on #1251
Done :)
https://github.com/MongoEngine/marshmallow-mongoengine

Before we close this issue please ensure that the README file on your fork points to the official repo.

[2017-01-09 11:08] touilleMan commented on #1251
@thedrow can you give me write access to this new repo, I need to setup the travis to release on pypi from there

[2017-01-09 11:49] aisbaa commented on #1400
@wojcikstefan thank you for examples. Sanitization is not listed as valid injection prevention in [OWASP injection prevention cheat sheet](https://www.owasp.org/index.php/Injection_Prevention_Cheat_Sheet#Injection_Prevention_Rules). The reason being that data might be [damaged by sanitization](http://security.stackexchange.com/a/95330/101674).

One of approaches is to use safe API, that clearly se

[2017-01-09 15:33] wojcikstefan commented on #1400
Ah, that's a very good point @aisbaa.

To clearly separate data from operations, we'd have to always rely on the MongoEngine `__operators`. That removes some flexibility and puts more stress on us as maintainers to keep up with latest MongoDB operators, but maybe it's worth it?

Exercising this idea, on top of relying solely on operators, we'd have to validate that the query data is not a dict. Th

[2017-01-09 20:53] pilamb commented on #1460
Thanks you all guys, you have helped a lot. Close it since @wojcikstefan found the issue's core.

[2017-01-10 11:55] aisbaa commented on #1400
@wojcikstefan looks like a plan! Is it possible to escape `$` so that it would be interpreted as normal character and not as operator?

[2017-01-10 15:54] lafrech commented on #1256
https://wiki.debian.org/DebianStretch

It is too late to introduce flask-mongoengine in Debian Stretch.

However, it's not too late to update MongoEngine to v11.0. Deadline is Feb 5th.

[2017-01-10 17:19] JohnAD commented on #1400
As a general idea, I like adding the restriction. Clearly version A:

[code]

is superior to B:

[code]

since A is much safer. And the programmer can always fall back to a `__raw__` query under unusual scenarios.

However, what I don't have a feel for is how much B is used in the real world. If it is very common, then removing support for it will fundamentally break things. If so, then we could:

[2017-01-10 18:43] oorestisime commented on #1256
Hey,
I ve reserved some time this weekend to update all my packages (i hope) before the full freeze.
I am sorry i didn't manage to introduce flask-mongoengine :/ I ll try to package it nevertheless and maybe propose a backport.

[2017-01-11 10:14] aisbaa commented on #1400
I like approach number 3. It would allow to implementing static code analysis to detect all unsafe calls. Is also backwards compatible with existing code.

[2017-01-12 22:55] JohnAD opened #1467 "(1 of 2) Items to discuss: metadata support"
Writing a book or making a video is a great way to flush out ones knowledge of a subject; and it has the benefit of also discovering shortcomings of the product or library.

Yesterday, while filming a YouTube video covering fields in MongoEngine, two issues came up pretty strongly. One of them, ironically, was actually captured as part of the film. I'm listing them separately to help with discussi

[2017-01-12 22:59] JohnAD opened #1468 "(2 of 2) Items to discuss: Invalid Field Handling during Pull"
Writing a book or making a video is a great way to flush out ones knowledge of a subject; and it has the benefit of also discovering shortcomings of the product or library.

Yesterday, while filming a YouTube video covering fields in MongoEngine, two issues came up pretty strongly. One of them, ironically, was actually captured as part of the film.

BTW, if curious, the video itself: [MongoEngine

[2017-01-12 23:27] wojcikstefan commented on #1400
I like the 3rd proposal with a slight spin: My guesstimate is that > 90% of `key=val` queries in the wild are actually used as `key__eq=val` and I think that's the most intuitive & clean approach which is worth preserving. However, we'd still generate a warning if a dict with a $operator is passed as `val`. That can be done immediately in the upcoming bugfix version (v0.11.1), because it won't bre

[2017-01-12 23:53] wojcikstefan commented on #1443
Hm, let me push back a bit on this one ;)

What you're essentially proposing is validation upon read. That could have disastrous effects on performance and IMHO, we're already doing way too much processing of the data coming in.

If you (meaning the user of this package) truly need to validate data after fetching it, you can always call the `validate()` method. If you need something more custom th

[2017-01-12 23:57] wojcikstefan commented on #1443
And to bring it back to the original issue from the description, `StringField()` allows `None` or an instance of `basestring` as a valid value. It does *not* allow e.g. an `int`. Hence I believe `ListField(StringField())` should allow a mix of `None`s and `basestring`s (again, validated upon save).

[2017-01-13 03:26] JohnAD commented on #1468
I should note that this should have almost no performance impact unless the user decides to invoke `when_invalid` on a field.

[2017-01-13 03:59] JohnAD commented on #1443
I should have read your response prior to creating issue #1468 .

I agree that validation does create considerable overhead, especially when pulling in a large list of documents and each document might, in turn, have a large group of lists (and lists within lists.)

As such, I can totally see wanting it to be strictly optional.

In a large production system involving multiple software agents (not

[2017-01-13 04:23] JohnAD commented on #1443
As it happens, when I started using mongoengine, I was bit confused by 'ListField' and it's naming.

In fact, I was also confused by some of MongoDB/JSON naming conventions. Technically, an **array** is an ordered sequence of homogeneous items. A **list** is an ordered sequence of items of any kind. In other words, a *list* can mixed, strings, numbers, null, booleans, whatever. Whereas an *array*

[2017-01-13 18:41] alanbriolat opened #1469 "BaseQuerySet._cursor_obj inconsistent handling with query methods, e.g. skip and limit?"
I'll start by saying this is as much a discussion as a bug report. Perhaps there are good reasons for the way things currently work.

As part of `BaseQuerySet.clone()`, the underlying cursor is copied if it already exists. However only some queryset methods (`__call__`, `search_text`, `read_preference`) clear the cached `_cursor_obj` and only some other queryset methods (`__getitem__`, `order_by`)

[2017-01-13 19:48] JohnAD commented on #1443
@wojcikstefan wrote:

We might want start a separate issue for this. But here is the challenge regarding `None`, IMO:

We could have two different `Doc` documents (using your code from earlier):

[code]
and

[code]

Generally speaking, we are using `None` to mean *not there*. But "not there" and `null` are really different things. In a standalone StringField it might be rare that we really need to

[2017-01-13 22:44] JohnAD commented on #1443
I do apologize for writing so much...I can get wordy sometimes.

Inspired by the idea of a separate **filter** function, I might write a quick proof-of-concept branch this weekend. That way any validation on reading is done *explicity*, separately, and with knowledge of its cost.

[code]

[2017-01-15 04:17] wojcikstefan commented on #1465
Unfortunately before we can support the `ordered` kwarg, we'll have to migrate to PyMongo 3.0+ `collection.insert_one` and `collection.insert_many` methods. Right now we're still using deprecated `collection.insert`, which doesn't support it.

In the meantime, you can use `write_concern={'continue_on_error': True}`. Note, however, that this won't be supported in future releases and is a hack aroun

[2017-01-15 06:20] rohitkhatri commented on #1465
Thanks :-)

[2017-01-15 08:10] JohnAD commented on #1468
This is being discussed, indirectly, in #1443. I'll go ahead and close it.

[2017-01-15 08:10] #1468 closed

[2017-01-16 07:04] wojcikstefan commented on #1469
All of these look like bugs to me, thank you very much for pointing them out @alanbriolat ! There's lots of work (and testing!) to be done with regards to the way we (re)use PyMongo cursors. Would you like to take a crack at fixing it? Besides a comprehensive test suite, I think a crucial part of the fix is to create abstractions and documentation that makes it much easier to understand and reason

[2017-01-16 07:12] wojcikstefan commented on #1443
Generally speaking, you're right. However, that's not the case in MongoDB. As you can see in the following snippet, both "not there" and `null` are returned when you're looking for `null`:
[code]

[2017-01-16 08:00] wojcikstefan commented on #1443
Hi again @JohnAD, sorry for a delay! I'm afraid I'm still very skeptical of this built-in validate-on-read approach... There's a thousand different ways one might want to "refine" corrupted or outdated data depending on a use case, and exposing *a few* of the possible options to deal with it in the schema seems like a complex way to *kinda* solve *some* of the potential problems... And even if som

[2017-01-16 08:27] wojcikstefan commented on #1467
Nice find @JohnAD ! I'm not a fan of what https://github.com/MongoEngine/mongoengine/pull/1051 did as well. It basically delays the time when you learn about an invalid kwarg till runtime. I wish all the additional data you might want to store on a field was encapsulated by say a `meta` kwarg (e.g. `meta={ 'help_text': 'whatever', ... }`). That way you provide extensibility without losing some hel

[2017-01-17 15:54] JohnAD commented on #1443
When writing the early code for `refine`, I discovered that pyMongo does the same. So, your pointing out that MongoDB itself treats `null` and **missing** as identical makes even more sense. So, officially, `None` is both `null` and an indication of missing.

That being case, **allowing the ListField to contain either the Field type or None makes a lot of sense.** I'll see what it takes to make th

[2017-01-17 17:31] corydodt commented on #1045
I just realized this is probably the same bug I also opened, https://github.com/mongomock/mongomock/issues/233

[2017-01-18 00:24] wojcikstefan commented on #1469
@alanbriolat let me know if you want to tackle this issue. If not, I might give it a try soon-ish :)

[2017-01-18 19:07] rcscott commented on #1357
I came across the same issue. It looks like mongomock doesn't support GridFS. https://github.com/mongomock/mongomock/issues/72

[2017-01-19 05:30] JohnAD commented on #1443
Modified code for getting both `EmbeddedDocumentField` and `EmbeddedDocumentListField` to allow `None`. It looks like this will have little impact on performance.

Looks pretty straightforward. I'll get the remaining fields fixed and add test cases. I'm guessing it will be about a week before I'm ready with a pull request.

As a bonus, the `required` kwarg actually means something now for `Embedde

[2017-01-19 05:37] wojcikstefan commented on #1443
Awesome @JohnAD! Thank you very much for contributing so much! Could you open a work-in-progress PR so that it's easy to track the development and potentially offer help while working out some kinks?

[2017-01-21 06:53] meet-gandhi commented on #574
fixed my problem. Thanks

[2017-01-22 11:23] teddy-hoo opened #1471 "queryset use the same subscript but get different result"
`
ps = SomeDocument.objects(**somequery)
`
`
ps[0] is ps[0] # False, but expect a True in normal sense
`

QuerySet is an iterable. Normal iterable can not be accessed by subscript. QuerySet implemented the subscript access, but did not keep the same behavior as a python list.

[2017-01-23 10:59] alanbriolat commented on #1469
@wojcikstefan feel free to tackle it, I'll add another comment if I make any progress on a fix myself.

[2017-01-25 08:35] mindojo-victor opened #1472 "Primary key index is not unique?"
How is that primary key index is not unique?
[code]
And those docs without explicit `id` field defined also are not unique.

[2017-01-25 13:18] wojcikstefan commented on #1472
Confirmed that it's an issue (and an awful one at that). Will look into the reason/solution soon. It's worth noting that the duplicate task is not actually created, but somehow the `NotUniqueError` is swallowed along the way:

[code]

[2017-01-25 13:21] mindojo-victor commented on #1472
Yes, that's how I found it. I was running a data import and I was expecting it to fail, because of unique primary key. But it didn't. :(

[2017-01-27 22:39] mindojo-victor commented on #1182
How are you going to name it? Will it be a property `collection`?

[2017-01-30 12:36] thedrow commented on #1251
I'm sorry this took so long. @touilleMan You now have permissions to the repository.

[2017-01-30 14:11] touilleMan commented on #1251
@thedrow @lafrech I've done the migration, making a tag within `MongoEngine/marshmallow-mongoengine` should release a new version on Pypi automatically.

[2017-01-30 14:11] #1251 closed

[2017-02-02 09:09] nick13jaremek opened #1474 "order_by ignored when using distinct on queryset?"
Hello there,

Using *mongoengine* version **0.10.6** along with *Python* **2.7**.

I have applied an `order_by` on my mongoengine queryset, and chained it with a `distinct` call. However, the results ordering is the same regardless of the `order_by` clause.

Here is the example query I am attempting to run:

`Person.objects.order_by('date_modified').filter(name='john', surname__icontains='grah', s

[2017-02-02 09:30] ashkop commented on #1063
This affects me as well. Seems strange that all default values are applied **except** those that are referenced in `only()`. According to the description of #399 default values should be applied **only** to the fields that were loaded from DB

[2017-02-06 18:05] wojcikstefan commented on #1474
Hi @nick13jaremek! Unfortunately that's a limitation of MongoDB - it doesn't support ordering along with `distinct`. As you can see at https://docs.mongodb.com/manual/reference/method/db.collection.distinct/, the method only accepts the name of the distinct field, the query used to limit the result set, and some extra options (which don't include sorting).

The easiest way to accomplish what you w

[2017-02-06 18:05] #1474 closed

[2017-02-07 00:27] liuhelen10 opened #1475 ".limit broken after re-accessing stored Queryset object in 0.10.1 and beyond"
To my knowledge, this is occurring in `0.10.1` through `0.11.0` (I discovered when upgrading from `0.9.0`).

`.limit` works fine when being called on the initial declaration of a queryset, but breaks if you access the queryset beforehand and then try to call `.limit` on it.

I tested this with `class Test(Document): ...`

[code]

And just for good measure:

[code]

It seems like this is maybe rela

[2017-02-07 02:00] wojcikstefan commented on #1475
Hi @liuhelen10, thank you for reporting this. This indeed looks like a big bug and a painful regression. Unless there's some hidden reason for this behavior that I haven't uncovered yet, I'll be fixing it soon, along with #1469 (which is kinda overlapping).

[2017-02-07 02:32] wojcikstefan commented on #1475
I believe #1049 is to blame. It improperly tried to fix chaining of `only` by breaking the chaining of `limit`, `skip`, and `hint`.

[2017-02-08 08:06] wojcikstefan commented on #1475
@liuhelen10 could you take a look at my proposed fix in #1476 and let me know what you think?

[2017-02-08 08:06] wojcikstefan commented on #1469
@alanbriolat could you take a look at my proposed fix in #1476 and let me know what you think?

[2017-02-08 08:18] neerajshukla1911 opened #1477 "Default value is not set if not provied in update or update_one query"
Default value is not set in mongoengine if not provided while using update_one or update query with upsert=True. Here is doc and query used:

[code]

In mongo there is no is_meta_uploaded flag
[code]

Environment Details:
mongoengine version: 0.11.0
python version: 3.5.2

[2017-02-08 09:45] CanoeFZH opened #1478 "to_json dict value with key whichi s not in queryset was cleaned as {}"
https://github.com/MongoEngine/mongoengine/blob/835d3c3d186144f1b7d4d929d40712c8ef75dd21/mongoengine/queryset/base.py/#1739

[2017-02-08 16:28] liuhelen10 commented on #1475
👀

[2017-02-09 06:45] neerajshukla1911 opened #1479 "sequence field misbehaves with upsert_one and update_one queries"
SequenceField value is not saved in db when upsert_one and update_one is used

[code]

Query:
[code]

Database doesn't have uid field:
[code]

[2017-02-09 20:02] #1469 closed

[2017-02-09 20:16] wojcikstefan commented on #1475
Fixed via #1476

[2017-02-09 20:16] #1475 closed

[2017-02-12 05:10] wojcikstefan commented on #1477
Hi @neerajshukla1911 ! I'm afraid this is impossible to solve. In your ideal scenario, MongoEngine would include `$set: { is_meta_uploaded: true }` in the update doc for a new document, but *not* include it if the document already existed (otherwise you'd override its current `is_meta_uploaded` value). Here's the tricky part - MongoEngine does *not* know if the doc exists or not when sending the u

[2017-02-12 05:10] #1477 closed

[2017-02-12 05:13] wojcikstefan commented on #1479
This problem is similar to https://github.com/MongoEngine/mongoengine/issues/1477 in the sense that with upserts we don't know whether to treat it as an insert with *all* fields or an update with just the specified fields.

[2017-02-12 05:13] #1479 closed

[2017-02-12 05:16] wojcikstefan commented on #1478
@CanoeFZH would you please provide an example of a document schema, its expected to_json output, and the actual one?

[2017-02-14 13:24] twichy opened #1480 "Unable to delete an embedded document inside of another embedded document"
I have the following docs:

[code]

Now i append a group to a project, add several members to that group and now i am trying to delete a member (for example by name because it's unique). How do i do that?

[2017-02-14 16:44] wojcikstefan commented on #1480
Something along these lines should work:

[code]

[2017-02-14 22:09] bagerard opened #1481 "Using sets for choices in StringField(choices=...) raises an error when validating"
The choices parameter does not manage sets properly due to the use indexing (choices[0]).

    def test_choices_allow_using_sets_as_choices(self):
        """Ensure that sets can be used when setting choices
            """
        class Shirt(Document):
            size = StringField(choices={'M', 'L'})

File "/home/bgerard/dev/mongoengine/tests/fields/fields.py", line 3186
...
self = <mongoengin

[2017-02-15 13:46] wojcikstefan commented on #1481
@bagerard could you please review #1483?

[2017-02-15 13:48] wojcikstefan commented on #1481
Ah, apologies, just saw that you submitted #1482. Will close mine, thanks!

[2017-02-15 13:57] #1481 closed

[2017-02-15 13:59] wojcikstefan commented on #1182
`collection` property sounds like the best choice, though I haven't fully considered all the implications.

No matter what public property we choose, we should make sure that users can't use it as a field name, e.g. this should raise an error immediately upon definition:

[code]

[2017-02-15 14:24] wojcikstefan commented on #1471
I agree it's a bit confusing, but I think it boils down to the `is` usage. `is` tests for identity, not equality. That means Python simply compares the memory address for the compared objects. MongoEngine doesn't have a guarantee that there will always be one and only one document in memory with a given class/ID (nor do we want to make that guarantee). `qs[0]` instantiates a new document, hence it

[2017-02-15 14:24] #1471 closed

[2017-02-16 11:06] dtatarkin commented on #1250
@wojcikstefan it is very important for me. Because of this issue, i can't use mongoengine in one of my project with Russian language. It was too hard to translate tens of specific accounting terms to english. Even if i translate or translit collection names and attribute names, i have to do backward localization of existing mongo tools and utils for Russian users.

[2017-02-16 14:38] wojcikstefan commented on #1250
@dtatarkin thank you for this input. I looked a bit deeper and it appears that at least the most basic unicode class/field definition and querying works fine in the latest MongoEngine:

[code]

I haven't tested everything, so it would be nice if you could provide specific examples that break the desired behavior.

[2017-02-16 14:39] wojcikstefan commented on #1250
Note to self: Given that Py2 doesn't support unicode chars in identifiers and keywords (see https://docs.python.org/3/reference/lexical_analysis.html#identifiers), any unit tests we add would have to be in a separate file included via a conditional import.

[2017-02-19 17:35] gaush123 commented on #1418
@amergin I'd been facing the same issue, then I upgraded to mongoengine==0.9.0, but that's causing a very annoying error `'MetaDict' object has no attribute 'pk'` generated on
`/django/contrib/auth/__init__.py in login, line 111 >>
request.session[SESSION_KEY] = user._meta.pk.value_to_string(user) `
It's caused while generating session through mongoengine. Did you face this one? I googled this err

[2017-02-21 08:08] teddy-hoo commented on #1471
Thanks for your explanation. I still think the behavior has a little improper.
Think about the following case:

[code]

It will do no effects to the db. The `some_field` of `qs[0]` is expected to be changed in common sence.

[2017-02-22 11:57] CanoeFZH commented on #1478
right schema:
In [65]: ArticleProfile.objects(article_seq_id=x).first().title_name_entities_tfidf
{u'\u0938\u093e\u0932': -0.02852155634541126, u'\u092c\u0947\u091f\u0940': 0.027081640431142032, u'\u092a\u093f\u0924\u093e': 0.01680922909611616}

wrong data:
ArticleProfile.objects(article_seq_id=x).to_json()
...
 "content_name_entities_tfidf": {}}]'
while you use fist() will get right data:
Article

[2017-02-22 16:09] wojcikstefan commented on #1478
What is the relation between `title_name_entities_tfidf` and `content_name_entities_tfidf`? I see that in the "wrong data" example, you use `content_name_entities_tfidf` instead of `title_name_entities_tfidf` used in the other two samples. What is the link between the two?

Also, I'm not sure what you mean by the "queryset schema". Do you mean the document schema? If so is this the correct descrip

[2017-02-23 15:15] goldbaum opened #1487 "Concurrent switch_db failure"
I have multiple green threads that try to `with switch_db(SomeDocument, alias):...` on the same document in order to query multiple aliases.
Once in a while I get an exception:
`File "/usr/local/lib/python2.7/dist-packages/mongoengine/queryset/queryset.py", line 104, in count
return super(QuerySet, self).count(with_limit_and_skip)
File "/usr/local/lib/python2.7/dist-packages/mongoengine/queryset/b

[2017-02-23 15:20] wojcikstefan commented on #1487
Hi @goldbaum, I'm afraid `switch_db` has many flaws in its current form. Your issue sounds very similar to #788. There's already some progress on this stuff via @anih's #1457 PR.

[2017-02-24 01:08] SolessChong commented on #1355
Great question. I'm also confused on this.
After googling, there should be a config that restricts connection pool, like in pymongo:

[code]

Redundant connections will result in both heavy DB load and performance degradation.

[2017-02-24 05:52] vinyll commented on #1101
close?

[2017-02-24 12:52] #1101 closed

[2017-02-24 13:13] CanoeFZH commented on #1478
@wojcikstefan  I updated the data example. Actually `content_name_entities_tfidf` and `title_name_entities_tfidf` are similar with each other. But to make it more clear, I update the data example. As for the query set schema, I mean document schema as you mentioned.
faked test case: `{id: 1, dict: {123: 1}}` with document schema: `id, dict`

[2017-02-24 14:23] noisyox opened #1488 "Mongo-engine Documents does not register as models with django.apps"
While getting list of all models with app it does not find models which are being registered with mongoengine (Document).

[code]
It shows models which are being inherited from models.Model unlike documents

[2017-02-24 20:53] wojcikstefan commented on #1480
@twichy I'm going to close this issue now. Let me know if you need more help.

[2017-02-24 20:53] #1480 closed

[2017-02-25 02:03] wojcikstefan commented on #1471
Thank you for the feedback @teddy-hoo. I understand the behavior is a bit confusing, but I don't think it will change. You just have to understand that applying any index/slice instantiates new documents. I'd be happy to make this clearer in the docs or docstrings. Maybe you could send a PR?

[2017-02-25 04:12] andrewsosa001 commented on #267
Hello! Is this fix included in release v0.11.0? I'm still having this issue on the latest release, also with flask-mongoengine 0.9.2. Thanks!

[2017-02-25 18:11] wojcikstefan commented on #1355
That's a very good point, thank you for bringing it to my attention @NirmalVats and @SolessChong ! I added unit tests and a bit of documentation around it in #1489

There's many reasons why this can happen, primarily related to PyMongo's connection management and potentially your web server's parallelism (for example if you're using multiple gunicorn workers, you'll see a certain number of connect

[2017-02-25 18:11] #1355 closed

[2017-02-26 17:06] boazin commented on #892
Guys - I think I'm missing something.
We have a lot of models that have a referenceField to a "user model".
Some of the objects are not user generated (system generates it) and I don't like having a "fake user" - system - so the value is None.
(in some places in the code we use it and "count on it being value or None")

In the new version it breaks the code and raises an exception.
What am I expec

[2017-02-26 21:56] wojcikstefan commented on #595
Unit test for this issue was added in https://github.com/MongoEngine/mongoengine/pull/1435/files#diff-a31e73bd423867d449ed2ce0d6a07ddbR1111

[2017-02-27 03:37] wojcikstefan opened #1491 "Stop using deprecated collection methods for PyMongo v3.x"
http://api.mongodb.com/python/3.4.0/api/pymongo/collection.html shows the following methods as deprecated: `insert`, `save`, `update`, `remove`, `find_and_modify`, `ensure_index`. We still use those in our codebase.

We should appropriately utilize the new `insert_one`, `insert_many`, `replace_one`, `update_one`, `update_many`, `delete_one`, `delete_many`, `find_one_and_delete`, `find_one_and_repl

[2017-02-27 03:38] wojcikstefan commented on #1227
Will track this issue in #1491 which has a more concise description of the issue.

[2017-02-27 03:38] #1227 closed

[2017-02-27 04:54] wojcikstefan commented on #267
@andrewsosa001 could you provide some code that reliably reproduces your issue?

[2017-02-28 00:13] spitzbubchen opened #1492 "query over list of embedded documents not working with allow_inheritance"
If I have the following schema:

[code]
And I do the following query:
[code]
I get the following error:

`AttributeError: 'author' object has no attribute 'get'`

This seems to only happen with `allow_inheritance` when certain objects may or may not have the 'author' field. If the field exists on all objects, such as the 'title' field, the query works fine.

[2017-02-28 04:02] userlocalhost commented on #203
In previous discussion, this feature was hard to implement because of the compatibility for Python2.6.
But from the [v0.11.0 release](http://docs.mongoengine.org/changelog.html#changes-in-0-11-0), the support of Python2.6 is dropped.
So I implemented this feature.

Thank you.

[2017-02-28 07:07] CanoeFZH commented on #1478
also update the url to direct to the code at line 1739 directly. @wojcikstefan

[2017-02-28 08:41] andrewsosa001 commented on #267
@wojcikstefan Here's a sample script I wrote to demonstrate:

[code]

I've also visually inspect my MongoDB instance using Robomongo to confirm my findings.

Thanks!

[2017-02-28 10:17] marcoller opened #1495 "Phone field missing on model"
Hello,

we've seen that a phone field does not exist on the mongoengine models. We have added it and that is the code resulting from the git diff on the fields.py file:

[code]

[2017-02-28 10:57] shvechikov opened #1496 "no_dereference() method produces non-deterministic bug with dereferencing"
Using no_dereference() method causes random disabling of dereferencing in other places where the same documents are being queried without no_dereference().
It seems like some global flag is used under the hood and its state is not switching back in some cases.

I'm not able to provide good test for this, maybe later. Is it a known bug?

[2017-02-28 15:10] lanzalibre commented on #1496
no, that I know

[2017-02-28 15:10] wojcikstefan commented on #267
Ah, thanks @andrewsosa001, that makes it clearer. Proof I have shown in https://github.com/MongoEngine/mongoengine/issues/267#issuecomment-264730194 is invalid then - it only worked because I was changing the value from an implicit `[]` to an explicit `[]`, which doesn't result in a changed field and hence doesn't update it in the MongoDB doc. A quick test reveals that any operation that actually

[2017-02-28 15:34] wojcikstefan commented on #267
Now, one last question we have to answer is *why* we expect an empty list to be stored in the database in the cases above.

An argument can be made for auto-unsetting of the field actually being beneficial in terms of storage. However, in such case we should also handle document creation correctly so that it doesn't set `nums: []` by default when using `Doc.objects.create()`. Creation w/o the fiel

[2017-02-28 15:45] wojcikstefan commented on #1495
Hi @marcoller I think this might be an overly simplistic approach to validating phone numbers (e.g. right now it would accept number extensions like `+16503334444x1234`). Phone validation is actually a pretty complex problem that has its own set of libraries, for instance https://github.com/daviddrysdale/python-phonenumbers.

Depending on one's use case it might be fine to choose this simpler appr

[2017-03-02 02:39] wojcikstefan commented on #1491
#1120 already attempted to tackle `remove` from the list above.

[2017-03-02 05:04] wojcikstefan commented on #1455
Closing due to a lack of response.

[2017-03-02 05:04] #1455 closed

[2017-03-02 06:34] NiklasRosenstein opened #1499 "How to store key with dot in DynamicField"
I want to store a document in a `DynamicField` that may contain dots in its keys. I read that MongoDB does have a `check_keys` parameter when inserting a document into the database. Would it be possible to have that as a parameter on a `DynamicField`?

[2017-03-02 06:54] edussx opened #1500 "Exception FieldDoesNotExist still raises even if meta = {'strict': False} has been specified in an EmbeddedDocument"
I have an EmbeddedDocument class like:
[code]
I specifies 'strict' as False because the received data json includes some fields/attributes that currently I don't bother dealing with, according to [this](https://mongoengine-odm.readthedocs.io/apireference.html#mongoengine.Document).

However, if I assemble data like:
[code]
I will get:
[code]

Is it working as designed?

[2017-03-03 06:11] amcgregor commented on #1142
Upon further investigation after seeing some oddities in my logs, the culprit may be the automatic inclusion of the class identifier in all indexes:

[code]

[2017-03-04 02:10] andrewsosa001 commented on #267
@wojcikstefan I think it actually makes more sense to have empty lists automatically removed (what is currently happening). You made good points in your argument for that behavior.

It would be easy to adjust for in terms of querying, instead of the `Docs.objects(nums=0)`, you would instead be looking for `Docs.objects(nums__exists=False)`. On the flip side, it would be more consistent, e.g. `Doc.

[2017-03-04 06:33] wojcikstefan commented on #1472
Fixed in #1485. @mindojo-victor I'll make a new release which will include this fix soon.

[2017-03-04 06:33] #1472 closed

[2017-03-04 18:40] gukoff commented on #267
This is true. However, there's always a tradeoff between simplicity and performance, and for sure one should keep away of the premature optimization. This heuristic seems like one, because we improve the memory issue without being explicitly asked to. And this improvement implies the simplicity/maintainability/transparency degradation, because you have to maintain the introduced complexity.

Is it

[2017-03-04 19:30] wojcikstefan commented on #267
This is wonderfully put, thank you for taking the time to write it @gukoff ! I agree with all of your points.

Clearly current implementation is already causing confusion, as proven by this issue. We could try to tweak it and fix some of its problems, but it will always have certain edge cases. For example, `Doc.objects.update(pull__nums=last_remaining_value_in_a_given_doc)` will leave you with an

[2017-03-04 23:21] wojcikstefan commented on #868
Aggregations should be handled via `BaseQuerySet.aggregate` (practically via `Doc.objects.aggregate(...)`). If something doesn't work about this approach, please reopen with more details.

`exec_js` should generally be avoided.

[2017-03-04 23:21] #868 closed

[2017-03-04 23:34] wojcikstefan commented on #707
Starting with MongoDB v3.4, you can use the (Decimal BSON Type)[https://docs.mongodb.com/manual/tutorial/model-monetary-data/#using-the-decimal-bson-type]

[2017-03-04 23:43] wojcikstefan commented on #1499
As [MongoDB docs](https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names) say:

[2017-03-04 23:43] #1499 closed

[2017-03-04 23:47] wojcikstefan commented on #897
Health of MongoEngine has been significantly improved in #1428

[2017-03-05 00:05] wojcikstefan commented on #450
Although I'm not in love with the current solution, we *can* query on `_cls` now:

[code]

The fix was introduced in https://github.com/DavidBord/mongoengine/commit/35f9bfbbef67de70916deb5ea1106bdca4b22860

[2017-03-05 00:05] #450 closed

[2017-03-05 05:05] #937 closed

[2017-03-05 05:08] wojcikstefan commented on #937
The documentation around this is better now, making it clear that `Doc.objects.count` is the way to go.

[2017-03-05 09:40] lafrech commented on #1260
The PR was accepted. Once a new sphinx_rtd_theme is released, the whole theme can be externalized from MongoEngine without the functionality loss.

[2017-03-05 23:12] #1119 closed

[2017-03-05 23:13] wojcikstefan commented on #1119
This issue was fixed by #1435. I added an extra test for this behavior in e8ea294.

[2017-03-05 23:20] #904 closed

[2017-03-05 23:28] wojcikstefan commented on #1385
Unless I'm missing something, this seems to work well for me (at least in the latest version):

[code]

[2017-03-05 23:28] #1385 closed

[2017-03-06 01:15] wojcikstefan commented on #1260
@lafrech if I understand correctly, these are the steps left before we can close this issue:

- [ ] Wait for a new PyPI release of https://github.com/snide/sphinx_rtd_theme.
- [ ] Add `sphinx_rtd_theme==LATEST_VER`  to `requirements.txt`.
- [ ] Replace `html_theme_path = ['_themes']` with `html_theme_path = [sphinx_rtd_theme.get_html_theme_path()]` in `https://github.com/MongoEngine/mongoengine/bl

[2017-03-06 01:55] wojcikstefan commented on #1496
@shvechikov do you know if the issue pertains specifically to the `with no_dereference(...)` context manager or the `Doc.objects.no_dereference()` queryset method?

[2017-03-06 06:27] monitorius opened #1503 "doc.modify fails with complex Q objects as first argument"
[code]

Last line fails like this:
[code]

[2017-03-06 08:47] lafrech commented on #1260
There is a bit more to do in docs.conf to let it work both locally and on RTD.

I sent a PR with what I had done back then, rebased to latest master: https://github.com/MongoEngine/mongoengine/pull/1504.

Now, waiting for new sphinx RTD theme.

[2017-03-06 08:51] lafrech commented on #1260
@yograterol, I don't wan't to be assigned this task, and I don't see the benefit of this "in progress" auto-tagging. Would you mind disabling whatever bot/service does this?

[2017-03-06 14:27] wojcikstefan commented on #1260
I've been pinging @yograterol about it here and over email several times with no response. @lafrech can we remove him from the organization?

[2017-03-06 14:49] lafrech commented on #1260
I don't have the privileges either. @rozza? @thedrow?

[2017-03-06 14:58] julianwachholz commented on #637
@lafrech any plans for implementing this native `NumberDecimal` type?

[2017-03-06 15:01] lafrech commented on #1260
Sorry, I do have required privileges. I removed @yograterol from the team. @yograterol please ask for reintroduction if this was wrong.

@wojcikstefan, you're now admin of team mongoengine.

[2017-03-06 19:38] wojcikstefan commented on #267
Small note wrt consistency among different field types: When you assign a `None` value to a particular field, we unset it from the MongoDB doc (see the code below). This behavior seems pretty natural to me and I'd probably want to preserve it. However, stuff like `doc.list_field.pop()/remove()` is already one step further in terms of implicitness. The question that remains is: Does it really make

[2017-03-07 09:04] lafrech commented on #1260
@wojcikstefan, a new sphinx_rtd_theme version was released: 0.2.3.

About the requirements.txt part, the only place I see sphinx itself mentioned as a dependency is in the CONTRIBUTING.rst file, so I changed it to:

the ``sphinx`` and ``sphinx_rtd_theme`` packages.

Maybe we could mention the minimum version, here...

Anyway, the point here is not really which version is used by anyone building lo

[2017-03-07 15:55] mclate commented on #357
Wanted to bring this one back again as we also have just experienced pretty significant downtime due to automated foreground index creation on production. Just as @wojcikstefan said, at some point it is desirable to disable automated index creation completely and let devops control this.
Maybe add this as an option to a connection definition (Among with one for background indexes)?

[2017-03-07 16:34] wojcikstefan commented on #357
Few requirements for the updated index management:
* By default we shouldn't create any indexes. For any serious library, safe defaults are much more important than fastest setup possible. This would also allow people to handle indexes outside of MongoEngine, which might be desirable.
* It should be easy to enable automatic background or foreground indexing in the dev environment for smoother deve

[2017-03-07 18:37] wojcikstefan commented on #357
cc @jtharpla, too :)

[2017-03-07 19:13] jtharpla commented on #357
Speaking from experience, I'd definitely prefer no automated index creation as a sane default intended for production with the option to do automated background index creation if desired.  Automated foreground index creation should be clearly documented as intended for development environments only.

[2017-03-07 22:12] lafrech commented on #1260
Hmmm, in fact, building the docs with a sphinx_rtd_theme version older than 0.2.3 yields an error:

    Theme error:
    unsupported theme option 'canonical_url' given

I don't know if latest sphinx RTD theme is already available for use on RTD servers.

[2017-03-08 15:29] BenCoDev opened #1506 "Document update - Guidelines"
Hello,

In order to update an object, I saw that various ways exist (being on the Document, or on the QuerySet object). I see myself needing the following behaviours:
- signals should be triggered
- consistent error dict always referring to the root field
-- example: when using doc.modify(), if a validation error is raised on an EmbeddedDocField, the ValidationError.to_dict() does not have the Emb

[2017-03-08 15:51] apolkosnik commented on #1230
I've played a bit with a snippet and with some modifications( https://gist.github.com/apolkosnik/e94327e92dd2e0642e2b263efd87d1b1 ), then I ran it against Mongoengine 0.8.8 and 0.11:

Please see the pictures...
On 0.8.8:
mongoengine with dict took 16.95s
![viz_dict_me0_8_8](https://cloud.githubusercontent.com/assets/1034814/23710924/56f99528-03ec-11e7-91cb-556a42dde017.png)

On 0.11:
mongoengine w

[2017-03-09 12:15] lokeshmeher opened #1507 "Querying `mongoengine.Document` classes with attributes defined using python `@property`"
Please refer this stackoverflow question:
http://stackoverflow.com/q/42695087/4991991

[2017-03-09 14:59] wojcikstefan commented on #1488
Hi @noisyox. Django support has been spun out into a separate repo. Open an issue and consider sending a PR to http://docs.mongoengine.org/django.html.

[2017-03-09 14:59] #1488 closed

[2017-03-13 09:29] goodking-bq opened #1508 "how can i use pymongo.son_manipulator"
how can i use pymongo.son_manipulator???

[2017-03-13 22:25] bremac opened #1509 "Mongoengine makes conflicting modifications to embedded documents"
Some embedded document structures trip up delta tracking and cause saves to fail. For example, take the following script:

[code]

The final call to `save()` fails with an error:

[code]

[2017-03-14 14:54] wojcikstefan commented on #1509
Thanks @bremac, looks like a bug indeed. Just curious, if you do `append(e)` instead of an `insert(0, e)`, does it work as expected?

[2017-03-15 16:56] zjqzero opened #1510 "Should support operator $mul"
[code]

missing 'mul'

[2017-03-16 19:03] apolkosnik commented on #1230
It looks like some change from 0.8.8 to 0.9+ caused the __get__() in ComplexBaseField class to go on a dereference spree for dicts().

[2017-03-17 17:59] bremac commented on #1509
Nope, `append` does not work either.

[2017-03-19 20:38] apollonin commented on #1491
Is this possible to use mongoengine in any way to avoid that deprecation warnings?

[2017-03-20 10:59] jonathan-s opened #1512 "Saving instance variables not possible when using signal"
The way signals is set up it looks like it's not possible to save instance instance variables with signals. In the example given in the [documentation](http://docs.mongoengine.org/guide/signals.html#attaching-events) class methods are being used which are then attached to the `mongoengine.signals` module.

In my use case I would like to be able to store some instance variables for the instance, bu

[2017-03-20 15:42] kkyon opened #1513 "filed be added prefix with class name?"
Hi ,
 For model:

class Product(Document):
     ___mx=ListField(StringField())

  ___mx is changed to _Product ___mx  , caused FieldDoesNotExist Exception in my application.
 is it  the excepted behavior?
is there any option to turn the feature off?

[2017-03-20 16:25] jonathan-s commented on #1512
This has been resolved since I realized that you actually have access to the instance through the variable called `document`

[2017-03-20 16:25] #1512 closed

[2017-03-21 03:11] userlocalhost commented on #1509
Hi,

I wanna challenge to solve this.
As a first step, I'll show the cause of this problem and tentative way to avoid it.

Because mongoengine simultaneously performs a plurality of update processes for the same field internally, an exception of `pymongo.errors.OperationFailure` is occur.
([Here](http://stackoverflow.com/questions/9823140/multiple-mongo-update-operator-in-a-single-statement) is ex

[2017-03-21 03:55] joncutrer opened #1514 "Ability to use EmbeddedDocumentField in fields other than ListField"
I have the following Embedded Document

[code]

And embed it into this Document

[code]
This works, but the PostalAddress is stored inside an array

[code]

I want the ability to add only one EmbeddedDocument without the [] square bracket array as follows.

[code]

Not sure if this can be accomplished with the existing implementation.  Let me know if I need to clarify further.

[2017-03-21 04:34] joncutrer commented on #1514
For context This is in Flask-Admin

I solved my issue,  I was needing to use EmbeddedDocumentField

[code]

[2017-03-21 04:34] #1514 closed

[2017-03-22 06:54] mikeckennedy opened #1515 "Provide hook for bidirectional relationship for embedded items?"
Hi everyone, great work on MongoEngine.

Here's something I have yet to find but really want. The ability to have a function called after the object is created and restored from MongoDB but not yet returned from the query. I think this would be super useful.

Something like:

[code]

Here's my use-case. I have two classes:

[code]

[code]

I want to associate the section back with it's owning chap

[2017-03-23 04:19] hirodeng commented on #323
@wojcikstefan Your solution seems right, but it seems strange to me that the update method updates the document in the database directly, so you use reload to update the python object after that. This is different to what the from_json method do, which modifies the python object first and then save() to the database. What I am looking for is a method that also modifies the python object first and

[2017-03-24 03:06] geasyheart opened #1517 "DecimalField inc error"
[code]

[2017-03-27 05:39] hieu-n opened #1518 "order_by has problems with default values"
Version:

My model:

[code]

I has about 1500 `Product` documents. I tried to sort them by `sequence`. However, it does not seem to work as I expected.

My query:

[code]

I inspect my collection in MongoDB by using PyMongo:

[code]
I suspected the `default` values weren't inserted into MongoDB and reread the document again:

So the `default` is set/calculated at Python level, but not actually ins

[2017-03-27 20:46] amcgregor commented on #1467
Unfortunately, use of MongoEngine itself turns application code into spaghetti if trees.  Something I'm sad I missed was the unfortunate practice of wholly overriding `__init__` on certain subclasses, such as `ReferenceField`, making my solution not evenly applied to all field types.  Regardless of the merits of either approach, consistency is the one thing I look for.

[2017-03-27 21:21] spitzbubchen opened #1519 "reverse_delete_rule PULL not working on self reference fields"
Using the following model:

[code]

and appending a child so that print of record.children looks like:
`[<Record: my record>]`

and then deleting the child results in print of parent record.children becoming:
`[DBRef('record', ObjectId('58d98058b6697b29544fef21'))]`

It seems that the child is not being pulled from the parent upon deletion....???

[2017-03-29 02:33] hieu-n commented on #1518
I just updated with some more information. My apologies for filing this issue in a rush.

Regards,
Hieu

[2017-04-01 02:26] largetalk opened #1521 "cannot connect to database"
when i use mongoengine ( 0.11.0) + pymongo (2.8) to connect mongo(3.2.4)
my connect host is 'mongodb://xxx:xxxx@dds-bp16c0bce8b9141.mongodb.rds.aliyuncs.com:3717,dds-bc1b48a576e8b9142.mongodb.rds.aliyuncs.com:3717/xxxx?replicaSet=mgset-2710585'

but i meet the following error

[code]

[2017-04-01 14:52] ripperdoc opened #1522 "Dereferencing causing TypeError at first run"
This is a peculiar error that seem to have appeared since I upgraded to 0.10.6. I use a pagination library that calls select_related() on the QuerySet. The first time this happens at each execution, this causes a TypeError from PyMongo. The error disappears at subsequent requests, but re-appears if I restart the process.

Digging into the code, the problem occurs at `mongoengine/dereference.py", l

[2017-04-02 16:04] Olamyy opened #1523 "When exactly is a _dynamic_fields error raised?"
I'm attempting to debug an application to which I keep getting a `AttributeError: _dynamic_fields`.
Can someone tell me when or why exactly the error is raised?

[2017-04-04 05:53] boazin commented on #1446
Any news about this? Any workaround?

[2017-04-04 08:44] efazati opened #1524 "Bad Performance with querying database"
Hi, I have document with bad performance. I used some profiler
and you can see result

[code]

I use pymongo for same query and load in 0.3 sec
what is problem?

[2017-04-04 11:11] efazati commented on #1524
[code]
vs

`product_list = db.product.find(product_list._query)[:8]`

is there any way to make better? I used mongoengine 8.2 upgraded to last version but nothing goes better

[2017-04-05 10:26] bagerard opened #1525 "Forbid to set attribute after (Embedded)Document gets initialized"
Hi,
We have a decent code base that uses mongoengine and a few times, we had the issues when renaming attributes that some places weren't updated in the code and that it was silently "failing" (it was setting an attribute that is no longer a field and is simply ignored silently when .save()). In our code base we are never setting attribute after Document gets initialized.

The following is what we

[2017-04-05 14:45] jonathan-s commented on #1521
I'm having the same problem.

[2017-04-05 15:51] wojcikstefan commented on #1521
Hi guys, does the issue persist if you try the latest master? If so, could you modify https://github.com/MongoEngine/mongoengine/blob/63206c3da29d085246ba440a314e50a96d0532b0/mongoengine/connection.py#L214 to just say `raise`? I haven't been able to reproduce the problem on my side.

[2017-04-05 16:10] jonathan-s commented on #1521
@wojcikstefan

The traceback is the following when I get the results with raise. This is on the latest version 0.11.0 rather than master though:

```File "/home/vmagent/app/lib/mongoengine/connection.py", line 252, in connect return get_connection(alias) File "/home/vmagent/app/lib/mongoengine/connection.py", line 211, in get_connection _connections[alias] = connection_class(**conn_settings) File

[2017-04-05 16:48] jonathan-s commented on #1521
@wojcikstefan Master doesn't seem to have that issue. So would be great if a new version is released :)

[2017-04-07 08:35] largetalk commented on #1521
@wojcikstefan thanks for reply

[2017-04-07 14:24] wojcikstefan commented on #1521
https://github.com/MongoEngine/mongoengine/releases/tag/v0.12.0 will be released shortly. Thanks for reporting and troubleshooting the issue @jonathan-s & @largetalk ! Keep them coming :)

[2017-04-07 14:24] #1521 closed

[2017-04-07 14:29] wojcikstefan commented on #1524
Hi @efazati, thank you for this detailed report! Unfortunately, current performance of MongoEngine is suboptimal, especially in terms of deserializing large documents. See https://github.com/MongoEngine/mongoengine/labels/Performance for a list of similar reports. I'll be working on this shortly, but I'm happy to accept help if you have any ideas about speeding things up.

[2017-04-09 20:07] Cologler opened #1526 "[BUG] EmbeddedDocument.__hash__ is None."
python: 3.6.0
mongoengine: 0.12.0

[code]

![picpick-20170410-041010-001](https://cloud.githubusercontent.com/assets/10906962/24840668/9fb31e9e-1da3-11e7-81c2-c3c78164dc57.png)

[2017-04-12 23:51] wendy0402 commented on #1388
hey @BenCoDev , can you share your strategy for this kind of case?

[2017-04-13 02:57] bowlofeggs commented on #1445
I am seeing what is probably these same test failures on Fedora Rawhide with mongodb 3.4.3:

[code]

This is with mongoengine 0.12.0.

[2017-04-13 11:30] KeironO commented on #529
Was this ever implemented?

[2017-04-13 16:19] KeironO commented on #1442
Hey there,

I stumbled across this earlier today, and I'm having issues implementing the solution in https://github.com/MongoEngine/mongoengine/issues/1442#issuecomment-269256499.

So, I have the following data-set.

[code]

I have the following ```mongodb``` query that returns ```[M+Cl]1-``` from the above example.

[code]

However, when I attempt to implement it in my code - using your solution:

[2017-04-16 17:58] #1228 closed

[2017-04-17 00:13] wojcikstefan commented on #1228
@kengruven thanks for reporting this! The fix for the issue is in the v0.13.0 release.

[2017-04-17 00:19] wojcikstefan commented on #1519
Hi @spitzbubchen, thank you for reporting this! Could you submit a PR with a failing test case?

[2017-04-17 00:24] wojcikstefan commented on #1522
Hi @ripperdoc! Thank you for reporting this issue. Could you share what your document's schema is? And does calling `select_related()` on its query set *always* fail the first time? If so, are you able to reproduce the problem in a unit test?

[2017-04-17 01:10] wojcikstefan commented on #1526
Hi @Cologler, thanks for reporting this. The reason for this is that in Python 3.x "a class that overrides `__eq__()` and does not define `__hash__()` will have its `__hash__()` implicitly set to `None`" (https://docs.python.org/3.6/reference/datamodel.html#object.__hash__). In Python 2, `EmbeddedDocument` simply inherited the `__hash__` from `BaseDocument`. In Python 3 it doesn't. The simplest fi

[2017-04-17 01:29] wojcikstefan commented on #1526
@Cologler take a look at #1528 - does this make sense to you?

[2017-04-17 04:54] Cologler commented on #1526
[code]

Should be immutable.

Or just `raise NotImplementedError('You should implement by yourself.')`

[2017-04-18 09:55] ae86jack commented on #1111
Take a look at https://github.com/Scille/umongo
$ pip install umongo[motor]

[2017-04-18 09:56] ae86jack commented on #351
Take a look at https://github.com/Scille/umongo
$ pip install umongo[motor]

[2017-04-18 13:20] d1skort opened #1529 "Name of text index"
Is it possible to set name of text index?

I have nearly 10 fields which I want to use in text index and I can't, because limited by index name length https://docs.mongodb.com/v3.2/reference/limits/#Index-Name-Length

Also, I don't want to use Wildcard index

Thanks!

[2017-04-18 19:51] celestian02 commented on #1236
Hi. Any news on this ? It seems like the bug is still there.

[2017-04-20 17:14] quique0194 opened #1532 "DateTimeField casting empty string as today"
Here is a piece of code explaining my point. Intuitively, empty string should be casted to None, not today.
[code]

[2017-04-21 00:26] wojcikstefan commented on #1532
Hi @quique0194 are you sure you're on the latest MongoEngine? What you're describing doesn't match the behavior I'm experiencing:
[code]

[2017-04-21 00:52] wojcikstefan commented on #1526
Even though `object.__hash__` would produce a reliable hash, it might not be what the developers expect (i.e. you might expect an embedded doc with exact same keys/values to be de-duped in a set). As for the latter suggestion, implementing a `__hash__` means that the object is considered hashable, which can lead to issues, too, if anybody does an `isinstance(obj, Hashable)` check. I'm tempted to k

[2017-04-22 00:20] quique0194 commented on #1532
I have mongoengine==0.13.0 and MongoDB v3.4.4

[2017-04-22 00:33] quique0194 commented on #1532
I think the problem happens because in my version of python (2.7.12):
[code]

[2017-04-22 00:47] quique0194 commented on #1532
Actually I already created a PR https://github.com/MongoEngine/mongoengine/pull/1533

[2017-04-22 10:01] kushalmitruka opened #1534 "`pull` not working for EmbeddedDocumentListField, only working for ListFields"
Hi,
I am using mongoengine. I have came across a weird issue when I was trying to use `pull` and `push` for ListFields and EmbeddedDocumentListFields. I realised it is a issue in mongoengine (according to me). The issue is one cannot do a pull query from a EmbeddedDocumentListField but can do the same in ListField.

I traced down this issue and found in `mongoengine.queryset.transform.update()` ha

[2017-04-23 10:18] MohamedShawky opened #1535 "django and mongoengine authentication"
i want to development a web application based on django and mongodb database
and am using angular as afrontend
i need a working  exapmle using this techology
please help me

[2017-04-23 12:40] ArtemBernatskyy opened #1536 "GridFS file_object.read() returns 0 bytes if file is larger than 50mb"
Hello i am using mongoengine with Flask-RESTful
Here is my [requirements](https://pastebin.com/raw/gph0qyG4)
[code]

So when i am downloading files from GridFS less than 50 mb it works fine.
If larger then make_response return 0 bytes (but files are actually are in database)
P.S. i am using FileField in EmbeddedDocument

[2017-04-26 07:15] c0n71nu3 commented on #607
I have a very similar issue which I have asked here :
http://stackoverflow.com/questions/43626773/connection-not-getting-created-to-the-new-dbname-in-mongoengine
And haven't really been able to figure out a solution to it so far :(

[2017-04-26 10:25] tejinderss opened #1537 "Don't look up document in registry for DBref=true references"
I have a use case where I am using 2 different microservices to talk to each other, I want to access 'User' collection from db 'A' and mongoengine is registered in second application with db 'B' and it doesn't have access to other service's source code, so importing the class is not an option here. Is there a possibility of passing 'db' name to dbref in reference field and not looking it up in doc

[2017-04-26 16:54] LucaPaterlini opened #1538 "transactions"
Hello, I'm trying to create a transaction on two tables.

Where I should find a tutorial to do so?

# db atomic section
update table 1
update table 2
# end db atomic section

[2017-04-26 19:19] Kobnar commented on #167
Not to necro-bump, but I have a use case:

I am writing a personal citation management tool that keeps track of metadata for various sources (books, articles, podcasts) of various types. MongoDB/MongoEngine is a good fit for this project because I can have all of these sources in a single "Sources" collection.

My inheritance model looks something like this:

[code]

Obviously, different sources c

[2017-04-26 19:52] Kazy opened #1539 "Dereference using the class name instead of the collection name when fetching object"
I encountered an issue with a DBRef inside of a DictField. This is with a DBRef as described here: https://docs.mongodb.com/manual/reference/database-references/#dbref-explanation, with an `_id` field an a `_ref` field. As written, the `_ref` field references the collection name. Or at https://github.com/MongoEngine/mongoengine/blob/d8b238d5f172ec058952046b50921d879e7bc826/mongoengine/dereference.

[2017-04-27 23:18] dere commented on #549
I ran into this issue as well and surprisingly Google searches for this found nothing.

But you would be open to a pull request? Because I'm very interested in a pull request for this feature.

[2017-04-30 01:23] wojcikstefan commented on #1538
Hi @LucaPaterlini. Unfortunately MongoDB (and hence MongoEngine) doesn't support transactions. See https://docs.mongodb.com/manual/tutorial/perform-two-phase-commits/ for a potential workaround.

[2017-04-30 01:23] #1538 closed

[2017-04-30 15:44] wojcikstefan commented on #549
Hi @dere! Before anybody starts working on a PR, it might make sense to discuss the high-level behavior we'd desire from `to_json` and the use cases for it.

People's problem with `to_json` is that it returns the data as it's stored in the database. There is no similar built-in method for generating a JSON which would format the fields and values as they appear in the MongoEngine doc. If we'd want

[2017-04-30 17:30] #1526 closed

[2017-04-30 19:38] #1260 closed

[2017-05-01 00:27] wojcikstefan commented on #1446
Full history of the issue: Previously, `ensure_indexes` could be called many times over because PyMongo maintained a local cache of the indexes with a TTL of 5 minutes (see their [v2.8 docs](https://api.mongodb.com/python/2.8/api/pymongo/collection.html#pymongo.collection.Collection.ensure_index)). Then, that method was deprecated and instead you could use `create_index` with a `cache_for` param (

[2017-05-01 04:51] mindojo-victor commented on #357
@wojcikstefan I agree with your suggestions. What about also removing field arguments related to indexes, so that all index info would be in one place -- `_meta` (not sure how to deal with primary)?

[2017-05-02 09:20] efazati commented on #1524
@wojcikstefan I know its not the best solution
but i handle somehow with external class i wrote
https://github.com/efazati/MonRead/blob/master/monread.py

again i know its not the best way. but i think just for query, this method can be helpful

[2017-05-02 09:47] dere commented on #549
I don't believe anyone was suggesting to change the serialization behavior of mongoengine *values*, just the name of the `_id` field when there is a primary key. There seems to already be support for this by passing `use_db_field=False to `to_json()`:

Notably this is missing from the API Reference page on the documentation site. At a minimum, this should be added to the webpage. I think changing

[2017-05-02 18:58] mjmonroe commented on #1443
If you use an empty Object, then MongoEngine 0.13.0 will fill in the object with default values defined in the EmbeddedDocument. This could be a workaround until the pull request #1470 is accepted.

[2017-05-04 05:13] apolkosnik opened #1542 "Issue with wrapped DictField"
Before mongoengine 0.12, an app that had the following in a class defining the schema:

results = ListField(DynamicField(DictField))

After upgrade to 0.12 it was throwing an error, but if I changed to it to:

results = ListField(DynamicField(dict))

it works again...

Is that something that was done by design or is that a bug?
Thanks!

[2017-05-04 05:30] apolkosnik opened #1543 "support connecting to the database via unix socket?"
Is there some weird reason why connecting via unix socket is not supported?
I suppose it would provide a much lower latency among other things.

[2017-05-04 07:34] lanfon72 opened #1544 ".to_json() didn't skip default values when query with .only()."
here is the sample:
[code]
expect output:
```>>> '"_id": {"$oid": "object id"}, "a": "a"}'```
**actual** output:
```>>> '"_id": {"$oid": "object id"}, "a": "a", "b": "B", "c": []}'```

Maybe we should keep `__only_fields`(in created) as a default fields for `to_mongo()` ?
And I think `to_json()` should add **fields** kwargs to propagate for `to_mongo()`.

[2017-05-04 09:19] TamarNevo opened #1545 "When updating existing document and document was deleted before the save, a partial document is created"
To reproduce, use the following steps:

1. user 1 reads document 1 (or - read document 1 into variable v1)
2. user 2 reads document 1 (or - read document 1 into variable v2)
3. user 1 deletes document 1 (or - perform v1.delete())
4. user 2 updates one field in document 1 (or - change value of one field in v2, and perform v2.save())
The result is - document 1 is re-created with only one field.

The

[2017-05-05 16:37] AlanKavanagh opened #1546 "Queryset aggregate passes a cursor to pymongo resulting in an error."
`OperationFailure: unrecognized field "cursor`.
Seems to be caused here https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/queryset/base.py#L1185

I don't think it is necessary to pass a default cursor as pymongo initializes it if necessary regardless.

Thanks in advance.

[2017-05-05 22:06] bagerard commented on #1496
I observed this as well 2 years ago and stopped using the no_dereference as a context manager

[2017-05-06 03:50] AlanKavanagh commented on #1546
Caused by a later version of pymongo(>2.9) being used. Will close, apologies.

[2017-05-06 16:41] wojcikstefan commented on #1546
Hi @AlanKavanagh. We'd want to support all recent PyMongo versions, so if you're experiencing an issue with it, it's definitely something we'd want to look into. What version exactly were you using?

[2017-05-06 18:58] AlanKavanagh commented on #1546
Hey @wojcikstefan  I was using version 3.4, this issue seems to be that the curson kwarg passed in when invoking aggregate is also passed to the BSON library and blows up as it doesn't expect the key word argument cursor.

[2017-05-07 22:07] wojcikstefan commented on #1543
Hi @apolkosnik! Can you elaborate on what particularly isn't working? A simple unix socket connection seems to work fine for me on the latest master:

[code]

[2017-05-07 22:11] wojcikstefan commented on #1545
Thank you for reporting it @TamarNevo! That said, there already exists an issue for this problem: #564 (consider leaving a thumbs-up on it).

[2017-05-07 22:11] #1545 closed

[2017-05-07 23:42] wojcikstefan commented on #1509
Building on top of @bremac's example, the main issue is that setting a value *during* and *after* instantiation of the embedded doc produces different update docs, the latter causing an update conflict:

[code]

[2017-05-08 00:30] wojcikstefan commented on #1542
(looping in @userlocalhost whose PR (#1497) introduced change)

@apolkosnik I believe your previous definition "worked", but not as you expected. Prior to #1497, `DynamicField` didn't have an overridden `__init__` and hence was using its parent's (`BaseField.__init__`), where the first argument is a `db_field`. A `db_field` value of `DictField` is clearly wrong, and it's just pure luck that it did

[2017-05-08 01:30] wojcikstefan commented on #1542
Having inspected #1497 more closely, I reverted it. @apolkosnik to ensure a valid code both now and in the future, define `results` as `ListField(DynamicField())`.

[2017-05-08 01:30] #1542 closed

[2017-05-08 01:39] wojcikstefan opened #1548 "Bring back pypy3 tests"
They were temporarily removed in 33e9ef2, because Travis updated the `setuptools` version they use and it doesn't support Python v3.2 anymore (which current pypy3 is compatible with).

[2017-05-08 01:40] wojcikstefan commented on #1548
https://github.com/travis-ci/travis-ci/issues/6277

[2017-05-08 02:35] apolkosnik commented on #1542
Thanks for guidance

[2017-05-08 04:02] #563 closed

[2017-05-08 04:21] wojcikstefan commented on #1537
Hi @tejinderss that's an interesting setup. Just to make sure I understand your use case, application 1 connects to db A and defined a few documents. Application 2 connects to db B and defines a few others. However, you'd want to re-define User in application 2 and point that particular document to db A. All of the queries (including references) should automatically fetch from the right database.

[2017-05-08 05:53] TamarNevo commented on #564
I'm currently using a workaround of calling save() with save_condition = {}. This causes the upsert to be False. Note that setting the pk of a new object must be done during init. otherwise the document is marked as existing and the save will fail.

[2017-05-08 08:03] AlanKavanagh commented on #1546
I have reopened this as the issue still persists with the pinned version of pymongo in the requirements

[2017-05-08 18:29] apolkosnik commented on #1543
It appears that it works this way all the way back to 0.8.8 (which still has 2x performance of anything in 0.9 and 0.10+ branches). I didn't try passing a path to the socket as host, instead I tried using URI (like the things were done with mock, etc), which was failing in unexpected ways. It would be great to spell that out in the docs.
Thanks again!

[2017-05-08 18:29] #1543 closed

[2017-05-10 12:06] bahmany commented on #802
Hello, is there any update ?

[2017-05-11 14:05] wojcikstefan commented on #802
Hi all! Django support has been split into its own repo with a separate set of maintainers, see http://docs.mongoengine.org/django.html. Feel free to open the issue there.

[2017-05-11 14:05] #802 closed

[2017-05-11 14:20] wojcikstefan commented on #167
Hi @Kobnar, thanks you very much for a detailed description (and please necrobump by all means!) :)

Do I understand correctly that your primary issue is that you can't expose API endpoints that allow you to traverse and perform CRUD operations on a specific *subtype* of a source? If so, I bet there's a way to do it in Pyramid - we do something similar at my company where we have one big `activity

[2017-05-11 14:47] Kobnar commented on #167
@wojcikstefan I think you pretty much nailed it on all counts.

TBH I already forgot the specific thing I needed to do with this kind of promotion/demotion. It seems easier to shift around my own application to manage this kind of thing, rather than dig through mongoengine to figure out a highly generalization solution. Besides, sub-types are never changing in my application (especially not betwee

[2017-05-12 05:39] meain opened #1552 "Give proper error messages"
Trying to save an `EmbeddedDocumentField` says `NoneType` cannot be saved.
Shouldn't it be rather `EmbeddedDocumentField` cannot be saved ?

[2017-05-12 13:54] hygull commented on #21
Look at the following code snippet, it will clarify.
`class Post(models.Model):
	""" A model that defines the structure of Post"""

	title = models.CharField(max_length=50, blank=False)
	description = models.TextField()
	pic = models.URLField(max_length=1000) #default max_length is 200
	created = models.DateTimeField(auto_now_add=True, auto_now=False)
	updated = models.DateTimeField(auto_now_add=F

[2017-05-19 09:36] thibautfrain opened #1554 "Changing default setting of required parameter for BaseField"
On my project, I want almost all the fields of the documents to be required, and so I have to put the parameter `required=True` for almost all the fields. I want to be able to change this default and can specify only the fields that I want to be optional.

Maybe the behavior that I seek, breaks the philosophy behind mongodb and mongoengine, as I'm new to both ones.

Maybe we can add a setup to cha

[2017-05-21 16:33] ethe opened #1555 "Is there any plan for mapping aggregate result to object?"
I find that using aggregate in mongoengine stills return MongoDB raw query result rather than model instance, is there any plan to enhance it?

[2017-05-24 07:22] stephen-talari opened #1556 "connect() is not making use of registered connections"
In a test file, i tried to register 3 connections

[code]
After this step, i looked into all private variables of `connection.py` and this is how they look
[code]
In the next line i tried to connect to one of the registered connections
`connection.connect("dbone", alias="aTWO")`

After this call, following are the values  of private variables

[code]
A connection got created in `_connections` but

[2017-05-25 16:08] stephen-talari commented on #1556
model classes by default try to use `default` connection setting. We can switch db connection in model class by adding  `meta = {'db_alias': 'aliasname'}`. Still not clear why connect() will not use the existing connection settings.

[2017-05-25 16:08] #1556 closed

[2017-05-26 09:46] sathisz commented on #950
I am using django 1.11 , python 3.5, mongoengine 0.13.0, pymongo-3.4.0 same error

[2017-05-29 14:22] srinivasreddy commented on #1532
can be closed safely ?

[2017-05-29 22:15] quique0194 commented on #1532
Yes please :)

[2017-06-01 14:33] #1532 closed

[2017-06-02 14:45] mlorant commented on #1445
Any news? My CI platfrom upgraded default Mongo version to 3.4 and all my tests that creates mongo objects now fails with similaire exception:

[code]

Worked fine with previous versions of Mongo

[2017-06-02 19:37] dblado opened #1560 "update(add_to_set) on a ListField(CachedReferenceField) only includes the _id"
Modifying existing CachedReferenceField test code to test a ListField(CachedReferenceField()) using doc.update(add_to_set__animal=animal_instance) results in the _id being in the list. None of the cached fields made it.

[code]

[2017-06-03 00:07] dblado opened #1561 "ListField(CachedReferenceField) does not auto sync"
Extending on #1560 I discovered that Lists of CachedReferenceField do not receive the updates to the cached fields when the master record is updated.

[code]

[2017-06-04 06:11] labroid commented on #244
Having now been bitten twice (can't use 'id' and can't update 'size'), can we at least have a list of things we can't use until this is fixed?  Right now I find out what doesn't work when a new field name shows up and mongoengine crashes...

[2017-06-07 17:30] ScriptProdigy commented on #1171
Any word on this feature?

[2017-06-11 03:52] erdenezul commented on #1510
When I have use unsupported operators, or something I just use raw method like this
`
Document.objects(
                    id=id
                ).update(
                    __raw__={
                        '$push': {
                            'location': {
                                '$each': [new_value],
                                '$position': 0,
                            }

[2017-06-12 16:07] mikeckennedy opened #1563 "Feature request: Automatic optimistic concurrency validation"
Hi guys,

I see the Document.save method takes a `save_condition` dict. With a very minor change (basically a new subclass of Document and a convention) this could automatically enforce and verify that it is safe to save the document.

I put together an example, but it's not as a PR because I'm not sure the best way to fit it into your object hierarchy. Basically, Document does not allow subclassi

[2017-06-13 02:28] erdenezul commented on #1518
Can I work on this?

[2017-06-15 02:11] Davidrjx commented on #1535
@MohamedShawky i am also working with djando and mongodb without angular.
In my django, i use mongoengine as DOM for interaction with MongoDB.
As for authentication/session, currently no existing good products seems to support these extensions perfectly or officially.

[2017-06-15 06:08] erdenezul opened #1565 "support position in mongo $push update"
The $position modifier specifies the location in the array at which the $push operator insert elements. Without the $position modifier, the $push operator inserts elements to the end of the array.

[2017-06-15 09:17] erdenezul commented on #1534
Can you provide sample of your code in order to get error and understand your problem fully. If you show the code sample, someone would be able to help.

[2017-06-15 14:24] kushalmitruka commented on #1534
Hi, I am glad that you replied. Below is the code snippet which I was using and found this issue.
[code]
[code]
Now I an performing certain operations where I came across this issue -
`comp = Company.objects.first()`
`add_1 = Identity.Address()`
`comp.update(push__company_ids__address=add_1)` <-- Runs fine
`comp.update(pull__company_ids__address=add_1)` <-- throws Operation Error

This is the Exac

[2017-06-16 02:52] erdenezul commented on #1534
mongo_update value for push operation
`{'company_ids.address': SON([('pincode', u'1234'), ('city', u'UB')])}}`
mongo_update value for pull operation
`{'$pull': {'company_ids': {'address': SON([('pincode', u'1234'), ('city', u'UB')])}}}`

In my opinion, these values are supposed to be same, then it is considered as a bug.
You should send PR, let the contributors decide if it's merge or drop. Otherw

[2017-06-16 03:09] Vayel opened #1568 "Add validators to a field"
Hi!

It would be convenient to be able to add validators to a field, like [in Django](https://docs.djangoproject.com/en/1.11/ref/models/fields/#validators). The argument would be a list of callables raising an exception if the value of the field is invalid.

For instance, I could have this:

[code]

Thanks!

[2017-06-16 03:29] erdenezul commented on #1536
I tested it with 85MB file. I think problem is in the make_response method which is not related to MongoEngine.
` from mongoengine import *
  connect()
  class User(Document):
       username = StringField()
       user_file = FileField()

  user = User(username="admin")
  user_file = open('large.gz', 'rb')
  user.user_file.put(user_file, content_type="application/x-gzip")
  user.user_file.close()

[2017-06-16 08:18] ArtemBernatskyy commented on #1536
Ok, i am closing ticket for now and report it to the Flask team.

[2017-06-16 08:18] #1536 closed

[2017-06-16 17:54] chromaticgliss opened #1569 "Document.modify() fails on sharded collections"
Recently had a snippet like this that started failing after we sharded our collection.

DocumentExample is a mongoengine Document, with the shard key defined in its meta property as the docs suggest.

[code]

This was failing with the following exception:

[code]

In order to fix we included the Document's `_object_key` property, which includes the shard key, as a query argument.

[code]

Perhaps

[2017-06-18 23:51] wojcikstefan commented on #1569
Hi @chromaticgliss, thank you for reporting this. It definitely looks like a bug - the shard key should be included in the `modify` operation by default. Do you have some capacity to submit a PR?

[2017-06-19 00:26] wojcikstefan commented on #1275
Fixed by #1553

[2017-06-19 00:26] #1275 closed

[2017-06-19 01:45] wojcikstefan commented on #1563
Hi @mikeckennedy, thank you for writing this up. Your idea for dealing with multiple concurrent updates is pretty much the same as MongoDB's ([see the docs](https://docs.mongodb.com/ecosystem/use-cases/metadata-and-asset-management/#procedure),  they just call the helper field a `nonce` and you call it `_doc_ver`).

You can accomplish this behavior by subclassing the `Document` and overriding its

[2017-06-19 01:50] wojcikstefan commented on #1555
Hi @ethe! I suspect that this is a dupe of #695. Could you close this issue and then on that one share:
1. The schema you're using.
2. The exact aggregation you're doing.
3. What you're getting back.
4. What you'd expect to get back instead.

[2017-06-19 01:51] wojcikstefan commented on #1552
Hi @meain! Would you please share the schema you're using and the exact scenario in which you're getting that error?

[2017-06-19 02:12] wojcikstefan commented on #1518
Hi @hieu-n! Did you create the docs before adding the default value to the schema? If the default was there, the values should've been saved in the database. I confirmed the latest MongoEngine does the right thing:
[code]

If the value does not exist in the database, I'm afraid there's nothing we can here (sorting client-side by default would be a killer for performance).

[2017-06-19 03:02] meain commented on #1552
@wojcikstefan  Sorry, it was actually for `EmbeddedDocument`

[code]

[code]

[2017-06-19 03:41] erdenezul commented on #1568
@wojcikstefan can I work on this?

[2017-06-19 05:02] erdenezul commented on #1552
embeddeddocument supposed to be not to call save method. Moreover, it should not have save method. both weird.

[2017-06-19 05:05] erdenezul commented on #1552
we should remove save() method from EmbeddedDocument class. I can submit PR

[2017-06-19 05:26] erdenezul commented on #1544
Using mongoengine==0.14.0. it is behaving fine.
In [1]: from mongoengine import *

In [2]: connect()
Out[2]: MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True, read_preference=Primary())

In [3]: class T(Document):
   ...:     a = StringField()
   ...:     b = StringField(default="B")
   ...:     c = ListField()
   ...:

In [4]: t1 = T(a='a')

In [5]: t1.save(

[2017-06-19 05:44] lanfon72 commented on #1544
[code]

here is the different.

[2017-06-19 05:50] erdenezul commented on #1519
<pre>
 def test_reverse_delete_rule_pull(self):
        """Ensure that a referenced document is also deleted with
        pull.
        """
        class Record(Document):
            name = StringField()
            children = ListField(ReferenceField('self', reverse_delete_rule=PULL))

        Record.drop_collection()

        parent_record = Record(name='parent').save()
        child_record = R

[2017-06-19 05:53] erdenezul commented on #1519
If I use this expression without reloading instance, it will fail obviously.
<pre> self.assertEqual(parent_record.children, [])
</pre>
is it still bug or what?

[2017-06-19 05:54] erdenezul commented on #1519
if it is still considered a bug, i am ready to submit PR :)

[2017-06-19 05:56] erdenezul commented on #1519
After I reloading instance, it seems reverse_delete_rule with pull worked. I think it is not a bug.

[2017-06-19 07:00] erdenezul commented on #1544
what version do you using?

[2017-06-19 07:05] erdenezul commented on #1544
t2[0] is not part of the queryset, then still behaving fine.

[2017-06-19 07:07] erdenezul commented on #1544
<pre>In [9]: t2[0]
Out[9]: <T: T object>

In [10]: type(t2)
Out[10]: mongoengine.queryset.queryset.QuerySet
</pre>

[2017-06-19 08:23] ethe commented on #1555
@wojcikstefan thanks.

[2017-06-19 08:23] #1555 closed

[2017-06-19 10:18] hieu-n commented on #1518
Thanks for the heads up. This is probably where the problem came from. I will check it again, later (pretty busy right now).

[2017-06-19 14:54] chromaticgliss commented on #1569
@wojcikstefan Not immediately, but perhaps in a few days I can find the time to make the fix.

[2017-06-19 15:31] mikeckennedy commented on #1563
Hi @wojcikstefan, thanks for the consideration on this feature.

It turns out this is much harder than you indicate in your steps unless I'm doing something wrong (possible, it's early).

Consider these two classes:

[code]

Seems totally straightforward. But running this code results in an error:

```ValueError: Document OptimisticDocument may not be subclassed```

That's why I did all those copy

[2017-06-19 15:55] wojcikstefan commented on #1563
Hi @mikeckennedy, you just need to add `meta = {'allow_inheritance': True}` to the `OptimisticDocument` and it will work. See this for more information: http://docs.mongoengine.org/guide/defining-documents.html#document-inheritance.

That said, I consider your confusion a bug on MongoEngine's side, because the error message could be more helpful, for instance `ValueError: Document OptimisticDocume

[2017-06-19 16:09] mikeckennedy commented on #1563
That's great. Thanks, it was totally non-obvious how to do this, exactly because the error seemed like a pure-python error.

I still think adding this class with overridden save method and added field would be worthwhile, especially if you added a save_condition to update.

[2017-06-19 18:30] wojcikstefan commented on #1563
Agreed that it's worth exploring. We just need to make sure there aren't any edge cases/inconsistencies that aren't covered or at least documented well in this new document class. If it can handle all the scenarios well and doesn't break/negatively affect any of the existing methods, then I'm fine adding it. But if it's not generic enough, it might actually be better to leave it to the developer t

[2017-06-19 20:59] mclate commented on #298
This is very needed update. Is there any progress on this one? (Also wonder if it would be possible to check whether field is a reference proxy like it was possible to check via `isinstance(field, DBRef)`?)

[2017-06-20 08:17] erdenezul commented on #1519
@wojcikstefan any thoughts?

[2017-06-22 06:04] Davidrjx opened #1573 "is authentication_source argument useless for get_connection in connection module?"
Is authentication_source argument useless in current module, even whole project?
while connection_settings do not pop authentication_source but conn_setting does, so what to do checking for shared connections?

[2017-06-22 09:19] alon commented on #1259
Cannot reproduce in version 0.11.0 (mongoengine.__version__) on python 2.7.13 (Fedora 26)

Closing

[2017-06-22 09:19] #1259 closed

[2017-06-25 11:19] NiklasRosenstein commented on #1236
Get the same behaviour here with MongoEngine 0.11.0.

* `save(cascade=True)` doesn't actually seem to do cascade saving (still gives the same errors as without `cascade=True`)
* `save_cascade()` does not save the document itself

[2017-06-26 11:25] NiklasRosenstein opened #1574 "InvalidDocument with werkzeug.local.LocalProxy"
I'm in a Flask application and have a proxy to a `Document` instance. When I pass this instance to the value of a `ReferenceField`, it can not be saved and results in `bson.errors.InvalidDocument: Cannot encode object: <User: User object>`.

Example:

[code]

Could we implement something to support proxies like this? That would greatly enhance the readability of the application as otherwise I'll n

[2017-06-26 11:43] NiklasRosenstein commented on #1574
Comparing a LocalProxy to an actual Document also only works in one direction.

[code]

[2017-06-27 10:33] marceltschoppch opened #1577 "mongoengine==0.14.0 not on PyPI"
The latest release on the Python Package Index (PyPI) is mongoengine 0.13.0. Is there a reason the latest release 0.14.0 is not yet available?

[2017-06-27 10:40] wojcikstefan commented on #1574
Hi @NiklasRosenstein ! Thanks for this detailed writeup. One thing I'm definitely against is to make mongoengine depend on werkzeug and pollute its code with checks for `LocalProxy`. Do you have any ideas how to solve the problem without that?

For example, in the `BaseDocument.__eq__` function, we make sure that we're comparing the same classes of documents (see https://github.com/MongoEngine/mon

[2017-06-27 11:27] Davidrjx opened #1578 "possibly invalid read_preference update/setting in uri options"
As for host uri like "mongodb://host1,host2,host3/?replicaSet=setnm&readPreference=Secondary",
by parse_uri function, result is a uri_dict with  such keys as nodelist, username,options ,and no read preference that actually resides in uri_options dict.
However, when read_preference to be update, read_preference is accessed from uri_dict , so that the option in uri is unavailable or invalid

[2017-06-28 19:00] medyagh opened #1579 "save doesn't work for datetime consistent with other fields."
I am new to mongoengine, but this doesn't make any sense to me, that when I call my my_update() function, the user's updated_at field doesnt get updated but other fields do. here is my model:

[code]

when I do a save, it saves the new friend_list correctly but it keeps the old updated_at field, and that one will never get updated again.

[code]
so if I run my_update a few times, it will update th

[2017-06-29 01:28] #1573 closed

[2017-06-29 01:30] erdenezul commented on #1579
please make sure use an atomic update

[2017-06-29 01:33] erdenezul commented on #1579
it would not be a problem in a case of using an atomic update.

[2017-06-29 01:38] medyagh commented on #1579
how can I use an atomic update? I am very new I just followed the docs step by step.

[2017-06-29 01:40] erdenezul commented on #1579
<pre>
def my_update(user_id):
    ....
    User.objects(id=user_id).update(set__update_at=datetime.datetime.now())

</pre>

[2017-06-29 01:43] erdenezul commented on #1579
If documentation was not good enough, I would advise look tests(https://github.com/MongoEngine/mongoengine/blob/master/tests/queryset/queryset.py).
There is a ton of examples.

[2017-06-29 01:44] medyagh commented on #1579
sweet thanks a lot for the response, do you know the reason the Not Atomic one was not working was a bug or is it the way it is supposed to work ? I am trying to figure out if I am learning mongoengine correctly.

[2017-06-29 01:46] erdenezul commented on #1579
Its not about mongoengine thing, its related to mongodb.
MongoDB in Action book says "One tool you won’t want to do without is Mongo DB ’s findAndModify command.
This command allows you to atomically update a document and return it in the
same round-trip. An atomic update is one where no other operation can interrupt
or interleave itself with the update. What if another user tries to change the do

[2017-06-29 01:50] erdenezul commented on #1579
in your previous code, there may be a chance you return objects before updating fields. in a case of using an atomic update, there is no chance for it.

[2017-06-29 02:20] medyagh commented on #1579
@erdenezul I am sorry but it didnt work, it is really weird, when I do update it will update friend list but not updated_at ! here is my full code, (it is flask)

[code]

and here is my model
[code]

[2017-06-29 03:14] erdenezul commented on #1579
you need push operator in friend list

[2017-06-29 03:16] medyagh commented on #1579
@erdenezul but the firend list is working fine for now, the one that does NOT get updated is the updated_at field. why that one doesnt get updated?

[2017-06-29 03:18] erdenezul commented on #1579
<pre>
User.objects(id=user.id).update(set__update_at=datetime.datetime.utcnow(), push__friend_list="ss")
<pre>
working fine

[2017-06-29 03:21] erdenezul commented on #1579
<pre>
In [21]: user.update_at
Out[21]: datetime.datetime(2017, 6, 29, 3, 20, 40, 345000)

In [22]: user.modify(set__update_at=datetime.datetime.utcnow(), push__friend_lis
    ...: t='bb')
Out[22]: True

In [23]: user.update_at
Out[23]: datetime.datetime(2017, 6, 29, 3, 20, 59, 593000)

In [24]: user.friend_list
Out[24]: [u'ss', u'ss', u'bb']

</pre>

[2017-06-29 03:26] medyagh commented on #1579
I just used push for my friend_list and still the update_at wont get updated, when I call that function again. I have no idea why ! @erdenezul

[2017-06-29 03:27] erdenezul commented on #1579
@medyagh did you try modify?

[2017-06-29 03:27] medyagh commented on #1579
no I tried updated, I will try modify too, what are their differnces?

[2017-06-29 03:28] medyagh commented on #1579
ok I just tried modify, exact same problem. @erdenezul

[2017-06-29 03:30] erdenezul commented on #1579
<pre>
@app.route('/update/<string:user_id>')
def update(user_id):
    from random import randint
    from dumb import l_friends
    form = UserForm()
    user = User.objects.get_or_404(id=user_id)
    # this part just gets a random slice of a dum list so I can see it actually updated when I click.
    r1 = randint(0, 13)
    r_add = randint(1, 4)
      user.modify(set__updated_at=datetime.datetime

[2017-06-29 03:32] medyagh commented on #1579
I tried this like this
[code]

[2017-06-29 03:37] erdenezul commented on #1579
it should be fine though. i wish i help to you

[2017-06-29 03:40] medyagh commented on #1579
yeah I am stuck ... I wonder if it is becaue I am running mongodb from a container. mvertes/alpine-mongo

[2017-06-29 03:46] erdenezul commented on #1579
can you print updated_at value after you update or modify if it's working? how do you check its not working?

[2017-06-29 03:49] erdenezul commented on #1579
<pre>
class User(db.Document):
    username = db.StringField(required=True, unique=True, max_length=20)
    created_at = db.DateTimeField()
    updated_at = db.DateTimeField()
    friend_list = ListField(StringField(max_length=100))
    meta = {
           'ordering': ['-updated_at', '-created_at'],
           'indexes': [
                   ('updated_at', 'created_at'),
           ]
    }
</pre>

[2017-06-29 03:54] medyagh commented on #1579
oh I am so embarrassed, in my html templated, I had put created_at value for updated_at, I am so sorry for wasting your time, but I did learn a lot from you.
btw wht was the difference of update and modify ?

should I always just use update(set__stuff=stuff ) ?

[2017-06-29 03:55] erdenezul commented on #1579
@medyagh  shame on you :) hehe.
there is no much difference that I think. update would be fine.

[2017-06-29 03:55] medyagh commented on #1579
before I do atomic update, I had logging prints and it wasnt working, so for anyone who reads this issue in the future.

using Atomic updates helped me, because my fuction returns so much faster than storing in database.

Thanks a lot @erdenezul

[2017-06-29 03:55] #1579 closed

[2017-06-29 03:57] erdenezul commented on #1579
just remember use no_cache()
<pre>
users = User.objects.order_by('-updated_at', '-created_at').no_cache()
</pre>
for the future reference, in case of memory friendly.

[2017-06-29 17:30] amcgregor commented on #1047
In the process of executing on the Contentment ticket mentioned directly above I… accidentally my own ODM.  A large piece to this was ensuring a) lazy transformation to native types with field data stored in the foreign representation for transformation-free direct use with PyMongo (you "pay" only for what you access, and to-foreign transformations occur on assignment, not at save-time), and b) a

[2017-07-01 16:00] GNHua opened #1581 "Auto dereference a list of reference fields slow"
[code]

[code]

I have 2 simple collections, `Page` and `File`. They have a one-to-many relationship. A page can own many files.

I was trying to find out how fast the dereferencing is. So I made a `Page` document which owns 1000 `File` documents. First, I use `no_dereference()` to prevent auto dereference, then dereference them myself. Then, I just use the auto dereference in mongoengine.

My que

[2017-07-03 16:58] GNHua commented on #518
[code]

This is an example of search text in a list of embedded documents.

[2017-07-05 12:33] liujianspace commented on #1491
Mark

[2017-07-05 21:09] ronhanson opened #1583 "DatetimeField - how to accept values like "new Date()" or "new ISODate()""
Hi,
I would like to set a datetime value to, let's say, now, with now being the mongo's server current datetime.
Fact is that if we use python :

`obj.my_datetime_field = datetime.utcnow()`

The datetime will be calculate on the client site, at the time the value is set and pushed to the server.

But if I want the datetime to be server's time (often machines have shifted times) as a reference. The

[2017-07-05 21:54] ronhanson commented on #1583
Well actually, in this example I wrote earlier :

`obj.my_datetime_field = bson.code.Code("new Date()")`

This does not behave as expected as the value is not calculated but stored as a JS callable in the database, so date is always recalculated when queried :
[code]
See the date that changes... So it is always the now date and always gets recalculated...

But if I insert a document like this :

`

[2017-07-06 16:08] uelei commented on #1577
There is a date for that release ?

[2017-07-06 18:27] marceltschoppch commented on #1577
The release seems already done @uelei : https://github.com/MongoEngine/mongoengine/releases/tag/v0.14.0

[2017-07-07 10:01] Buckler89 opened #1586 "Manage field with unique=true and required=flase"
When i define a field with **unique=true** and **required=flase** as parameter, the validator doesn't permits to have 2 object with this field set None. There's a workaround for this?
Maybe it would be interesting to add this functionality to mongoengine, leaving to the developer to allow multiple values set to none or not.

What do you thinks about that?

[2017-07-07 10:09] wojcikstefan commented on #1577
Hi guys, for some reason Travis didn't trigger the PyPI upload for that release. Will do an updated one soon - traveling a bit at the moment.

[2017-07-07 10:57] erdenezul commented on #1586
In any database management system, there is only one null value permitted when you set unique constraint. It is nothing about mongoengine.

[2017-07-08 14:43] lsnu commented on #21
@hygull it's seem like that model by django,is really supported in mongo too?

[2017-07-08 14:47] lvtuben opened #1588 "How to define a DateTimeField in mongo with auto_now_add/ auto_now like django model do?"
Here is my code for a common model:
`class Common(Document):
    sid = IntField(primary_key=True)
    create_time = DateTimeField(auto_now_add=True, auto_now=False)
    update_time = DateTimeField(auto_now_add=False, auto_now=True)
    status = IntField(default=1)
    meta = {
        'abstract': True,
    }`

but the "create_time " & "update_time " not work?

[2017-07-11 19:25] Vayel commented on #1588
You can use the signals: http://docs.mongoengine.org/guide/signals.html?highlight=signals#attaching-events

[2017-07-11 19:34] Vayel opened #1592 "Reverse delete rule not allowed for EmbeddedDocuments"
Hi!

I have the following models:

[code]

But I obtain the error:

[code]

What is it due to? Is there a way to bypass this constraint?

Thanks!

[2017-07-12 01:02] lvtuben commented on #1588
@Vayel thanks i'll try in my model

[2017-07-12 14:39] srinivasreddy commented on #918
The issue is in `bson` package
take a look here
[code]

[2017-07-12 14:41] srinivasreddy commented on #918
[code]

[2017-07-12 17:11] lucashowell commented on #577
We too just encountered this issue and spent quite a long time debugging it.  We will have to manually code up a migration script to migrate our mongo data unless there is a fix for this.

[2017-07-12 18:43] lucashowell commented on #577
Here's a couple example scripts to correct this issue in case any one else encounters it.  Fairly easy to resolve once you realize it, but surprisingly hard to debug / figure out why filtering on GenericReferenceField's just stops working after you upgrade mongoengine!

[code]

[2017-07-13 10:04] wojcikstefan commented on #918
Could you open a corresponding issue in https://github.com/py-bson/bson?

[2017-07-13 12:41] qasimjaved commented on #1171
@BeardedSteve  can we insert default values now?

[2017-07-13 12:45] qasimjaved opened #1593 "Unable to add default values using .modify() and .upsert()"
@BeardedSteve can we insert default values now?
I have found another issue open at 'https://github.com/MongoEngine/mongoengine/issues/1171', but it is not answered yet.

We are using mongoengine for our project and we need this feature.
Please let us know if you have fixed it.

[2017-07-13 12:59] wojcikstefan commented on #1593
Will track this issue in #1171, no need for duplicate tickets.

[2017-07-13 12:59] #1593 closed

[2017-07-13 13:01] wojcikstefan commented on #1171
@qasimjaved could you summarize the remaining issue and give a sample code snippet with the actual and expected resutl?

[2017-07-13 13:07] qasimjaved commented on #1171
Thanks for quick response!

class testcollection(Document):
	bool_field = BooleanField(default=False)
	test_str = StringField(null=True)

Input query is:
      testcollection.objects(test_str='1').upsert_one(test_str='1')

Output should be like:
{ "_id" : ObjectId("5967635223a1fc4817ae05a6"),  "bool_field" : false, "test_str" : "Hello" }

But actual output is :
{ "_id" : ObjectId("5967635223a1fc48

[2017-07-13 13:11] srinivasreddy commented on #918
raised here. https://github.com/py-bson/bson/issues/64
Till then do you accept a temporary fix to MongoEngine?

[2017-07-13 13:17] wojcikstefan commented on #1171
Thanks @qasimjaved, I modified your content slightly for better readability.

[2017-07-13 13:19] qasimjaved commented on #1171
ok. great !
Is this issue fixed now about 'default values insertion' ???

[2017-07-13 13:23] wojcikstefan commented on #1171
It most likely isn't, though I haven't dove into the issue yet. Will do soon. It would be helpful if you submitted a PR with a failing unit test.

[2017-07-13 13:26] wojcikstefan commented on #918
I think it would be best to not pollute MongoEngine with temporary fixes related to other libraries. In your own code you can just `.replace(tzinfo=None)` for any datetime you need to compare.

[2017-07-13 13:33] qasimjaved opened #1594 "Unable to insert dictionary having '.' in key names"
[code]

[code]

**Expected Result:**
[Success in creation]

**Actual Output/Error:**
mongoengine.errors.ValidationError: ValidationError (testcollection:None) (Invalid dictionary key name - keys may not contain "." or "$" characters: ['d1'])

[2017-07-13 13:44] wojcikstefan commented on #1594
That's a limitation of MongoDB itself, see https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names/

[2017-07-13 13:44] #1594 closed

[2017-07-13 13:50] qasimjaved commented on #1594
Is there not any alternative to overcome it?

[2017-07-13 13:54] wojcikstefan commented on #1594
Structure your data differently, e.g. use a list field of embedded docs, each with "email" and "number" fields (guessing the field names from your example). Structuring it this way also helps if you ever want to query for a particular email, since you can't really query on dict key names.

[2017-07-13 13:58] qasimjaved commented on #1594
ok. thanks!

[2017-07-13 14:32] BoKaiChen opened #1595 "ServerSelectionTimeoutError"
How can I prevent to get some data when mongo is not connect!
I set the timeout to deal this problem by using pymongo
But I can't get any method to do that.
How to do to prevent  by mongoengine?

[2017-07-14 04:40] thedrow commented on #918
I agree.

[2017-07-14 04:40] #918 closed

[2017-07-14 09:11] wojcikstefan commented on #1595
Hi @BoKaiChen. Could you share more details about what you're trying to do and what issue you're running into? What is your actual vs expected experience? Some code samples and experienced errors would help, too.

[2017-07-14 09:43] BoKaiChen commented on #1595
Thank you for your help!
My purpose is to avoid client waiting so long when the target db server is no response.
So, I set the timeout to deal this problem by using pymongo as this code.
[code]
How should I do to get the same effect by mongoengine?
Thx!!

[2017-07-14 11:29] erdenezul commented on #1586
I think you should close this issue.

[2017-07-14 12:19] wojcikstefan commented on #1586
If you're using MongoDB v3.2+, you could use a [partial index with a unique constraint](https://docs.mongodb.com/manual/core/index-partial/#partial-index-with-unique-constraint) to index only non-null values.

[2017-07-14 13:13] Buckler89 commented on #1586
Thanks you! That's what I was looking for.

[2017-07-14 13:13] #1586 closed

[2017-07-14 16:02] Vayel commented on #1568
https://github.com/django/django/blob/master/django/db/models/fields/__init__.py#L552

[2017-07-14 16:59] Vayel opened #1596 "Add (unique) index on document with inheritance"
Hi!

I have the following models:

[code]

`child_field` does not appear in the indexes. If I try to define it in the parent, I obtain the error `No field "child_field"`.

Thanks!

[2017-07-14 20:03] jdthorpe opened #1597 "Behavior of __set__ when setting items via Document constructor"
I'm intending to store Pandas DataFrames in MongoDB, coercing them first to a Python Dict via `df.to_list()` and storing them as a nested Document attribute.   I'm attempting to minimize the amount of code I have to write to make the round trip from Pandas DataFrame to BSON and back by using a custom field type called `DataFrameField` which is [defined in this gist](https://gist.github.com/jdthorp