[2014-11-13 00:30] leandrob13 opened #802 "'MetaDict' object has no attribute 'concrete_model' when getting Content Type for a model"
Let's say I make a model:
[code]

Now, I run this code:
[code]

I get:
[code]

[2014-11-17 03:04] #515 closed, assigned to DavidBord

[2014-11-19 13:09] rozza opened #805 "Release MongoEngine 0.9"
Adding a tracking ticket for the MongoEngine 0.9 release.

I'm not sure whats required for the release but I can point people to a ticket to watch ;)

[2014-11-20 10:21] hackrole opened #807 "the order_by behave werid."
the order by if not called just after the objects/filter will lost affacts at all.

[code]

[2014-11-20 22:00] alainbryden opened #808 "Method resolution order (MRO) error when Document is involved in diamond inheritance."
Trying to create a diamond inheritance structure using a class that inherits from a Mongo Document fails. The simplest example is just:

[code]

This results an error while constructing the `Bat` class: `TypeError: Error when calling the metaclass bases   Cannot create a consistent method resolution order (MRO) for bases DoesNotExist, DoesNotExist` in `metaclasses.pyc`.

This more elaborate exampl

[2014-11-21 01:07] mmellison opened #809 "Uniqueness within ListFields"
## Feature Request
### Description

Uniqueness within ListFields would allow MongoEngine to assert uniqueness of lists containing fields and embedded documents, within the same document.
### Background

Currently MongoDB does not enforce unique indices within the same document. For example:

[code]

The saved document will contain duplicate entries for `x`, despite it being marked as unique. This

[2014-11-25 07:37] #358 closed, assigned to nobody

[2014-11-25 14:16] #711 closed, assigned to nobody

[2014-11-26 07:59] yabigfish opened #811 "switch_db method docs may be not right."
Here is the docs:
"If you need to read from another database see
 :class:`~mongoengine.context_managers.switch_db`"

I think that it should be a reference to method "switch_collection",
so change to below:
"If you need to read from another collection see
 :class:`~mongoengine.context_managers.switch_collection`".

[2014-11-27 05:23] starsirius opened #812 "Uniqueness not working across multiple test cases"
I have a simple test that tries to verify the uniqueness of a certain field of a document. However, the uniqueness setting seems to not working without dropping the entire collection in addition to dropping the database between tests. I am not sure if I misunderstood something here or it's a bug of some kind. Any advice would be much appreciated. Thanks!

[code]

The expected result here is that a

[2014-11-27 18:17] parisk opened #813 "Track down feasibility and steps to provide full Django ORM compatibility"
I think there are lots of people who use Mongoengine with Django, but there is no way currently to use Mongoengine as the database engine of Django. The [Django support](http://docs.mongoengine.org/en/latest/django.html) section of the Mongoengine docs provides lots of integrations of Mongoengine with Django but it is clear that another database engine is still needed.

Is it feasible to adapt Mon

[2014-11-28 12:56] MRigal opened #814 "queryset.distinct() always returning BaseDict instead of Class Instance -> Validation broken"
If you are setting a value to one document from a distinct on other documents, you will get a problem at Validation.

The distinct is returning a BaseDict for EmbeddedDocument, which will fail to be validated. The current implementation works with List of EmbeddedDocument, but not with simple EmbeddedDocument

[2014-11-28 15:24] MRigal opened #816 "queryset.distinct() does not work on subdocument ('doc.subdoc')"
Doing a distinct('doc.subdoc') will get you the right data from pymongo, but mongoengine would fail to reattach it to the correct document instance and therefore the validation will fail.

[2014-11-29 05:41] saritasa opened #818 "Upsert with update - doesn't validate against parent class nor send signals"
[code]

this is in my mongo

[code]

so what to do to
- upsert and validate properly the new record?

[2014-12-02 14:12] bcombourieu opened #822 "NotUniqueError no longer raised when inserting a document that violates a unique index with mongodb 2.6.5"
#### To reproduce
- Make sure you installed the mongodb package with version 2.6.5 from mongodb.org.
- Create a collection with a unique index constraint

[code]
#### Cause

Error message sent by mongodb has slightly changed and the string matching done there => https://github.com/MongoEngine/mongoengine/blob/51f314e90726560bf2a8a081625902a4096cb3da/mongoengine/queryset/base.py#L363 is too strict.

[2014-12-02 14:23] #822 closed, assigned to nobody

[2014-12-04 09:14] hackrole opened #824 "It seems like a bug. set unique=True make the field be required. and also the spare=True raise Error."
the code is below:

[code]

and the result show like that:

[code]

this is my env:

[code]

and also if the follow code:

[code]

give the error:

[code]

the doc has this, but I check the source has not such paramters.
![1](https://cloud.githubusercontent.com/assets/2100811/5296113/50020fe8-7bdb-11e4-82d1-f886037ab939.png)
![2](https://cloud.githubusercontent.com/assets/2100811/5296115/551757f4-

[2014-12-04 11:28] #811 closed, assigned to nobody

[2014-12-04 14:27] #816 closed, assigned to nobody

[2014-12-04 14:27] #814 closed, assigned to nobody

[2014-12-05 16:01] #812 closed, assigned to nobody

[2014-12-05 19:33] bmbouter opened #828 "Docs for older mongoengine releases are not visible on Read the Docs"
We use mongoengine 0.7.10, and I'm constantly reading the docs from github directly instead of reading the on Read the Docs. The Read the Docs site only shows 'latest'. I think that previous releases or release streams should be versioned in Read the Docs. Just enable builders in RTD config for the release branch or each tagged release. I think doing the release branches is probably the best thing

[2014-12-08 14:33] vasion opened #829 "Documentation mismatch and silent fail"
Hi guys,
The docs show save_condition as a param in Document.save(). In the 0.8.7 (from pip and in the branch), however, its not there and it fails silently.

[2014-12-09 08:57] #739 closed, assigned to nobody

[2014-12-09 09:48] #628 closed, assigned to nobody

[2014-12-13 06:35] tonyzhu opened #831 "How can I set a min_distance in a geo query?"
I see this https://github.com/MongoEngine/mongoengine/blob/4814066c67c3d97acb8e15aa6ef1ca374b6d9aa3/mongoengine/queryset/transform.py#L317

It is only max_distance supported. How can I make it works like set min_distance?

[2014-12-16 01:39] matthewowen opened #832 "Batch dereferencing of DBRefs in QuerySet"
As I understand it, when iterating through a QuerySet (without no_dereference), DBRefs are dereference on a document by document basis. That is: as we iterate through the cursor, Document instances are instantiated and the references contained therein are dereferenced.

This is all well and good, but when iterating through a large query set, this means a large number of round trips to dereference,

[2014-12-16 16:48] ThisGuyCodes opened #834 "Documentation: confusing definition of refered deletion"
[Here](https://mongoengine-odm.readthedocs.org/en/latest/guide/defining-documents.html#dealing-with-deletion-of-referred-documents) there is the definition and usage of the `reverse_delete_rule` kwarg usable with reference fields, but it contradicts itself.

The paragraph immediately under the example says:
`The declaration in this example means that when an Employee object is removed, the Profile

[2014-12-17 02:10] mwstobo opened #837 "Reference to abstract class tries to get 'id_field' of abstract class"
When you create a ReferenceField with an abstract class as an argument, it checks for the id_field in the meta dictionary of the abstract class itself, not the inherited class.

For example:
[code]

Trying to save an instance of C with an instance of B as val3 will raise a KeyError exception on line 945 of mongoengine/fields.py.

[2014-12-17 15:41] mattdharmon opened #838 "MongoEngine not checking/saving unique indexes upon save"
I created a [StackOverflow](https://stackoverflow.com/questions/27404946/mongoengine-not-checking-saving-unique-indexes-upon-save) about this issue and I thought I would have a better time asking you guys where the problem could be. I don't if it's something I did wrong or is it a bug within the library itself.

[2014-12-18 06:46] SyedMdKamruzzaman opened #839 "About Database Settings in Django Project"
I want to set database setting in django project.

Which settings.py I should use.

I found many settings.py file.

I have setup devstack where many folders are there like horizon, cinder, nova etc.

I found settings.py in horizon folder.

and from when I setup Django I found in /usr/local/lib/python2.7/dist-packages/django/conf/project_template/project_name folder.

Please make suggest which sett

[2014-12-19 01:34] staab opened #840 "first() returns no result with certain data structures"
This one took me a while to track down. It's fairly mysterious, as it only shows up with very particular data structures. Below is a quick script that you can run in the python shell as an example:

[code]

The issue is that `count()` returns 1, `all()` returns a list of length 1, and first returns None. I looked into the source, and I believe it may be related to `BaseQuerySet.__getitem__`, but I

[2014-12-22 22:42] RaviH opened #841 "Iterate through all the files in GridFS."
Is it possible to iterate through all the files in GridFS? If so how?

[2014-12-29 22:52] jwkvam opened #842 "chaining only after limit"
Maybe this is obvious but I was using `only` after `limit` and didn't understand why the `only` call had no effect. Would it be helpful to have this documented in the API?

So
[code]
was the same as
[code]

[2015-01-01 21:56] DavidBord commented on #630
@socrateslee, is your collection sharded?

[2015-01-02 04:44] mamigot opened #843 "Error with atomic updates and modifier operator: InvalidQueryError("Updates must supply an operation eg: set__FIELD=value")"
(I am using mongoengine==0.8.7 and flask-mongoengine==0.7.1; though the error is traced to a mongoengine file independent of Flask, I am posting this in case it's a problem with their compatibility)

<a href="https://mongoengine-odm.readthedocs.org/en/latest/guide/querying.html#atomic-updates">The mongoengine docs</a> state that the following code is equivalent.

[code]

However, when the modifier

[2015-01-02 05:11] miguel5 commented on #843
I solved this in my code by prepending "set__" to the values of the keys in the dictionary before I unpack it and call .update():

[code]

[2015-01-04 00:37] socrateslee commented on #630
@DavidBord no, the collection is not sharded.

[2015-01-05 23:16] calvinwyoung commented on #788
+1 for including a warning in the docs. We've been seeing a lot of strange bugs that all turned out to be caused by the non-thread-safety of the `switch_db` context manager. It would've been really helpful if there were a big fat warning in the docs.

[2015-01-06 01:56] rturk commented on #788
Why not completely review this or maybe even remove this feature? I know that this sound bald but beyond the thread issue the concept of a "switch_db" is already dangerous, doesn't looks like an streamlined code.

Ideally one should use simply use connA and connB to reference different collections, because in fact they are different connections

[2015-01-06 15:44] aeroeng opened #844 "queryset transform tries to update query dictionary with regex pattern"

[2015-01-07 17:14] DavidBord commented on #707
A test that reproduces it:

        class Doc(Document):
            keyval = DictField()
        Doc(keyval={"dec": Decimal(20000)}).save()

[2015-01-07 21:17] saritasa opened #846 "is_null query doesn't work on DateTimeField"
on query like

*SchoolShiftGuardConfirmation.objects(Q(declined__is_null=False)*

get this:
__mongoengine.errors.InvalidQueryError: 'DateTimeField' object has no attribute 'lookup_member'__

[code]

I had to replace the query to
*Q(declined__exists=True) & Q(declined__ne=None)*

Am I doing something wrong with is_null, or it's indeed the bug

[2015-01-10 00:24] lmanzurv opened #847 "ImageField is nullified after save"
When I fetch a document with an ImageField, the image can be read using doc.image.read(), but if I do a doc.save() and then I do a doc.image.read(), the image is empty

[2015-01-12 08:53] DavidBord commented on #805
Is it fine by you that I'll merge PRs that are not on the list for this version?

[2015-01-13 11:39] ghost opened #849 "@login_required not working with mongoengine"
When I connect my user, I'm redirect to my account but the **@login_required** don't understand I'm connected and redirect me to the login page. (That's my problem. I assume it's a session problem)
I use the basic User registration with username/email/password.
Here is my logg in function:

    def connection(request):
        if request.method == 'POST':
            form = LoginForm(request.POST)

[2015-01-15 15:38] seglberg commented on #838
There was a recent issue where under certain circumstances MongoEngine would not ensure indices before saving (and thus they were never created in the database.)

I had created a fix (MongoEngine/mongoengine#823) which was merged about a month or so ago.

[2015-01-15 18:32] bmbouter opened #851 "connect() called with username and password arguments returns an unauthenticated pymongo.connection.Connection object"
The mongoengine documentation indicates that the [`mongoengine.connect()`](http://docs.mongoengine.org/apireference.html#mongoengine.connect) method takes keyword parameters `username` and `password` and returns a `pymongo.connection.Connection` object. While not explicitly stated I have an expectation that the username and password passed into connect() are authenticated immediately and that the

[2015-01-15 19:34] rgrinberg opened #852 "Field name with leading underscore"
I have a field in my schema called `from_` and it seems like I can't query it using mongoengine.

E.g.:

[code]

I get an error like:

[code]

Is there a work around for this?

[2015-01-16 01:45] cybertoast commented on #818
Just noticed this situation myself. Per the documentation (and code) there are no signals on the update() or modify() methods. @rozza, is there a reason for this (meaning, is there a technical limitation or concern in why signals were not implemented for update/modify)?

I think it would be very useful to have the scenario @saritasa mentions, since the same signals that a save() might use, would a

[2015-01-16 17:10] seglberg commented on #852
Hi @rgrinberg,

Using the master branch (what is to become release 0.9) queries using fields with trailing underscores work just fine. If possible, I would suggest just upgrading your MongoEngine version to master.

However, since I know that's not always a possibility, you can achieve the same outcome with earlier versions by using a raw query:

[code]

Looks a bit ugly, but it works.

[2015-01-16 17:25] rgrinberg commented on #852
Thanks for the response. Would `__raw_` work in conjunction with other query elements. E.g.

[code]

[2015-01-16 17:31] seglberg commented on #852
Yes, at least in version 0.8. I haven't tested with any prior versions, but I would assume it to work the same.

[2015-01-16 17:31] rgrinberg commented on #852
Thank you very much. I'm using 0.8.x so it should work. Since this is closed in master I assume we can close this.

[2015-01-16 17:31] #852 closed

[2015-01-18 01:48] carlware commented on #784
I created this ticket several months ago, when I started  to work in a legacy project. I didn't know how mongoadmin (another third party app) was working. After sometime I could figure out how to solve my issue. In fact the issue was related with mongoadmin and no with mongoengine, that is the reason I gonna close this ticket.

[2015-01-18 01:48] #784 closed

[2015-01-18 02:39] iv597 opened #853 "AttributeError: DictField object has no attribute 'get'"
[code]

[code]

[2015-01-18 02:53] iv597 commented on #853
Nevermind. tl;dr don't use probably-reserved words as column names, derp. Changing the field to `team_meta` did the job.

[2015-01-18 02:53] #853 closed

[2015-01-18 09:31] DavidBord commented on #707
@thedrow, are you sure we want to solve this? indeed, bson shouldn't serialize Decimal objects so why should we coerce it?

[2015-01-18 16:14] thedrow commented on #707
Because as a framework we should be able to deal with Python data types that are being saved to mongo.

[2015-01-19 19:00] snario opened #854 ".save() updates only first-level dirty fields"
Say I have a document like:

`{A: {a: "one", b: "two"}}`

and then it is modelled using MongoEngine as some variable `X` and I say:

`X.a = "new-one"`

then when I do `X.save()`, MongoEngine will _overwrite_ `X.b = "two"` as well. This means that if I have two threads changing the document at the same time, one changing `X.a` and the other changing `X.b`, then this will cause data inconsistency.

[2015-01-20 08:32] brunifrancesco commented on #743
Did you find a workaround? I just stumbled upon this bug.
Cheers,
FB

[2015-01-20 14:28] seglberg commented on #743
This issue appears to be fixed with MongoEngine/mongoengine#557.

I would suggest upgrading to a newer version, when possible. I understand that the 0.9 (master at the time of writing) branch is currently in development, and so it is not always possible to upgrade.

As for a work around (if you cannot upgrade), my quick testing points towards the idea that validation is still performed correctly,

[2015-01-20 16:26] seglberg commented on #854
I was unable to reproduce this on the 0.8 branch and 0.9 (currently master) branch.

Assuming I understand your issue correctly, here is the test case I created:
[code]
The results I get are:
[code]
However, your issue suggests that instead of should see:
[code]
Having the second ```save()``` overwriting the changes form the first.

---
If I am still misunderstanding your issue, could you send me

[2015-01-20 16:50] xLegoz commented on #854
I will look into it further as there were a few more specific details about the use and I will try to create a test to reproduce it when I narrow it down.

Some more details about it:
- It was on a DictField on the Document.
- The values of the dict fields were a large JSON structure or a large string representing the JSON. Both were tested and had the same issue during development.

The timeline

[2015-01-20 17:46] seglberg commented on #854
Hi @xLegoz,

Okay I understand a bit more now that you're referring to DictFields (and not EmbeddedDocuments).

However, with your example test case, why wouldn't you expect ```C.data['key'] == value2``` to be true? If thread 'B' is saving with ```value2``` 4 seconds *after* thread 'A' is saving, then shouldn't the expected final value be ```value2```?

I could understand there being a potential r

[2015-01-20 17:56] xLegoz commented on #854
Oops my bad yea those were meant to be different keys.

[2015-01-21 08:44] brunifrancesco commented on #743
It seems odd to me too..
I just found out that message is caused by something wrong in my code,
beacuse it does not happen always, though it seems everything is ok.

Il giorno Tue Jan 20 2015 at 15:28:46 Matthew Ellison <
notifications@github.com> ha scritto:

This issue appears to be fixed with MongoEngine/mongoengine#557

[2015-01-21 15:01] seglberg commented on #854
Without talking to the maintainers, I do not feel anything is broken here.

Even though the result of storing a ```DictField``` or an ```EmbeddedDocument``` yields similar results in the database, MongoEngine views the ```DictField``` object as a single value  "blob", despite the key/values in the dict.

For a work-around I would suggest:
- If you are able to express your schema as ```EmebeddedDoc

[2015-01-22 17:52] mgoffin opened #855 "get_FIELD_display causing validation errors on save()"
Trying to save a document which has a String field with choices. Turns out that when using choices this get_FIELD_display feature is attempting to add an attribute to the class and assigning the value an instance of `functools.partial` which cannot be converted to bson. This causes validation to fail and the document unable to be saved. This is on 0.8.7.

Is there a way to use a String field with

[2015-01-23 10:39] arthursw opened #856 ".append() to a ListField(ReferenceField()) silently fails under specific circumstances"
Taken from https://github.com/hmarr/mongoengine/issues/404

[code]
In my case I don't even load the object again. I save it, then try to add an item, and save it again. This silently fails.

[2015-01-23 17:00] snario opened #857 "index=True does not do anything (major bug ..?)"
Looking through the code briefly it seems like `unique=(True or False)` does not do anything, and even more troubling the indexes are not being checked either.

Here is a very simple example.

[code]

This is extremely troubling, but I feel like it may be some issue on my end? Would love someone to look into this.

[2015-01-23 17:03] snario commented on #857
simplify the example

[2015-01-23 17:05] amcgregor commented on #167
Any hope for a 2015 implementation?

[2015-01-23 17:06] snario commented on #857
Related issue?

`unique_with` fixes this, **but only one time** :disappointed:

[code]

[2015-01-23 17:12] snario commented on #857
I am on `mongoengine (0.8.7)`

[2015-01-23 17:30] warvariuc opened #858 "Class 'User' has no 'objects' member (no-member)"
PyLint is complaining:

This is because `objects` is assigned in the metaclass `base/metaclasses.py:345`:
[code]

I think having it defined in the base document would have the effect but be more discoverable:
[code]

Similarly you could do
[code]

[2015-01-23 18:22] seglberg commented on #167
I *very* much like this suggestion. I have several use-cases for this in some current projects which could easily benefit from this feature.

I recently requested to become a full maintainer of the project, and once I can get some direction from the other maintainers as to the *plans* for the 0.9, I would love to add this to my feature list to work on.

[2015-01-24 20:34] microdog commented on #795
Same issue under mongoengine 0.8.7 and mongodb 2.6.7.

[code]

Here are my model and query:
[code]

[code]

I found that an incorrect query was issued to mongodb with `$maxDistance` placed in a wrong place.
[code]

[2015-01-25 00:12] carmstrong opened #859 "Getting 'FieldDoesNotExist` on an embedded document"
I'm using master because I need #557 to fix an issue, but now I'm seeing: `FieldDoesNotExist: The field 'fax' does not exist on the document 'ContactMethodField'` when trying to save my document. The definition for that field most certainly does include `fax`:

[code]

Does anyone know what's wrong? It looks like this check was added in #457 by @gitaarik - is it possible this doesn't work for embe

[2015-01-25 15:53] gitaarik commented on #859
Can you provide code to reproduce the error?

[2015-01-25 21:43] DavidBord commented on #857
@snario, I repeated your steps from your first example and failed on `NotUniqueError` as it should have.
Could you please paste here the collection indices after the first document save?

[2015-01-25 22:18] DavidBord commented on #707
Lets say we'll represent stuff like `Decimal(3.14)` as strings. What would we do with the aggregation framework?

[2015-01-26 01:42] snario commented on #857
Hey @DavidBord, I'm going to look into why this happened to me. I am guessing it is because of pre-existing indices or already non-unique data in the DB

[2015-01-26 01:49] carmstrong commented on #859
Sorry about that - this was my error.

[2015-01-26 01:49] #859 closed

[2015-01-26 06:39] peng-tao commented on #574
fix my problem ,thank you !

[2015-01-26 07:45] thedrow commented on #707
That's a very good question.
There are some suggestions on [StackOverflow](http://stackoverflow.com/questions/11541939/mongodb-what-about-decimal-type-of-value) on how to represent decimals in MongoDB.

[2015-01-26 07:55] thedrow commented on #574
@ianjuma Can you open a separate issue about the documentation bug please?

[2015-01-26 07:56] thedrow commented on #707
Here's how [eBay does it](http://www.technology-ebay.de/the-teams/mobile-de/blog/mapping-bigdecimals-with-morphia-for-mongodb.html) and you can't say they are not using decimals and aggregations.

[2015-01-26 08:55] DavidBord commented on #855
@mgoffin, I tried it and it seemed to be working okay, so could you please provide a failing test case?

[2015-01-26 09:02] DavidBord commented on #846
@saritasa, are you trying to find all the documents in which `declined` does not exist?
if so, then try something like `SchoolShiftGuardConfirmation.objects(declined__exists=False)`

[2015-01-26 09:05] DavidBord commented on #844
@aeroeng, could you please provide a test that reproduces this error?

[2015-01-26 09:09] DavidBord commented on #838
@mattdharmon, does the fix solves the problem for you?

[2015-01-26 14:17] seglberg commented on #857
Hi @snario,

If you have pre-existing data which violates the unique index you are attempting to create, by default the index will not be created. This is the default behavior of *MongoDB* not MongoEngine.

MongoEngine enforces uniqueness in collections via unique indices in the database itself. In this case, you will need to drop the duplicates, which can be achieved with the ```ensure_indexes()`

[2015-01-26 14:58] mattdharmon commented on #838
Sorry, been in the middle of a job change that no longer uses python. I'll have to check on it in my own time. I'll let you know.

[2015-01-26 18:55] saritasa commented on #846
yes that works, thanks David. But the problem with is_null on datetime field still exist.

[2015-01-27 09:41] DavidBord commented on #846
Where did you get the `is_null` pattern from? I can't find it in the documentation nor in the code

An important note, since `declined` is not a mandatory field, if you save a document without it it won't be saved so searching for it as `null` won't do you any good

[2015-01-28 02:45] saritasa commented on #846
I found it in documentation
http://motorengine.readthedocs.org/en/latest/getting-and-querying.html

query = Q(last_update__is_null=True) | (Q(is_active=True) & Q(last_update__lt=datetime(2010, 1, 1, 0, 0, 0)))

[2015-01-28 05:53] DavidBord commented on #846
`is_null` is an expansion implemented in motorengine, and currently not implemented in mongoengine

[2015-01-28 05:53] #846 closed

[2015-01-28 11:38] bh commented on #857
I got the same issue. When defining models with unique=True fields and with a index definition in meta dict, the index definition in the field definition gets priority, the index stuff in meta will be ignored.
You can fix this by definitng all indexes in meta.

Something like this:
[code]

[2015-01-28 16:00] amcgregor commented on #837
I'm running into this when attempting to isolate common model components, such as extracting the fields and methods for a tree taxonomy schema, something I'd like to re-use.  (In my case the ReferenceFields are actually in the abstract base, but they refer to 'self'.)

[2015-01-28 21:02] mgoffin commented on #855
Sure!

[code]

The `_custom_save()` you see above is here: https://github.com/crits/crits/blob/master/crits/core/crits_mongoengine.py#L330. I don't anticipate it's doing anything that would have any effect here.

I will note that when setting `i.tlp` we have a custom `__setattr__` which checks to see if the attribute being added is actually a supported attribute, if it is not, it adds the attribut

[2015-02-01 10:56] warvariuc commented on #259
+1

[2015-02-03 17:39] philfreo opened #861 "Mongo 3.0 compatibility test coverage"
monoengine isn't compatible with Mongo 3.0

For example #629

But I wouldn't be surprised if there were other issues also. Would be awesome if this library were well-tested against 3.0.

[2015-02-04 05:55] laokongzhuang opened #862 "Django 1.7.4 support issue"
Does it support django 1.7.4 to connect to the mongodb database?
When I do as the documentation, the following error occurs:
settings.DATABASES is improperly configured. Please supply the ENGINE value. Check settings documentation for more details.
Thank you!

[2015-02-04 10:04] rozza commented on #861
will need the latest pymongo - see: http://api.mongodb.org/python/current/changelog.html#changes-in-version-2-8

[2015-02-04 15:46] seglberg commented on #805
Conversation seems a little stagnant. I just wanted to cross-link this here to help facilitate some conversation for moving forward.

https://groups.google.com/forum/#!topic/mongoengine-dev/NZjDj73qyEo

[2015-02-05 16:39] sbmacdonald opened #863 "Request Support for $min, $max Field update operators"
MongoEngine currently has support for several (but not all) [field Update Operators](http://docs.mongodb.org/manual/reference/operator/update/).  I would REALLY like to have support for [$min](http://docs.mongodb.org/manual/reference/operator/update/min/) and [$max](http://docs.mongodb.org/manual/reference/operator/update/max/) (field) Update Oerators.

Thanks in advance !

Scott

[2015-02-05 19:44] jimmyshen commented on #734
Hi,

I was playing with the new 'null' behavior, which I would like to use in a project I'm working on. While messing with it on master, I noticed some inconsistency in the behavior with regard to DateTimeField and ComplexDateTimeField.

Here's a demonstration:

[code]

The cause seems to be related to some logic specific to ComplexDateTimeField that falls back to datetime.now on retrieval from db

[2015-02-06 00:18] bmhkim opened #865 "Lazy database connections"
This is a feature request for lazy connections to databases (i.e., connect on first access).

Our use case is one where we have some data processing users who need regular access to mongo instances, and some who almost never need access. At the moment, users who rarely need access hate spinning up SSH port forward tunnels they don't need (when they don't need access to our mongo databases), and al

[2015-02-06 00:19] bmhkim commented on #865
I already have work done toward this feature, and will be forking to merge changes.

[2015-02-06 15:10] sbmacdonald commented on #863
For what its worth, temporary access to `$min` and `$max` functionality can be gained using the `__raw__` parameter to the `query()` method:

`attribs.objects(name='Mag')[0].update(__raw__={'$min': {'min_value': 4.9}})`

[2015-02-08 12:56] warvariuc opened #866 "`BaseDict` does not follow `setdefault`"
`mongoengine.base.datastructures.BaseDict` does not follow changes made through `setdefault`.

I have a DictField in a model:
[code]

I update the field using `serdefault` and the changes are not saved:
[code]
I currently do this:
[code]

[2015-02-08 12:57] warvariuc commented on #866
Is there an argumet I can pass to `save()` to force saving all fields?

[2015-02-08 18:04] wshayes opened #867 "item_frequencies() for field in an embedded document"
Trying to run this query:
        *qs = db.ReqSrc.objects().item_frequencies('doc.agency_type')*

I'm getting the following error.  I'm not able to use a field in an embedded document. I can use a top-level field without any problem.  I also tried to use 'doc__agency_type' with no luck.

### Error:

    Traceback (most recent call last):
      File "./requirement_sources.py", line 126, in <module>

[2015-02-09 10:14] brunifrancesco opened #868 "Aggregate query launched via the exec_js method doesn't return all results"
Executing an aggregation query via the

[code]

method seems not returning all elements (same query works in the mongo shell).
Cursor itself is empty.
A workaround is using the aggregate method of pymongo, passing the pipeline as stated in the doc:

[code]

where Model is a subclass of Mongoengine Document class.

[2015-02-10 21:55] kissgyorgy opened #869 "Ip address field"
It would be nice to have `IpAdressField` [as in Django](https://docs.djangoproject.com/en/1.7/ref/models/fields/#genericipaddressfield). If you welcome this feature, I do it at the weekend.

[2015-02-11 00:24] rturk commented on #869
+1

[2015-02-11 00:52] seglberg commented on #869
I already have this implemented. I will submit a pull request for review shortly.

[2015-02-11 05:57] starsirius opened #870 "Validation on attributes overridden by subclass document"
I am using document inheritance and would like to define validation of some attributes in the parent class and override them in the subclass. The value is correct in a subclass instance, but the validation fails when saving. Is it a desired behavior or I am doing something weird here. Thanks.

[code]

[code]

[2015-02-11 06:51] uzmab opened #871 "Dynamically reading fields"
I have defined a DynamicDocument and am reading from a collection that another program is automatically writing to. The collection has a field called "lastname" but it's not accessible when I query the object.

class UserProfile(DynamicDocument):
    user_email = StringField(required=True)
    customer_email = StringField(required=True)

Code where I read the object
user = UserProfile(user_email=t

[2015-02-11 07:09] DavidBord commented on #866
Due to missing parts I simplified your example to something like:

        class UserState(Document):
            success_rates = DictField()
        UserState.objects().delete()
        user_state = UserState()
        user_state.success_rates.setdefault('a', [])
        user_state.success_rates['a'].append('b')
        user_state.save()
        assert UserState.objects().get().success_rates["a"]

[2015-02-11 07:23] DavidBord commented on #867
There is a passing test in mongoengine that is named `test_item_frequencies_on_embedded` that tests this feature. Could you please provide a test case in which it fails?

[2015-02-11 07:31] warvariuc commented on #866
The problem appears when you change and save a saved and loaded instance:
[code]

[2015-02-11 07:33] DavidBord commented on #857
@snario, do you have any updates?

[2015-02-11 09:51] DavidBord commented on #764
I think that this is how you meant to init the class:

  VkWallPost(**{'owner_id': 'str', 'text': 'rtrt', 'filter_posts': ['owner', 'others']}).save()

[2015-02-11 09:51] #764 closed

[2015-02-11 10:12] DavidBord commented on #871
This line:
    user = UserProfile(user_email=test@gmail.com,customer_email= cust@gmail.com)

does not read an object, it initialises a new one

[2015-02-11 14:07] uzmab commented on #871
My bad. Here's the corrected code.
        user = UserProfile.objects.get(user_email="test@gmail.com",customer_email= "cust@gmail.com")
        print user.lastname

It throws error:
DoesNotExist: UserProfile matching query does not exist.

However, on the mongo client, I type the following query

db.user_profile.find({"user_email":"test@gmail.com","customer_email":"cust@gmail.com"})

it returns a

[2015-02-11 14:21] snario commented on #857
It appeared that I had duplicate data in my collection like you mentioned. I guess the only action item from this would be to maybe add an informative message to folks like me in the future?

[2015-02-11 14:30] #871 closed

[2015-02-11 14:31] uzmab commented on #871
I figured out the issue. When reading from a pre-populated database, you have to ensure that the primary key is defined.

class UserProfile(DynamicDocument):
   _id = StringField(primary_key=True)

[2015-02-11 19:50] DavidBord commented on #870
`brand` must be a subclass of `BaseField`
The way to do what you want would be something like:

    brand = StringField(required=True, default="Audi")

[2015-02-11 19:50] #870 closed

[2015-02-12 13:05] DavidBord commented on #857
I still don't quite get what happened there

I run this:

        class User(Document):
            meta = {'collection': 'users', 'indexes': ['email', 'username']}
            email = EmailField(required=True, unique=True)
            username = StringField(required=True, unique=True)
        User(email='abc@123.com', username='abc').save()

then I removed the indices via the mongos, run it again

[2015-02-12 16:45] GroverChouT opened #872 "No module named 'django.utils.importlib' (Django dev)"
In mongoengine/django/mongo_auth/models.py
See https://github.com/django/django/tree/master/django/utils

[2015-02-13 12:44] DavidBord commented on #615
Why? `AssertionError` is used for when an assert statement fails
`OperationError` is used when you can't complete an operation due to an error like the case when you try to push an already existing data that has a unique index

[2015-02-13 12:48] DavidBord commented on #593
`unique=True` constraint on a field creates a unique DB index on that field

[2015-02-13 16:10] #658 closed

[2015-02-13 20:22] DavidBord commented on #795
I am sorry but I can't seem to get the errors you are getting
So I would appreciate if you could please provide a more elaborated example that leads to this error

Here is a long shot - when you upgraded from mongo 2.4.X to 2.6.X did you upgrade the location index?

[2015-02-13 20:51] microdog commented on #795
The simple script below can produce this error without database upgrade. Hope this can help.

### Environment
CentOS 6.6
Mongoengine 0.8.7
pymongo 2.8
MongoDB 2.6.7
Python 2.7.9

### Test Script

#### mongobug.py

[code]

### Output

[code]

[2015-02-14 10:33] DavidBord commented on #795
I believe your issue was fixed with #664 (currently on master branch)

[2015-02-14 11:09] DavidBord commented on #840
Your issue has to do with the fact that in python the order of the keys in a dict does not matter but in js it does. the way to bridge the gap is with: http://api.mongodb.org/python/current/api/bson/son.html
I am telling you that now so that you'll be able to do a workaround without waiting for a mongoengine fix
For instance, with your example, this works:

        import bson
        data = {

[2015-02-14 18:34] staab commented on #840
Awesome, thanks for the workaround! We've ended up going with a different approach for this particular use case, but this is handy information to have. The difference between python dicts and json objects makes perfect sense.

[2015-02-15 07:31] #872 closed

[2015-02-15 08:00] DavidBord opened #877 "Fix tests for pymongo 2.8+"

[2015-02-15 13:00] #877 closed

[2015-02-15 20:05] #766 closed

[2015-02-15 20:45] DavidBord commented on #633
@berkaey ?

[2015-02-16 09:01] syllogismos commented on #229
@Uznick Can you be more specific? What do you mean when you said somehow there were objects not only of LiveWidget type? How did you fix it?

Thanks.

[2015-02-16 12:03] berkaey commented on #633
sorry I stop using mongoengine for a while and I don't have access the same environment.

[2015-02-16 13:49] #866 closed

[2015-02-16 13:49] DavidBord commented on #633
Got it. Thanks

[2015-02-16 13:49] #633 closed

[2015-02-16 19:54] saritasa opened #880 "Only accept a document object"
[code]

produces the following error in mongoengine 0.9

Traceback (most recent call last):
  File "F:/_Projects/api/development/_tmp/test.py", line 29, in <module>
    Confirmation.objects(query).first()
  File "F:\_Projects\api\development\mongoengine\queryset\base.py", line 309, in first
    result = queryset[0]
  File "F:\_Projects\api\development\mongoengine\queryset\base.py", line 160, in __

[2015-02-17 14:14] TvoroG opened #882 "'str' object has no attribute 'lookup_member'"
Hello! If the dynamic lookup is composed of more than two parts then it fails.
[code]
Traceback:
[code]

This worked for me, but I don't know for sure.
[code]

[2015-02-18 09:13] #863 closed

[2015-02-18 11:27] DavidBord commented on #475
`Person.objects(settings__foo='bar')` exception already solved with #744

[2015-02-18 13:18] mikelrob opened #884 "Django support: MongoEngineBackend does not respect custom user model's USERNAME_FIELD"
I've created a custom user model which does not have a username field, but rather uses the email field in lieu.

I followed the article @ http://docs.mongoengine.org/django.html#custom-user-model, carrying out both modifications in the settings.py:
[code]
and importantly:
[code]
My custom `User` model specifies the following:
[code]
It is worth noting that the above inherited `MongoUserDoc` is a d

[2015-02-20 19:53] #503 closed

[2015-02-21 05:34] starsirius commented on #453
Any updates or plans for this one? This will be very useful. Thanks!

[2015-02-22 21:17] Reddine commented on #633
http://reddines.blogspot.com/2015/02/how-to-query-on-cls-attribute-on.html

[2015-02-22 21:17] Reddine commented on #397
http://reddines.blogspot.com/2015/02/how-to-query-on-cls-attribute-on.html

[2015-02-22 21:17] Reddine commented on #450
http://reddines.blogspot.com/2015/02/how-to-query-on-cls-attribute-on.html

[2015-02-23 01:03] rochacbruno commented on #450
:+1: @Reddine

[2015-02-23 07:08] rxsegrxup opened #888 "Un-pickling a document removes new fields from the global document Class"
Hello,
I do apologize if this was an existing issue. There were many pages to comb through :).

## TL;DR
A `setattr` is performed on `type(document)` when `__setstate__` is invoked which wipes the available fields from the global Document class instance. Instead, perhaps this should be a soft merge on the current document only. [Here is how I fixed it](https://github.com/YoApp/mongoengine/commit/d

[2015-02-23 08:20] Derfirm opened #889 "Can't save new key in DynamicField"
Hi, i get some trouble with using DynamicField with dict as default value, there example of my code
class AuthorBooks(Document):
    author = DynamicField()
    comments = DynamicField(default=dict)

a = AuthorBooks()
a.author = "Andrew"
a.comments['booklist'] = ['Moby Dick']
a.save()
a.save()
a.comments['description'] = 'sword'
a.save()
In mongo we got only
{
	"_id" : ObjectId("54eae1fc2796251ad1

[2015-02-23 08:24] myworking82 opened #890 "mongoengine connect to mongodb replication"
Hi. I have install my mongo in replications mode with two nodes (1 - primary node and 2 - is slave hide node) and i have my python applications which connect to mongodb by mongoengine.
In my config file i set this parameter to connect
MONGODB_SETTINGS = {'db': 'my_base', 'alias': 'default'}

But when lan between our replications are down i got this errors in my log file for python applications

Tr

[2015-02-24 20:05] ahurriyetoglu opened #891 "Mongolab connection does not see the available collection and creates a duplicate one"
I am developing a Django 1.7 application by using MongoEngine to connect to Mongolab. However, my model does not recognise the available collection and creates a new one. Am I missing anything? You can see an extended version of this question at:
https://www.pythonanywhere.com/forums/topic/2011/#id_post_13169

Thanks for your time.

Ali

[2015-02-24 22:21] DavidBord commented on #890
What is exactly your issue?

[2015-02-24 22:32] DavidBord commented on #891
Maybe you are connected to the wrong DB? perhaps the DB you auth on?
Take a look at the DB you are connected on with

    Haber._get_collection()

[2015-02-24 23:42] ahurriyetoglu commented on #891
Thanks David!
I run Haber._get_collection(), the DB was correct.
The connection recognise the DB, however when I try to read the collection with name 'haberci' (which I created and filled in another script), I get an empty QuerySet. I suspect the external script does not write to DB exactly as I define in my Django Model. The script write 10 keys in a document, but I defined two basic ones (string

[2015-02-26 07:30] nim4n commented on #454
I have the same problem in django 1.7.1

[2015-02-26 13:32] thedrow commented on #861
The problem is that we currently cannot have multiple versions of MongoDB installed in travis.
I think we should try to set it up anyway.

[2015-02-26 20:37] lwcolton opened #892 "ReferenceField uses DBRef if document doesn't exist"
When assigning a value to a reference field, you are allowed to use a string representing an object ID.  I have discovered that this will either get dereferenced for you into a document if one exists with that ID, or turned into a DBRef if the ID you specified is valid but does not exist.  This is highly confusing and provides inconsistent behavior.  When assigning a value to a reference field usi

[2015-02-26 20:44] lwcolton commented on #892
Here is an example:
[code]

The result:

[code]

[2015-02-27 09:09] thedrow commented on #857
This is bad, bad database behavior.
Attempting to create a unique index while it's not possible should fail.
I think that resolving this issue would require us to ensure that the index was created and if it wasn't we should raise an exception unless force_index (if you can come up with a better name, please do) is False.

[2015-02-27 09:39] thedrow opened #897 "Increase Code Health"
We have issues like mutable arguments or very broad exception clauses that can be narrowed down.
We also have field subclasses that change the signature of parent functions.

I had a pass on base/document.py on #893, #895 and #896 but there's a lot more work to be done on the rest of the code.

[2015-02-27 09:40] thedrow commented on #897
https://landscape.io/github/MongoEngine/mongoengine/81/modules/mongoengine/fields.py is in really bad shape for example.

[2015-02-27 16:13] lwcolton commented on #892
If someone can tell me if this is intended behavior or not, I can submit a PR.  Just not sure, if __auto_dereference is false, is it OK to dereference just to check that the ID is valid?  Wouldn't want to introduce performance problems for people.  Like I said just give me some direction and I'll submit a PR.

[2015-03-01 08:03] nim4n opened #898 "django Permission does not work"
I have some problem with django permission I can not use this document and I get this error:

but I can get data from inside of mongodb:

[2015-03-01 11:14] thedrow commented on #898
I don't think that many people used that part before.
We need to cover it with tests and improve our integration.

[2015-03-01 11:31] nim4n commented on #898
the problem is in this line:

I comment this lines and It works fine:

[2015-03-01 12:40] thedrow commented on #898
Can you please link to the actual source code or even better, provide a PR fixing the issue?

[2015-03-01 13:02] nim4n commented on #898
the source file is:
https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/django/auth.py

in Permission class I comment this line:

and in ContentType class i comment this line:

[2015-03-01 13:55] thedrow commented on #898
Oh wow this is really broken.
It tries to use the Django manager which is expecting Django models instead of MongoEngine documents.

[2015-03-02 07:03] MoMoney8181 commented on #849
I have the same problem, were you able to find a solution to this? When I log in then try to access a url which view has @login_required it doesn't have the user info attached in the request object.

[2015-03-02 14:55] silkentrance opened #899 "Django 1.8b1 fails on MongoUser when trying to restore User Id from Session"
I just installed Django@1.8b1, and, using mongoengine@0.8.7, I am experiencing an exception whenever I try to navigate my User Agent to the login page:

[code]

The reason for this being django/contrib/auth/__init__.py calling

[code]

And, since the PK of MongoUser is an Auto field, it will be validated against int values.

Should MongoUser not reimplement the PK field and delegate to its own ver

[2015-03-02 15:14] timgraham commented on #899
I believe this needs to be fixed in mongoengine, not Django itself.

[2015-03-03 19:57] wojcikstefan commented on #629
I'd assume MongoDB 2.6 introduced a more thorough `ensureIndex` validation, now that `ensureIndex` wraps a new `createIndex` command (http://docs.mongodb.org/manual/release-notes/2.6/#index-build-enhancements).

Anyway, you should fix your code to not generate an index on the same fields, but with different options (i.e. with the `sparse` discrepancy).

This issue should probably be closed @DavidB

[2015-03-04 21:48] justingiorgi opened #902 "mongoengine.errors.ValidationError: ValidationError (Child:None) (A ReferenceField only accepts DBRef or documents: ['parent'])"
ReferenceField fails validation when an ObjectId is set to the attribute directly:

IE:
child = Child()
child.parent = ObjectId() # of parent

When initializing the child with the parent's ObjectId validation passes

IE:
child = Child(parent = ObjectId())

This appears to just be a validation error because the ReferenceField's to_python method can correctly handle DBRef, Document and ObjectId with

[2015-03-05 00:40] fabiosussetto commented on #736
Sorry to bitch about this, but the latest release is more than 1 year old. I've seen some effort has been put into the project and some nice features (like text search) have landed on master long ago, why not release them then?

[2015-03-05 09:34] thedrow commented on #736
@rozza We really need to set up travis so that the maintainers will be able to release on tags.
If you can give me credentials on PyPi i'll set it up.

[2015-03-05 11:07] rozza commented on #736
@thedrow please use the developers mailing list or I'm likely to miss these pings

[2015-03-05 11:24] rozza commented on #736
:sparkles:  @thedrow now has the power! :key: :package: :+1:

[2015-03-05 12:51] thedrow commented on #736
I'll set travis on friday and then we'll review if there's something else that needs to be fixed before releasing.

[2015-03-06 07:42] ms5 opened #904 "error while using "db_field" parameter in multi-level embedded documents"
The following code is an example to reconstruct what's going wrong. The main problem seems to be the use of `db_field` in the second level of the embedded document (In the example this is `class B`)

[code]

If I run this, it throws an exception:

[code]

But it runs through if I remove the `db_field` attribute in `class B`:

[code]

While digging in to this problem I found out that the exception

[2015-03-06 10:32] ms5 commented on #904
I narrowed it down a bit and found in ```base/document.py``` the following block around line 680

[code]

As far as I understand whats going on the problem resides in the line:

[code]

where ```db_field``` contains the supposed ```db_field``` name (ex: ```fc```) but in data we have only ```c```.

So i was looking up, where data is coming from and found:

[code]

there is obviously no conversation

[2015-03-11 16:51] juandiegor commented on #736
Waiting for this too, guys. hope you can release the new version soon.

[2015-03-12 10:47] sreejithr commented on #898
Mongoengine's implementation of ContentType doesn't look complete. How can we have Django style permissions without ContentTypes? Correct me if I'm wrong.

Is someone working on this?

[2015-03-12 13:40] thedrow commented on #898
Unfortunately no. I don't have time to work on this right now.

[2015-03-12 17:04] sreejithr commented on #898
Oh. We've circumvented MongoEngine's permissions and implemented our own system at our company. Would love to have native support. I want to work on this in my free time. Care to discuss?

[2015-03-14 04:57] nim4n commented on #898
It's easy to fix the only problem is you lose the  default permission for models and you have to create them manualy,

[2015-03-14 11:11] caizixian opened #906 "Where can I get old version docs?"
Maybe you can consider put more version of docs on http://docs.mongoengine.org/ instead of just latest because it's confusing if I use mongoengine from PyPI.

By the way, any plan of new version release?

[2015-03-16 11:17] rozza commented on #906
Various builds are available from here: https://readthedocs.org/projects/mongoengine-odm/downloads/

[2015-03-16 14:14] caizixian commented on #906
Thx!

[2015-03-16 14:14] #906 closed

[2015-03-16 17:35] thanatos opened #907 "Documentation for `null` on a field"
The docs [presently read](https://github.com/MongoEngine/mongoengine/blob/7d1ba466b466af37b499c44ecf807d65f9967850/mongoengine/base/fields.py#L65-66):

Aside from the obvious grammar errors, I still have no idea what it means, or what it does.

[2015-03-17 11:36] DavidBord commented on #907
Perhaps my coding skills are better than my english
Here is part of the test I added with this feature:

        class User(Document):
            name = StringField()
            height = IntField(default=184, null=True)

        User.objects.delete()
        u = User(name='user')
        u.save()
        u_from_db = User.objects.get(name='user')
        u_from_db.height = None
        u_from_db.

[2015-03-17 15:37] janispauls commented on #776
Still getting the same error on master. Will post an example as soon as I can reproduce it.

[2015-03-18 00:43] smcclstocks commented on #805
Any updates on this?

[2015-03-18 08:41] thedrow commented on #805
Hi guys, at the current moment we cannot release since the build is failing.
I need someone to look into those failures and fix them.
@rozza @DavidBord @yograterol Care to help?

[2015-03-18 10:53] rozza commented on #805
Let me update .travis.yml - we shouldn't be testing pymongo dev anymore but we should test against v2.8 branch.

[2015-03-18 10:58] thedrow commented on #805
@rozza I think that pymongo=dev builds should be allowed to fail.

[2015-03-18 11:19] rozza commented on #805
I accidentally pushed to this repo and since reverted, I will add a PR once I have a fixed version.

Not sure there is any point testing against dev (the pymongo master branch) until mongoengine code is updated there are some breaking changes so it would always fail.

[2015-03-18 13:56] rozza commented on #805
Added #908 for the build

[2015-03-18 18:03] sreejithr commented on #898
@nim4n By this, you mean that I need to create my own permission model and has_perm() function (among others), right?

[2015-03-18 19:03] ryan-lane opened #909 "Connect blindly overrides username/password when URI style connection is used."
[code]

The above will connect to mydb with username None and password None. This is because though a username and password are set, if a uri is used mongoengine will blindly override them: https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/connection.py#L57

Is there any reason not to do 'or username' and 'or password' similar to what's being done for database?

[2015-03-19 07:47] thedrow commented on #805
Before we release do we need to merge any other PRs?
Can you guys help me browse what PRs are ready?

[2015-03-19 08:28] DavidBord commented on #805
I don't think there are any PRs worth the waiting

[2015-03-19 08:32] MRigal commented on #805
There are two issues labeled bug with the tag 0.9 that have PRs,
respectively 830 and 833. But up to you guys...
From:
https://github.com/MongoEngine/mongoengine/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.9+label%3Abug

2015-03-19 9:28 GMT+01:00 David Bordeynik <notifications@github.com>:

[2015-03-19 08:45] DavidBord commented on #805
I prefer that #830 PR won't be merged at all :)

[2015-03-19 14:10] sreejithr commented on #898
@thedrow and other contributers, did you guys put off implementing a full-fledged ContentType mechanism in MongoEngine because of performance issues?

[2015-03-19 19:56] thedrow commented on #898
I did not implement any of the django parts.
They need a rewrite.

[2015-03-19 20:49] jimmyshen opened #910 "ComplexDateTimeField lexographic comparison is broken"
Hi,

I've run into a bug where the microsecond part of a datetime is not serialized with leading zeros (should be 6 digits long). This breaks being able to use it in lexographic comparisons. See test below:

[code]

[2015-03-20 13:35] rozza commented on #898
As people use different versions Django tying support to master might be a bad idea. Perhaps, it would be better to move the Django parts into their own repo that way their development cycles can match Django's better.

[2015-03-22 05:58] DavidBord commented on #907
A PR with grammar error correction is welcome

[2015-03-23 09:17] sreejithr commented on #898
@rozza Even if it were a separate repo, how would it help someone wanting to use Django 1.3 with the latest version of mongoengine? Versions are still tied together, right?

[2015-03-23 09:40] thedrow commented on #898
@sreejithr We support whatever Django supports so only 1.4 and above.

[2015-03-23 09:54] thedrow commented on #805
Ok. So I am going to tag 0.9.0 right now.

[2015-03-23 12:44] thedrow commented on #805
Build is failing again.
https://travis-ci.org/MongoEngine/mongoengine/jobs/55461907#L7773

[2015-03-23 13:21] DavidBord commented on #805
I've seen the stop iteration thing before but I had no luck in reproducing it in my dev environment
What I do know is that it does not happen always so I re-run the build

[2015-03-23 13:40] DavidBord commented on #805
All green: https://travis-ci.org/MongoEngine/mongoengine/builds/55461875

[2015-03-23 13:46] MasterMind2k opened #912 "Field filtering on MapField with EmbeddedDocumentField not working"
Hi.

By looking through the net, the only and other field filtering should work on MapField, but if MapField has EmbeddedDocumentField for it's field, it does not work. Raising this exception in queryset/base.py", line 1357:

AttributeError: 'str' object has no attribute 'db_field'

By looking more in depth, I found out that _lookup_field "delegates" lookup_member to it's field if present, which M

[2015-03-23 13:46] #714 closed

[2015-03-23 13:55] MRigal commented on #805
Champagne !

2015-03-23 14:40 GMT+01:00 David Bordeynik <notifications@github.com>:

[2015-03-23 15:56] jimmyshen commented on #910
Submitted PR along with some tests and also fixed another bug I noticed. Right now it just seems to have some issues passing Travis CI build:

https://travis-ci.org/MongoEngine/mongoengine/builds/55233507

There was a single odd failure in indexes test (DoesNotExist being raised on a QuerySet.get). This only seemed to happen when it ran the coverage test and only occurred in one of the builds. I'v

[2015-03-23 17:29] thedrow commented on #805
@DavidBord We're all set. Releasing.

[2015-03-23 17:34] thedrow commented on #805
Repository is tagged. Do not merge anything new in the meanwhile.
Travis will release when the build finishes.

[2015-03-23 18:05] thedrow commented on #805
Release build is failing... https://travis-ci.org/MongoEngine/mongoengine/builds/28509473
@DavidBord Can you take a look?

[2015-03-23 18:27] DavidBord commented on #805
Weird - for some reason tests are running on pymongo 2.5.2 and pymongo 2.6.3 even though there are not part of the build matrix

[2015-03-23 19:04] DavidBord commented on #805
@rozza, I think it has to do with your recent changes in `.travis.yml`. Can you please look at them?

[2015-03-24 16:49] rozza commented on #805
That build seems to be the old 0.9 branch and not the tag.  I suggest removing / renaming the branch.

[2015-03-24 17:12] rozza commented on #805
Ok we are whitelisting which branches to build. As we are not building the tags, they won't deploy. I've updated master so if you retag v0.9.0 it should release!

[2015-03-24 19:22] smcclstocks commented on #805
good stuff guys.. thanks a bunch!!!

[2015-03-24 22:53] swvist opened #913 "Issues saving 'None' value in certain nested documents"
Some nested fields cannot be set to `None` and saved to the DB. I have been able to reproduce the issue in two different scenarios. Fields do not have _required_ attribute set to `True`.

Affected Versions:  **0.8.7**

**Steps to Reproduce**

Scenario 1: Two levels of list field

[code]

Scenario 2: List field inside and embedded document

[code]

[2015-03-25 07:18] thedrow commented on #805
:+1: I will retag today.

[2015-03-25 09:57] alonho opened #914 "ListField of embedded docs doesn't set the _instance attribute when iterating over it"
It sets it for __getitem__ but not for __iter__. Example:

[i._instance for i in parent.children] # [None, None, None]
parent.children[0]._instance == parent # True

[2015-03-25 16:17] tudamp opened #915 "Problem dereferencing non-binary UUID primary keys"
Hi all,
I have encountered a problem dereferencing instances when that have a primary key that is a UUID that is stored in mongodb as a string.

[code]

When I try to access to pool attribute I get a DBRef instance instead a Pool instance.
[code]
The DBRef contains the UUID object but the value is stored as string in mongodb. So when this is used in the \__get__ of ReferenceField class the search

[2015-03-26 00:32] amcgregor opened #916 "Allow arbitrary additional keyword data to be associated with Field instances during construction."
Currently there exists `help_text`, used to aid the Django (and likely other) automated administration tools.  This is… a start, but doesn't allow for further customization without breaking the semantics of the argument by storing non-help-text non-strings there.

Adding `**kw` to the base `Field.__init__` method, merging the dictionary into `self.__dict__`, will automatically chain support down t

[2015-03-26 10:25] tudamp commented on #915
Ok the problem seems to be in "to_python" of UUID field.
[code]
The logic is reversed: if is __not binary__ return a UUID object. Removing the "not" fix it for me.

[2015-03-26 18:40] eli-b commented on #805
When will the Python Package Index be updated?
https://pypi.python.org/pypi/mongoengine still points to version 0.8.7.

[2015-03-27 07:44] Catstyle commented on #889
it's because the DynamicField is a subclass of BaseField
then when you access the field, it just retrieve from instance._data
see
https://github.com/MongoEngine/mongoengine/blob/v0.9.0/mongoengine/fields.py#L633
https://github.com/MongoEngine/mongoengine/blob/v0.9.0/mongoengine/base/fields.py#L95-L103

so it will still be modified as you can see in instance level
but once you call .save(), it need

[2015-03-27 14:39] DavidBord commented on #724
Try to use this instead:

  q.query["name__contains"] = "omid"

[2015-03-27 14:41] #708 closed

[2015-03-27 14:50] DavidBord commented on #691
#759

[2015-03-27 14:50] #691 closed

[2015-03-28 07:55] thedrow commented on #805
@rozza Are you sure it's the right fix?

[2015-03-28 08:35] thedrow commented on #805
@rozza Looks like it is the right fix but we had an invalid classifier in our setup.py.
I fixed it and retagged again.

[2015-03-28 08:48] thedrow commented on #805
0.9.0 is released.

[2015-03-28 08:48] #805 closed

[2015-03-29 05:23] #736 closed

[2015-03-29 05:26] #620 closed

[2015-03-29 10:20] vinczente opened #918 "Datetimes become timezone aware"
If I serialize a object using to_json with timezone unaware dates and then load them back with from_json, the datetime object is then timezone aware.

[code]

[2015-03-29 13:04] sammko opened #919 "ImportError: No module named 'bson.errors' after upgrading"
Hello, after upgrading to `mongoengine==0.9.0`, I get `ImportError: No module named 'bson.errors'` on `import mongoengine`. Here is a full stacktrace:
[code]
From that it looks like a `pymongo` issue, but it works fine with `mongoengine==0.8.7`. I am using `pymongo==2.8` which satisfies your stated dependency of `pymongo>=2.7.1`. Thanks.

**EDIT:** This is actually more interesting than that, when

[2015-03-29 23:17] gordol commented on #919
Doing an upgrade caused this issue for me too.

This solved it for me:
[code]

[2015-03-30 14:41] sammko commented on #919
Very peculiar, but yes, that fixed it for me too. Thanks.

[2015-03-31 08:23] hackrole opened #922 "how convert the document type to sub-class while use document inherct."
I have define a models like below:
[code]

the logic is that, while user first register, there will create a base_user, which allow user to be login and watch list-page, then user design to be Buyer or seller to fill other msg.

so I need convert the BaseUser instance to Buyer instance or Seller instance in the mongodb.
like this.
[code]

how could I do this, I consider of set the _cls attribute b

[2015-03-31 14:23] DavidBord commented on #922
You could do that, you could also do something like:

        BaseUser(nickname='a').save()
        u = BaseUser.objects.get(nickname='a')
        p_fields = u.to_mongo(False)
        del p_fields['_id']
        del p_fields['_cls']
        Buyer(mobile='b', **p_fields).save()

[2015-04-01 01:55] hackrole commented on #922
yes,  this seems to be a  better way.
[code]

[2015-04-01 01:55] #922 closed

[2015-04-01 14:27] thedrow commented on #910
@jimmyshen We can always release 0.9.0.1.

[2015-04-01 22:08] #595 closed

[2015-04-02 12:31] #914 closed

[2015-04-03 15:44] jimmyshen opened #928 "Make ComplexDateTimeField useable as a TTL index"
Currently, ComplexDateTimeField is not useable as a TTL index. Right now, this is stored as a simple string to enable lexicographic comparison but MongoDB itself won't be able to use it for a TTL index. I think changing the storage to an array will do the trick:

[ISODate, microsecond]  # millisecond part of the ISODate is set to 0

This should sort properly *and* work with MongoDB TTL indexes per

[2015-04-03 16:05] jimmyshen commented on #910
sounds good, thanks @thedrow

[2015-04-03 16:27] candidate48661 commented on #832
That would be awesome!

[2015-04-03 16:47] MRigal commented on #928
Sounds reasonable

[2015-04-04 05:01] nim4n commented on #898
@sreejithr no, you should remove objects definition in the default class and then It works fine!

[2015-04-05 06:51] DavidBord commented on #854
@snario using `update(set__...)` for updating just one the attribute you need solves this issue for you?

[2015-04-05 06:56] DavidBord commented on #855
@mgoffin thanks. Can you please provide a reproducible test case, that can work on my dev env?

[2015-04-05 11:30] DavidBord commented on #856
@arthursw I tried to reproduce it and it works for me, so can you please provide a reproducible failing test?

[2015-04-05 15:51] eli-b opened #929 "Installing mongoengine 0.9.0 messes up pymongo's bson package"
Running
[code]
when an older version of mongoengine is already installed and pymongo==2.7.2 is already installed
causes this line to fail:
[code]
with the following error:
[code]

Running
[code]
fixes the problem.
Another workaround is to start your virtualenv from scratch. This may take a long time when many requirements need to be built from source but it's sometimes the only option on services

[2015-04-05 16:02] eli-b opened #930 "Empty ListFields of EmbeddedDocuments with a unique field may only exist once (MongoEngine 0.9.0)"
Trying to save an empty list of embedded documents which have a unique field on another document causes the following error to be thrown:
[code]

Interestingly, having a primary_key field in an EmbeddedDocument in an empty ListField doesn't cause an error.

The workaround we found is to define the field on the EmbeddedDocument as unique and sparse. which is funny, since the sparse option is the re

[2015-04-06 11:02] elephanter opened #931 "wrong _delta in specific case"
Way to reproduce: model has MapField inside other MapField, we initialize first MapField with some key-value pair, save, then restore object from database and place some key inside lower MapField  - we get wrong key from _delta
example code:

    from mongoengine import Document, EmbeddedDocument, ListField, MapField, EmbeddedDocumentField, StringField, IntField
    from mongoengine import connect

[2015-04-06 16:04] alexandre opened #933 "Is there a "bulk update"?"
Hello,

Sometime ago I was looking for a way to insert many document per time and I found this:

[code]

Cool, but now: is there a way to do it, but for updates? Well, I thought that update + upsert could do it, however I was wrong:

[code]

I hope I have been clear, thanks for the effort and help. =]

[ ]'s (hugs)

[2015-04-06 21:50] mrhegemon commented on #929
I am having the same issue.

[2015-04-07 08:00] arthursw commented on #856
I think I faced a race condition in a bigger project ; the problem does not occur when I test this with my current mongoengine version (0.9.0).

[2015-04-07 08:00] #856 closed

[2015-04-07 14:10] DavidBord commented on #603
@paulocheque ?

[2015-04-07 14:11] DavidBord commented on #578
@mihneagiurgea could you please add a test and reopen your PR?

[2015-04-07 14:15] DavidBord commented on #537
Solved it in #917

[2015-04-07 14:15] #537 closed

[2015-04-07 17:17] paulocheque commented on #603
Hi DavidBord, thanks for remember me about this issue and sorry by the time lag!

I believe you can close this issue. It was probably a PyMongo issue! If I face this problem again I can reopen this!

[2015-04-07 17:23] ajdavis commented on #929
I can't reproduce this. I do the following to get PyMongo 2.7.2 and MongoEngine 0.8.0 like you had:
[code]
Now I try to reproduce the error:
[code]
But everything still works fine for me:
[code]
Can you say more about how to reproduce this issue?

[2015-04-07 17:42] ajdavis commented on #929
Looks like a duplicate of #919 .

[2015-04-07 17:47] ajdavis commented on #919
I propose reopening this ticket; upgrading MongoEngine from 0.8.7 to 0.9.0 shouldn't require a manual uninstall and reinstall of PyMongo.

The issue is in mongoengine.egg-info/top_level.txt. If you download this file:

https://pypi.python.org/packages/source/m/mongoengine/mongoengine-0.8.7.tar.gz

Then:
[code]
Since "bson" is included as a top-level package, when pip uninstalls mongoengine 0.8.7 i

[2015-04-07 18:16] ajdavis commented on #919
I believe release 0.8.7 is broken; it has a bad egg uploaded to PyPI. (Perhaps the distributor's machine had a `bson/__init__.py` file in the mongoengine directory when you did `python setup.py sdist`?) 0.8.7 should be replaced on PyPI. This won't save people who've already installed it, they need to manually uninstall and reinstall pymongo after upgrading.

[2015-04-07 20:38] MRigal commented on #919
Thanks @ajdavis !

@rozza and @DavidBord we should take this issue seriously, it will affect many people. At least make it clear in the documentation, eventually even in the output of the install script...

[2015-04-07 23:56] noirbizarre opened #934 "#457 breaks legacy/undeclared fields"
#457 is a very big change.
It makes the application not resilient to data change, which is one strong feature of mongo.
It prevent you to load data when all the fields are not declared in your application model.

When you share data between application using mongo, it does not allow to fetch update and save the "known model" without touching unkown fields.

I have tons of documents with legacy fie

[2015-04-08 02:37] timfeirg opened #935 "upgrade to pymongo 3.0 breaks pymongo connection"
error message as follows:

[code]

You can see the problem is in 'read_preference', which in mongnengine is False by default, which no longer is valid in pymongo.

[2015-04-08 09:28] #929 closed

[2015-04-08 09:28] rozza commented on #929
See: #919

[2015-04-08 09:39] rozza commented on #935
pymongo 3.0 has just been released and the latest version of pymongo is automatically installed when pip installing mongoengine.

[2015-04-08 09:40] rozza commented on #935
@thedrow @DavidBord I think you might need to release a 0.9.1 with a locked version of pymongo < 3.0 until a pymongo 3.0 compatible version is released.

[2015-04-08 09:50] rozza commented on #919
Thanks @ajdavis for the great detective work.  This is a sorry saga and unfortunately, it has no great outcome.

It seems you can no longer replace a file anymore in pypi and so I wasn't able to replace 0.8.7 cleanly.

I deleted the broken package and added mongoengine-0.8.7.1.tar.gz for the 0.8.7 release.
See: https://pypi.python.org/pypi?:action=files&name=mongoengine&version=0.8.7

However, wha

[2015-04-08 09:50] #919 closed

[2015-04-08 09:51] rozza commented on #919
As pymongo 3.0 is out the fix for 0.8.7 users is now:

[code]

[2015-04-08 09:52] rozza commented on #935
In the meantime please downgrade pymongo to 2.8:

    pip install pymongo==2.8

[2015-04-08 10:02] thedrow commented on #935
I'm on it.

[2015-04-08 10:08] thedrow commented on #934
I don't see that #457 was merged.
How come it creates a problem for you?

[2015-04-08 10:09] #603 closed

[2015-04-08 10:14] thedrow commented on #854
@DavidBord it might be a viable workaround but certainly not a bug fix.

[2015-04-08 10:19] thedrow commented on #918
Care to create a pull request with a failing test case?
I'll try to provide a fix for it.

[2015-04-08 10:38] thedrow commented on #913
Does the problem still occur with 0.9.0?
Can you issue a PR with a failing test case?

[2015-04-08 12:17] thedrow commented on #933
Can you provide more details or a failing test case (preferably in a PR)?
The fact that the rest of the objects were not updated sounds like a bug to me.

[2015-04-08 13:09] MRigal commented on #935
You're on the 0.9.1 or on the compatibility fix? Else I could work on the 3.0 connection fix

[2015-04-08 13:19] thedrow commented on #935
If you can work on the connection fix that would be best.

[2015-04-08 14:13] marcoskv opened #937 "QuerySet count vs len"
The MongoEngine documentation [recommends to use len to count results](http://docs.mongoengine.org/en/latest/guide/querying.html?highlight=count#counting-results), because it is more Pythonic.

count() executes a server side count query, while len() retrieves the results, places them in cache, and then counts them.

If we compare the performance of the two operations, len() is super slow compared

[2015-04-08 14:22] ripperdoc commented on #783
I have found the same issue.

[2015-04-08 15:26] noirbizarre commented on #934
Yes it is, but not done through the github pull-request merge feature:
https://github.com/MongoEngine/mongoengine/commits?author=gitaarik

[2015-04-08 16:01] eli-b opened #938 "Using only() with a ListField doesn't populate the field with an empty BaseList if the field is missing"
To reproduce:

[code]

[2015-04-08 16:05] pingometer opened #939 "TypeError: __init__() got an unexpected keyword argument 'snapshot'"
In MongoEngine 0.9.0, I get the following errors each time I try to access a document.

In other words, the query itself works but if I try to print out or access the value of a field, I get this error.

https://gist.github.com/pingometer/c1a5a35bd8699e6c1fa3

I switched back to 0.8.8 and it works fine.

[2015-04-08 16:07] pingometer opened #940 "Error: False is not a read preference."
In MongoEngine 0.9.0, I get the following error related to my connection string:

```mongoengine.connection.ConnectionError: Cannot connect to database default : False is not a read preference.```

It appears there is a bug in MongoEngine (or possible pymongo) where the default value of read_preference in mongoengine.connect is False instead of an actual read preference, and is not transformed to

[2015-04-08 16:50] sinejoe commented on #939
+1 Same issue

[2015-04-08 16:53] iorlas commented on #940
See #935

[2015-04-08 17:02] inabhi9 commented on #244
It's really needed to escape operators in queryset.

If it's not possible immediately, is it possible to add constrain to prevent same field name as operators?

[2015-04-08 17:05] pingometer commented on #939
This appears to be related to PyMongo. If you go back to Pymongo 2.7.2 (this is what I tried, at least), it works.

[2015-04-08 17:06] #940 closed

[2015-04-08 17:14] eli-b commented on #399
I think this can be closed now. It's listed as fixed in http://docs.mongoengine.org/changelog.html.

Hi Alon!

[2015-04-08 17:16] gbrennon opened #942 "Just updated Mongoengine and now connection doesn't work."
I'm using Mongoengine as my ORM and ended the development of a new feature for my app.

When It was sent to my CI server to run tests I got an error claiming that Mongoengine v 0.8.7 was not available for download on pip. (it was before, I install everything via pip).

So I decided to update my project mongoengine version and now my application doesn't work.

I have on my app.config object the con

[2015-04-08 17:31] amcgregor commented on #942
You have been incorrectly using "False" as a read_preference and relying on the silent casting of `False` to the integer `0` which represents the "primary" read preference.  Don't do this; your own code is wrong.  You should be using [the integer values](https://github.com/mongodb/mongo-python-driver/blob/master/pymongo/read_preferences.py#L25-L29) or, more correctly, the [enum object](https://git

[2015-04-08 17:35] iorlas commented on #939
Yea, it seems we should stick with 2.8 now, as suggested in related issues.

[2015-04-08 18:02] gbrennon commented on #942
I'm just using mongoengine the way Flask-mongoengine tells me how to connect to Mongodb.

I've defined MONGODB_SETTINGS = {'db': 'testing'}

In the flask-mongoengine examples they set their MONGODB_SETTINGS the same way as I did.

And the error is the same as mine

[2015-04-08 18:13] andrewbelu opened #943 "Calling limit() on a queryset does not actually limit results on server side call"
I am trying to limit the results of a query and feed the queryset to a Django template. When I try to perform the following:

    records = Record.objects(query).limit(10)

And send it to a Django (v1.7) table template, this results in more than 10 records appearing in my table (71 to be exact).

Note that if I call records.count() after the limit(), it returns 71. len(records) returns 10 however.

[2015-04-08 18:29] amcgregor commented on #942
Aaaaah, this is due to how you upgraded.  When upgrading MongoEngine you must have also caught the PyMongo 3.0 update.  PyMongo 3.0 is not backwards-compatible (pretty much at all), so you'll need to pin the version yourself using a requirements.txt file (feature of pip) or by setting the version for pymongo in your `setup.py` to `<3.0`.  See also: #935

[2015-04-08 18:33] KoppeKTop commented on #643
Hi! Answered [here](https://github.com/MongoEngine/flask-mongoengine/issues/86).
Hope this helps.

[2015-04-08 18:50] gbrennon commented on #942
Thank you @amcgregor !!

Its fun to see this, but I've now updated Mongoengine again and it just updated Pymongo together...

this sucks hahaha

[2015-04-08 18:50] #942 closed

[2015-04-08 19:53] #399 closed

[2015-04-08 19:58] DavidBord commented on #943
For the `count` you should add a flag `with_limit_and_skip=True`
For the rest, could you please provide a failing test case?

[2015-04-08 20:16] andrewbelu commented on #943
Where do you want me to add a test case?

Note, I believe this is related to https://github.com/hmarr/mongoengine/issues/166

[2015-04-08 21:03] gitorgstars opened #944 "version 0.8.7 unavailable on PyPi"
on the Python Package Index (https://pypi.python.org/) mongoengine 0.8.7 has been renamed (apparently) as 0.8.7.post2, and there is an 0.8.7.1 version. pip install fails with (previously working) mongoengine==0.8.7.

Can someone clarify this situation, and why this change that breaks backward compatibility for projects dependent on the previous release?

[2015-04-08 22:10] MRigal commented on #944
The 0.8.7 was a broken release, something wrong went into the package. They tried to replace the package on PyPi, but couldn't. Mongo 0.8.7.1 is a strict copy of 0.8.7 with the package fix

[2015-04-08 22:14] MRigal commented on #933
We should anyway handle this better with PyMongo 3.0 and the update_many() function

[2015-04-08 22:23] gitorgstars commented on #944
thanks for the info. However "something wrong" doesn't really justify removing the package entirely -- it was working fine for us for 6+ months, now we have to go into every script that refers to the package and manually change the version.

I think in the future the best practice would be to release a new version but leave the old one as-is for those who depend on it.

It looks like the problem w

[2015-04-08 22:31] alexandre commented on #933
I'm using python3 and I'm still trying to the tests (something with my local mongodb instance). But, I'll try send this PR [yet] today.

[ ]'s (hugs)

[2015-04-08 22:50] rozza commented on #944
Please accept my apologies, I believed the package could be replaced. As of Jan this year pypi made it no longer possible to overwrite a package and by the time I found out the damage was already done and seemingly impossible to undo.

0.8.8 is the same as 0.8.7 but with a fixed pypi package.

For the reasons why 0.8.7 needed fixing see #919

[2015-04-08 22:50] #944 closed

[2015-04-08 23:14] rozza commented on #944
OK I found a way round the pypi not allowing the reuploading the same file - 0.8.7 is fixed and available again.

[2015-04-08 23:15] rozza commented on #919
Good news 0.8.7 is fixed and available again.

[2015-04-08 23:15] MRigal commented on #944
Great job Ross !

2015-04-09 1:14 GMT+02:00 Ross Lawley <notifications@github.com>:

[2015-04-08 23:44] gitorgstars commented on #944
Thanks for the quick work!  Just FYI I believe the fixed version was called 0.8.7.1, not 0.8.8.

Great project BTW!

[2015-04-09 00:07] gitorgstars commented on #944
ech -- now getting bson.error problems :( just FYI
seems I'll have to reinstall virtualenv everywhere to fix the bson dependency -- saw this behavior before with 0.9.0 tests

[2015-04-09 01:49] MRigal commented on #944
since you had the "bad 0.8.7" installed at some point before, you will have
indeed to rebuild the env, or simply to do uninstall mongoengine+pymongo
and then install pymongo+mongoengine

2015-04-09 2:07 GMT+02:00 gitorgstars <notifications@github.com>:

[2015-04-09 01:57] MRigal commented on #935
OK, I did my best, it fixes this issue, but needs some more work on other points, #946

[2015-04-09 01:58] MRigal commented on #939
Fixed in #946 but it still needs some additional work to be able to be merged and to be released

[2015-04-09 06:59] thedrow commented on #934
What are the side effects of turning your models into dynamic ones?

[2015-04-09 07:06] #888 closed

[2015-04-09 07:27] thedrow commented on #943
@andrewbelu Preferably as a test in a PR.

[2015-04-09 07:30] thedrow commented on #938
Can you submit this test case as a PR please?

[2015-04-09 07:32] noirbizarre commented on #934
I simply don't want extra attributes, not already existing in db, to be saved.
The old mode allowed to preserved legacy ones without adding new one.

I totaly understand #457 , I just want to have the ability to control whether its activated or not, either by model (with a meta attribute) or globally without configuration option.

[2015-04-09 07:36] thedrow commented on #934
Does the dynamic document add more fields?
Or is it that you simply don't want them to ever load?

I don't think that reactivating a bug as a configuration option is a good idea.
![Workflow](http://imgs.xkcd.com/comics/workflow.png)

[2015-04-09 07:39] thedrow commented on #832
This sounds a lot like Django's prefetch_related right?

[2015-04-09 07:45] thedrow commented on #930
Can you provide a test case? Preferably in form of a PR?

[2015-04-09 09:41] eli-b commented on #930
Ok, I will.

[2015-04-09 11:03] elephanter opened #949 "problems with using operators names as field name"
Why I can't use field name like "gte", or "type"?

Mongoengine automatically translate my request
MyDocument.objects(item__type="axe") to request {item:{$type:"axe"}}

example:

    from mongoengine import Document, EmbeddedDocument, EmbeddedDocumentField, StringField
    from mongoengine import connect
    connect('test')

    class EmbeddedItem(EmbeddedDocument):
        type = StringField()

[2015-04-09 11:13] elephanter commented on #949
Ok. i see that last part in "field name" searching in MATCH_OPERATORS and removed from full "field path" if it is operator.

If my document structure will be {type: { name: "123"}} then query with Doc.objects(type__name="123") will be fine

May I offer solution.
If we want to escape last field from making it into operator by mongoengine, we can add "__" at the end of the field name.
In my first ex

[2015-04-09 11:21] GroverChouT opened #950 "Cannot connect to database default : False is not a read preference."
I use `connect(host='mongodb://username:password@localhost:port/database')` in my django `settings.py`.
Run server then got a report:

[code]

Is this a bug or not?
Write in python `3.4.3` with django `1.8` and mongoengine `0.9.0`

[2015-04-09 11:24] elephanter commented on #949
Here is my small fix with unittests for my idea with __ at the end of field name

[2015-04-09 11:28] mseimys commented on #950
Same problem is described on [SO](http://stackoverflow.com/questions/29517930/error-while-following-tumblelog-application-with-flask-and-mongoengine). I worked around it by reverting from PyMongo 3.0 to 2.8.

[2015-04-09 11:33] GroverChouT commented on #950
@mseimys That's cool, I wish you fix it and thanks!

[2015-04-09 11:35] GroverChouT commented on #950
@mseimys Thanks

[2015-04-09 11:37] mseimys commented on #950
No problem. Anyway, I wouldn't close this issue just yet - problem is still there, i haven't got enough skills yet to fix it :)

[2015-04-09 11:39] GroverChouT commented on #950
With the progress of refer to: #935
I find it.

[2015-04-09 13:08] noirbizarre commented on #934
I don't think this is a bug when this a known and explicit behavior, even more when this the default behavior since the first version.

Preventing constructor bad usage, which is good and the purpose of #457, is different than preventing loading data from a schema-less database into a typed and structured model (mostly a vue of the stored data), which is the side effect from #457.
The schema notio

[2015-04-09 14:19] MRigal commented on #890
The problem here seems clear:
"
pymongo.errors.AutoReconnect: not master and slaveOk=false
"

Well, if your database configuration ends sometimes not having a master, for sure mongoengine won't work, but it won't because pymongo won't work and also simple queries in the mongo shell won't work.

There is no issue on mongoengine here. I may recommend to read a bit more of the mongo documentation on

[2015-04-09 14:28] MRigal commented on #891
Could you just try to inherit Haber() class from DynamicDocument instead of Document ? Just to see if you experience the same problems

[2015-04-09 14:34] MRigal commented on #840
If you use Python >= 2.7, you could also use OrderedDict, it's what we do everywhere.

@DavidBord when addressing this issue, we could also consider raising a warning every time somebody tries to do something like that.

[2015-04-09 14:38] MRigal commented on #949
I think it is good idea, quite django-ish, but it is definitely a really breaking change and probably not safe for release before a major version upgrade...

[2015-04-09 14:47] MRigal commented on #935
What about the 0.9.1 @thedrow ?

[2015-04-09 16:34] danx0r commented on #944
Just a final thought on this escapade. Clearly, the 0.8.7 pip archive was "bad" in that it spuriously installed a random version of bson.

However, if someone was using it and things were working, the decision to patch the release caused errors to arise where before things seemed to "just work".

Wouldn't it be better in such cases to simply release a 0.8.7.1 or 0.8.8 release, and document clearly

[2015-04-09 16:43] rozza commented on #944
Agreed I think on reflection that would have been a better course of action.

[2015-04-10 05:59] elephanter commented on #949
Ok. then it might be described anywhere. The name of the field "type" is not so rare. This name was not present in 0.9 branch, and update can lead to huge problems without solution from mongoengine. The only one we can say: "yes we know about this, just rename your field". But that is not possible in most cases for projects already in production.

[2015-04-11 01:49] gordol commented on #934
I threw together this patch as an idea to fix this.

Any thoughts? I haven't dug too deep into Mongoengine to know what else this might affect, but I used _from_son in BaseDocument object as my injection point. The idea being that if one tries to define in code a field that does not exist, an error is still raised, but if one pulls in data from a PyMongo object, we don't raise an error.

[code]

[2015-04-12 03:29] c05mic opened #954 "ReferenceField('self') attribute of a subclass document can't hold an instance of parent class document"
[code]

Is this an expected behaviour?

Using MongoDB 3.0.2 with MongoEngine 0.9.0 and PyMongo 2.7.2.

[2015-04-12 06:17] thedrow commented on #954
That seems wrong to me.
Can you submit this test case in form of a PR please?

[2015-04-12 14:38] c05mic commented on #954
I have submitted a PR for the test case. I'd like to work on fixing this issue, if you could please guide me on how to go about it.

[2015-04-12 16:23] alexandre commented on #933
Hey guys,

The version 3.0 of pymongo have an issue and I just discovered it today. =(
Well, I wrote a simple test using something similar I've commented here initially. Please apologize and let me know if my test have some error or not is clear enough, I would be really happy to write it again.

[ ]'s (hugs)

[2015-04-12 16:33] MRigal commented on #933
Hi @alexandre
It's not really clear from what you're writing. Have you ran your test previously with the PyMongo versions?
You mention at the beginning that you're using Python 3. Could you be more precise with the versions of Python, PyMongo and mongoengine you were using before and now?

Mongoengine is currently NOT supporting PyMongo3, but we are pretty close to it #946

Anyway, your tests make

[2015-04-12 18:34] alexandre commented on #933
@MRigal ,

I'm sorry, let me add some info:

* I discovered the issue in PyMongo3, so I did the downgrade to the version __2.7.2__.
* Yep, I'm using Python3, the version __3.4.2__.
* I'm using the last version of mongoengine available on PyPi - the version __0.9.0__.

I did put my test on the master branch, but I'll open a specific branch to handle this "bulk update". How about? better? =]

[ ]'s

[2015-04-12 19:27] MRigal commented on #933
OK, thanks for your PR #956

It is now quite clear! I'm currently busy with some other issues, like PyMongo 3.X, but yourself or somebody else could work on a fix. =]

[2015-04-13 19:05] DavidBord commented on #938
Its all comes down to a `Document` method named `_delta` that unsets fields that are set to default values
and that's even tested:

        doc._changed_fields = []
        doc.list_field = []
        self.assertEqual(doc._get_changed_fields(), ['list_field'])
        self.assertEqual(doc._delta(), ({}, {'list_field': 1}))

@rozza I think this is at least the 3rd time I am running into an issue th

[2015-04-14 14:23] RussellLuo commented on #939
+1 Same issue in MongoEngine-0.9.0 with Pymongo-3.0

[2015-04-15 10:08] DavidBord commented on #843
This works for me on me 0.9:
        class BlogPost(Document):
            title = StringField()
        post = BlogPost(title='a')
        post.save()
        BlogPost.objects(id=post.id).update(title='Example Post')

could you please provide a failing test case?

[2015-04-15 10:11] DavidBord commented on #776
@janispauls do you have a failing test case?

[2015-04-15 10:18] DavidBord commented on #614
I solved it in a similar manner in #798

[2015-04-15 10:18] #614 closed

[2015-04-15 10:31] DavidBord commented on #760
@irinaColgiu its definitely in 0.9 though

[2015-04-15 10:42] rozza commented on #760
I'm confused the release notes: https://media.readthedocs.org/pdf/mongoengine-odm/latest/mongoengine-odm.pdf are for the latest version which is 0.9

Can you clarify?

[2015-04-15 11:20] lexqt commented on #843
[code]

raises `InvalidQueryError: Updates must supply an operation eg: set__FIELD=value`

[2015-04-15 11:59] irinaColgiu commented on #760
Hi,

I had the impression that the conditional save was introduced in 0.8.7. But now that I double-checked, it's only in 0.9 that it was announced. I apologize for opening an this issue, it was my bad!

Cheers,
Irina

[2015-04-15 13:21] #760 closed

[2015-04-15 13:21] rozza commented on #760
No problems!

[2015-04-16 07:38] janispauls commented on #776
Nope. Wasn't able to reproduce.

[2015-04-16 07:51] DavidBord commented on #776
Thanks for trying
I am closing this issue
You are mroe than welcome to re-open it in case it will happen to you

[2015-04-16 07:51] #776 closed

[2015-04-16 08:16] noirbizarre opened #958 "Proposal: split out Django support"
Hi !

For many reason, it would be better to have Django support splitted out in its own module:
- MongoEngine is a framework agnostic ORM
- Django support is the only framework supported in mongoengine while others have their own module (ex: flask-mongoengine)
- Having to test Django versions make the testing very hard and long (generates 52 combinations without PyMongo 3), it would be easier as

[2015-04-16 09:51] MRigal opened #959 "Impossible to filter a binary PK by its string value"
Hi all,

As showed in the skipped test test_binary_field_primary_filter_by_binary_pk_as_str from the branch #946 it is currently possible to create a object by the bytes string representation of a binary object, but not to query it afterwards.

For consistency and practically, it should be fixed, furthermore knowing there are different bson.Binary object types

Best,
Matthieu

[2015-04-16 11:46] thedrow commented on #958
I completely agree.
Moreover the Django support provided here is pretty broken.
So I'd rather rewrite then move the existing code.

[2015-04-16 12:50] noirbizarre commented on #958
I don't the state of the current django-mongoengine.
I'm not using Django anymore but I still can help for the transition.

[2015-04-16 21:28] alexandre commented on #351
SitRep?

[2015-04-17 07:48] thedrow commented on #351
@wpjunior We'd love to merge this if possible.

[2015-04-17 08:38] v3ss0n commented on #351
Any progress of this? almost 2 years now.

[2015-04-17 15:18] alexandre opened #964 "What is the expected behavior for this scenario?"
Hi guys/girls,

I have a similar scenario:

[code]

When we use the resource __upsert__ in a update query, the attributes specified on method __objects__ will be used in the new objects. Something like:

[code]
This query returns an error:

[code]

But the attribute __company__ is not a ObjectId, I'm trying match a attribute ListField with a list - fair enough, right?

So, it's a bug or a it's fea

[2015-04-18 20:24] marceltschoppch commented on #892
Same problem here. I think it would be safe if the value will be set to None when the DBRef points to an unknown ID. If _auto_dereference is false, the actual behaviour should be kept (return a DBRef, even if it's invalid).

[2015-04-18 21:09] ffix opened #965 "Regex search is extremely slow with python3"
Hi.

As is described [here](http://api.mongodb.org/python/2.8/api/bson/regex.html):

But unicode regexps is extremely slow:
[code]
Non-unicode version:
[code]

I've tried to use such method in my model:
[code]
But it generates unicode regex (1st query).
Now I'm using different method:
[code]
And it works fine (2nd query). But it is terrible, I think.
Also I've tried to use bytestring instead of un

[2015-04-19 14:21] bung87 opened #966 "user._meta has no attribute 'pk' causes error while storing session"
'MetaDict' object has no attribute 'pk'
request.session[SESSION_KEY] = user._meta.pk.value_to_string(user)

Django==1.8
mongoengine==0.8.8

[2015-04-21 14:35] shea256 commented on #935
thank you @rozza this downgrade worked perfectly

[2015-04-21 14:59] thedrow commented on #935
@MRigal I'm waiting for votes on #946.
If it's mergable I'll release 0.9.1.

[2015-04-22 09:29] rozza commented on #958
:+1:  Would make supporting django simpler and we can specifically support different versions.

[2015-04-22 09:48] rozza opened #968 "Add new Maintainers"
FYI - @thedrow.

Both @MRigal and @seglberg has asked to become maintainers and have already contributed well to the project.

[2015-04-22 09:48] rozza commented on #968
Invites sent!

[2015-04-22 09:48] #968 closed

[2015-04-22 15:42] rozza commented on #958
mongoengine/django-mongoengine is free for use - it had some initial momentum but its been two years since the last commit.  It also has a warning not to clone on it.  I could rename and add a new repo incase anyone relied on the code.

[2015-04-23 01:42] seglberg commented on #968
:+1:

Thanks guys. I have been dealing with moving into a new house + took some time off from work so I am looking forward to helping out with MongoEngine in the near future!

[2015-04-23 13:19] alexsobrino opened #970 "FieldDoesNotExist: changes in document creation (from 0.8.7 to 0.9.0)?"
Hi,

I think the best way of explaining my issue is with an example:

[code]

In *0.8.7* you could do:

[code]

That same example doesn't work on *0.9.0*:

[code]

Is there a way (using a parameter maybe?) of having the same 0.8.7 behavior?

Thanks

[2015-04-23 14:15] seglberg commented on #970
I actually just updated a project to MongoEngine 0.9 yesterday and ran into this issue for many of the failing unit tests --

I debated adding a parameter to override the new `FieldDoesNotExist` exception but personally I feel we should stick to one behavior and stop adding so many knobs to modify the core behavior of MongoEngine. Especially when the client code can sanitize the input instead... /

[2015-04-23 14:54] alexsobrino commented on #970
Using ```set``` arithmetic to create a sanitization function seems the easier way:

[code]

[2015-04-23 16:13] seglberg commented on #970
Does that solution work for you? If so I will close out this request.

[2015-04-23 19:34] thedrow commented on #968
:+1:

[2015-04-24 02:28] hackrole opened #971 "why document update not send signals?"
I would like to use signals to handle some pre_save, but I use both save and update.
the save send signals, but the update not, which make my code hard to work.

[code]

[2015-04-24 05:41] RussellLuo opened #972 "Tests failed when using MongoDB v3.0.1"
I use MongoDB v3.0.1, when I run tests via `python setup.py test`, the following three tests failed:

    ======================================================================
    ERROR: test_covered_index (tests.IndexesTest)
    Ensure that covered indexes can be used
    ----------------------------------------------------------------------
    Traceback (most recent call last):
    File "/mnt/

[2015-04-24 06:41] alexsobrino commented on #970
@seglberg sorry for the late reply. That solution works, so you can close the issue/request.

Besides, it kind of makes sense to move this kind of validations/sanitization to the app level.

Thanks!!

[2015-04-24 06:41] #970 closed

[2015-04-24 14:07] seglberg commented on #972
Hi @RussellLuo

Sorry if I missed it in your output -- but can you tell me which version of PyMongo you are using?

[2015-04-24 14:25] seglberg commented on #930
Looking over #930... is the current behavior not correct? Your test passes just fine.

The `number` field inside of the EmbeddedDocuments are treated as `null` and so without adding `sparse` to the index, an exception should be expected.

[2015-04-24 14:32] seglberg commented on #818
As an attempt to clean up the issue list -- I am going to close this issue as a duplicate of #453.

Please reopen the issue if you feel #453 does not adequately represent your issue.

[2015-04-24 14:37] #818 closed

[2015-04-24 14:37] seglberg commented on #971
As an attempt to clean up the issue list -- I am going to close this issue as a duplicate of #453.

Please reopen the issue if you feel #453 does not adequately represent your issue.

[2015-04-24 14:37] #971 closed

[2015-04-24 14:39] seglberg commented on #453
Just an FYI - calling `update()` not only skips validation, but does not throw any of the related signals.

[2015-04-24 15:01] eli-b commented on #930
I don't think the current behavior is correct. I didn't try to save two documents with a `null` unique IntField, I was trying to save two documents with empty lists. Those lists were not declared unique, they just happen to be lists of documents that have a unique field.
Saying that defining an empty list equals defining a list element with all `null` fields is... surprising behavior.

The test pa

[2015-04-24 15:46] MRigal commented on #972
Here it is obviously the problem with pymongo 3. Go back to 2.8 or wait
that #946 gets merged
Am 24.04.2015 16:07 schrieb "Matthew Ellison" <notifications@github.com>:

[2015-04-24 16:02] seglberg commented on #972
Okay great, I have little experience with PyMongo 3 yet so that was why I was asking because I suspected that was the issue.

@RussellLuo
Unfortunately, it is probably not your fault, since the requirements / setup.py currently allow pymongo version 3 to be installed.

I am going to close this issue out for now, once PyMongo 3 support is added, feel free to reopen it if you still find it to be an

[2015-04-24 16:02] #972 closed

[2015-04-24 17:49] seglberg commented on #958
:+1:

I like the idea of re-writing the Django support as its own separate extension. I believe it help the Django integration more coverage and attention.

[2015-04-24 18:05] seglberg commented on #958
There probably needs to be a discussion around if we re-write the Django support, what do we do with the open issues / PRs surrounding Django.

One idea is to label them with a temporary "New Django" label and close them out. Then we can go back and inspect them as needed during development of the new extension.

[2015-04-24 19:24] noirbizarre commented on #958
@seglberg: the label+close seems to be a good solution. It will helps for the bug triage.

For the legacy django-mongoengine, PyPI shows there was no download at all:
https://pypi.python.org/pypi/django-mongoengine

[2015-04-25 00:50] RussellLuo commented on #972
I used Pymongo v2.7.2 (but connected with MongoDB v3.0.1), so I guess the problem was caused by the MongoDB server (not the Pymongo client).

Take the testcase  `test_covered_index` for example. The error was because different versions of MongoDB server return different results for `explain` method.

Suppose we call `db.test_coll.find().explain()` in MongoDB console shell:

1. when connected with

[2015-04-25 07:14] thedrow commented on #930
@eli-b When providing a test case in a form of a PR it should *fail* first and pass after fixing the bug.
@seglberg What @eli-b is describing sounds like a bug to me caused by an edge case.
Are we raising that exception or Mongo is?

[2015-04-25 09:54] eli-b commented on #930
Thanks for the clarification on the convention, @thedrow. I wanted to respectfully leave the developers the option to disagree with me and claim the behavior isn't a bug.
@seglberg, sorry for the misunderstanding. I've updated the pull request.

[2015-04-25 15:04] noirbizarre commented on #964
You're query is wrong.

You should either write:
[code]
or
[code]

But be careful, the first request is setting the name of each employee of any company (so all employees) to 'New Employee'. I don't think that's what you want.
If you want at least one employee by company, it's the second request, but the existing employees will have their name set too.

Want do you want you to do with your query ?

[2015-04-25 15:09] alexandre commented on #964
I think I'm not wrong. "company.objects.all()" is just a bad example, think in something like:

[code]

I just want that the update query update or create an employee with a list of companies in an attribute that is a ListField.

[ ]'s (hugs)

[2015-04-25 15:11] alexandre commented on #964
and please, read the initial scenario. The model Employee has a ListField and not just a ReferenceField. AFAIK, you for statement wouldn't work well. =]

[2015-04-25 15:24] noirbizarre commented on #964
Yep, this what's wrong, not the initial query.

If you read my exemple, you will see I changed the operator from:
[code]
to:
``python
models.Employee.objects(company__in=companies)
[code]

[2015-04-25 15:55] noirbizarre commented on #964
Sorry I will details the different possibilities (in my opinion):

I you want to match an employee that is in at least one of the specified companies, write:
[code]
But `upsert` will create only one document and only if no employee match. I can't say what will be the value of company, you should try.

I you want to match an employee that is in all the specified companies (but allowing more), write

[2015-04-25 16:01] alexandre commented on #964
Great!

This solve my doubts. Thank you so much for the detailed answer. =]

[ ]'s (hugs)

[2015-04-25 16:01] #964 closed

[2015-04-25 20:06] mory0tiki commented on #966
I have the same issue in mongoengine==0.9.0 and django==1.8

[2015-04-26 01:23] seglberg commented on #930
MongoDB is throwing the exception. This is not a *bug* with MongoEngine but rather the behavior of MongoDB multikey indexes:

Looking at http://docs.mongodb.org/manual/core/index-unique/

If a document does not have a value for the indexed field in a unique index, the index will store a null value for this document. Because of the unique constraint, MongoDB will only permit one document that lacks

[2015-04-26 01:31] seglberg commented on #937
Feel free to throw up a Pull Request for updating the documentation. We are trying to clean up our back log of issues but we currently have a lot of issues and bugs to work through. Any help would be appreciated. :)

[2015-04-26 01:43] seglberg commented on #958
Okay, I will spend some time labeling any currently open Django bugs.

Is everyone still OK with removing Django support from the MongoEngine "core" repository and re-visiting support with a new, but separate module?

@thedrow @MRigal @DavidBord @rozza @yograterol

I like the whole maintainer voting idea since we have been keeping most of our maintainer communication limited to GitHub :)

+1 from

[2015-04-26 02:06] #147 closed

[2015-04-26 02:06] #162 closed

[2015-04-26 02:13] seglberg commented on #451
I am trying to clean up the issue back log, and so I am going to close this out in favor of #453.

[2015-04-26 02:13] #451 closed

[2015-04-26 02:15] #593 closed

[2015-04-26 02:21] seglberg commented on #650
I just want to get my thoughts down about this issue before I forget them.

I think for our next major version we need to have a discussion around exactly how we store / save / retrieve data from the database. For example, as of today, we have `save`, `update`, and `modify` for writing to the database.

In my opinion it has become a little confusing for a user to know when to use what update metho

[2015-04-26 02:24] seglberg commented on #644
This appears to fixed. If you find you are still running into the same problem in 0.9 - please feel free to re-open the issue.

[2015-04-26 02:24] #644 closed

[2015-04-26 05:19] bung87 commented on #966
Finally I implemented custom `AuthenticationMiddleware`,and `_get_user_session_key` function.
and in login function `request.session[SESSION_KEY] = str(user.pk)`,I think the better way is define _meta.pk.value_to_string in user model (or document),so we can use the Django default AuthenticationMiddleware,for now just solved the problem.
[code]

[2015-04-26 08:08] eli-b commented on #930
I'd like to point out that the behavior is new to MongoEngine version 0.9.0. Did 0.9.0 require a new version of pymongo which introduced this?

[2015-04-26 08:17] thedrow commented on #930
Are you sure nothing else has changed in your environment?

[2015-04-26 14:18] eli-b commented on #930
I'm quite sure. I'll be able to test it tonight.

[2015-04-26 17:08] seglberg commented on #930
I tested this aside from MongoEngine (using the MongoDB cli) and it throws an error on insertion which is what MongoEngine is catching. So it should of thrown the same error in both 0.8.x and in 0.9. I'll test really quick with both 0.8.7 and 0.9 to make sure and report back.

[2015-04-26 17:28] seglberg commented on #930
Okay.. so upon further inspection, it looks like in there was a bug in 0.8.7 (possibly related to #812) where indexes were not always being created.

So because this issue existed in 0.8.x - you were able to insert multiple empty lists because the index was never actually created (*sigh*).
In 0.9, the issue was fixed and the index was created, causing the duplicate key error.

Hope this helps!

[2015-04-26 17:39] seglberg commented on #623
Issue backlog cleanup: If you feel your issue has not been resolved, please re-open it. Thanks!

[2015-04-26 17:39] #623 closed

[2015-04-26 17:40] seglberg commented on #463
Issue Backlog Cleanup: If your question or issue has not been resolved, please re-open the issue. Thanks!

[2015-04-26 17:40] #463 closed

[2015-04-26 17:42] seglberg commented on #371
Issue Backlog Cleanup: If your question or issue has not been resolved please reopen the issue. Thanks!

[2015-04-26 17:42] #371 closed

[2015-04-26 17:42] eli-b commented on #930
Thanks for looking into this, @seglberg!
As this is a behavior change, albeit correct, maybe the documentation of version 0.9 should it.

Should I revert the test in the PR not to fail, so it can be used to document the behavior?

[2015-04-26 17:44] seglberg commented on #366
Issue Backlog Cleanup: If your question or issue has not been resolved please reopen the issue. Thanks!

[2015-04-26 17:44] #366 closed

[2015-04-26 17:58] seglberg commented on #930
Yes you may revert your unit test and I will pull it in to help test to ensure the indexes are created.

As for documentation, it's kind of tough since this is correct behavior. I did a quick search of the current documentation and I can't find anything that mentions this case, either the 0.8.x behavior or 0.9 (but I honestly didn't look super hard).

[2015-04-26 17:59] seglberg commented on #930
There was a list in the changelog of 0.9 that mentions ensuring indices but yes - the documentation could probably use a facelift and is on my radar.

[2015-04-27 08:24] eli-b commented on #930
The test is reverted.

[2015-04-27 10:39] MacMaru commented on #958
+1 we moved to mongoengine because we wanted to be rid of Django.

[2015-04-27 10:48] thedrow commented on #958
+1.

[2015-04-27 10:54] MacMaru commented on #650
We may contribute since we've spent quite some time understanding and working with the current mechanics in mongoengine-relational and tastymongo (names are not apt for current functionality).

[2015-04-27 11:48] thedrow commented on #650
@MacMaru Feel free to submit a pull request.

[2015-04-27 13:38] cachemem opened #975 "Ovrriden `prepare_query_value` breaks current SequenceField behavior"
I have a class with sequence field defined like this:
[code]
In mongoengine 0.8 it worked like this --- sequence field produced new integer and value_decorator converted it to hex string and it was stored in database like this and hex string value was used everywher. "Raw" integer sequence value was used only for generating new id.
[code]
In version 0.9 if i try to get object of class A like this

[2015-04-27 13:40] rozza commented on #958
+1 but we should move the current code to the django mongoengine repo and publish it to pypi - that way no one loses any code and hopefully then any Djangonauts will want to maintain it and make it better :)

[2015-04-27 15:57] seglberg commented on #958
Do we actually want to move the existing Django code to the django-mongoengine repository or do we want to start clean like @thedrow suggested?

I'm leaning towards a re-write, because I do agree that Django support was pretty broken. Plus I'm not sure if it is a best use of resources to break out the existing extension, clean up module, fix unit tests, publish to pypi, etc. I can update the docum

[2015-04-28 10:07] rozza commented on #958
I'm happy to take the lead from any Django users :) I'm not sure how broken it was or if it was just very outdated.  I like the idea of updating the documentation and pointing to 0.9 we can also add a call to arms for any potential developers as currently django-mongoengine is a dead repo.

[2015-04-28 12:27] DavidBord commented on #958
+1

[2015-04-28 12:47] MRigal commented on #958
+1 for me also. Sorry i have a serious injury and can't contribute so much
these days
Am 28.04.2015 14:27 schrieb "David Bordeynik" <notifications@github.com>:

[2015-04-28 13:26] DavidBord commented on #829
I see it in 0.8.7. Perhaps you were looking at an older version?

[2015-04-28 13:26] #829 closed

[2015-04-28 13:59] macornwell commented on #949
I am actually running into this issue right now and was about to post about it. At a minimum it would be nice if the documentation (for now) one cannot use:
('ne', 'gt', 'gte', 'lt', 'lte', 'in', 'nin', 'mod', 'all', 'size', 'exists', 'not', 'elemMatch', 'type')

Looking at those names I can see for me, size, exists and type being ones people might often use. At least I know I did.

[2015-04-28 14:37] #958 closed

[2015-04-28 14:52] seglberg commented on #966
Label and close as part of Django split. See #973.

[2015-04-28 14:52] #966 closed

[2015-04-28 14:52] seglberg commented on #899
Label and close as part of Django split. See #973.

[2015-04-28 14:52] #899 closed

[2015-04-28 14:53] seglberg commented on #898
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #898 closed

[2015-04-28 14:53] seglberg commented on #884
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #884 closed

[2015-04-28 14:53] seglberg commented on #862
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #862 closed

[2015-04-28 14:53] seglberg commented on #849
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #849 closed

[2015-04-28 14:53] seglberg commented on #839
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #839 closed

[2015-04-28 14:53] seglberg commented on #813
Label and close as part of Django split. See #973.

[2015-04-28 14:53] #813 closed

[2015-04-28 14:54] seglberg commented on #800
Label and close as part of Django split. See #973.

[2015-04-28 14:54] #800 closed

[2015-04-28 14:54] seglberg commented on #792
Label and close as part of Django split. See #973.

[2015-04-28 14:54] #792 closed

[2015-04-28 14:54] seglberg commented on #756
Label and close as part of Django split. See #973.

[2015-04-28 14:54] #756 closed

[2015-04-28 14:54] seglberg commented on #722
Label and close as part of Django split. See #973.

[2015-04-28 14:54] #722 closed

[2015-04-28 14:54] seglberg commented on #638
Label and close as part of Django split. See #973.

[2015-04-28 14:54] #638 closed

[2015-04-28 19:21] seglberg commented on #954
Sorry for the commit spam -- but I have put up a PR with a fix for this because I ran into the same problem today.

[2015-04-28 20:18] asmacdo opened #977 "`id` alias overrides db_field resulting in inaccessible data"
Fields cannot use `db_field='id'`. When the resulting data is accessed, the found object is clobbered by the primary key.

Here I set up a simple example where I attempt to store `my_id` in mongo under the `id` field name.
[code]
It appears to work here as expected:

[code]
[code]
[code]
[code]

It is also correctly stored in mongo.
[code]
But the data cannot be retrieved using Mongoengine:

[code

[2015-04-28 20:41] amcgregor commented on #977
The `print obj.id` line should not produce this result.  As noted on IRC, this type of ad-hoc access is accomplished through `DynamicDocument`.  Alternatively, one could define the field with the correct attribute:

[code]

Or define two:

[code]

[2015-04-29 16:32] #934 closed

[2015-04-29 17:54] MRigal commented on #938
@DavidBord do it please, we can then review it

[2015-04-29 18:00] MRigal commented on #930
@seglberg we are awaiting the cleaned up commits from @eli-b on the PR side. When you have your documentation update out, you may close this ticket also

[2015-04-29 18:30] MRigal commented on #933
I spent some time checking this here. mongoengine is doing all fine here. The problem is inside PyMongo 2.X.
The update method of pymongo/collection.py gets to following point:
It constructs docs as
SON([('q', {'title': {'$in': ['tittle1', 'tittle2', 'tittle3']}}), ('u', {'$set': {'tags': ['bulk update']}}), ('multi', True), ('upsert', True)])]
But then results coming from message._do_batched_writ

[2015-04-29 18:38] alexandre commented on #933
@MRigal ,

Thank man for the SitRep. =P

...waiting by a stable version of PyMongo 3.X to use all power with pypy...no C deps...

[ ]'s (hugs)

[2015-04-29 18:49] MRigal commented on #889
could this be related or partially fixed with #976 ?

[2015-04-29 20:20] MRigal commented on #949
@elephanter do you want to submit a PR for your fix?

[2015-04-29 20:24] MRigal commented on #943
ping @andrewbelu

[2015-04-29 20:29] MRigal commented on #975
I have difficulties to reflect deep enough on the problem, even if you describe it really precisely. Maybe you could try to submit a PR with the first proposal, which sounds the easiest, with nice test(s) and we could discuss it

[2015-04-29 20:34] MRigal commented on #965
Yes, it is quite terrible. Please note that we have a "PY3" boolean in the python_support.py file that may justify an if PY3/else with a really different implementation of the regex part inside mongoengine, if you think we could get a solution this way. Feel free to submit a PR

[2015-04-29 20:37] MRigal commented on #928
ping @jimmyshen

[2015-04-29 20:38] MRigal commented on #918
ping @vinczente

[2015-04-29 20:40] MRigal commented on #915
nice catch @tudamp !

Would you like to submit a PR with the fix and a test case?

[2015-04-29 20:45] MRigal commented on #910
Close it as it was merged, reopen if required

[2015-04-29 20:45] #910 closed

[2015-04-29 20:46] jimmyshen commented on #928
Hey @MRigal -- I've been busy and have not had a chance to take a stab at this

[2015-04-29 20:46] MRigal commented on #912
Nice catch @MasterMind2k . Would you like to submit a PR with a test and the fix?

[2015-04-29 20:49] MRigal commented on #909
This is a known bug. The PR #731 almost fixed it, but was never finished. If you feel like helping on the topic, you may complete it, or create a new PR starting from scratch.

[2015-04-29 20:53] MRigal commented on #904
nice job @ms5 ! Would you eventually make a PR out of this? Formalising also the description above inside a test? It would be great !

[2015-04-29 21:04] MRigal commented on #892
I think it is currently an intended behaviour, to allow referring the DBRef. But it doesn't mean it is the correct behaviour. You could submit a PR, which would probably generate more discussion from the maintainers. I'm also not sure, but I don't like inconsistent behaviour and I think your proposal sounds good.
I think some people really want mongoengine to be fast, but maybe we could leave them

[2015-04-29 21:06] MRigal commented on #890
Closing the issue for now, reopen if required

[2015-04-29 21:06] #890 closed

[2015-04-29 21:11] MRigal commented on #880
@saritasa thanks for the great report! You could also submit a PR if you wish

[2015-04-29 21:13] MRigal commented on #869
@kissgyorgy you are very welcome to propose a PR. I just wonder if it should be a dedicated field or a validator.

[2015-04-29 21:14] MRigal commented on #868
Yes, aggregation framework is still not well supported by mongoengine, I also use PyMongo for this

[2015-04-29 21:17] MRigal commented on #867
ping @wshayes

[2015-04-29 21:18] MRigal commented on #865
@bmhkim you are very welcome to submit a PR

[2015-04-29 21:23] MRigal commented on #629
Closing the issue as it won't get fixed, here indeed, the code should be fixed

[2015-04-29 21:25] #867 closed

[2015-04-29 21:25] MRigal commented on #861
many people are using Mongoengine with Mongo 3.0 in production, even with mongoengine versions launched before, so it is not correct say it is not compatible with Mongo 3.0. Even the issue you pointed to is not related to Mongo 3.0.

However, testing against different MongoDB versions would be great. But if it is not doable, what should we do?

[2015-04-29 21:35] MRigal commented on #854
I actually do agree with @seglberg and do not see this as a bug.... Aiming to handle synchronisation of parallel modifications to DynamicDocument is out of scope. Maybe we should just reinforce the point in the docs

[2015-04-29 21:52] MRigal commented on #843
OK, this is combined with EmbeddedDocument.
Maybe it could be included into #979 ?

[2015-04-29 21:55] MRigal commented on #843
I've readied awaiting_response label in case @miguel5 answers. However, his app uses mongoengine 0.8.7 and it may have been fixed in 0.9

[2015-04-29 22:04] andrewbelu commented on #943
My apologies for the long wait, I forgot about this issue entirely.

Created pull request: https://github.com/MongoEngine/mongoengine/pull/981

[2015-04-29 22:06] MRigal commented on #832
It was partially done in #947. But it is definitely something interesting!
Sorry @matthewowen for not responding at that time, but the mongoengine project is currently getting some massive update and we are going through older issues now.

To implement in the direction that @thedrow mentioned sounds good to me! @seglberg may also be interested by this kind of improvements

[2015-04-29 22:11] MRigal commented on #809
This means actually nothing... it won't come out before ages...

I would else vote for Concept1: less cons :-p

[2015-04-29 22:14] MRigal commented on #795
I also think so. I close it for now, please reopen if still if you encounter the same problems with mongoengine 0.9+

[2015-04-29 22:14] #795 closed

[2015-04-29 22:15] MRigal commented on #782
hi @alexandre
I think it is a nice enhancement. You could propose a pull request with your implementation and some tests to discuss it more in details

[2015-04-29 22:18] MRigal commented on #743
Closed as 0.9 was released a while ago

[2015-04-29 22:18] #743 closed

[2015-04-29 22:18] MRigal commented on #729
Closed with latest Tox use, reopen if I'm wrong

[2015-04-29 22:25] MRigal commented on #698
I close it since it was merged and released in 0.9

If more discussion is required, please reopen

[2015-04-29 22:25] #698 closed

[2015-04-29 22:28] MRigal commented on #681
Maybe covered by PR #777 ?

[2015-04-29 22:35] MRigal commented on #616
Closing since removing django from mongoengine core

[2015-04-29 22:35] #616 closed

[2015-04-29 22:35] #611 closed

[2015-04-29 22:48] amcgregor commented on #698
Are the cached values accessible from the document containing the CachedReferenceField without triggering automatic dereferencing, as per my last comment?

[2015-04-29 22:53] MRigal commented on #408
Close as it is merged

[2015-04-29 22:53] #408 closed

[2015-04-29 22:54] MRigal commented on #407
Closed as pure-django has been removed from mongoengine

[2015-04-29 22:54] #407 closed

[2015-04-29 22:57] MRigal commented on #381
It should have fixed it. Try with 0.9+

If not, please reopen

[2015-04-29 22:57] #381 closed

[2015-04-29 23:03] MRigal commented on #203
This will remain out-of-scope as long as we support Python < 2.7

[2015-04-29 23:10] MRigal commented on #698
I didn't tested, but I don't think. I think CachedReferenceField was a enhancement and has been done, and as it, is released.

Your proposal is to go even further and is nice, but may be better presented in a new separated ticket (pointing to this one). I also fear no one may address the issue very fast and it might be better to present PR if you want it to be working soon.

I think only the creat

[2015-04-30 01:38] eli-b commented on #930
The cleaned up commits will only be ready on Sunday, sorry.

On Wed, Apr 29, 2015 at 9:01 PM, Matthieu Rigal <notifications@github.com>
wrote:

[2015-04-30 07:36] cachemem commented on #975
OK, will do as soon as I can.

[2015-04-30 07:46] thedrow commented on #729
We still need to fix it.

[2015-04-30 08:23] rozza commented on #832
Is this specifically for DBRefs / doesn't `select_related` do this already?

[2015-04-30 08:47] MRigal commented on #729
OK, but isn't it an issue with pypy3 and time rather? Should we then still fix it? As long as it passes with pypy, I'm not sure we should tackle it... pypy3 is still based on Python 3.2 and quite outdated...

[2015-04-30 08:56] MRigal commented on #931
Fixed with latest merge. Thanks @elephanter for reporting and fixing!

[2015-04-30 08:56] #931 closed

[2015-04-30 09:03] MRigal commented on #943
Thanks @andrewbelu

[2015-04-30 09:47] thedrow commented on #729
I think we should write new benchmarks using a better framework that also works on PyPy 3.

[2015-04-30 12:51] seglberg commented on #809
Yes -- it could take years before we see that feature implemented in MongoDB, but such is the nature of OSS. I will be revisiting this feature in the near future. There are some larger changes I want to propose first that would make feature like that a bit easier to implement.

[2015-04-30 13:13] seglberg commented on #861
I believe the fundamental question here is this:

Is it necessary to test MongoEngine with different MongoDB versions for compatibility, or is testing with the different version of PyMongo enough to cover compatibility with different MongoDB versions?

[2015-04-30 13:21] MRigal commented on #861
The answer is currently NO. PyMongo is not enough to cover compatibility. At least until we have some functionalities and/or tests which are based on adminCommand output for Mongo. However, the not covered part is extremely minimal

[2015-04-30 13:22] #954 closed

[2015-04-30 13:27] seglberg commented on #861
Okay, then there is really nothing stopping us from installing a different version of MongoDB via Travis (I saw it done about a year ago). The only problem, I anticipate that the job times are going to explode and possibly more false positives due to environment failures.

[2015-04-30 13:29] MRigal commented on #861
Yes, I think also... It would be good to have that restricted only to
release builds for example...

2015-04-30 15:28 GMT+02:00 Matthew Ellison <notifications@github.com>:

[2015-04-30 13:36] MRigal opened #983 "Using wiki on mongoengine repository?"
To all the maintainers @MongoEngine/mongoengine and all the passionated contributors:

We have seen some problems in maintaining mongoengine last year and part of that is the suboptimal communication. On the dev group (https://groups.google.com/forum/#!forum/mongoengine-dev), it works very poorly, very few people seem to use it (though the subscription tuning is very powerful) and in the list of i

[2015-05-02 12:37] touilleMan opened #985 "custom primary_key cause `MyDocument.objects.get(id=my_id)` to crash"
According to the document, defining a field with the `primary_key` attribute will make mongoengine to store it as the "_id" field. This way the field is accessible both as `my_obj.field` and `my_obj.id`

However, it seems doing a query with such a custom `id` field raise an InvalidQueryError.

[code]

Traceback:
[code]

[2015-05-02 17:26] #453 closed

[2015-05-04 12:55] seglberg commented on #983
:+1: I'm open to trying anything. We can always turn it back off if we find it doesn't help.

[2015-05-05 10:54] MasterMind2k commented on #912
It is fixed in 0.9 version. I've just added test case for future reference.

[2015-05-05 18:01] touilleMan commented on #892
I have the same trouble (pretty confusing imoa ^^)

I thing it would be a good idea to add an option to `mongoengine.fields.ReferenceField` to specify this behavior, example:

[code]

[2015-05-06 08:41] noirbizarre opened #990 "Milestones and branches, usage and cleanup"
Hi !

I've seen there is some milestones defined but I was wondering if they are up to date.
Same for branches (0.7, 0.8, 0.9): are they still in use ? Do thy reflect something real ? If not, why not remove them.

There still is a 0.8.x milestone: https://github.com/MongoEngine/mongoengine/milestones/0.8.x but with only one issue.

The 0.9.0 is released but there still is a 0.9.x milstones with 36

[2015-05-06 10:35] MRigal commented on #990
Hi @noirbizarre

The whole mongoengine rep got really messy last year, when it was very poorly maintained. We are trying since a couple months to do better, also with additional maintainers. Your thoughts are fully right!

After the first cleaning and fire-clearing part, we are now replacing the organization. We are now attacking a second more organisational part, which includes milestones. Regard

[2015-05-06 10:38] MRigal commented on #990
@rozza can I delete the version branches? I also think they don't make much sense for now, as long as we have a "linear development" and we do not release minor fixes for older major versions

[2015-05-06 10:54] MRigal commented on #912
Thanks @MasterMind2k

[2015-05-06 10:54] #912 closed

[2015-05-06 10:57] MRigal commented on #985
I dont' know if this had changed or is an error since a long time in the documentation.

What works and what was probably intended in the documentation is the following:

    MyObject.objects.get(pk="obj-1")

[2015-05-06 12:33] touilleMan commented on #985
You're rigth, the documentation mentions the `pk` field (https://mongoengine-odm.readthedocs.org/guide/document-instances.html#document-ids) to be used along with the `primary_key` argument.

However, I think it would be a good idea to mention it too in the fields arguments documentation (https://mongoengine-odm.readthedocs.org/guide/defining-documents.html#field-arguments)

Something like:

When

[2015-05-06 12:45] MRigal commented on #985
Definitely a good suggestion. Would you like to submit a small PR for that?

[2015-05-06 12:59] seglberg commented on #990
To chime in along with @MRigal -- we're working on it :)

+1 for deleting the version branches and just using tags (since we're doing linear development).

Labels and milestones will definitely help organize things but honestly at the moment we're more focused on cutting down the backlog as a whole. We're still looking at ~180 open issues, some of which are no longer valid.

I plan on spending som

[2015-05-06 13:58] touilleMan opened #991 "save_condition should raise error on failed"
I saw pull requests #511 #585 which aims at adding a concurrency safe mecanism in the `save` method.

However, it seems that once the `save_condition` has prevented the update of the document, everything is working like the save actually happened : no exception raised, post_save are triggered etc.

Having the feeling everything went fine also it's not the case feels really wrong to me, I think an

[2015-05-06 16:20] MRigal commented on #372
@cybertoast if you feel like, a PR would be very welcome. I know it's been more than a year now, but we're trying to tackle a lot of points now

[2015-05-06 16:33] touilleMan commented on #985
Here is my PR #992

[2015-05-06 16:33] MRigal commented on #517
Might have been fixed, but at least worth importing the test case and eventually the solution

[2015-05-06 16:33] MRigal commented on #517
In case you're still on @jimmy-001 a real PR would be great, else someone will take a look at it

[2015-05-06 16:47] MRigal commented on #297
I also think PyMongo3 introduced some interesting changes for this purpose

[2015-05-06 16:56] MRigal commented on #259
I wonder if this has been fixed, but if not, it should, as #932 fixed it for delta

[2015-05-06 17:00] MRigal commented on #175
Hi @nikitinsm

I know this issue has been left aside for a very long time. However, if you're still interested, I would be interested to know if it is still the case with 0.9 and if you could provide a bit more details.

Thanks!

[2015-05-06 18:29] MRigal commented on #76
This was done in PR #79
Besides the very big changes that happen in between, I'm not sure we want all of that.

[2015-05-06 18:34] MRigal commented on #991
Sounds reasonable to me. Anybody who reviewed the PRs mentioned could review and confirm? @yograterol maybe?

[2015-05-06 19:20] MRigal commented on #715
Fixed by #748

[2015-05-06 19:20] #715 closed

[2015-05-06 21:09] MRigal commented on #990
OK, I've cleaned and labelled quite a bit of the issues present, as well as moving 11 from the 36 open issues to a 0.10 milestone. I've put the deadline in one month, it is gonna be challenging, but still doable

[2015-05-06 21:14] MRigal commented on #985
Thanks! I close the PR, if you think information is missing, please reopen it.

[2015-05-06 21:14] #985 closed

[2015-05-07 04:34] saritasa opened #993 "copy.deepcopy fails on mongoengine object"
[code]

[2015-05-07 06:13] nikitinsm commented on #175
It was really long time ago and I vagualy remember the problem. I think it was about "__match" modifier, and inner dict, I gave you example that must produce equal results.

[2015-05-07 07:06] noirbizarre commented on #990
Great !

For people wanting to help, it gives directions !!

[2015-05-07 07:24] ms5 commented on #904
ok, no problem. give me some time to write the tests, I'll then create a pull request.

[2015-05-07 08:41] saritasa commented on #993
Sample data is
[code]

[2015-05-07 09:47] MRigal commented on #949
Merged PR

[2015-05-07 09:47] #949 closed

[2015-05-07 13:29] MRigal commented on #617
I think there is actually no problem here. The shard keys are anyway not created through mongoengine, since sharding is a sensible step that has to be created step-by-step. Then, if the key is hashed or not shouldn't make any difference for mongoengine, since we are referring to fields, for which the name do not change. Or do you see it differently?

[2015-05-07 15:12] seglberg commented on #930
Hi @eli-b

Just wanted to follow up and let you know that I will be squashing and committing your PR (thus closing out this issue).

Thanks.

[2015-05-07 15:14] elephanter commented on #943
Hello. I'm look into the problem and found that failed unit test used _getitem_ access to queryset

    for i in xrange(0, 10):
        posts[i]

inside queryset in that case mongoengine call pymongo.cursor also with __getitem__ method.
now looking in pymongo documentation we will see that:

_db.test.find()[50]
An IndexError will be raised if the index is negative or greater than the amount of doc

[2015-05-07 17:12] #930 closed

[2015-05-07 18:28] MRigal commented on #983
Here we go: https://github.com/MongoEngine/mongoengine/wiki

You may edit it (it is the purpose!) or also give me your feedback about it here

[2015-05-07 18:31] MRigal commented on #990
Hi @noirbizarre you may also have a look (and edit) over here: https://github.com/MongoEngine/mongoengine/wiki

[2015-05-07 18:34] noirbizarre commented on #990
Great !

I advise you to create the corresponding milestones right now to permit progressive bug triage on the topic.

[2015-05-07 18:36] noirbizarre commented on #990
If you want to allow people to comment the roadmap, you should create an issue with the same content.

[2015-05-07 19:03] MRigal commented on #990
We have a 0.10 milestone. I'm not sure the next ones need to be created already. Basically almost all open issues should be fixed before 1.0. The rest depends a bit on the motivation/intereset/focus of the contributors.
For the roadmap, you're right

[2015-05-07 19:08] MRigal opened #996 "Roadmap discussion"
While the Roadmap is now a wiki page (https://github.com/MongoEngine/mongoengine/wiki/Roadmap), we may want to discuss some points outside of the wiki (as Wikipedia has separate Discussion page for each article).

This may also be a centralised point to express your desires/priorities for us to tackle one of the many points on our road towards 1.0 (https://github.com/MongoEngine/mongoengine/wiki/T

[2015-05-07 19:13] noirbizarre commented on #429
This behavior is expected and very useful as it allows dynamic cast on load.

When `allow_inheritance=True`, the `_cls` attribute is serialized allowing dynamic casting.

When `allow_inheritance=False`, the default, you can't add attribute and you can't inherit because there is no way to determine which class to instanciate on load.

I don't think this only line is raising an error. I think you ha

[2015-05-07 19:25] MRigal commented on #429
Nice dig @noirbizarre !

We recently added significant changes, also for the 0.9, that didn't came with the required documentation adjustments. There are quite a bit of these. If you feel like, any documentation PR is also worth a lot!

[2015-05-07 20:50] noirbizarre commented on #429
Thanks !

I will submit a PR later on this.
I will try to see if there is other documentation fixes to be submitted.

[2015-05-08 03:25] QiXuanWang commented on #942
It seems update Flask-PyMongo and use MongoEngine git will work now. Just add a comment so others may know. I see Django ticket is still open.
I'm using PyMong 3.0.1

[2015-05-09 00:57] dblado commented on #958
Has anyone come forward to take on Django support for MongoEngine? I fully support separating it out -- but now I'm stuck not being able to upgrade MongoEngine and continuing to allow authentication on my site. Can someone identify what was broken w/ the old code that it couldn't be salvaged as a stop gap?

[2015-05-11 13:58] MRigal commented on #939
#946 is merged, whoever can use the master branch to use in combination with PyMongo3. Else next mongoengine should be out in a couple weeks

[2015-05-11 13:58] #939 closed

[2015-05-11 13:59] MRigal commented on #935
PyMongo3 support was merged in master, you may use it directly or wait a bit of time for next mongoengine release

[2015-05-11 13:59] #935 closed

[2015-05-11 17:44] dmitry-saritasa opened #997 "mongoengine.errors.ValidationError: A ReferenceField only accepts DBRef or documents"
python 2.7.8, latest mongoengine.zip from master:
mongoengine/fields.py, line 990

[code]

**first "if" gives the following code**

[code]

mongoengine.errors.ValidationError: A ReferenceField only accepts DBRef or documents

traceback:
https://gist.github.com/saritasa/27d82f33e3cc33afe1cb

If I run it again - everything works. If I uncomment the first guard and comment 2nd guard, I get this error

[2015-05-12 08:40] eli-b commented on #930
Thanks @seglberg, I just wasn't getting to it.

BTW, could someone explain why primary_key fields don't cause the same behavior as unique fields on embedded documents? They aren't sparse and are unique.

[2015-05-12 13:05] seglberg commented on #930
Using the `primary_key` attribute on a Field essentially changes the fields db_name to "_id" (although this can be overridden) but also lets MongoEngine know to use that field as the `id` attribute. While closely related, it is not the same as having an index on the field. The index for the primary key is created by *MongoDB* and cannot be removed.

I am assuming setting `primary_key` on an Embedd

[2015-05-12 13:13] seglberg commented on #930
Also, as far as I know, the primary key must be a top level document element, it cannot be part an embedded document.  So setting the `primary_key` attribute for an embedded document is likely no different than:

[code]

[2015-05-12 13:21] eli-b commented on #930
Yep, it seems I can save two embedded documents with the same primary_key.

As a user, that's a little unexpected, because primary_key fields are
unique in normal documents.

On Tue, 12 May 2015 16:13 Matthew Ellison <notifications@github.com> wrote:

[2015-05-12 13:24] seglberg commented on #930
Honestly, it might be better for us to just remove the ability to put `primary_key` on `EmbeddedDocument` fields. I'll think about this a little more and see what we can come up with for subsequent releases.

[2015-05-13 20:15] ben-maystreet commented on #323
Too bad we don't have this yet, I really need to use this function!!!

[2015-05-13 20:58] seglberg commented on #323
Is there a reason why you can't just `json.loads` the JSON and call `update`? I agree this would be nice to hide the "magic" inside MongoEngine, but does that not work as a suitable work around for now?

Off the top of my head:
[code]

[2015-05-18 10:57] hai-ld opened #998 "Cannot update DictField if it was saved before PR #723"
Hi,

Pull request #723 tried to set fields with default values when they're loaded from database. This change in combination with pull request #539 makes it impossible to save a Document that was stored without default value (such as the ones saved before #723 is effective) in some cases. I document one case in the following snippet:

[code]

[2015-05-19 04:32] hai-ld commented on #998
Apparently this was fixed in pull request #927. Could you give me an ETA for the next release (that contains the fix)?

[2015-05-19 04:32] #998 closed

[2015-05-19 20:02] #617 closed

[2015-05-19 20:03] hassek commented on #617
You are right, I created via mongodb the shard key and mongoengine was able to handle it no problem.

[2015-05-20 10:48] MacMaru commented on #570
This bug seems to have been fixed in master: I've locally added above literal testcase to tests/queryset, would you still like a pull request for it?

[2015-05-21 13:58] bigblind opened #1003 "reverse_delete_rule mistake in docs?"
I'm new to mongoengine, so I [don't completely understand how mongoengine's reverse_delete_rule works](http://stackoverflow.com/questions/30371777/in-what-direction-does-mongoengine-reverse-delete-rule-work), but I think there may be a mistake in the documentation.

The code uses `NULLIFY`, but the explanation indicates the use of `CASCADE`. or am I misunderstanding something?

[2015-05-21 15:38] touilleMan commented on #991
Hi back,

I've submitted a pull request for this issue, can you have an eye on it plz ;-)

[2015-05-21 23:09] IsaiasSantos opened #1006 "Type Document and EmbeddedDocument"
Hello,

How do I get a class is Document and EmbeddedDocument?

example:

class Pessoa(Document, EmbeddedDocument)

class Fisica(Pessoa):

class Pagamento(Document):
    pagador = EmbeddedDocumentField(Pessoa)

I was working with mongoengine == 0.8.7 but is not working with mongoengine == 0.9.0

Help me please!

[2015-05-21 23:17] IsaiasSantos commented on #1006
Sorry, replace "DocumentField" by "EmbeddedDocumentField"

[2015-05-22 14:06] lucasdavid commented on #1006
I'm confused about your question, but if you're asking how to check if a object is a `Document` or a `EmbeddedDocument`, I guess you could try:

[code]
Or if you don't want to consider inheritance:
[code]

[2015-05-22 14:43] IsaiasSantos commented on #1006
I want my class be embedded and document, for example in the class mongoalchemy document is embedded.

example in mongoalchemy :

[code]

[2015-05-23 01:37] lucasdavid commented on #1006
So you want to reference a different `Document`? This can be done as:
[code]
Please, go to the [documentation](http://docs.mongoengine.org/en/latest/guide/defining-documents.html) for further reference.

[2015-05-25 11:59] IsaiasSantos commented on #1006
I need the document to be embedded, not a reference.

[2015-05-26 07:27] onyb commented on #859
@carmstrong: Can you tell me what was the error on your part, and how did you manage to fix it?

[2015-05-26 11:37] Garito opened #1008 "Delete returns None but expected a dict"
I'm trying to delete a document with self.delete() but it raises and error:
File "/Users/garito/TimeFounder/App/0.3/env/lib/python2.7/site-packages/mongoengine/queryset/base.py", line 467, in delete
    return result["n"]
TypeError: 'NoneType' object has no attribute '__getitem__'

I've checked the result with print result and it is None
The deletion is made ok but the try to return result["n"] ra

[2015-05-26 16:57] carmstrong commented on #859
@onyb At this point I can only speculate as to where I was stuck back then, but for what it's worth, my code now looks like this:
[code]

I had to wrap `PhoneField` in an `EmbeddedDocumentField`. Hope that helps!

[2015-05-28 05:24] warvariuc opened #1009 "Add possibility to have read-only model instances without data descriptors for fields"
I am suggesting somehow to add possibility to be able during a query to instruct the mapper to bring back light model instances which are read-only and thus don't need data descriptor stuff to track instance changes.

Otherwise this descriptors are quite heavy: http://stackoverflow.com/questions/30342212/override-attribute-access-precedence-having-a-data-descriptor

[2015-05-28 12:00] #597 closed

[2015-05-28 17:12] Garito opened #1010 "Delete rule for GenericReferenceField"
Is it possible?
If not: how to deal with this use case?

Thanks!

[2015-05-28 17:32] Garito commented on #1010
@GothAlice just teach me that I can't attach a pre_delete signal to the classes I know the GenericReferenceField will use to achieve that

Thanks!

[2015-05-28 17:32] #1010 closed

[2015-05-28 23:23] tito commented on #950
Got the same problem, i guess Closed is not meant to, as the issue is still present.

[2015-05-29 14:25] orionCMCMSU commented on #950
+1

[2015-05-31 07:23] amitlicht opened #1011 "Default CappedCollection max_size should be rounded to a multiplication of 256"
According to mongodb documentation: "MongoDB will raise the provided size to make it an integer multiple of 256". However, the default size used in mongoengine/document.py is 10000000 (which is obviously not a multiple of 256). This causes errors when calling _get_collection() on an already-created capped collection with the default max size:

Traceback (most recent call last):
  ....
  File "/usr

[2015-05-31 21:26] timeemit commented on #708
Shouldn't `mongoengine` pick up the slack here and specify the `set_on_insert__xxx`  operations for us based on the default value of the fields specified in the document's schema?

[2015-06-01 23:37] trbck commented on #950
+1

[2015-06-02 07:48] Bob131 opened #1013 "TypeError in dereference.py"
I'm experiencing an issue with MongoEngine that I can't quite unravel. Unfortunately I don't have much to provide besides a traceback excerpt and the code that generates it.

[code]

This exception isn't thrown every time that function is run but rather only when key is of one specific value, all the other User documents seem to work as they should.

The code that produces this error is in a githu

[2015-06-02 09:35] zhiyajun11 opened #1015 "compatibility with pymongo whoes version is larger than 3.0"
Mongoengine seems not compatible with pymongo whoes version is larger than 3.0.
When I executed the follow code:

    connect( 'website', alias=DEFAULT_CONNECTION_NAME, host='mongodb://username:password@localhost:27017,localhost:27117,localhost:27217/website?replicaSet=test')
I got the following error:

    ConnectionError: Cannot connect to database default :
    Unknown option hosts_or_uri
Then

[2015-06-02 09:41] MRigal commented on #1015
Yes, you need to use the current master with PyMongo 3+. It is already fixed. We are waiting to merge a couple more issues to release a new version 0.10

[2015-06-02 09:51] MRigal commented on #1008
This is strange, we have test covering that... I'm wondering why pymongo returns None.
Which version of pymongo are you using?
This should anyway be fixed when using pymongo3 and using the new delete_one or delete_many methods.
I guess you have some corrupted data and/or are doing a remove on a queryset with invalid filtering with only() or exclude(), something a bit edge case.
If nobody else has

[2015-06-02 09:54] MRigal commented on #1003
You're fully right @bigblind ! If you feel like, you may submit a small PR to correct that part of the doc, eventually by using the "live edit" possibility on github

[2015-06-02 09:57] MRigal commented on #997
Not really, but this doesn't sound good... There is quite a bit to do here, but if I have time, I may inspect that further. Else, feel free to submit a PR, at least with a proper (failing) test, even better with the fix :-)

[2015-06-02 10:01] Garito commented on #1008
Glad to help
Data:
pymongo=2.8
mongoengine=0.9.0
flask-mongoengine=0.7.1

I've tryed to install pymongo lastest version but it raises some errors (sorry for don't provide the traceback) perhaps will be this?

[2015-06-02 10:10] MRigal commented on #1008
immm I have absolutely no idea of flask-mongoengine and what it could add...
Yes latest pymongo would require to use mongoengine from master to work. Keep 2.8 for your production work, but eventually try with master just for the case

[2015-06-02 10:18] Garito commented on #1008
Could it be the convination of pymongo 2.8 and mongodb 3.0?

[2015-06-02 10:23] MRigal commented on #1008
It shouldn't, as it is quite common and I myself used that for a while,
without having failures there

2015-06-02 12:18 GMT+02:00 Garito <notifications@github.com>:

[2015-06-02 10:29] Garito commented on #1008
Is there anything I could do to provide you more info?
I would like to solve this because is super annoying not to have a clue about the issue and it prevents me to advance on my CRUD operations

Thanks!

[2015-06-02 10:36] bigblind commented on #1003
Done: https://github.com/MongoEngine/mongoengine/pull/1016

[2015-06-02 19:58] touilleMan opened #1017 "Document reload cause clash between reference with same id but different collection"
Hi there,

Let say I have a document with two `ReferenceField` on two different collections with incremental ids.
Given the ids are incremental and not uuid, an id can point on a valid document in both collections (pretty obvious for id `1` ^^)

That being said, the `reload` handle reference reloading in around here: https://github.com/MongoEngine/mongoengine/blob/d4a8ae5743fe335ac4cea957537be34de

[2015-06-02 21:24] MRigal commented on #1017
Hi @touilleMan
Nice catch (again) :-)
I think your proposal sounds reasonable. I thought one moment the DBRef might be a bit big as an object and it could be a tuple (collection, id), but I'm not sure it's worth the effort. And furthermore, the DBRef makes it more easily reusable and understandable.
Go for it! :+1:

[2015-06-02 22:39] #571 closed

[2015-06-02 22:40] MRigal commented on #456
I'm actually not sure if we really want to integrate it. After having looked at the (very good) code, of mongoengine_relational, I fear it could make dereferencing and various operations in mongoengine quite slower

[2015-06-02 22:41] wojcikstefan commented on #569
@MRigal does this look interesting to y'all?

[2015-06-02 23:05] MRigal commented on #517
OK, as I'm willing to have it in for next release, I've created the PR myself

[2015-06-02 23:12] MRigal commented on #569
This makes fully sense and is more than interesting but almost required to me !!! I have a couple (dozens?) of old bugs and issues I want to wipe first, but it is one of the thing I would be very happy to do in the near future !

If you're up for a PR to implement the Aggregation Framework, please do so ! You may start with reusing the commit, but you may also do more, by looking at some proposals

[2015-06-03 09:37] Bob131 commented on #1013
This is some additional info from the mongo console (with substituted data since this comes from a production db):
[code]

[2015-06-03 09:40] hamzawaqas-10p commented on #950
+1

[2015-06-03 09:53] wangwenpei opened #1019 "the sub-package "django" not shown on github"
Dear all:

  I found mongoengine==0.9.0 on pypi has a package "django". but on github. this package is missing.
can you fix this? or show a good way to install mongoengine whole package from source code in document?

[2015-06-03 11:13] MRigal commented on #1013
Hi @Bob131
Thanks for the output, it helped. I'm quite sure it is not a problem of mongoengine itself, but rather of some of the methods you added to your models.
In the model, "owns" is defined as a List of ReferenceField, but the object you show here has a list of [ListofRefs, Ref, Ref...]
The embedded structure/List "[    "1",    "2",    "3",    "4" ]" inside the list has nothing to do here (as

[2015-06-03 11:15] MRigal commented on #950
It is fixed in master, so just use mongoengine master (and wait for next release) or use pymongo==2.8.
Adding +1 will not help here :)

[2015-06-03 12:13] hamzawaqas-10p commented on #950
I already got it working with 2.8 :P so its not just the matter of +1 ;) @MRigal

[2015-06-03 13:26] Bob131 commented on #1013
Oh my, I think I just realised where the issue had arisen. I apologise, it seems this problem was caused by my own derp. Prior to my realisation that the `del` keyword can be used to remove list indices, I was fiddling with a User object (on a production db!) and had attempted to reassign the ListField with something like `user.owns = user.owns[1:]` which presumably has the same result as `user.ow

[2015-06-03 14:38] alexsobrino commented on #351
Would love to see this :+1:

[2015-06-03 15:41] MRigal commented on #1013
You don't need to describe yourself this way, the only real amateurs are the one not willing to see they make mistakes. We all do. And I wouldn't be 100% sure mongoengine wouldn't create something like this in a very-very weird situation ;)

I didn't get what you meant with "intended usage", but I'm pretty sure we won't support an "auto-repair" embedded (list of) list feature, so indeed I would cl

[2015-06-03 15:41] #1013 closed

[2015-06-03 17:07] MRigal commented on #1008
@Garito I have really no idea why it is None at that point. It seems to be inside pymongo...
You may first try two things here:
1) Test with pymongo 3.0.X and mongoengine master
2) print not only result, but also queryset._query and write_concern, if something happens to be strange there
Please answer here, but if it brings nothing, you may write on the mongodb-users list, as it would be pymongo

[2015-06-04 08:54] Garito commented on #1008
Before to try to install pymongo and so on I've tryed to print the queryset._query and write_concert in case this info as it is could be useful:
queryset._query => {'_id': ObjectId('55701184acffc705df7a33d4')}
write_concern => {}
result => None

Is this useful?

Thanks!

[2015-06-04 09:05] Garito commented on #1008
With pymongo=3.0.2 and -e git://github.com/mongoengine/mongoengine.git@03ed5c398a3b6447037a04a0987f382b9c3bc03e#egg=mongoengine-master it raises another different error:
AttributeError: 'Cursor' object has no attribute '_Cursor__snapshot'
this time with any request so it is not possible to work with them

Any ideas?

[2015-06-04 09:15] MRigal commented on #1008
Really weird it doesn't return anything on such a simple and straight-forward delete query... PyMongo or MongoDB internal problem !?!?

Regarding the second one, immm this is not possible... the actual master has the fix for _Cursor__snapshot...
Are you sure your virtualenv or python env is pointing to the right mongoengine?
Else maybe you would have detected a new problem, which would be very int

[2015-06-04 09:21] Garito commented on #1008
Let me know if I've done the mongoengine's master branch install correctly, please:
pip install -U git+git://github.com/mongoengine/mongoengine@master

[2015-06-04 09:26] Garito commented on #1008
Let me copy the whole log since I've started the flask app till the error. Remember that now this error is raised no matter what I ask for to Flask. The logs:
127.0.0.1 - - [04/Jun/2015 11:23:58] "GET /projects/contents HTTP/1.1" 500 -
Traceback (most recent call last):
  File "/Users/garito/TimeFounder/App/0.3/env/lib/python2.7/site-packages/flask/app.py", line 1836, in __call__
    return self.w

[2015-06-04 09:39] lukaspetr commented on #950
+1, please how can I downgrade?

[2015-06-04 09:43] hamzawaqas-10p commented on #950
@lukaspetr Add `pymongo==2.8.1` in your `requirements.txt`

[2015-06-04 09:53] MRigal commented on #1008
OK, yep, the flask-mongoengine app is not that far and does not support PyMongo3 for now. It is not related or due to mongoengine itself... That's a pity, it would have been cool to test it, we may have had at least a more specific output. Sorry, I didn't knew about that.

I really don't know what to recommend you to do, I see two possibilities:
1) Try to reproduce the query sent via flask to mong

[2015-06-04 10:02] Garito commented on #1008
So to recap:
This could be Flask-Mongoengine, pymongo or MongoDB itself, is this correct?
I have two options:
Try to make Flask-Mongoengine compatible with version 3 of pymongo/mongodb
Try to find the bug on pymongo or MongoDB

am I correct?

[2015-06-04 10:15] MRigal commented on #1008
Almost ;-)
It could be pymongo or MongoDB itself, not flask-mongoengine. But:
1) It could be an edge-case of communication between pymongo 2.X and mongoDB 3.x. In this case, an upgrade to pymongo 3.X may already fix it, but to use it, you would need to have a flask-mongoengine compatible with Pymongo3
2) It could be a problem deeper inside PyMongo, MongoDB or your specific storage/setting and you

[2015-06-04 10:24] Garito commented on #1008
I see
What do you suggest that will be my best fist attempt? flask-mongoengine or pymongo/mongodb? or both at the same time?

Sorry for asking too much on this point but I'm scared to death on this task since seems to me a very dark case which everyone will defend themselves before admit it (since is an edge case)

Do you recommend a protocol to reduce the friction or something?

[2015-06-04 10:48] MRigal commented on #1008
Indeed tough questions :-)

I would do both in parallel:
1) Try to reproduce the query sent via flask to mongoengine to pymongo by something directly in pymongo to be able to report it to the mongoldb-user group, it will take some time to get an answer
2) In the meanwhile, I think fixing flask-mongoengine should not take more than a couple hours. Even if I don't want in theory to put effort in thi

[2015-06-04 11:30] lukaspetr commented on #950
@hamzawaqas-10p thank you. It was also necessary to change the setting to `install_requires=['pymongo==2.8.1'],` in mongoengine's `setup.py`

[2015-06-04 11:49] lukaspetr commented on #950
Will this problem be fixed in the next version?

[2015-06-04 12:00] MRigal commented on #950
Since it is in master, for sure :-)

2015-06-04 13:49 GMT+02:00 Petr Lukas <notifications@github.com>:

[2015-06-04 12:13] lukaspetr commented on #950
@MRigal thank you for the piece of information!

[2015-06-04 15:10] GroverChouT commented on #950
Looks like @MRigal fixed it, thank you!

[2015-06-04 15:24] MRigal commented on #1008
Whenever you think it doesn't concern anymore mongoengine, like after or in case I don't have to review the PR for flask-mongoengine, also please close the ticket, that you may reopen if you have newer information or output from MongoDB Inc...

[2015-06-04 15:29] MRigal commented on #570
Thanks @MacMaru for the test towards master and the PR. I'll merge it with pleasure and thus close the ticket, as it is fixed :-)

[2015-06-04 15:29] #570 closed

[2015-06-05 05:04] snig-b commented on #802
+1
Same problem, using mongoengine version 0.8.7

[2015-06-08 14:34] kaiobrito opened #1022 "Sparse false when unique_with"
I'm trying to create a field like this:
###### unique_for_owner = fields.StringField(unique_with=["owner"], required=False, sparse=True).
But i notice that index was created with sparse=False.

I dropped my collection and made a few tests, so i notice that when unique_with has a value the sparse always getting False.

[2015-06-08 19:45] jaraco commented on #606
This also means that examples, even [those in the documentation](https://github.com/MongoEngine/mongoengine/blame/master/docs/guide/connecting.rst#L35-L40) fail:

[code]

[2015-06-08 19:48] jaraco opened #1023 "Use semver for versioning"
May I recommend the project adopt semver for versioning, at least where a major version bump indicates a backward-incompatible release and a minor version bump indicates compatible new features/functionality?

[2015-06-08 19:49] jaraco commented on #1023
In lieu of adopting semver, could the project at least describe what the versioning scheme is?

[2015-06-09 09:02] Garito commented on #1008
Hi!
I was looking for this issue and I end up looking for the official documentation to find out the issue is in the mongoengine itself. From the official pymongo 2.8 documentation (http://api.mongodb.org/python/2.8/api/pymongo/collection.html#pymongo.collection.Collection.remove):

Returns:

    A document (dict) describing the effect of the remove or None if write acknowledgement is disabled.

S

[2015-06-09 09:14] Garito commented on #1008
BTW the change to solve this issue will be to update line 464 of queryset/base.py from
[code]
to
[code]
I think this update will be correct giving the fact that if write_concern is empty or 0 it's ok to return None so result will be None if the write_concern is 0 or {} (which is my actual case)

I've made this modification in my installed library to test and it works ok for me

[2015-06-09 14:27] touilleMan commented on #1017
@MRigal I've made my PR #1024

Concerning the implementation `_fetch_objects` now returns a dict with key composed of tuple `(collection, id)` (instead of just the id before).
I've choose not to use DBRef given as you said it seems a bit overkill to build objects just to use them as key.

[2015-06-11 12:16] MRigal commented on #517
Closed with #1018

[2015-06-11 12:16] #517 closed

[2015-06-11 12:34] MRigal commented on #267
@seglberg I'll remove the 0.10 milestone on this one, when you have time, you're very welcome to submit something on the topic

[2015-06-11 12:40] MRigal commented on #1003
Thanks @bigblind :-)

[2015-06-11 12:40] #1003 closed

[2015-06-11 20:32] MRigal commented on #991
PR merged

[2015-06-11 20:32] #991 closed

[2015-06-12 07:13] #259 closed

[2015-06-12 07:13] MRigal commented on #259
Fixed with PR #1025 merged

[2015-06-12 07:21] MRigal commented on #429
@noirbizarre ping for the doc PR. We aim to release 0.10 quite soon, it would be great if it could make into it ! :-)

[2015-06-12 07:24] #1017 closed

[2015-06-12 09:12] MRigal commented on #497
OK, I've made a PR with a partial fix for this.

I actually don't agree that documents abstracting from another should necessarily get two different counters. In some case, it may be very useful to have one single counter for two collections, in the other one, you may still define the counter on the inherited Document level. It may still be a possibility for the future to enhance it making it conf

[2015-06-12 10:15] MRigal commented on #530
@gleseur this was fixed by some other bugfix PR in the meanwhile. Nevertheless, I've added your code snippet as a passing test in a PR that I will merge in as soon as the tests are passing

[2015-06-12 10:29] MRigal commented on #652
I actually agree with @thedrow , so I will close #362 and work on this one to use Django's validation. Even better was if there was a good, tiny, well-tested, python package that could handle that

[2015-06-12 10:30] #362 closed

[2015-06-12 13:17] MRigal commented on #497
Merged #1026

[2015-06-12 13:17] #497 closed

[2015-06-12 14:13] shahafabileah commented on #497
Thanks @MRigal!

I agree with you that there are valid scenarios where you actually want the same counter to apply to all classes that derive from the same base class.

I definitely agree that if the counter is associated with the base class then it should be named accordingly.  And I agree that the owner_document should be the specific instance, not the base class (in fact, maybe it should be own

[2015-06-12 18:40] #530 closed

[2015-06-12 18:47] #652 closed

[2015-06-12 18:48] MRigal commented on #652
At the end, I took the modification from Django 1.7.x branch, removing some of the too fancy stuff to concentrate on the current general state of the art.
I've added a keyword argument 'schemes' to be able to specify specific not http/ftp(s) protocols without requiring to pass a complete new regex for the URL Field. Email also updated in the same shot.

[2015-06-12 18:59] MRigal commented on #497
You're fully right @shahafabileah ! :+1:

[2015-06-12 19:22] MRigal commented on #497
What do you think about #1030 @shahafabileah ?

[2015-06-12 19:59] shahafabileah commented on #497
Sounds great to me.  Thanks for adding it! :-)

[2015-06-12 20:17] MRigal commented on #497
Thanks for your input! :-)

[2015-06-12 23:09] MRigal commented on #300
Merged and removed

[2015-06-12 23:09] #300 closed

[2015-06-13 12:56] Garito commented on #1008
Hi!
I really need this correction
Please could someone give me some feedback about how to include it to the master?

Thanks!

[2015-06-13 18:14] Garito commented on #681
[code]
could be written like
[code]

[2015-06-13 18:15] Garito commented on #681
or even better
[code]

[2015-06-13 18:34] thedrow commented on #300
Wait that makes our queryset incompatible with Django's queryset.
That's fine if it's really required but I don't understand why it's so bad to have ```get_or_create()```.

[2015-06-13 18:37] thedrow commented on #1008
Ok so what we need you to do right now it to supply a test case that attempts to delete an object while specifying a write concern.
The test case should initially fail and then pass with the fix you suggested above.
It does make sense that your suggested fix will resolve this issue but we need to verify that it does so for both PyMongo 2.7 and 3.x.

[2015-06-13 21:17] thedrow commented on #1023
I completely agree that we need to use a SemVer and we could definitely start doing so after the next release.
As for describing the versioning scheme it's just the classic major.minor.patch versioning scheme.

[2015-06-13 21:21] thedrow commented on #606
The problem is that if we change that now we might introduce breaking changes to people that are relying on ```connect()```.
I'd rather change the signature of ```register_connection()```.
@MRigal Any thoughts on this?

[2015-06-14 17:40] MRigal commented on #1008
Yes, please write a test with your diff and submit it as a PullRequest. If it is your first time, github has some tutorials on how to do it. It is quite easy, you'll see. There is also a contributing doc in mongoengine repository.

One thing, for your change, the following is enough:

    return result.get("n") if result

as None is the default return value in python.

If you could do it in the ne

[2015-06-14 17:43] MRigal commented on #300
I don't know what "compatible with Django's queryset" really means. We have a couple other things which are different, like "scalar"/"list_values".

It was depreciated since a quite long time (2 years) and the problem is that it is simply a lie. With mongo, you just can't have a get_or_create method, as you can never be completely sure, except if you add retry and work with special write_concern s

[2015-06-14 17:47] MRigal commented on #606
immm, a hard one. We will make people unsatisfied with either both of the situations. This is why I've created the label for Client/Connect, because it actually needs a big refactoring and a strong clarification of the terms used. Unfortunately, it is not the area of the code which I am the most familiar with, as I am used to pretty standard configurations

[2015-06-14 18:56] Garito commented on #1008
Will try
I use to have problems to plan the tests but I will do my best! If you have a structure of the test in mind, please feel free to put them here I will try to fill the gaps

[2015-06-14 21:31] MRigal commented on #712
Merged

[2015-06-14 21:31] #712 closed

[2015-06-14 22:24] MRigal commented on #1011
Thanks @amitlicht ! I've made a PR to fix that, it should be in version 0.10

[2015-06-14 22:31] MRigal commented on #1022
Hi @kaiobrito
Thanks for reporting! I'm afraid we won't be able to fix that in mongoengine since it is a problem "wontfix" in MongoDB itself:
https://jira.mongodb.org/browse/SERVER-2193

But we may add a line to the documentation to prevent the users about that! Would you like to make a small documentation PR for that? Or do you have any other idea?

[2015-06-15 02:29] starsirius opened #1032 "Using operator names in field names when updating"
Re: https://github.com/MongoEngine/mongoengine/issues/949, https://github.com/MongoEngine/mongoengine/issues/843

##### Question 1
Similar to [using operator names in field names when querying](https://github.com/MongoEngine/mongoengine/issues/949), it also raises exceptions when updating.

[code]

I believe it is due to the same [issue](https://github.com/MongoEngine/mongoengine/issues/949) above

[2015-06-15 04:09] adamlwgriffiths commented on #606
I would recommend either:

A. Fixing it and making it part of a major, and therefore potentially API breaking, release.

B. Make db/name appear in the signature for both functions as optional named parameters, and ensure that at least one of them is set.

or C. do B now, and A later.

[2015-06-15 04:12] thedrow commented on #606
I'd go with C.
We should raise a deprecation warning for the argument we will remove.

[2015-06-15 04:14] thedrow commented on #300
I mean that MongoEngine's queryset should be, *if possible* compatible with Django's queryset because that makes integration with the rest of the Django echosystem just work without much effort on our part.
I guess what your saying makes sense since unlike RDBMS Mongo isn't transactional.

[2015-06-15 12:58] noirbizarre commented on #429
@MRigal OK, I will do it ASAP !

[2015-06-15 13:23] jaraco commented on #606
Sounds good to me

[2015-06-15 13:25] #1011 closed

[2015-06-15 14:40] MRigal commented on #1032
Hi @starsirius
Very valid points! Thanks for reporting them!
Would you like to submit a PR with some before failing tests, then passing and some fix. Eventually raising an "InvalidQueryError" for the case of Question 2

[2015-06-15 15:02] starsirius commented on #1032
@MRigal Sure. I will do that. To confirm, for question 1, we don't even need the trailing `__` trick for updates, because the operator will only be at the beginning and everything else are field names. Is my understanding correct?

[2015-06-15 16:32] MRigal commented on #1032
I was trying to think to a counter-proof, but I can't find any. So I would skip it if it doesn't make the code harder to understand.

What may make it harder is that we go through a "transform" method which is common to both methods. I'm not sure what's the best method on a first sight, if it should be decomposed into two methods, one common to both with an argument about the requested operation a

[2015-06-16 06:55] hamzawaqas-10p commented on #706
Yeah, there could be a way to pass a `list` or `tuple` to `order_by()` function instead of comma separated keyword arguments :)

[2015-06-16 14:31] matheusho commented on #950
+1

[2015-06-17 10:04] warvariuc opened #1033 "Cast field value upon assignment"
When you assign a value to a model instance field, the value is not immediately converted to the type the field should hold:
[code]
This leads sometimes to bugs which are difficult to discover. In the case above `thread.tutor_id` was assigned an id which came from a POST request. Then later in the code I am using `thread.tutor_id` as in a query filter, which fails, because `558143a3bb16fb194ff9852

[2015-06-17 10:41] MRigal commented on #1033
Valid point, even if it may make the system slower... I don't what is best, add a keyword argument to enable the feature on a per-field basis or maybe simply change the comparison method...

[2015-06-17 15:50] MRigal commented on #267
A similar case is also the issue #938

[2015-06-17 16:37] MRigal commented on #915
I've actually tested it and checked a bit the code, it is not that easy.

We have these UUIDField in order to always recreate them as UUID on the Python side and this should NOT be changed.

I don't know actually it we should change it or not, but the problem may rather be in the to_python() method of the ReferenceField class, where we do the following:

            value = DBRef(collection, self.

[2015-06-17 17:04] warvariuc commented on #1033
I don't think it'll make system slower -- the validation/conversion happens only once. But failing fast is a good approach.

[2015-06-18 03:28] namtuoc0202 opened #1034 "not__match__nin is not working"
I have DB like this
[code]
and raw query is:
[code]
But when I use
[code]
this query may be ignore and all record be showed

[2015-06-18 07:43] adil-abbasi-10p commented on #367
+1 great! what if need to search multiple stirngs

[2015-06-18 21:14] #569 closed

[2015-06-18 22:11] MRigal commented on #1034
Hi @namtuoc0202 Thanks for reporting!
We seem indeed to have an issue here. Would you like to submit a Pull Request with a proper failing test? You can of sure also submit a fix, but also simply the test would help us to fix the problem!
Thanks in advance!

[2015-06-21 01:43] MRigal commented on #1008
Thanks @Garito for reporting this real bug! I've written the PR #1037 to be able to include it into 0.10

[2015-06-21 08:36] Garito commented on #1008
Thank to you @MRigal! Nice to be useful
is it time to close this issue then?

[2015-06-21 09:24] thedrow commented on #1008
@Garito When the feature will be merged.

[2015-06-21 18:54] webus opened #1038 "Problem update dictionaries with a high degree of nesting using DynamicDocument"
I try to repeat this:
[code]
At this example we created new dynamic document.
Next we want to get this document and append some data to 'sdata' key in dictionary.

[code]

Let's get this document again and check our changes
[code]
As you can see mongoengine not saved new values in 'sdata' key

I found a solution how to get around this problem
[code]
But this is not the right way.

[2015-06-22 08:37] MRigal commented on #1038
Hi @webus Thanks for reporting. It's not surprising me as we had many problems with ListDict. With which version did it happened? Have you tried with the latest master, we had several fixes in the area.
If still happening, feel very welcome to submit a PR

[2015-06-22 12:50] #1008 closed

[2015-06-22 12:56] #882 closed

[2015-06-22 14:25] Garito commented on #1008
@thedrow as @MRigal  said above, it will be merged into 0.10 but, meanwhile you could path your library if you can't wait (look at the pull request in this threat to see what changes will be made for this particular issue)

[2015-06-22 16:35] #831 closed

[2015-06-23 05:59] hamidfzm commented on #950
+1

[2015-06-23 21:06] #705 closed

[2015-06-23 21:59] MRigal opened #1039 "Rewrite _infer_geometry() if value is a list or set"
The method is really dirty and probably does not test/work with MultiPolygon geometry

[2015-06-24 12:49] hassek opened #1040 "When not using filter directly, any subsequent filtering doesn't work."
I recently updated from mongoengine 0.7.10 to  0.9

One thing that I found very disturbing is that the filtering changed somehow, here is the example:

[code]

Now, this looks ok but when printing the query I would get something like this:

[code]

Notice that in the filtering I do on `MyCollection` I am not adding the `.filter`, I understand this may not be the default approach but this was worki

[2015-06-25 01:04] asiebert opened #1041 "Documents with non-ASCII field keys break queryset retrieval"
We came across a DynamicEmbeddedDocument in our mongo instance that contained some accentuated keys, and ended up breaking the whole queryset retrieval through mongoengine.

As far as MongoDB's doc goes, it doesn't seem like there is any restriction on field names beyond the `.` and `$` characters, and mongo(-shell) has no issue dealing with such (non-ASCII of UTF) fields.
http://docs.mongodb.org/

[2015-06-25 01:10] asiebert commented on #1041
Played some more with that example, and things are also funny when walking through the queryset:
[code]

Somehow the document doesn't count toward the `len` of the queryset, but is present nonetheless.

[2015-06-25 05:21] minorblend commented on #1015
@MRigal It doen's seem to be fixed on v0.10. I'm getting the same error when connecting to the server. I'm using mongoengine 0.10.0 and pymongo 3.0.2
mongoengine tries to pass `hosts_or_uri` to `MongoClient`, which doesn't have that parameter in `__init__`

[2015-06-25 09:57] emilecaron opened #1043 "Cycle issues in reverse_delete_rules"
When object is self referencing with a cascade delete rule, it ends up in a recursive loop.

Following commit fixes this behavior by avoiding self cascading, and also removes a bugged line
https://github.com/MongoEngine/mongoengine/commit/e64eff0c17720c4b8ee9cf17c06bd4ff394370cd

[2015-06-25 10:13] MRigal commented on #1015
immm that's a pity. Well in the meanwhile, please use a different connection method. We'll have to work on that point for the next release. Our hole method for connecting and managing connections and clients is quite broken, also due to the significant changes made on PyMongo in version 3. If you feel like submitting a PR with a precise test and eventually a fix, feel very welcome to do so!

[2015-06-25 10:21] MRigal commented on #1041
Thanks for reporting @asiebert !
Definitely something we should try to fix soon! If you feel like submitting a PR for this, please do so, I will review it with pleasure!

[2015-06-25 10:23] MRigal commented on #1043
Hi @emilecaron
Thanks for reporting it! Would you like to submit a Pull Request with the fix and a proper test? It would make including it to mongoengine easier and faster.
Thanks!

[2015-06-25 17:10] asiebert commented on #1041
You're welcome! I unfortunately don't have enough time to get to the bottom of this, but I hope somebody with a good knowledge of mongoengine internals has enough information here to locate the root cause easily. Hoping the fix to be likewise simple…

2¢ from the POV of my team: this is the first and only occurrence we've ever seen, and would tend to consider non-ascii keys as bad practice (nowada

[2015-06-26 03:31] starsirius commented on #1032
@MRigal Sorry that I couldn't get a chance to work on this in the past week. :stuck_out_tongue:

I realized that sometimes we do need the match operator at the end when doing an update, e.g. `pull` and `push`. This operation is totally valid:
[code]
And [we do have a test](https://github.com/MongoEngine/mongoengine/blob/c6151e34e0a3f87c5d8ceb409c968a1f8cdee4a6/tests/queryset/queryset.py#L537-L560)

[2015-06-26 08:50] zhaozhiming opened #1045 "How to mock mongodb with mongoengine in unit test?"
HI ALL,
I use mongoengine in my project, it's pretty good.
But when I write unit test with mongoengine and use [mongomock](https://github.com/vmalloc/mongomock) to mock mongodb, I find they did not work together.
Could someone tell me how to mock mongodb with mongoengine, or what mock framework should be use?
Thanks.

[2015-06-26 08:59] MRigal commented on #1032
Hi @starsirius
Thanks for coming back on that point. I didn't had the time to look deeper into the code and investigate the consequences. So yes, I guess you are right. I wonder if it is worth separating the case of pull and push, but else, definitely, giving the ability to update fields named like operator is very good.
While I've looked at the query transform code, I thought that there might be

[2015-06-26 09:00] emilecaron commented on #1043
@MRigal Here's how to reproduce and a fix. https://github.com/MongoEngine/mongoengine/pull/1046
Not sure if i broke anything, i wasn't able to get a clean test run in the first place

[2015-06-26 09:04] MRigal commented on #1045
Hi @zhaozhiming
I must admit that I always start a local mongo for my tests and never thought about mocking it... I doubt it is really implemented or working right now. Let's see if some other users have different experiences.
I guess it would be worth writing a new module to integrate to mongoengine a wrapper of mongomock. I don't think so much work would be required. In case you are interested,

[2015-06-26 10:58] emilecaron commented on #1043
@MRigal It should be fixed now: https://github.com/MongoEngine/mongoengine/pull/1046

[2015-06-26 16:00] #1043 closed

[2015-06-28 14:27] amitlicht opened #1047 "CachedReferenceField creates DBRefs on to_python, but can't save them on to_mongo"
[code]

[2015-06-28 14:35] amitlicht commented on #1047
I also have a suggested fix for it (which we're using in our project), but I don't have permissions to push it to the project. Tell me if you wanna hear it.

[2015-06-28 17:36] DavidBord commented on #842
I think that's a bug
Whenever the `_cursor` property is called (in `skip`, `limit` or `hint`), `a _cursor_obj` is generated and once it is generated chaining `only` or `exclude` will be meaningless

[2015-06-29 09:20] MRigal commented on #842
You're right @DavidBord , nice catch!

[2015-06-29 09:43] Catstyle opened #1050 "DynamicDocument.reload doesn't work well"
i encountered an issue when i was using DynamicDocument, here is the situation
[code]
and it supposed to had bar reloaded, something like
``` {'bar': 1, 'id': ObjectId('55910f4a53a70c17c0e2eb5e')} ```

in https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/document.py#L591 we can see that it loops over ```self._fields_ordered```, which unfortunately DynamicDocument havn't

the simpl

[2015-06-29 09:50] MRigal commented on #1050
Hi @Catstyle
Nice catch! Not sure if _data is enough, but if you feel like, please investigate it and submit a PR :-)

[2015-06-29 19:30] DavidBord commented on #916
@amcgregor I think that a similar feature was already implemented with #705

[2015-06-29 19:30] #916 closed

[2015-06-29 19:34] amcgregor commented on #916
Implemented, aye.  (Just implemented in the worst way I could think of.)  Must… fight… urge to maintain a fork…

[2015-06-29 20:01] amcgregor commented on #705
I'm dissatisfied with the accepted pull request as a solution to my apparent duplicate ticket, #916, for the following reasons:

* Mixed attribute and dictionary access.  Maybe.  Code is now less predictable as there is an extra indirection which will likely be dictionary, but won't be in all cases.
* The declarations are ugly.  The example in the test splits the declaration of extra data from the

[2015-06-29 20:25] DavidBord commented on #943
Thanks @elephanter
@andrewbelu please iterate on the returned query set, no need to use `__getitem__`

[2015-06-29 20:25] #943 closed

[2015-06-30 10:54] MRigal opened #1053 "Bug in metaclass _fields registry in some cases"
Quick and dirty description, I'll write a proper test and write the fix for it. Bug basically, some (or at least the _cls) field is not passed from a super-class which allows inheritance to a subclass not allowing inheritance

[2015-06-30 11:02] arnaudriegert commented on #997
I had a similar problem and apparently it occurs when the `ReferenceField`'s document class is abstract.

In my case, inside the `ReferenceField.validate` method, `type(value)` was `myapp.mymodule.documents.subclassmodule.FooBar` while `self.document_type` was `myapp.mymodule.documents..Bar` (there were actually two dots between `documents` and `Bar`).

`FooBar` is a subclass of `Bar` (more precis

[2015-06-30 15:29] justingiorgi commented on #203
I disagree that this is out of scope due to support of < 2.7. It should be possible to utilize the OrderedDict class when it is available and disable support or use an alternate implementation when it isn't. It seems that the DynamicField class already preserves order when inserting data but loses order when extracting that data.

My team and I are migrating an application from pymongo to mongoeng

[2015-06-30 15:34] MRigal commented on #203
OK, I'm actually fine with it and even more happy if you come out with a proper solution also compatible with Python 2.6 ! I'll review your PR with pleasure :-)

[2015-06-30 20:11] bagerard opened #1054 "DynamicDocument issue for Document with inheritance"
Hi There,
I had an issue today while using DynamicDocument on a collection that makes use of some inheritance.
Note that using .exclude('_cls') is solving my problem but I thought it could be good to let you know.
Below is a reproducible scenario. BTW mongoengine is awesome, thanks for the hard work!

class Geek(Document):
    meta = {'allow_inheritance': True}
    name = StringField()

class Awes

[2015-07-01 06:47] MRigal commented on #1054
Hi @bagerard
Thanks for reporting and for the nice words :-)
I think the issue is related to #1053 . I'll make a PR and include a test similar to your description. But if you feel like, feel free to submit a PR with a failing test and eventually a fix if you find one.

[2015-07-01 22:04] coffenbacher commented on #1047
Queryset evalutation performance for me after this change is horrendous, unfortunately...

Item.objects.all() on 200 items with a few CachedReferenceFields apiece takes ~10 seconds to dereference everything before returning. It's not lazy, either, which makes this untenable for my uses at the moment.

I'm not 100% sure what the original design of CachedReferenceField called for, but this works per

[2015-07-01 23:01] small-yellow-rice opened #1056 "How do I get pymongo's db object from mongoengine"
I am using flask and mongoengine. How do I use mongodb'geoNear query?
http://docs.mongodb.org/manual/reference/command/geoNear/
I am trying to use pymongo like this.
db.command(SON([('geoNear', 'content'), ('near', coordinate)]))
http://api.mongodb.org/python/current/examples/geo.html?highlight=geonear#querying

If I am on the right way. How do I create pymongo's db object from flask and mongoengi

[2015-07-02 00:23] small-yellow-rice commented on #1056
After reading the sourcecode of mongoengine

in connection.py get_db return the db object I need

def get_db(alias=DEFAULT_CONNECTION_NAME, reconnect=False):

So I can run geoNear in mongoengine like this:

from mongoengine.connection import get_db
get_db().command(SON([('geoNear', 'content'), ('near', coordinate)]))

[2015-07-02 08:56] Toinews opened #1057 "Mongo 2.4.14 - KeyError: 'nModified'"
Hi,

When I try to make a save_condition, it seems that the key `nModified` is not available (field seems to be called `n`) in mongo 2.4.14 (have not check with other 2.4).

[code]

Is there any plan to fix this for mongo 2.4 or should I migrate to 2.6 ?
Thanks,
Regards,
##

Toinews

[2015-07-02 09:29] MRigal commented on #1057
Hi @Toinews
mongo 2.4 is seriously backward, but thanks for reporting the bug, we'll try to fix it also. But as there are many open issues, it will have a lower priority,
Best, Matthieu

[2015-07-02 10:03] touilleMan commented on #1057
@MRigal: @Toinews is a collegue of mine, I told him to post this issue in order to have some information about mongoDB 2.4 support in mongoengine:
 - I didn't find any mention in the documentation of the mongoDB versions supported by mongoengine
 - It seems the continuous integration is only running against the last version of  mongoDB from http://downloads-distro.mongodb.org/repo/ubuntu-upstart,

[2015-07-02 12:01] MRigal commented on #1057
Hi @touilleMan
You're fully right. I think we unofficially support MongoDB >= 2.4 and indeed, we should run the tests agains MongoDB 2.4 and MongoDB 3.
It is a weakness we see since a long time with @thedrow . We didn't know how to integrate the task to Travis CI. If you feel like digging into this, it would be with pleasure!

To not make the job being too long, we shouldn't test the full stack of

[2015-07-02 12:14] touilleMan opened #1058 "DictField with '_cls' field is converted to Document on access"
Hi again,

I've spotted a pretty interesting bug involving the `DictField`, see this example:

[code]

It seems the trouble is the DeReference (https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/dereference.py#L13) class is always called (no matter if the field is actually a (Generic)ReferenceField or not), so the dict is dereferenced given it really looks like something to derefer

[2015-07-02 13:21] thedrow commented on #1057
We try to support the two latest Mongo releases and prefer to always support the latest but you are absolutely right.
We need a clearer policy here.

[2015-07-03 05:23] #842 closed

[2015-07-03 18:44] cenouro opened #1059 "Setter does not behave as it should."
[code]
Am I doing something wrong?

[2015-07-07 02:27] Catstyle opened #1062 "should it assign default value"

[2015-07-07 02:52] Catstyle opened #1063 "should it assign default value for fields in __only_fields but without data in mongodb?"
[code]
there is an issue fixed by https://github.com/MongoEngine/mongoengine/issues/399

but you can see line#23 will remove foo from mongodb
then i want to get Foo with foo field only, now foo will be in __only_fields and skip assign default value in https://github.com/MongoEngine/mongoengine/blob/v0.10.0/mongoengine/base/document.py#L93
but values have no foo value either https://github.com/Mong

[2015-07-07 15:32] anentropic opened #1064 "update(safe_update=True) broken?"
I upgraded mongoengine from 0.7.0 to 0.10.1 today

I am getting this error:

[code]

I tried also v0.9.0 and v0.8.7

Looking through the code it seems that in all versions since 0.7.0 this kwarg is simply missing from signature of `update` method.  However docs for latest version still show it:
http://mongoengine.readthedocs.org/en/latest/apireference.html#mongoengine.queryset.QuerySet.update

[2015-07-07 15:43] anentropic commented on #1064
oh, hang on those are docs for 0.7.5
latest are
http://docs.mongoengine.org/en/latest/apireference.html#mongoengine.queryset.QuerySet.update

that's confusing... could you not take down the old docs (and install them on the new site, I see a 404 there for old version numbers)

[2015-07-07 17:35] Chonghao opened #1065 "Efficiently get the number of documents from a collection"
Suppose I have a class named Posts which maps to a collection in mongoDB. If I want to get the number of documents in Posts, I need to do Posts.objects.count(). This will first construct a Queryset and then count the number of items in the Queryset, which is really inefficient. Since mongoengine is built on top of pymongo and pymongo can get the number of documents without retrieving all the docum

[2015-07-07 21:52] touilleMan commented on #1006
Hi,

I think you should use a base class describing your document, then subclass it with multiple inheritance of Document and EmbeddedDocument

...

Ok, an example to explain everything ^^

[code]

[2015-07-08 13:54] bagerard opened #1066 "Filtering on embedded attribute raises an exception (regression 0.9/0.10)"
Hi There,
I observed a regression after switching to 0.10.0 when querying objects on embedded attribute. It raises an AttributeError as soon as you iterate or .count

Below is a test case:

[code]

And the end of the stack trace:
(...)
  File ".../mongoengine/queryset/transform.py", line 95, in query
    value = field.prepare_query_value(op, value)
  File ".../mongoengine/fields.py", line 570, in

[2015-07-08 14:00] microdog opened #1067 "Cannot upsert a document with `GenericEmbeddedDocumentField`"
When I use `set__` modifier to upsert a document with `GenericEmbeddedDocumentField`, mongoengine raises a strange error:
`mongoengine.errors.ValidationError: Invalid embedded document instance provided to an GenericEmbeddedDocumentField`

I want to know if this action is not allowed or this is a bug in mongoengine. If this is not allowed, what is the proper way to upsert this kind of document?

T

[2015-07-10 08:25] #1062 closed

[2015-07-10 12:36] touilleMan commented on #1059
Hi,
I've created an unittest that show the bug (see https://github.com/touilleMan/mongoengine/commit/bc7b4a999b5ddfebbc2449c3290e70a791755bce)

From my point of view, the trouble is when `price` is passed during document creation, it is altered by `Product.price.to_python` before being set.
On the other hand, using `p.price = 10.50` means p.price is a regular float

[code]

I guess we should overl

[2015-07-10 13:29] touilleMan commented on #1059
I've pushed a first quick fix to use `to_python` in `BaseDocument.__setattr__` (see https://github.com/touilleMan/mongoengine/commit/a3919ef768a5d61e688bc005b70e68a70d2eb6d1)

Plenty of tests are broken with this, but I'm wondering if this doesn't hide a bigger refactoring need, see for example:

[code]

[2015-07-12 21:46] sphildreth opened #1068 "ImageField resize and maintain aspect ratio?"
Using this syntax:

    class ThumbnailImage(EmbeddedDocument):
        element = ImageField(size=(200, 250, True), thumbnail_size=(50, 60, True))

What I would like is the ability to re-size the image to a maximum of 250px high and set the thumbnail size to maximum 60pixels high but for the re-sizing that occurs to maintain the aspect ratio.

Thoughts?

[2015-07-14 10:55] MRigal opened #1069 "Replace connection .disconnect() with .close() when IS_PYMONGO3"
.disconnect() method/alias was removed but we forgot to made so... (and obviously have no test on it!)

[2015-07-15 09:46] aop commented on #565
I'm now facing the same issue. I think the problem really boils down to the function `disconnect()` not removing stuff from `global _connection_settings`

When the `connection.get_db()` gets called it goes to really create a new connection, but loads the old settings of the previous connection at line https://github.com/MongoEngine/mongoengine/blob/45cb99125454c1ca15d8c40912e8f359353280cc/mongoeng

[2015-07-15 10:20] MRigal commented on #565
I agree with the problem described here and more generally, I think the whole Client/connect needs a full serious rewrite. It is seriously a piece of #$%! with these old-school globals

[2015-07-15 14:36] aop opened #1071 "Possibility of embedding a clone of a document as embedded"
My current issue arises from the need of snapshotting documents for later use.

Say I have a
    class User(Document):
        name = StringField()
and a
    class Message(Document):
        message = StringField()
        user = DynamicField()

For every message that the user sends I'd like to save a copy of the user in case the user changes his name, I'd see what the user looked like when he sen

[2015-07-15 20:22] touilleMan commented on #1071
Hi,

First I've updated your comment to use markdown code blocks for with python syntax.

I tried to do something similar (implementing an history system) using the `to_mongo` method to create a dump of the document:

[code]
However, I bumped into a bug (see https://github.com/MongoEngine/mongoengine/issues/1058), basically the user DictField is really similar to a ReferenceField and mongoengine t

[2015-07-15 21:06] touilleMan commented on #1058
I've created a test to show this bug (see 85b62a4)

I think the trouble comes from `ComplexBaseField`'s `__get__` method (see https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/fields.py#L227) but I don't understand how this class works (it is described as a lazy dereferencer for complex field like list or dict) or why it is needed by the `DictField` (this field is described a

[2015-07-15 22:54] nixdaemon commented on #958
since django-mongoengine had no activity since two years and i was needing to use the features quite badly and fix some bugs, i went ahead and worked on a version which i am updating as per my need and it works. If anyone wants to contribute, please feel free to fork it. Here is the link to the repository: https://github.com/nixdaemon/django-me

[2015-07-15 23:04] jontrainor commented on #858
+1

[2015-07-16 03:27] thedrow commented on #958
@nixdaemon We just need a maintainer for the project.
We can add you as one. There's no actual need for a competing project (unless you want to).

[2015-07-16 03:49] cenouro commented on #1059
Could you add this to your test case?
[code]
If the problem is indeed Python's duck-typing, then a good feature would be to implement a more restrictive 'type casting' on the `BooleanField` class (and other `*Field` classes for that matter).

[2015-07-17 08:44] MRigal commented on #1066
Bug confirmed, I saw the same for ListField(EmbeddedDocumentField)

[2015-07-17 08:45] MRigal commented on #1068
Not implemented for now, but you could submit a PullRequest with this feature, it would be a useful improvement

[2015-07-17 08:47] MRigal commented on #1064
@rozza @thedrow who has access to the readthedocs.org connection? We should update or remove these old docs indeed!

[2015-07-17 08:49] MRigal commented on #1063
I understand your point, without being able to tell for now what should be the right behaviour, without impacting the performance for this kind of self-recursive check...

[2015-07-17 08:51] MRigal commented on #1056
Hi @small-yellow-rice , this is possible way to make it, but there is also an implementation for $geoNear in mongoengine directly. Check this out: http://docs.mongoengine.org/guide/querying.html#geo-queries

[2015-07-17 08:58] MRigal commented on #1047
You're right @coffenbacher , we should add this. Are you or @amitlicht willing to submit a complementary PR?

[2015-07-17 09:00] MRigal commented on #892
I think this is a good solution @touilleMan , if you feel like submitting a PR, please do so. Sorry for the missing time currently, it should improve in august

[2015-07-17 10:37] rozza commented on #1064
I've asked @hmarr to kill the old readthedocs project :)

[2015-07-17 12:11] touilleMan commented on #892
I'll have a look on it this weekend :+1:

[2015-07-17 16:49] MRigal opened #1073 "Major performance drop between 0.8.7 and 0.9.0"
I've just tried to pass my production servers from 0.8.7 (and some subclasses) to 0.10.0 and had to rollback. I've tried with 0.9.0 as a provisory solution but it was exactly the same.

Some changes for the 0.9.0 introduced some serious performance drop, only noticeable at a certain load. We had a huge increase in running processes and CPU usage coming from the system and not from the user, in par

[2015-07-17 17:40] thedrow commented on #1073
You should really consider running MongoEngine with PyPy.
It makes everything so much easier.

[2015-07-18 09:11] touilleMan commented on #1073
@thedrow  Personally, I choose Python3 greatness over Pypy speed... but I also gave my 50 bucks to support th, Pypy3 port project, can't wait for it ! ^^

[2015-07-18 12:32] yarneo opened #1075 "AttributeError: 'CachedReferenceField' object has no attribute '_get_db'"
After appending an object to a list of CachedReferenceFields, I get this error when trying to fetch the object:

AttributeError: 'CachedReferenceField' object has no attribute '_get_db'

File "build/bdist.macosx-10.10-x86_64/egg/mongoengine/dereference.py", line 145, in _fetch_objects
    references = doc_type._get_db()[collection].find({'_id': {'$in': refs}})
AttributeError: 'CachedReferenceField

[2015-07-21 00:30] samuelclay commented on #1015
What different connection method would you recommend if we are running a replica set.

[2015-07-21 10:00] yarneo commented on #1047
There are so many issues with CachedReferenceFields that it baffles me how it was put in the version to begin with. Basically unworkable, you can't fetch the object then save it without a validation error. You can't append a cachedreferencefield to a list without an attribute error. I would suggest to remove it entirely to not cause developers extra headache.

[2015-07-21 11:20] Garito opened #1076 "Is DateTimeField validate drunk here?"
Giving this line: https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/fields.py#L407
and this date: 21/07/2015 13:09

A invalid date is sign of a drunk library, isn't it? Even more if it works manually
[code]

Your thoughts?

[2015-07-21 11:38] Garito commented on #1076
I've been researched the error and the line apointed below is never riched
I've printed the values in the begining of the to_mongo function and this is the trace:
[code]
which is a valid datetime

[2015-07-21 11:41] Garito opened #1077 "Is #mongoengine channel useful at all?"
I've never recive a response even a bad one, never ever ever...

So seems to me that will be more honest to close the channel and never look back than have one where no one give a response

Is so frustrating

[2015-07-21 13:16] touilleMan commented on #1076
I don't understand what your error is, can you explain with a snippet of code involving mongoengine plz ?

Just a little snippet of what mongoengine's DateTimeField parsing with dateutile library:
[code]