[2018-09-20 18:04] oussjarrousse opened #1898 "After reading a GridFS file.read() object the file is not rewind automatically"
[code]

[2018-09-20 19:49] JohnAD commented on #1898
That is correct. It is a python standard file handle.

I've got a video describing the FileField behavior in general:

https://www.youtube.com/watch?v=EXKWrzoGsWk

[2018-09-21 07:29] milost opened #1899 "Deprication Warnings with pymongo 3.7.1"
It looks like some method calls have changed in the latest pymongo version.

See:
[code]

Maybe it is a good idea to adapt the internal function calls accordingly?

[2018-09-21 08:20] ibmboy19 opened #1900 "Query performance issue"
We have a Model:
[code]
When we do

The foreach of the returned queryset is spend a lot of time.
How to resolve this?
Thanks

[2018-09-21 10:07] Sirtea commented on #1896
Great

So I will enforce uniqueness by code, something like:

[code]

I have the info, so I close the ticket.

Many thanks

[2018-09-21 10:07] #1896 closed

[2018-09-21 10:27] erdenezul commented on #1896
By the way write_concern 0 would do the trick without catching exception. Dont you think so?

[2018-09-21 21:29] gordol commented on #1709
you can't do it with mongoengine, necessarily, because of the aforementioned issue with dirty checking. you can write an update() script and it will actually write the changes, because that circumvents mongoengine's dirty checking, but using model property getter/setters will not actually save the change into the database unless you set a non-default value first, save(), then change back to the de

[2018-09-21 21:48] gordol commented on #1756
I think we should have a flag to set the expected behavior any time a document is loaded into the models with a mismatched pymongo document. Even if default behavior is a warning, that would be better than nothing. But, what I'd like to see is a flag that gives the ability to ignore the variance, or force the value into the database when saving.

The problem is basically that you can write migrati

[2018-09-21 21:49] gordol commented on #1891
How do you propose migrating the data, without mongoengine? Because if you use getter/setter on mongoengine properties, you cannot save the value to the database without first setting a non-default value, and then setting back to the default value manually. This requires two saves to the database.

Without using update(), how would you suggest doing migrations, then? Obviously, not with mongoengin

[2018-09-21 21:49] gordol commented on #1891
I think we should have a flag to set the expected behavior any time a document is loaded into the models with a mismatched pymongo document. Even if default behavior is a warning, that would be better than nothing. But, what I'd like to see is a flag that gives the ability to ignore the variance, or force the value into the database when saving.

[2018-09-21 22:05] bagerard commented on #1891
We do all our migrations using pymongo, mongoengine isnt designed for migrating data, there are things you can migrate with it by using some workarounds but nothing beats pymongo in terms of performance and reliability.

I fully agree that what you describe in this ticket should be fixed but migrating remains the safest choice.

[2018-09-21 22:07] gordol commented on #1891
To me, the crux of this issue is this: if you call to_mongo() on the instance, the default value will show up, but calling save() doesn't persist the value.

Shouldn't `to_mongo()` be consistent with what is flushed **to mongo**?

Seems like a simple change is only necessary in this one method `document._delta`: https://github.com/MongoEngine/mongoengine/blob/708d1c7a329736e854a73691220e504f241225

[2018-09-22 06:48] pyzworld commented on #1727
+1

[2018-09-26 01:49] Hsiny commented on #1127
still have this bug, update_one() do not work either.

mongoengine==0.15.0
pymongo==3.7.1

the patch works,why not fix it?

[2018-09-26 14:37] bagerard commented on #1900
mongoengine suffers from some performance issue but could you elaborate a bit more on your specific case:
- What do you mean by "a lot of time"?
- How many documents are you iterating over?
- Could you provide the full structure of you model (all fields)?
- Could you provide the exact code inside the for loop?

[2018-09-26 14:47] bagerard commented on #1895
@candycrusher does that answer your question? If yes, then let's close this :)

[2018-09-26 21:46] JohnAD commented on #1895
Not to nitpick, but for future readers, I suspect you meant to quote:

[code]
I suspect most folks would have figured that out, but just in case...

[2018-09-26 21:51] JohnAD commented on #1898
@oussjarrousse , did this resolve the problem? If so, please close the issue. If not, let me know how I can help further. Thanks!

[2018-09-27 03:03] candycrusher commented on #1895
Yes, absolutely did. I appreciate your help. Also, I would like to keep my pace to contribute to open source someday. The web greatwall in China makes me very hard to climb finally to here.

[2018-09-27 03:03] candycrusher commented on #1895
Exactly, that's what I need to note and keep this good habit.

[2018-09-27 03:04] #1895 closed

[2018-09-27 05:09] ibmboy19 commented on #1900
Hi bagerard,

There are 5000 Device documents over the iteration.
It spend approximately 5 seconds  over the queryset iterating.

Document structure:
[code]

Iterating
[code]

[2018-09-27 21:33] bagerard commented on #1747
I havn't tried to reproduce this but I can see that the __repr__ method of the queryset is returning a list under some condition (meaning repr can trigger the query), unlike the pymongo's cursor.__repr__ which does not. It is possible that ipython calls that behind the scene. See below:
[code]

Its arguable if we want to change this, in fact it is handy to have the repr behaving like this when pla

[2018-09-28 00:47] erdenezul commented on #1747
Oh, that sounds serious. What version do you use?

[2018-09-28 00:49] erdenezul commented on #1747
it is fine in
IPython 6.5.0
mongoengine 0.15.3

[2018-09-28 03:46] henryngoo opened #1902 "OperationError: Could not save document (Cannot start transaction 3 on session 6543ea40-00d8-4555-8139-e2cb3c6d0508 - ddqot68vLpBUPnOuqFj2cdClv/dv/vF9ZVSwknYHEsE= because a newer transaction 4 has already started.)"
Hello,

I have some issues after moving into **MongoDB Atlas** and be configured as **Replica Sets** with MongoDB Version 3.6.8 , we are noticing a high amount of error messages of the following kind:

`OperationError: Could not save document (Cannot start transaction 3 on session 6543ea40-00d8-4555-8139-e2cb3c6d0508 - ddqot68vLpBUPnOuqFj2cdClv/dv/vF9ZVSwknYHEsE= because a newer transaction 4 has

[2018-09-28 18:57] bagerard commented on #1902
Hi, it sounds like your issue is related to MongoDB itself and not to the mongoengine library (this repository). If that's correct, you probably should post your issue there: https://jira.mongodb.org/secure/Dashboard.jspa

[2018-10-01 03:42] ibmboy19 commented on #1900
Thank you for advice!

[2018-10-01 05:34] situkangsayur commented on #1758
@erdenezul is mongoengine developed to not accept a string that contains '$' as key for DictField?

because in mongodb we can use string that contains $ (not startwith $) as key in mongo document

[2018-10-02 06:09] MateuszBelczowski opened #1904 "Accepting null values in the ListField"
Hello. I would like to have a Document with the list of integers, but I'd also need to accept `None` values there (e.g. `[1, 2, 3, None, 4]`)
Is this currently possible with Mongoengine?

I expected the code below to be working, because there is an option to specify `null=True` in the inner field definition
[code]

Unfortunately, this throws the error when trying to convert `None` to `int`. Am I m

[2018-10-03 21:17] iniyanp opened #1907 "Exception in bulk insert"
`oids =  mongokls.objects.insert(mongo_objs_list,load_bulk=False)`

Let's say I have created cmpound index in my db. so when I try to insert objects let say
object1
object2
object3

and both object2,object3 already present in db. In that case, object1 gets inserted successfully. but exception has been thrown. Because of that I don't know which object would be inserted.

[2018-10-04 01:13] rjcabrera158 opened #1908 "to_json() return type"
When I tried to convert my queryset using to_json(), the type it returns is <class str> then when i tried requesting for the document using insomnia, there are many escape slashes because it wasnt returning it as json but instead as a string. had to convert the string to json using json.loads()

[2018-10-04 09:55] Biskit1943 opened #1909 "Deprication warning for Python 3.8 (collections)"
[code]

[2018-10-04 13:15] Biskit1943 opened #1910 "DateTimeField rounds milliseconds"
So I came across this little issue while testing my database:
I have this data class:
[code]
and this little test:
[code]

Example run:
[code]

Every time a date is provided it gets rounded like this:
[code]

I hope I provided all the context to reproduce this Issue

[2018-10-04 14:54] Biskit1943 commented on #1910
Seems I cant read properly...

from http://docs.mongoengine.org/apireference.html?highlight=datetimefield#mongoengine.fields.DateTimeField

Pre UTC microsecond support is effectively broken. Use ComplexDateTimeField if you need accurate microsecond support.

[2018-10-04 14:54] #1910 closed

[2018-10-04 15:13] champidead opened #1911 "Child class without field"
Hello,

I'm trying to define child classes without additional field:

[code]

But I got the error `SyntaxError: unexpected EOF while parsing`.
Is this possible?
If not, is there a reason?

Thanks!

[2018-10-04 18:00] svanburen commented on #1911
hi,

you probably want something along the lines of:

[code]

the `meta` dict is to ensure you don't use `Node` as an actual document, but for these inheritance purposes. You could also look into `allow_inheritance`

you're hitting that `EOF` error because you need those `pass` statements. alternatively you could use a docstring:

[code]

[2018-10-05 07:37] champidead commented on #1911
Hello,

I used `meta = {'allow_inheritance': True}` but I forgot to mention it.
I like the docstring solution, it works well.

Thanks for the solution.
The fix was simple but I'm new to Python.

[2018-10-05 07:37] #1911 closed

[2018-10-05 20:40] bagerard commented on #1578
@erdenezul I believe we can close this, it looks like you've fixed a duplicate of this issue

[2018-10-05 21:51] bagerard commented on #1453
Just pushed a PR to fix this, note that the issue was also occuring with DictField and wasn't present if you use ReferenceField(**dbref=True**). See below:
[code]

[2018-10-05 23:16] JohnAD commented on #1904
I did a video on the subject of the ListField and it covers this very specifically: https://www.youtube.com/watch?v=dl-oHfmdW50

But, in short, if the `Listfield` contains a specific type, then it is an array and does not support elements of a type that do not match.

However, you can use a generic field instead:
[code]

Now, you can freely mix `null` (None) and integers.

Btw, the `null` paramete

[2018-10-07 18:50] djk2 commented on #1909
The same problem (DeprecationWarning) appear  when I use `count` or `save` method on Document.

[code]

Are you consider solve this problem in new release??
I starting a new project and I collecting technological stack,
I was hope use mongoengine, but I must have a guarantee that this make sense.

[2018-10-07 20:15] bagerard commented on #372
This is an old ticket, queryset's no_dereference got fixed (I double checked and the test case provided here is passing on latest version). The no_dereference context manager is broken but we have other tickets that are documenting this. I believe we may close this one

[2018-10-07 21:45] bagerard commented on #205
@erdenezul Issue is quite old and it looks like it was due to some confusion between python/js rather than a bug in mongoengine. I had a look at unique_with and it looks fine, index gets created properly in mongodb. Maybe we should close this issue.

[2018-10-08 09:51] nullscc opened #1915 "error while using update_one once upgrading to 0.15.3: 'Collection' object is not callable"
In our project, We update mongoengine from 0.15.0 to  0.15.3, once I updated there is a error happened. Which means 0.15.0 is ok. But we have to use 0.15.3....

## Environment
[code]

## code
[code]
## traceback
[code]

Any help will be appreciated!

[2018-10-08 14:21] nullscc commented on #1915
My mistake, seems to be caused by mongomock.

[2018-10-08 14:21] #1915 closed

[2018-10-08 20:18] bagerard commented on #1081
Issue is quite old but Q got documented properly (http://docs.mongoengine.org/guide/querying.html?highlight=Q(#advanced-queries). I believe we can close this

[2018-10-09 15:26] candycrusher opened #1917 "AutoReconnect Problem"
I deployed one primary Mongo server with one Replica. I have over 200K documents in one collection. I did the query to that collection. After scanning about 100K documents, AutoReconnect showed up. I've already tried to set Timeout keyword argument also batch_size, but the problem still exists. Is there any tips to avoid AutoReconnect or anything I can do for diagnosis?

[2018-10-10 07:36] #577 closed, assigned to nobody

[2018-10-10 07:36] #542 closed

[2018-10-10 07:37] #205 closed

[2018-10-10 07:39] #1081 closed

[2018-10-10 07:41] #372 closed

[2018-10-10 07:46] #1578 closed

[2018-10-10 08:32] #1909 closed

[2018-10-10 14:30] oussjarrousse commented on #1898
Thanks for the replies. I see, so it is a standard python file handle and this is the desired/expected behaviour. Then in that case i am closing the issue. Thanks again!

[2018-10-10 14:30] #1898 closed

[2018-10-10 14:32] oussjarrousse commented on #1898
Also thanks for the video 👍

[2018-10-11 02:19] JohnAD commented on #1904
@MateuszBelczowski , Did this answer resolve the issue? If so, please close it. Thanks!

[2018-10-11 02:29] JohnAD commented on #1908
Yes, you are correct, it returns a string. A agree that it is not well described in the documentation. Are you suggesting:

* Improved documentation, where the `to_json` description explicity states that a string is returned.
* Renaming the function; making the old name deprecated. Perhaps to something like `to_json_str`?
* Changing the function to optionally return a Python standard library JSON

[2018-10-11 02:43] rbcabreraUPM commented on #1908
had to do this in order to  change it to a json
json.loads(invoice.to_json())

I dont know if someone else has use for to_json as a string but I rather have it as a JSON document since the function well states that it does turn the document in JSON. so maybe create another functionality or just replace it to return as JSON

[2018-10-11 10:43] Cediddi commented on #1718
Hi, I'm having this problem right now.

I'm using ubuntu 14.04.5 LTS with these packages;
[code]
and my mongodb version is v3.4.17

I'm using this url to connect, and it doesn't work, I tried to manually write as you suggested @erdenezul , and it didn't worked either.

my first try = `connect("mongodb://abcdefg_hijklmnopr:ABCDEFGHIJKLMNabcdefghijklmn1234@127.0.0.1:27017/abcdefg_hijklmnopr")`

this

[2018-10-12 08:30] MateuszBelczowski commented on #1904
@JohnAD Yes, thanks

[2018-10-12 08:30] #1904 closed

[2018-10-12 13:47] danielnyga opened #1919 "insert() does not set primary keys of inserted documents"
The issue appears, for example, when working with lists of ``ReferenceFields``, the elements of which are bulk-inserted. It can be shown in a modification of the [One to Many with ListFields](http://docs.mongoengine.org/guide/defining-documents.html#one-to-many-with-listfields) example:

[code]
This gives two ``ValidationError``s:
[code]
I think it happens because the ``BaseQuerySet.insert()`` met

[2018-10-15 19:59] bagerard opened #1920 "Error when referencing the abstract class in ReferenceField"
When you reference an abstract class in ReferenceField, you can save the object but if you then fetch it from the database, modify it and save it, it raises a raises a ValidationError (from .validate). See below

[code]
I believe this relates to #997. I will submit a PR shortly with a fix

[2018-10-15 20:19] bagerard commented on #1920
I believe this relates to #997

[2018-10-15 20:29] bagerard commented on #1272
There is currently a bug that prevents you from referencing 'self' (which relates to #1920) but once that gets merged you shouldn't have any problem to use ReferenceField('self') in an abstract class. in fact isinstance(subclass, AbstractParent) works perfectly for abstract classes

[2018-10-15 21:14] Argonautic opened #1922 "_cls conflict when sharing one mongoengine schema across multiple applications"
Our company has various apps that all need to be able to query the same database through the schema, but only some of them should be able to access the write methods of our  data collections. I've tried to implement this by defining a basic collection class that subclasses mongoengine.Document that only defines the fields:

[code]

and then subclassing that basic class with classes that allow writ

[2018-10-15 23:55] #997 closed

[2018-10-15 23:55] #1272 closed

[2018-10-15 23:55] #1920 closed

[2018-10-17 11:03] #1919 closed

[2018-10-17 12:33] #1900 closed, assigned to nobody

[2018-10-17 20:33] tulaeff opened #1924 "Find documents of class and subclasses"
[code]
when I write this:
[code]
it returns documents where `'_cls' == 'Subject'` only. And how I can get all documents from collection `subjects`?

P.S. Sorry for my English

[2018-10-17 21:50] svanburen commented on #1924
this might just be a transcription error, but presumably you want:

[code]

rather than:

[code]

[2018-10-17 21:51] mjmonroe commented on #1924
Have you taken a look at this post? https://github.com/MongoEngine/mongoengine/issues/450#issuecomment-284194491
In your case it would be,
`Subject.objects(_cls='Subject.Fish')`

Another way would be to pass a raw query to MongoEngine.
`Subject.objects(__raw__={{ "_cls": "/^Subject.*/i" }})`

[2018-10-17 21:56] bagerard commented on #1922
It sounds a bit hacky to share the database between multiple applications but if you really need to, I believe you can achieve what you want if you avoid subclassing, use DynamicDocument

![image](https://user-images.githubusercontent.com/11854690/47118636-2a206d00-d268-11e8-97c5-0afc85cd0771.png)

[2018-10-17 22:03] tulaeff commented on #1924
Yes, of course, thanks. I corrected my question. Thank you very much!

[2018-10-17 22:04] bagerard commented on #1924
Querying the parent class should return you instances of the class + its subclasses by default and this seems to work. Do you observe something different?

![image](https://user-images.githubusercontent.com/11854690/47118945-686a5c00-d269-11e8-8716-d3ab3209a4d8.png)

[2018-10-17 22:11] tulaeff commented on #1924
I thought so too. This is the expected behavior. But no

[2018-10-18 10:49] bagerard commented on #1924
The code I've posted shows that it works fine (on latest version). I'm able to retrieve FooSubject through Subject.objects(). In case you observe something different, please post a minimal reproducible code snippet that shows the issue. It could also be due to the existing data in your mongodb. I see that you are using DynamicDocument (instead of Document) so I guess you have some uncommon data in

[2018-10-18 12:57] tulaeff commented on #1924
I realized. It works when I import in my `test.php` script ALL child classes (not Subject only). I have them in different files. Thanks for your answers.

[2018-10-18 13:10] bagerard commented on #1924
Happy to help :). Please close the ticket in case the issue is resolved

[2018-10-18 15:30] mindojo-victor opened #1925 "Fill _instance when adding an embedded document to a list"
EmbeddedDocument._instance is not filled when the embedded document as added to a document's list of embedded docs:
https://github.com/MongoEngine/mongoengine/commit/7d90aa76ff7116269dea42f2c6629ea6b868b0de#diff-da780e321f79f4602bab26240c7b0d7dR87
[code]

[2018-10-18 18:33] doaa-altarawy commented on #1236
I have the same problem reported here, save(cascade=True) doesn't work and thus saving the parent document throws a ValidationError.

[2018-10-18 20:03] bagerard commented on #1925
Indeed, I don't really know why but in BaseList, the ._instance attribute gets populated when you actually access the item of the list.
[code]
The current implementation is a bit fragile and you can easily end up with no ._instance like in your case... DictField(EmbeddedDocumentField) suffers from the same issue...

[2018-10-21 18:00] amir20 opened #1926 "How to use a unix sock file?"
I have been able to use `MongoClient` with sock file doing

[code]

How do I do the same thing with mongoengine? Can I pass my own instance of `MongoClient` to `connect()`?

[2018-10-22 09:01] d2gex opened #1928 "Documentation about turning off dereference, perhaps misleading?"
Hi all,

I browsed for this issue however couldn't find it so I hope it is not duplicated.

Having a look at the ReferenceField on the Apic Doc here: http://docs.mongoengine.org/apireference.html#mongoengine.fields.ReferenceField, you can find a note that says:
` A reference to an abstract document type is always stored as a DBRef, regardless of the value of dbref.`

However when you go to the Use

[2018-10-22 16:17] radifalco opened #1929 "Case Insensitive Index Support"
It may be here and I missed it but is there case insensitive index support? I couldn't find the correct `meta` properties to create one or how to add the `collate` keyword to the query. If it doesn't exist I'd like to request support. If it does then just point me to the docs and I'll close this issue.

[2018-10-22 19:35] bagerard commented on #1929
Its not well documented but if you define the indexes as dict, the arguments will be forwarded as **kwargs to the pymongo's create_index method. This means that you can simply do like this:
[code]
I'll push a PR to improve the doc

[2018-10-23 19:36] bagerard commented on #1888
@erdenezul I believe we can close this :)

[2018-10-23 20:08] bagerard commented on #1928
Regarding the doc (@http://docs.mongoengine.org/guide/querying.html#turning-off-dereferencing), you are absolutely right. It should assert that the references are DBRef's and not ObjectId's.

[2018-10-23 22:01] bagerard commented on #1849
This isn't supported so far. The only option is to use `meta = { 'index_background': True}` but that would apply all your indexes in the background. That being said I believe your request makes sense, I'll work on a PR to add the support for single index background

[2018-10-24 01:59] liujie-gd commented on #1849
The current feature is ok for me. Giving some choices may be better. Thanks very much! @bagerard

[2018-10-24 09:11] roman-kutlak commented on #1902
Hi @henryngoo, I was having similar troubles and found that it was related to retryWrites. If you connect to the DB with `retryWrites=false` this problem will go away. I haven't had the time to investigate further why this happens though.

[2018-10-24 14:04] shenin04 commented on #1236
Same issue here.

[2018-10-24 15:00] bagerard commented on #1849
Happy to help, if you can live with the existing feature I'd suggest to wait that someone has a real need for single index `background` support. In fact every feature that we add comes with a maintenance cost :).
I guess you can close this issue then

[2018-10-24 15:45] radifalco commented on #1929
Thanks @bagerard! What about using the index in a query? My understanding was that I needed a `db.find().collation()` construct to actually use the index. Just a `db.find()` would not use it? But I couldn't find that construct in mongoengine doing a github search.  For reference:
[code]

[2018-10-24 23:45] liujie-gd commented on #1849
OK, Thanks for your reply! : )

[2018-10-24 23:45] #1849 closed

[2018-10-25 02:15] #1928 closed

[2018-10-25 02:19] #1888 closed

[2018-10-26 20:14] #273 closed

[2018-10-26 20:19] #1554 closed

[2018-10-27 20:11] bagerard commented on #1929
It can definitely be added but it is not currently supported (to my knowledge). I guess the api could be something like `Document.objects().collation({...})`. Let's re-open it and mark it as a feature request

[2018-10-30 16:39] ufo911 opened #1933 "Mongoengine without flask-mongoengine in flask app ?"
Is it possible to use mongoengine without flask-mongoengine in flask app ?

[2018-10-30 21:40] bagerard commented on #1933
Never tried but I believe it is possible. Did you try to call `mongoengine.connect(host={YOUR_MONGODB_URI})` as soon as the flask application starts to set up the global mongodb connection.

[2018-10-30 21:48] bagerard opened #1934 "Modification to a generic-referenced document is not ignored when computing the changed_fields"
Came across this while I was fixing something else. If you do modification to a referenced document that is stored as a GenericReferenceField, the changes will actually be tracked in the parent document. It is currently harmless (as it will try to unset a field that does not exist) but better to fix this. See below:
[code]
I'll push a PR shortly to fix this

[2018-10-30 22:17] bagerard commented on #1926
Hi @amir20, AFAIK there is no support for this in mongoengine... I'm being curious but what is the use case for this (I mean connecting from a .sock file)?

[2018-10-30 22:51] amir20 commented on #1926
I was actually able to make it work by following the documentation. I didn't escape it properly. I do `mongodb://%2Ftmp%2Fmongodb-27017.sock` and host and it works.

My use case is to connect mongo from within a Docker container. Mongo is running on the host and the only wait to access the mongo is `network: host` in docker or expose the sock file. I opted for exposing the sock file because I didn

[2018-10-31 12:49] nguyenbathanh commented on #1491
Any updates on this?

[2018-10-31 14:53] #1934 closed

[2018-11-01 02:10] doaa-altarawy opened #1936 "Support MongoDB v4 Transactions"
It would be great of Mongoengine supports the new Transaction feature available in MongoDB v4
https://www.mongodb.com/transactions

[2018-11-01 19:20] doaa-altarawy commented on #1465
Is this write_concern={'continue_on_error': True} not supported anymore?

[2018-11-01 20:28] bagerard commented on #1936
It would be awesome if we could support this but as you said, it will require a heavy refactoring. That being said, we already have a ticket about it (#1839) so let's close this one :)

[2018-11-01 20:28] #1936 closed

[2018-11-01 20:42] bagerard commented on #1465
No its not... But I think it makes sense to re-open this so that support for `ordered` in bulk `insert` method (which uses insert_many behind the scene) can be added someday

[2018-11-01 21:01] bagerard commented on #1202
I believe this got addressed by PR #1916

[2018-11-01 21:01] #1202 closed

[2018-11-01 21:14] #1075 closed

[2018-11-01 21:29] #1322 closed

[2018-11-01 21:34] bagerard commented on #1496
no_derefence context manager is broken at the moment but I strongly suspect that it is not thread-safe which would make it very risky to use in a multi-threaded web application for instance.

[2018-11-01 21:37] #1699 closed

[2018-11-01 21:39] #1701 closed

[2018-11-01 21:49] #1685 closed

[2018-11-01 21:49] #1768 closed

[2018-11-01 22:14] bagerard commented on #1926
Interesting. I can't test this easily right now due to my setup but if this gets confirmed, we'll document that in the `connect` documentation

[2018-11-01 22:16] bagerard commented on #1523
@Olamyy Do you have more information on this error? There is not much we can do without more info...

[2018-11-02 06:58] Yevgnen commented on #244
Still a problem with `mongoengine 0.15.3`.

[2018-11-02 07:54] erdenezul commented on #244
@Yevgnen Can you provide a failing code for me? So, I can work on this.

[2018-11-02 08:56] ibmboy19 opened #1938 "mongoengine concurrent issue"
- GIven:
Document : Tenant
EmbededDocumentList: locations

- When:
multiple user concurrently do 'Tenant get' and EmbededDocumentList append
[code]

- Then:
The behavior of  'tenant.save()' will replace locations with the current tenant's location data by one of user.

- Problem:
 Different user querying tenant in different moment which contains the locations that is not consistent, the EmbededDoc

[2018-11-02 09:42] erdenezul commented on #1938
You have to use the update method instead of the save method which does not have atomicity.
The following code will suffice your need:
[code]

[2018-11-02 13:12] Yevgnen commented on #244
@erdenezul

Hello,

This happened when a field name is in `COMPARISON_OPERATORS = ('ne', 'gt', 'gte', 'lt', 'lte', 'in', 'nin', 'mod', 'all', 'size', 'exists', 'not', 'elemMatch', 'type')
` in `transform.py`. Personally I think `type` is quite a common field name...

[code]

[2018-11-03 21:11] bagerard commented on #1828
I understand your confusion but I agree with @amcgregor, the current behavior is the right one. Note that some validation library like formencode could help you achieve that conversion

[2018-11-03 21:11] #1828 closed

[2018-11-03 21:30] bagerard commented on #1933
See below for a quick n dirty snippet of a minimal flask app with plain mongoengine:
[code]

[2018-11-03 21:30] #1933 closed

[2018-11-03 21:39] bagerard commented on #1623
Closing this. It has waited way too long without a response from @amergin. In case additional details gets provided, I'd be pleased to re-open the ticket

[2018-11-03 21:39] #1623 closed

[2018-11-03 21:57] bagerard commented on #1537
This waited more than 1 year without response... I think it's fair to close it, in case additional details get provided by @tejinderss , we can re-open it

[2018-11-03 21:57] #1537 closed

[2018-11-03 22:02] bagerard commented on #1393
Ticket is opened since more than 2 years and there is no obvious issue with SequenceField. I'm closing this, if additional details get provided by @jcodebrain, we will re-open it

[2018-11-03 22:02] #1393 closed

[2018-11-03 22:18] bagerard commented on #1364
`_id` is the implicit key for storing the primary key in MongoDB behind the scene, I'm afraid your implementation conflicts with that. However is you specify `primary_key=True` in the SequenceField, it will work :
[code]

[2018-11-03 22:18] #1364 closed

[2018-11-04 18:06] SafeteeWoW opened #1939 "The proper way to use Multiprocessing?"
I am currently using `mongoengine.collection.get_collection(reconnect=True)`, but is it the correct way? I don't think that function is "public" and that function is not mentioned in the doc. I think mongoengine should add mongoengine.XXX public function for multiprocessing support.

My project does the following:
In the main process:
    mongoengine.connect(...)
    SOME_DATABASE_WORK
    Create

[2018-11-04 20:06] bagerard commented on #21
Just to clarify, `auto_now` and `auto_now_add` don't exist in mongoengine

[2018-11-04 20:10] bagerard commented on #203
Just to clarify, the feature wasn't released (in fact the PR got merged but then the commit got reverted)

[2018-11-04 20:20] #281 closed, assigned to nobody

[2018-11-04 20:36] bagerard commented on #415
Hi @dfee, I'm sorry that your issue didn't get any attention but I'm going to close it since it is opened since 5 years. I believe it was lacking useful details. I'd be happy to re-open it in case you can provide additional information or a reproducible code snippet

[2018-11-04 20:36] #415 closed

[2018-11-04 20:40] bagerard commented on #501
Closing this since no feedback got provided by @boostbob

[2018-11-04 20:40] #501 closed

[2018-11-04 20:41] bagerard commented on #512
Closing this since no counter arguments were provided in 5 years :)

[2018-11-04 20:41] #512 closed

[2018-11-04 21:02] bagerard commented on #556
Hi @adamkal, I'm going through the old issues to see what's up to date or worth keeping. I believe that having a `clean` method that gets executed before the validation makes sense. Maybe you could have achieved what you need using `pre_save_post_validation` signal? I'm closing this since the issue is very old but I'd be happy to re-open it in case you want to re-discuss about this

[2018-11-04 21:02] #556 closed

[2018-11-04 21:19] bagerard commented on #575
HI @sdayu, the question is a bit unclear but if you are wondering how you can resize the image dynamically, I guess the `PIL` library will offer you that functionality. I'm closing this issue as it is very old but in case you want more information please clarify the question and I'll be happy to re-open it

[2018-11-04 21:19] #575 closed

[2018-11-04 21:25] #643 closed, assigned to nobody

[2018-11-04 21:29] bagerard commented on #665
Closing this as it was very specific to the mongoengine versions from 4 years ago and no answer was provided by the ticket author

[2018-11-04 21:29] #665 closed

[2018-11-04 21:31] bagerard commented on #851
@bmbouter Issue is quite old but did you had a chance to test this?

[2018-11-04 21:45] bagerard commented on #838
Closing this since it's been more than 3 years since the last heartbeat of this issue and a PR got merged

[2018-11-04 21:45] #838 closed

[2018-11-04 21:59] bagerard commented on #855
I'm going through the old issues, I believe this has waited enough without an answer from the ticket author. I'm closing it but indeed we'll re-open it if a reproducible code snippet is provided

[2018-11-04 21:59] #855 closed

[2018-11-04 22:18] bagerard commented on #1019
Closing this since this issue is very old and quite unclear. If you are still encountering any issue please clarify the problem and we'll re-open the ticket

[2018-11-04 22:18] #1019 closed

[2018-11-04 22:20] #1125 closed

[2018-11-04 22:20] bagerard commented on #1125
Closing this as it was an obvious mistake

[2018-11-05 06:29] hygull commented on #21
Can you please check https://staltz.com/djangoconfi-mongoengine/#/9

[2018-11-05 06:30] hygull commented on #21
Can you please check https://staltz.com/djangoconfi-mongoengine/#/9

[2018-11-05 07:53] ibmboy19 commented on #1938
thanks, but how to do multiple push at once like
`tenant.update(push__locations=new_location, push__another_array=....)`

[2018-11-05 08:32] Yevgnen opened #1940 "Can not upsert when has field named 'id'"
When upserting a document, if there's a field named `id`, error happened.

[code]
I guess a field named `id` should be fine since I see example like

[code]
in the document.
[code]

[2018-11-05 08:36] erdenezul commented on #1938
[code]

[2018-11-05 10:37] ibmboy19 opened #1941 "Fail to pull item from two level embeded document list"
- GIven:
Document : Tenant
EmbededDocumentList: locations
EmbededDocumentList in location: zones

[code]

[code]

- When:
Do atomic update with modify to pull zone01 from location01
[code]

- Then:
The return result is 'True' but zone01 is still in DB.

[2018-11-05 10:50] erdenezul commented on #1941
it is helpful that you provide full reproducible code.

[2018-11-05 20:21] bagerard commented on #528
I'm going through the old issues, I believe this has waited enough without an answer from the ticket author. I'm closing it but indeed we'll re-open it if a reproducible code snippet is provided by @berkaey

[2018-11-05 20:21] #528 closed

[2018-11-05 20:30] bagerard commented on #869
For future reference: this wasn't implemented

[2018-11-05 20:56] bagerard commented on #1038
For future reference: bug is still present in 0.16.0

[2018-11-05 21:02] bagerard commented on #1040
I'm not sure how it was in mongoengine 0.7, but since a few years queryset.filter() is returning a brand new queryset (without modifying the initial one). See below:
![image](https://user-images.githubusercontent.com/11854690/48026485-7f082280-e146-11e8-95cf-8a40867469a1.png)

[2018-11-05 21:02] #1040 closed

[2018-11-05 21:12] bagerard commented on #1141
Hi @ali-faizan-10p, I'm sorry that your issue didn't get any attention. I'm currently checking and cleaning the old opened issues.

Regarding your issue, there is no magic feature to handle this, the only way I could think of would be to loop in all the things you need to validate and call .validate() manually, and then use .save(validate=False).
I'm closing this since its quite old but in case yo

[2018-11-05 21:12] #1141 closed

[2018-11-05 21:37] bagerard commented on #1329
I believe we can close this

[2018-11-05 21:37] #1329 closed

[2018-11-05 21:44] bagerard commented on #1518
Closing this as it is very likely related to the fact that the Document schema was updated after document were saved. The safest way to deal with this is manually migrating the data (and in your case, that means applying the default value to the whole collection whenever its None). In case @hieu-n brings additional details, we can still re-open this

[2018-11-05 21:44] #1518 closed

[2018-11-05 21:49] bagerard commented on #1522
I'm closing this since it spent a lot of time waiting for a feedback from the author. @ripperdoc Please note that the latest release (0.16.0) includes the fix I mentioned in my last post which should allow you to see the actual error. In case you are still experiencing this with the latest version, provide us additional details and I'll be happy to re-open this ticket

[2018-11-05 21:49] #1522 closed

[2018-11-05 21:52] bagerard commented on #1523
Closing this now but I'll be happy to re-open this in case additional details get provided

[2018-11-05 21:52] #1523 closed

[2018-11-06 01:41] Yevgnen commented on #1940
Temporary workaround:

[code]

[2018-11-06 02:53] erdenezul commented on #1940
You are using id field which conflict automatic id field in mongoengine. Mongoengine automatically uses id as primary key

[2018-11-06 03:00] Yevgnen commented on #1940
What is the relation between `id` in MongoEngine  and `_id` MongoDB?

[2018-11-06 03:30] ibmboy19 commented on #1941
Solved in 0.16.0

[2018-11-06 03:30] #1941 closed

[2018-11-07 02:10] tony commented on #244
Thanks for the additional information @Yevgnen !

[2018-11-07 02:41] erdenezul commented on #244
type is also python keyword

[2018-11-07 02:51] Motor-taxi-master-rider commented on #1899
Found the same problem here. Is there a plan to fix this?

[2018-11-07 08:04] Motor-taxi-master-rider commented on #1899
[Stop using deprecated collection methods for PyMongo v3.x](https://github.com/MongoEngine/mongoengine/issues/1491)
I think this the story they are working on.

I added below configuration to `pytest.ini` to block the warning from pytest
[code]

[2018-11-07 09:58] erdenezul commented on #1899
Can you check on mongoengine==0.16.0?

[2018-11-07 11:50] archienorman11 opened #1942 "Keeping Document sum up to date from EmbeddedDocuments"
I have a model:
[code]

And a schema

[code]

Can anyone advise on the best way to `Embed` [currency, units, usd_value] as an `Embedded Document` on Portfolio, while ensuring that the Document `total_value` is the total sum of the variable number of `Embedded`: `usd_value`'s

Any help appreciated.

[2018-11-08 10:32] ufo911 commented on #1939
You have to pass unique data to child processes to avoid data changes collision between processes

[2018-11-08 11:32] LKI commented on #1899
@erdenezul checked, warning still exists on `mongoengine==0.16.0`...

Code is here:
https://github.com/MongoEngine/mongoengine/blob/v0.16.0/mongoengine/document.py#L436

[code]

[2018-11-08 11:33] LKI commented on #1899
related to #1491

[2018-11-08 14:44] erdenezul commented on #1899
I will fix and release 0.16.1

[2018-11-09 01:10] erdenezul commented on #1491
Used `insert_one` and `replace_one` instead of `save`

[2018-11-09 01:20] erdenezul opened #1945 "Code refactoring"
Feel free to mention this issue if you made PR about code refactoring. I would prefer this issue as open for mention all refactoring works.

[2018-11-09 01:36] erdenezul commented on #1940
id will be convert into _id for mongodb. Furthermore, if you use primary_key in other fields, it will be converted into _id also.
[code]

[2018-11-09 01:48] Yevgnen commented on #1940
Thanks for your reply. I has several questions.

1. If `id` will be converted into `_id`, why after the first upsert, the document has both `id` and `_id` fields ?

[code]

2. Why it alters `FieldDoesNotExist: The fields "{'_id'}" do not exist on the document "A"` after then second upsert, I think the `_id` field is `id` defined in `A` if the conversion exists?

3. Is it safe to use

[code]

as wo

[2018-11-09 14:15] erdenezul commented on #1902
Closing this

[2018-11-09 14:15] #1902 closed

[2018-11-09 14:18] #1285 closed

[2018-11-09 14:20] erdenezul commented on #1569
Related PR got merged and closing this.

[2018-11-09 14:20] #1569 closed

[2018-11-10 07:11] 013ymc opened #1947 "Lazy reference field"
Hi,
Im trying to do some selections without doing dereferencing to all of objects that relates to an object.
I used Referencefield but it doesn't solve my problem
Then i read about LazyReferenceField which seems to be answer but it doesn't work for me.
Someone can post a code example how to use it?
Thank you.

[2018-11-10 11:45] dhaval-mehta opened #1948 "Caching on Redis"
Like Hibernate, does mongoengine support caching using Redis?

[2018-11-10 19:32] bagerard commented on #1942
Hi @archienorman11, I see 2 possible options:
1) If you can live without having `PortfolioSchema.total_value` in the database, you should really use a property and dynamically compute the sum.
2) If you need `PortfolioSchema.total_value` to be stored in the database (e.g if you want to be able to query it). You can achieve what you want with the [pre_save signal](http://docs.mongoengine.org/guide/

[2018-11-10 19:40] dhaval-mehta commented on #1948
Thank you for your quick reply!

**Use case:**
We have  more than 10,00,000 user's data in mongodb. We have one collection which utilizes to process more than 80% of the requests. During normal scenarios, it works well but in some peak hours, Website becomes too slow. To optimize request processing we are thinking to use redis as a caching layer.

[2018-11-10 20:08] bagerard commented on #1948
Thanks for the clarification. Assuming that you are sure that the issue is actually on the database side (in fact, other things could cause those symptoms), you are probably right to look for a caching mechanism. Unfortunately there is not much in mongoengine that will help you to integrate with redis. If you only need to cache specific things, it wouldn't require a lot of effort to build somethin

[2018-11-11 08:53] 013ymc commented on #1947
?

[2018-11-11 18:53] dhaval-mehta commented on #1948
Thank you for your help. 👍

[2018-11-11 18:53] #1948 closed

[2018-11-11 19:45] bagerard commented on #1947
Hi @013ymc, Please note that adding a code snippet that demonstrates your issue usually helps to get a quick feedback. I believe the documentation could have help you to have a better understanding of the behavior but anyway here are some explanations.

When you use `ReferenceField`, the dereferencing occurs as soon as you access the attribute. If you want to avoid that automatic dereferencing, yo

[2018-11-12 18:08] sknat commented on #1756
Sorry all, I left this thread dead for a while. @gordol I do agree, I was thinking about doing something like that,

i.e. when a key is missing in the DB json document, get the default value from the function/value given in the model.

To add a bit more context on what is happening and what can be very troubling, take the following example :

[code]
Which gives
[code]

So setting back the default

[2018-11-12 19:51] bagerard commented on #1947
Closing this but in case you have additional questions, just let me know if you have additional questions and I'll reopen it

[2018-11-12 19:51] #1947 closed

[2018-11-12 20:01] mcsloe opened #1950 "document._cls field not set after document.save() call"
[code]
In MongoEninge 0.15.3, the above code works, with version 0.16.0, the asserts fail due to the _cls field being set to None in the test_doc object.

[2018-11-12 21:03] 013ymc commented on #1947
Thank you very much !!

בתאריך יום ב׳, 12 בנוב׳ 2018, 22:23, מאת Bastien Gérard <
notifications@github.com>:

[2018-11-12 22:13] bagerard commented on #1950
argh I confirm we have a regression there. I'll look into it shortly

[2018-11-13 11:40] #1899 closed

[2018-11-13 12:41] lonelywm commented on #1839
+1

[2018-11-13 20:02] bagerard commented on #1406
Closing this, spent too much time waiting for a response. In case @mirrorcoder provides a reproducible snippet, we will re-open it

[2018-11-13 20:02] #1406 closed

[2018-11-13 20:19] bagerard commented on #1291
Assuming you have the schema that you provided, you should be able to achieve that simply with the __gte operator. See below:
[code]
(Posted on SO as well)

I'm closing this as the issue is quite old and there is no obvious bug

[2018-11-13 20:19] #1291 closed

[2018-11-13 20:44] #1733 closed

[2018-11-13 20:45] bagerard commented on #1733
THanks for reporting this @th-erker, it will be released shortly with 0.16.1

[2018-11-13 21:21] #1343 closed

[2018-11-14 09:02] #1950 closed

[2018-11-14 09:39] erdenezul commented on #1950
Released 0.16.1

[2018-11-14 13:59] wdoekes opened #1953 ""Use insert_one" commit in 0.16.1 breaks mongomock support"
Hi,

this morning my build pipeline started failing with these errors:
[code]
Versions:
mongoengine==0.16.1
mongomock==3.13.0

It used to work with 0.16.0. Looks like the NotImplementedError gets triggered by 34e3e45843ef0475824b79b3405285a2d75d7648.

I'm aware that you needn't model your changes after mongomock, but you may want to be aware of this. If there is an alternative fix I should be usin

[2018-11-14 14:29] bagerard commented on #1953
FYI @erdenezul

[2018-11-14 15:34] erdenezul commented on #1953
or we could stay old pymongo2 method when using pymongo2.

[2018-11-14 19:51] mcsloe commented on #1953
I have posed an issue with mongomock to see if it can get addressed there:
https://github.com/mongomock/mongomock/issues

[2018-11-15 08:20] pcorpet commented on #1953
I have just released `mongomock` v3.14.0 which should solve that issue.

[2018-11-15 08:36] erdenezul commented on #1953
@wdoekes Could please test mongoengine==0.16.1 and mongomock==3.14.0

[2018-11-15 09:13] wdoekes commented on #1953
:ok_hand: works.

Thanks for the quick fixes, @pcorpet.

[2018-11-15 09:13] #1953 closed

[2018-11-17 11:40] d2gex opened #1954 "save_condition's User Guide documentation perhaps misleading?"
Hi guys,

As usual, I hope I am not missing something so apologies in advance if I did.

To keep the story short the User Guide http://docs.mongoengine.org/guide/querying.html#atomic-updates says that operators such 'add_to_set' can be used with **save()** as long as **save_condition** is present.

After a couple of runs I realised that I can't used **save_condition** with modifiers but only with

[2018-11-17 20:01] d2gex opened #1955 "Error improvement for referenced Documents with an empty 'id' - pk"
Hi guys,

When one tries to save a document that has ReferenceFields associated to another documents in the database and the actual instance passed does have a empty 'pk', the error you get is as follows:

`E       mongoengine.errors.ValidationError: You can only reference documents once they have been saved to the database`

It doesn't give you a clue what referenced Document is the one failing,

[2018-11-19 19:16] iniyanp opened #1956 "Connecting to mongo via mongoengine using srv records"
Hi,

I couldn't find an answer anywhere whether I can connect to mongo using mongoengine via srv address.

I haven't tried out giving srv name in host argument.
In tutorials I have read that pymongo has that support.

Could anyone let me know whether it is possible in mongoengine.

Thanks

[2018-11-19 21:31] bagerard commented on #541
Closing this as its quite old and issue is a bit blurry. Happy to reopen this in case a reproducible code snippet gets provided

[2018-11-19 21:31] #541 closed

[2018-11-19 21:42] bagerard commented on #1437
Closing this as its quite old and workarounds were provided.

[2018-11-19 21:42] #1437 closed

[2018-11-20 04:05] candycrusher opened #1957 "Access ListField by negative index"
I am wondering if I can access the last item in an ListField by negative(minus) index like:
`query_set = query_set.filter(fruit__-1__color=red)`

[2018-11-20 13:43] d2gex commented on #1954
An additional note is that I achieved what I wanted by other means using atomic updates and the **add_to_set** modifier. I created a mixin class inheriting from mongoengine.Document providing 'save' and 'save_with_uniqueness methods' so that all classes that have a listfield that require uniqueness will inherit from the mixin class.

If anyone needs some code I'm happy to post it. I just don't wan

[2018-11-20 22:03] mikeckennedy opened #1958 "Errors on save with 0.16.1"
Hi folks,

Just updated to 0.16.1 and started getting weird errors on save. Here's one example on inserting a new doc, traceback message:

[code]

Also seems to happen on update.

Switching back to 0.16.0 made the errors go away.

[2018-11-20 22:08] bagerard commented on #1958
Hi @mikeckennedy, The code snippet you provided looks malformed, can you provide another snippet?
BTW thanks for the podcasts :) !

[2018-11-20 22:10] mikeckennedy commented on #1958
Hi @bagerard That's just the traceback frame. Not really executable code.

Thanks for the kind words on the podcast! :)

[2018-11-20 22:13] mikeckennedy commented on #1958
That is a little confused, I think I over redacted it. Here's a screenshot from Rollbar:

![screen shot 2018-11-20 at 2 13 06 pm](https://user-images.githubusercontent.com/2035561/48806202-724f0700-ecce-11e8-827c-78bb3604d380.png)

[2018-11-20 22:41] bagerard commented on #1958
I assume you are providing `write_concern` parameter to the .save() method, what value are you using for write_concern? Could it be that it's None?

[2018-11-20 22:42] bagerard commented on #1958
ok got it, this change is the thing that break in your case
https://github.com/MongoEngine/mongoengine/commit/611094e92e7994c03ba54e68ded8a9a2d7db9175#diff-b3cd585db6ec2d41acd04ddd897c23e8

[2018-11-20 22:44] bagerard commented on #1958
We'll probably merge a fix very shortly and release a 0.16.2 as it's a bad bug

[2018-11-20 22:52] mikeckennedy commented on #1958
Wow, you guys are quick. Thanks a bunch Bastien. I didn't think I changed anything :)

[2018-11-20 23:05] bagerard commented on #1958
You are welcome, happy to help

[2018-11-21 01:15] #1958 closed

[2018-11-21 03:14] iburakov commented on #788
Ran into the same issue today, also in a multithreaded environment. Hours spend catching an inconsistent bug because of such behaviour. Ended up in mongoengine's sources (leaky abstraction, yeah). Docs, unfortunately, still have no info about `switch_db`'s (lack of) thread-safety. A little example of consequences:

Thread 1:
[code]
Thread 2:
[code]

Thread 2 is almost the same as the usage shown i

[2018-11-21 08:31] bagerard commented on #1958
Alright 0.16.2 was released, it should be online shortly. Thanks for reporting this

[2018-11-21 15:40] candycrusher commented on #1957
Hi @bagerard. Appreciate your advice. Your suggestion is really valuable to me. I resolve the problem with this solution: when I append the item to the list, I use $push and $position operator to append it to the head of the list. Finally, I can access them with the index 0.

[2018-11-21 15:40] #1957 closed

[2018-11-21 15:48] mikeckennedy commented on #1958
Super, thank you both!

[2018-11-21 16:10] spitzbubchen opened #1961 "query over a list of embedded documents with inheritance"
I have a list of embedded documents which I create using inheritance. Therefore, due to inheritance, some fields may or may not exist across all embedded documents. I have tried the following:

CASE 1: SLOW (run time = 2.1s)

    forms = db.Form.objects()
    for form in forms:
        for element in form.elements:
            if hasattr(element, 'parameter'):
                if element.parameter

[2018-11-23 02:54] sohaibfarooqi commented on #1465
Is there any workaround for this in current mongoengine release?

[2018-11-25 15:24] Szuwar333 opened #1962 "Problem with copy EmbeddedDocumentListField"
I need copy EmbeddedDocumentListField and I have huge problem because when I use deepcopy I have got error `AttributeError: _instance`.

Simple example, of error, below:

[code]

[code]

[code]

But:
[code]
[code]

I could copy element by element, but that's not what I mean.

[2018-11-26 15:05] hammond756 opened #1963 "(auto) De-referencing not working as expected using select_related"
I have two models that are related. `User`, and `Role`

[code]
I can't seem to figure out how to obtain a `User` document that has the role and project fields dereferenced. My initial solution was to call `select_related()` on the `QuerySet` containing a selection of users.

[code]

This has no effect. `type(users[0].role) == ReferenceField`, and not `Role`. I read in the documentation that `Refer

[2018-11-26 21:33] svanburen commented on #1961
does

[code]

work?

[2018-11-26 22:20] bagerard commented on #1963
Hi @hammond756, select_related seems to be working fine on my end and I don't see anything wrong in your schema.

See below:
[code]
Is it occurring all the time or does it seems to be randomly occurring? Could it be that the role does not exist in the database?

[2018-11-27 10:21] archienorman11 commented on #1942
@bagerard - my apologies for not seeing this sooner, the notification slipped passed me.

I would quite like to query it, rather than computing it each time it is requested. Would a post_save signal be safer? In case the save() fails, `total_value` would only be updated on succesful value updates.

[2018-11-27 10:50] bagerard commented on #1942
pre_save_signal is fine I believe (if save fails, it won't flush the modification you apply in the pre_save_signal since it's part of the same operation (as long as it's on the same Document)).

The problem with mongoengine's signals starts if you do things like bulk inserts or bulk updates or if you sometimes use pymongo to do operation on your collection, then the pre_save signal won't be invoke

[2018-11-27 10:55] archienorman11 commented on #1942
In my usecase I wont be bulk inserting, nor using pymongo, so should be fine. Thank you for the help, very useful.

[2018-11-27 11:10] bagerard commented on #1942
You are welcome. I'm closing this ticket but if you have any additional questions or problems just let me know and I'll re-open it

[2018-11-27 11:10] #1942 closed

[2018-11-27 13:00] kirsis opened #1964 "upsert_one returns None even with primary read preference"
It seems from the documentation that upsert_one should always return an object, but I keep getting back None on freshly created objects. E.g in pseudocode this always works in development, but fails in production:

[code]

I assumed it might be related to the read preference in production (it is secondary), and tried the following:

[code]

Still doesn't work. The problem happens when line 564 get

[2018-11-29 15:19] hammond756 commented on #1963
@bagerard it consitently happen. I checken the DB manually and the role does exist. Also, I can access all properties of the Role (e.g. `users[0].role.name`). It might be that the problem exists in my custom function that converts mongoengine Documents to python dicts. I'll try to reduce the function to a minimal example and post it here. Might even find the problem during the process..

[2018-11-29 22:45] spitzbubchen commented on #1961
If I do

    forms = db.Form.objects(elements__match={ 'parameter': parameter })
    print(forms)

Things work as expected. If I do

    forms = db.Form.objects(elements__parameter == parameter)
    print(forms)

I now get the following error:

Traceback (most recent call last):
  File "/home/rod/Projects/venv-snappy/lib/python3.5/site-packages/mongoengine/fields.py", line 662, in prepare_query_va

[2018-11-30 01:13] bmbouter commented on #851
@bagerard I did not.

[2018-12-02 18:31] rrei commented on #1808
Upon inspecting the source code (`BaseDocument._build_index_spec()`) the '$' character gets removed from field names, and since '$**' is treated like any other field therefore mongoengine ends up creating a text index on a field called '**' instead of a wildcard text index.

[2018-12-04 21:32] bagerard commented on #1964
Hi @kirsis, thanks for reporting a bug.
Could you provide a minimal code snippet that highlights the issue? It would very helpful

[2018-12-05 02:42] #1500 closed

[2018-12-05 14:15] kirsis commented on #1964
Here's an example project for it: https://github.com/kirsis/mongoengine_1964 with a docker compose file to set up a mongo replicaset

See: https://github.com/kirsis/mongoengine_1964/blob/master/test.py

[2018-12-06 01:45] tjhall13 opened #1965 "$push and $position operators do not work with list in embedded document"
[code]

Running the above code results in the error:
`mongoengine.errors.OperationError: Update failed (The field 'author' must be an array but is of type object in document {_id: ObjectId('5c087e326241ea797f8fab93')})`

[2018-12-06 20:15] tjhall13 commented on #1965
Thanks

[2018-12-06 20:15] #1965 closed

[2018-12-07 21:50] bagerard commented on #596
Closing this as it is very old and didn't get much attention

[2018-12-07 21:50] #596 closed

[2018-12-08 08:58] SiddharthPant commented on #1465
For now I am using raw pymongo from mongoengine as a workaround for this. So for a mongoengine Document class DocClass you will access the underlying pymongo collection and execute query like below:
[code]

[2018-12-10 03:45] ibmboy19 commented on #1821
Still confused about how mongoengine manage connection pool.
How should we close the connection after the db operation.

[2018-12-10 23:29] djk2 opened #1970 "Problem with exclude EmbeddedDocumentListField"
Hey.

I have a problem with exclude EmbeddedDocumentListField from my queryset.
I have a following code:

[code]

When I exclude EmbeddedDocumentListField, I get:
[code]

but when I exclude normal field like `name` I get :
[code]

[2018-12-12 13:24] Julian-Nash opened #1971 "Unusual behaviour with MongoDB container"
Hey,

I'm experiencing some unusual behaviour when connecting to a MongoDB container from a Flask application running alongside in another container.

Connection params:

[code]

The error:
`pymongo.errors.ServerSelectionTimeoutError: mongo:27017: [Errno 111] Connection refused`

Why it's unusual:

The application is very simple, allowing a user to post a message which then gets saved to the datab

[2018-12-12 13:56] Julian-Nash commented on #1971
#### UPDATE

It appears I have fixed the issue by adding `connect=False` to the `connect` function.

I'm not sure this is the right way to do things so would be great if anyone has any recommendations.

Cheers!

[2018-12-13 01:16] #1453 closed

[2018-12-13 15:46] muzhig opened #1972 "StringField(regex='...') + no_dereference() = TypeError: cannot deepcopy this pattern object"
[code]

causes this:
[code]

[2018-12-13 15:49] muzhig commented on #1972
Basically, deepcopy doesn't support compiled regexes, so....

* either it's no more an option to store compiled regex on a field
* or we need to override StringField.__deepcopy__ somehow.

Guys, please advice

[2018-12-13 17:12] muzhig commented on #1972
This line is causing this crash:
https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/base/document.py#L695

it was added by this pull request #1677

[2018-12-17 08:12] samuelfekete commented on #1098
@wangyushun,
My approach was to stop using `switch_collection` and instead dynamically generate one class per collection using inheritance, and simply call the correct class by name.

See [here](http://samuelfekete.com/mongoengine-switching-away-from-switch_collection.html) for more details.

[2018-12-17 08:32] samuelfekete commented on #788
My approach to resolve this problem was to stop using `switch_collection` altogether and instead dynamically generate one class per collection using inheritance. See [here](http://samuelfekete.com/mongoengine-switching-away-from-switch_collection.html) for more details.

I think something similar can be done to `switch_collection` itself, by having it dynamically generate a new class per collectio

[2018-12-17 09:40] wangyushun commented on #1098
@samuelfekete Thanks,Your solution is perfect, but I'm not sure if it fits me.I have a Bucket table. I don't know how big the table will be in the future. Each bucket has its own collection. Dynamically create a separate class for each bucket, the dict will be large. besides, I need to remove separate class from or insert into the dict dynamically when user create or delete a bucket. I don't know

[2018-12-17 12:20] samuelfekete commented on #1098
@wangyushun, if you think the number of collections will be very large, you could also consider creating the classes only when you need them.

[2018-12-19 00:31] 3ddi opened #1973 "Hiding fields when using as_pymongo"
Hi,
It seems that as of 0.14, whenever as_pymongo is used the fields `_id` and `_cls` are missing.
This was done intentionally by https://github.com/MongoEngine/mongoengine/pull/1549. Other than breaking the old logic, I think it is wrong to hide those details whenever trying to optimize queries.
The fields exist in the db, and are actually returned normally when using pymongo without the wrapper,

[2018-12-19 15:42] kirsis opened #1974 "Should max_time_ms apply to aggregate functions?"
From the documentation I would have thought that [max_time_ms](http://docs.mongoengine.org/apireference.html#mongoengine.queryset.QuerySet.max_time_ms) will apply to calls to [aggregate](http://docs.mongoengine.org/apireference.html#mongoengine.queryset.QuerySet.aggregate).

But in reality, you need to pass the value as a keyword argument to aggregate: e.g. `aggregate(*pipeline, maxTimeMS=1000)`

[2018-12-19 19:15] bagerard commented on #1973
I'm personally in favor of this as well, I believe that the data returned by `as_pymongo` should be as close to pymongo as possible. We use `as_pymongo` quite frequently in our codebase, whenever performance matters, it's super handy. @erdenezul @touilleMan what is your opinion on this?

[2018-12-19 19:16] #1852 closed

[2018-12-19 20:51] Fierozen commented on #1610
Did anything ever happen with this issue? It's been almost 1 1/2 years.

[2018-12-19 20:52] Fierozen commented on #1213
But using disconnect doesn't work either.

[2018-12-21 10:38] StoneMoe opened #1977 "Queryset.all() not returning all documents"
According to the [API Documentation](http://docs.mongoengine.org/apireference.html#mongoengine.queryset.QuerySet.all), QuerySet.all() **returns all documents**.

So I just assuming `all()` will return a list of `Document` Object

But `all()` returning QuerySet object actually.

Is this a bug or a easily misunderstanding documentation description?

And is there any way to get a list of `Document` c

[2018-12-21 10:39] StoneMoe commented on #1977
Maybe should mark this issue as a Question :P

[2018-12-21 21:24] aknock opened #1978 "_delta crashing on field update"
Hi mongoengine community !

I'm encountering a weird error while updating fields of a DynamicDocument ; And after a lot of time searching if someone had the same issue or if we're making a mistake, I really don't understand wha'ts happening here !

An example is better than a lot of explanations so here's my test case to reproduce this issue :
[code]

in this example the first `.save()` is working

[2018-12-24 17:23] njordr opened #1979 "signal for query"
Hi

I need to have a pre_query signal. Is there a way to implement it or is there a function that I can use?

I need to check for some custom authorizations before query the database

Thanks

[2018-12-24 22:45] bagerard commented on #1977
Hi @StoneMoe, I agree that `.all()` doc is a bit confusing. I believe .all() was added to mimic django's [.all()](https://docs.djangoproject.com/en/2.1/ref/models/querysets/#django.db.models.query.QuerySet.all) method but since you can use .objects(), most of the time you won't need .all in mongoengine. I believe it is intended that it returns a queryset but I'll update the doc to make that more c

[2018-12-24 22:55] bagerard commented on #1963
Hi @hammond756, just following up on this, were you able to find the root cause of this issue?

[2018-12-25 01:53] StoneMoe commented on #1977
Thanks for your quick responding :P

[2018-12-26 03:50] #1977 closed

[2018-12-27 21:53] bagerard commented on #1798
I believe we can close this

[2018-12-27 21:53] #1798 closed

[2018-12-27 22:02] #1758 closed

[2018-12-27 22:10] bagerard commented on #1642
Closing this as the issue is quite old but regarding test_connect_uri_with_authsource, note that the test suite runs with a mongod without auth turned on

[2018-12-27 22:10] #1642 closed

[2018-12-29 02:33] gbroques opened #1981 "Add Support for Decimal BSON Type (Decimal128Field)"
MongoDB added a new native type for handling floating point numbers called [NumberDecimal](https://docs.mongodb.com/manual/core/shell-types/#shell-type-decimal) in `3.4`.

See the following documentation for details:
https://docs.mongodb.com/manual/tutorial/model-monetary-data/#using-the-decimal-bson-type

MongoEngine lacks a corresponding field that allows you to store decimal values as a `Number

[2018-12-29 19:52] gbroques opened #1983 "Refactor Fields Module and Tests into Separate Modules"
The **Fields Module** ([fields.py](https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/fields.py#L2429)) is close to **2.5k** lines.

My suggestion is to add a `fields` package, and separate module for each field.
[code]

I believe this will make it easier to find the code for the field your interested in.

The corresponding [tests](https://github.com/MongoEngine/mongoengine/blob/ma

[2018-12-29 20:10] gbroques commented on #1780
[FollowReferenceField](https://mongoengine-goodjson.readthedocs.io/en/latest/additional_features.html#followreferencefield) from [mongoengine-goodjson](https://github.com/hiroaki-yamamoto/mongoengine-goodjson) may prove useful.

My solution was to overload `to_json` on the Model, and call `to_mongo` on the references.
[code]

[2018-12-29 20:19] gbroques commented on #780
Something like:
[code]

[2018-12-31 14:46] 013ymc opened #1984 "Validation on update/modify"
How do I enforce a custom vailidation on update/modify operation? Both clean method and attribute.validate don't work, they work only on save()
Thank you

[2018-12-31 18:06] 013ymc commented on #1984
I think it's a good idea to add validation one these operations.. It doesn't make any sense that you could bypass the db enforcment on update.

[2018-12-31 19:21] gbroques commented on #1984
Agreed.

@bagerard @erdenezul Would one of you accept a **PR** for this?

[2019-01-01 13:30] 013ymc opened #1985 "Clean validation problem"
Hi,
I have noticed that clean method that should be override in order to allow custom validation on save() isn't called before the basic validations.

Suppose we have a required field that we want to perform a custom validation on it, an expected behavior would be that the clean method will be called after the validation of the required field. The reality is that the clean method called *before* t

[2019-01-01 14:40] gbroques commented on #1985
It might be intended that `clean` is called before basic validation.

Look at the [example](http://docs.mongoengine.org/guide/document-instances.html#pre-save-data-validation-and-cleaning) on the docs:

[code]

If the **publish date** or `self.pub_date is None`, then they default the value to `datetime.now()`.

I could see adding another lifecycle hook that's ran after basic validation.

But belie

[2019-01-01 15:19] 013ymc commented on #1985
Good point, but I think that a solution for both scenarios ic crucial.

[2019-01-02 08:31] anekix opened #1986 "dynamically switching db"
i will try to describe my usecase here:
i am using a `multi tenant` db model in which each client has their own database( due to very specific business use case). suppose i have to get the users details for a client `x` that has its own db named `x`,
these are the steps i need to execute to get the data:
* connect to `admin` db & get admin details
* connect to `x` db & get list of users
* connect

[2019-01-05 10:34] 3ddi commented on #1973
@erdenezul @touilleMan @bagerard Any updates? I've added a PR

[2019-01-07 10:43] shantanu9920 opened #1987 "While trying to combine query , mongoengine try to convert value into int() ."
search = query_params.get('search', )

When i try to filter the cases with this query
Q(files__file_name__icontains=search) | Q(case_id__startswith=search)

It throws error in postman
"invalid literal for int() with base 10" when i search file_name
but it show the result in case of case_id .......

[2019-01-08 07:11] shantanu9920 commented on #1987
Thank you so much @bagerard , The problem was that i had set the case_id as IntField because of that it was throwing error. When i change it to StringField, It works.

[2019-01-08 11:09] 013ymc commented on #1985
?

[2019-01-08 11:16] 013ymc commented on #1984
?

[2019-01-08 13:21] hammond756 commented on #1963
@bagerard nope. I implemented a workaround by writing a function that manually dereferences `role` field by calling `.to_mongo()` on it.

[code]

[2019-01-08 22:06] bagerard commented on #1987
ur welcome, happy to help :)

[2019-01-08 22:06] #1987 closed

[2019-01-10 13:04] commissarster commented on #1098
@samuelfekete Your solution is very good.  The solution should submit to mongoengine and  solved the bug.

[2019-01-15 16:57] pbriet commented on #1697
I have the same issue here.
Cross-reference can be useful with Embedded documents.

[code]

In this case, I get *mongoengine.errors.NotRegistered: `MyWork` has not been registered in the document registry*.
I can't see any alternative (it used to work at some point though  :/  )

[2019-01-15 17:05] pbriet commented on #1697
Got it!

The problem is due to `reverse_delete_rule`, that breaks the deferred resolution of the reference.  (`register_delete_rule` calls `get_document`)

Maybe there should be `raise` in the constructor to alert developers that both can't work together  -  or, ideally, a fix that makes it work :)

Thanks.

[2019-01-21 14:05] malthejorgensen opened #1988 ".select_related() doesn't fetch `ReferenceField`"
If you have multiple `ReferenceField`s to the same model – `.select_related()` doesn't fetch all the references it's supposed to.

This was also brought up in PR #1226, I believe.

Here's a test that shows the behavior (from the same PR):

[code]

[2019-01-22 06:32] 013ymc commented on #1985
Unfortunately, no

בתאריך יום ג׳, 22 בינו׳ 2019, 06:01, מאת Lake Chan <notifications@github.com

[2019-01-23 03:50] StoneMoe commented on #1984
I'm trying to implement this, but have no idea how to add `validate` and `clean` parameter to `update()`

[2019-01-23 07:00] erdenezul commented on #1984
@gbroques sure, totally :)

[2019-01-23 17:34] gbroques commented on #1984
@013ymc Do you want to put up a **PR** for this?

I can help review it, and @erdenezul can merge.

[2019-01-23 17:43] ufo911 opened #1989 "[feature] Searching In ReferenceField's Field"
if I have
[code]

and
[code]
can I query `Order.objects.filter(user__first_name__icontains="any search value")` ?

[2019-01-23 22:33] jonuhal commented on #1594
Since MongoDB 3.6, it looks like dots are valid within the field names.

https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names

Should I create a new issue to address this or can this be re-opened. I am willing to create a PR to address this once I know how you want to track this.

[2019-01-24 17:11] ufo911 commented on #1756
is not this fixed ?

[2019-01-25 03:18] JackTheMico opened #1990 "DynamicDocument collection name will change after pickle dumps and loads"
Reproduce:
[code]
Here's a screenshot with pycharm debug:
<img width="920" alt="bug-mongoengine" src="https://user-images.githubusercontent.com/19216598/51723005-672fa300-2092-11e9-8322-7b443c4e1203.png">
It shows that collection name does changed after pickle dumps and loads.
My mongoengine version is 0.16.3 and pymongo version is 3.7.2

[2019-01-27 12:37] marataziat opened #1991 "[question] Is mongoengine secured against NoSQL injections?"

[2019-02-01 02:33] nickfaughey commented on #244
Any update here? Pretty hacky workaround provided [here](https://github.com/MongoEngine/django-mongoengine/issues/39) using `__setattr__`:

[code]

But it's a decent amount of boilerplate for something that really ought to be built in.

[2019-02-03 00:04] ewengillies commented on #1290
+1

[2019-02-03 03:41] blatoo opened #1992 "How to return a normal image url from ImageField?"
Hi all,

I am trying to learn how to use GridFS save and retrieve images. But now I got a problem with retrieve image.

I can retrieve image from a "ImageField" with following function:

[code]

But the problem is the url: "http://localhost:5000/user/image/conny",

If I put this url direct in brower, then a **binary data**  file will appear in browser. How can I return a  normal image address like

[2019-02-04 10:11] domenicomonaco opened #1993 "ImportError: cannot import name 'Connection' from 'pymongo'"
I use MongoEngine with Pyhton3 and for initially I've installe pymongo==3.7.*, but I have this error message:

[code]

To resolve this I follow this https://stackoverflow.com/a/32218936/189411

[2019-02-04 10:45] domenicomonaco opened #1994 "Error in documentation?"
Maybe an error in Documentation: in section "2.3.2. Dynamic document schemas" you've writing that:

But I tested some filed that start with _ and still working done, also if are declared or not declared.

http://docs.mongoengine.org/guide/defining-documents.html?highlight=DynamicDocument

[2019-02-04 16:40] amcgregor commented on #1991
Not in particular.  The surface area of attack differs greatly ([Does everyone hate MongoDB?](https://blog.serverdensity.com/does-everyone-hate-mongodb/) is an excellent article describing some of the self-inflicted foot shots) and if you do insecure things, insecurity happens.  If one avoids potential security issues, then MongoDB itself is fairly resilient to injection-style attacks given it doe

[2019-02-07 03:09] Yevgnen commented on #244
Unfortunately, no updates.
On Fri, Feb 1, 2019 at 10:33 Nick Faughey <notifications@github.com> wrote:

[2019-02-08 11:39] anlauren commented on #1561
I confirm that it still happen. Anybody had time to have a look into this?

[2019-02-08 13:34] ewengillies commented on #1236
+1 bumping this, it would be great to be able to save new embedded documents as references without having to dig into the substructure of the parent document to save all the new objects.

[2019-02-11 17:24] d2gex commented on #1491
Hi all,

Mongoengine keeps throwing a deprecation warning for for the **save** method with the following versions of Mongoengine and Pymongo, respectively:

[code]

[code]
Not sure where you guys are at with this.
Thanks.

[2019-02-11 19:32] esteininger commented on #1808
Any update here?

[2019-02-11 22:08] rrei commented on #1808
For what it's worth, this is the solution I came up with:

[code]

This is really tailored just to handle the creation of wildcard text indices. Since it relies on the internals of mongoengine, any changes to those internals will probably break this mixin, so it's a stopgap solution. Let's hope that this gets officially fixed soon. I hope it helps :)

[2019-02-12 12:52] d2gex opened #1995 "Documentation Error. 'full_result' no longer return a dictionary and that may lead to bugs or a least plenty of head scratching"
Hi all,

There seems to be a clash between the documentation and the recently updated code that probably dealt with the deprecated warnings threw by Pymongo as denoted by issue #1491.
In the following environment the snippet below worked as expected. That's because mongoengine was retrieving a dict-like object when the full_result flag was given to the ``update`` method.

[code]

[code]

...Howeve

[2019-02-13 06:25] #1973 closed

[2019-02-13 18:12] srinivasrk commented on #1594
This has to be part of mongoengine !

[2019-02-14 08:11] rafaelleru commented on #1873
Hi, is anyone working on this? If not I would like try to solve this problem :D

[2019-02-14 21:55] deeTEEcee commented on #1225
What does unique even do? You still need the index and even if you have the index, I don't understand what this parameter brings.

[2019-02-15 00:50] tjhall13 opened #1997 "Can't use $ in fields projection on queryset for selecting array entries"
The following pymongo query can't be recreated with the MongoEngine QuerySet.
[code]
This query tries to find a document in the customers collection with a given id and a task with the id 'task_1' in the tasks array on the customer document. The projection will only return the first task in that array that matches the query { 'id': 'task_1' }. This is useful for when you need a specific item in an

[2019-02-15 01:12] tjhall13 commented on #1997
After looking more into the mongodb documentation, this can be accomplished by adding a $elemMatch in the projection. This is also not possible.

[2019-02-16 20:49] bagerard commented on #1995
Hi @d2gex, thanks for the detailed explanation. This was indeed a breaking change (introduced in 0.15.2 or 0.15.3) that wasn't reported in the changelog. All your suggestions make sense, I'll push a PR shortly to address the different documentations

[2019-02-16 21:51] bagerard commented on #1994
HI @domenicomonaco, thanks for reporting this. I agree that the documentation is not accurate but there is a limitation for undeclared fields. In fact it seems that fields that aren't declared can't start by underscores. Fields that are declared can start by underscores. see below:
[code]

I'll update the documentation to reflect this more accurately

[2019-02-17 08:34] bagerard commented on #1993
Hi @domenicomonaco, I can't replicate this and from what I've seen it has been fixed in mongoengine/connection.py for a while. Which version of mongoengine are you using?

[2019-02-17 09:04] bagerard commented on #1992
Hi @blatoo, you need to use `send_file` helper from flask if you want to return file. See below:
[code]

I'm closing this but if you have additional question, let me know and I'll re-open

[2019-02-17 09:04] #1992 closed

[2019-02-17 09:43] bagerard commented on #1332
@mmoonport Could you provide a minimal reproducible code that reproduces the issue?
I tried with the following but it does not go in error
[code]

[2019-02-17 13:39] 013ymc opened #2000 "Get limited multiple objects (batch)"
Hi,
I can't get a batch size objects from a db.
According to the official documentaion and the code, one of the methods of QuerySet is batch_size(size), which limits the number of objects being returned from the database.

I tried the following:
1. Insert 4 objects of X collection to the database.
2. X.objects().batch_size(2)

The following code returned 4 objects, instead of 2. Why? Is this a pro

[2019-02-17 19:16] bagerard commented on #1873
Hi @rafaelleru, thanks for suggesting to work on this, I don't think anyone started so feel free. I believe we should mimic django's BooleanField regarding the validation (and allow "0" or "False", "f" as False for instance) (https://docs.djangoproject.com/en/2.1/_modules/django/db/models/fields/#BooleanField)

[2019-02-17 19:48] bagerard commented on #2000
`batch_size` allows you to modify the number of items returned per batch but it does not limits the number of documents returned overall if you exhaust the whole cursor.
Basically when you iterator over a large amount of documents, mongodb sends the documents by batch (I think each batch contain 100 documents by default), when mongoengine is done iterating over the 100th documents, a second networ

[2019-02-17 19:51] bagerard commented on #1983
Makes perfect sense to me. Some tests are involving multiple fields and so they may not fit in 1 particular file, I'd suggest to keep them in a test_mixed_fields.py for those tests

[2019-02-17 21:34] bagerard commented on #1495
Let's close this issue as it is quite old and didn't get much attention. For future ref, note that django does not have a builtin phone field, there is another package (django-phone-field) that offers support

[2019-02-17 21:34] #1495 closed

[2019-02-17 21:54] bagerard commented on #1669
Got fixed by #1973

[2019-02-17 21:54] #1669 closed

[2019-02-17 22:01] bagerard commented on #1243
fyi, it got fixed by #1973

[2019-02-17 22:01] #1243 closed

[2019-02-18 01:27] #1127 closed

[2019-02-18 01:33] #1994 closed

[2019-02-18 10:29] mbhall88 opened #2003 "Python3 incompatible code"
This line raises an error when used with python3 https://github.com/MongoEngine/mongoengine/blob/db4760486558f42d4a36540159c41844f20a7b53/mongoengine/base/metaclasses.py#L441 as `iteritems` is not present in python3.

Please consider an option such as those presented in https://python-future.org/compatible_idioms.html#iterating-through-dict-keys-values-items

[2019-02-18 19:58] bagerard commented on #2003
Hi @mbhall88, your suggestion makes sense and I'll get those fix as an attempt to improve the 2/3 compatibility but do note that mongoengine's codebase is currently not python2-3 compatible. It is a python 2 codebase (that we incrementally try to make python3 compatible but we aren't there yet), when you pip install the library in a python3 environment, the 2to3 package gets executed as part of th

[2019-02-19 09:04] mbhall88 commented on #2003
Hi @bagerard . It was when running my tool (mykrobe) within a conda environment that I got the error. So as you say I imagine the 2to3 package has not run when installing. Not sure how familiar you are with conda recipes but do you see anything in [our recipe](https://github.com/bioconda/bioconda-recipes/tree/master/recipes/mykrobe) that could be causing this 2to3 step to not run?
Totally understa

[2019-02-19 09:16] #1995 closed

[2019-02-19 09:45] teamhide opened #2006 "Convert Document to dict"
Is there any method for convert Document to dictionary?

For example, I have below Document.

[code]

And create `Article` like this -> article = `Article(body='test')`

To get Article document to dictionary, I try this.

`print(article.__dict__)`

But it throw -> `{'_cls': 'Article'}`

Any method here?

[2019-02-19 19:21] bagerard commented on #2006
Hi @teamhide, there are to_json() and to_mongo() that you may want to look at but I'd advise you to write your own `to_dict` method.
[code]

[2019-02-19 19:56] bagerard commented on #2003
I'm not very familiar with conda but I evaluated it recently and to me it looks like the mongoengine conda package that you are fetching wasn't build for a python 3 installation. From where are you fetching it?
This channel looks fine: https://anaconda.org/conda-forge/mongoengine
Also if you look at the files: https://anaconda.org/conda-forge/mongoengine/files, you'll notice that there is a mongoe

[2019-02-20 00:59] teamhide commented on #2006
@bagerard If I do that, I have to define every document to dictionary manually. So I wonder that is there any automatical method is exist or not.

[2019-02-21 18:40] anlauren commented on #267
Same opinion here, was that ever resolved? As it turns out, unsetting the fields seems to not cascade on the CachedReferenceFields as well

[2019-02-21 20:51] bagerard commented on #2006
I listed some alternatives in my previous answer

[2019-02-22 16:53] KyRionY commented on #650
Why doesn't `update` have the same behavior as `save`?

[2019-02-23 11:18] shinrel22 commented on #1839
Still waiting for this. Hope you're working on it :(

[2019-02-23 11:24] carsonip commented on #1839
I'm not sure if anyone is working on this. :(

[2019-02-23 14:47] #2000 closed

[2019-02-23 14:47] erdenezul commented on #1993
feel free to re-open problem still persists latests version of mongoengine

[2019-02-23 14:47] #1993 closed

[2019-02-25 11:47] mbhall88 commented on #2003
I looks like the mongoengine recipe was [recently updated](https://github.com/conda-forge/mongoengine-feedstock/commit/4c31a9896078a8df74b1222d393d30861aba2556), using this new recipe fixed the issue.

[2019-02-25 11:47] #2003 closed

[2019-02-25 20:00] bagerard commented on #1727
Hi, I'm currently working on fixing the tests to support Mongo 3.4 in mongoengine (and travis) and I came across this issue.

The tests that had the issue were the ones that specify `unique=True` on the id field (being the primary key) like in:
[code]
Removing the `unique=True` from there fixes the issue.

Could you provide the model for which you had the issue? I'd like to check if your problem a

[2019-02-27 02:44] stockenja opened #2010 "Unsure why error is happening - command find requires authentication"
I am new to using Mongoengine with an authenticated MongoDB.

I have a Mongo Database called 'gambit_test'. I have enabled authentication on it and I have a proper user that can I authenticate into the database to perform read and write.

I created the user for 'gambit_test' using the following command in Mongo Client:

[code]

When I log into MongoDB to check my user status, I use a command as fo

[2019-02-27 14:17] hammond756 commented on #1963
Me again. I ran your snippet and indeed, the assertion is True. But that's not want I'm after. I want a dictionary containing all the fields of the User, as wel as those of the Role.

[code]

How can I achieve this effect, if that is not what `select_related` is supposed to do?

[2019-03-01 08:34] bagerard commented on #2010
HI @stockenja, I think the issue come from the fact that you are using `connect` twice (1 time unauthenticate and a second time authenticated). Does it work if you use it only once (authenticated)?
If not we'll need more info: mongodb, pymongo, mongoengine versions + the logs from your mongodb regarding the failed auth

[2019-03-02 12:00] alaminKutumbita commented on #267
I found a nice little work around this issue. You can use this
`test_doc.save()
test_doc.update(add_to_set__list_field = [])
`
it will update the reference with the empty list fiel

[2019-03-03 12:46] #2006 closed

[2019-03-04 14:32] HakuG commented on #267
I wonder if there's a way to make it so that it can be done on the Document
page... like "if (len(field) == 0): add_to_Set__list_field." I'm not too
versed in mongoengine now to do it, but would someone know? Maybe it's done
on the pre_save hook?

On Sat, Mar 2, 2019 at 7:00 AM alaminKutumbita <notifications@github.com>
wrote:

--
*Harnek Gulati*
*Occupation:* Founder of MakerFleet
*Education: *Ha

[2019-03-04 14:45] anlauren commented on #267
The problem is that no post_save hooks is triggered on update, moreover it doesnt update  the cached reference fields :/

[2019-03-05 10:04] #1991 closed

[2019-03-07 00:01] stockenja commented on #2010
Apology for the delayed reply. I will go test it out today or tomorrow. Otherwise, I will get more info for you guys.

[2019-03-07 02:04] stockenja commented on #2010
Ok. I confirm that the problem is indeed calling connect twice.

I tried to call the disconnect method and reconnect again. But, that did not work.

May I know why this does not work? Is there any way to make my code to work?

[2019-03-07 11:48] bagerard commented on #2010
I believe we have other tickets about this but I don't think it was investigated yet unfortunately. Usually application are taking the mongo URI from a config file or from an environment variable. Your use case is a bit unusual and I don't have a workaround in mind

[2019-03-07 12:01] stockenja commented on #2010
I will try to investigate it this weekend then.

It is interesting to me as to why it does not work.

On Thu, Mar 7, 2019, 6:48 AM Bastien Gérard, <notifications@github.com>
wrote:

[2019-03-07 15:24] ShmatkovD commented on #904
This fix bring us another problem:
[code]
The code below will raise AssertionError.

[2019-03-07 15:32] ShmatkovD commented on #1730
I think that the issue described below is related to this:
`
class A(EmbeddedDocument):
    x = IntField(db_field='fx')

a = A.from_json('{"x": 1, "fx": 2}')
assert a.x == 2
` (will raise assertion error)
The problem is in this "fix": https://github.com/MongoEngine/mongoengine/issues/904

[2019-03-07 18:55] 3ddi opened #2012 "Release 0.17"
Is there a specific goal before the next release? If no, there were quite a few changes since the last release

[2019-03-09 08:04] nitinbhojwani commented on #809
Is something going on for this?

[2019-03-09 18:53] ufo911 opened #2013 "How to copy all data in document when changing Primary Key ?"
When I am saving document with different PK only other document is created with empty fields
why ?

[2019-03-10 13:18] erdenezul commented on #2012
made PR to release 0.17.0

[2019-03-11 09:36] songkang1993 commented on #1727
when I set someone (unique=True, primary_key=True), it will raise "pymongo.errors.OperationFailure: The field 'sparse' is not valid for an _id index specification".

[2019-03-11 19:20] bagerard commented on #1727
With mongodb >= 3.4, you shouldn't specify the `unique=True` on the primary_key anymore. The message is a bit confusing (its due to the fact that sparse=False gets specified by default on indexes) but I believe your issue is the `unique=True`. Please post your schema in case this does not work for you

[2019-03-11 19:37] bagerard commented on #2013
Hi @ufo911, I agree that this is confusing. It is due to the fact that mongoengine tracks the fields that you are updating and I believe it then ends up firing an upsert at the end, in this case it spots that you modify the _id field and no other field so the upsert is creating an empty document with just the id that you've changed.

This is clearly a bug as it allows you to create a document that

[2019-03-11 19:42] bagerard commented on #2013
For future ref, here is a reproducible snippet that shows the issue:
[code]

[2019-03-11 21:46] qcho opened #2015 "Is it possible to merge two documents performing a partial update"
Hi,

I'm creating a rest API using mongoengine's marshmallow. The schema loads the Document object resulting in something similar to this:

[code]
In a `patch` request i get a partial User object and the primary key:
[code]

I need to perform a partial update merging the partial user_payload to the database.
For example having `user_payload=User(name='CHANGE')` and `user_email='test@example.com'`

[2019-03-11 23:04] #2012 closed

[2019-03-13 01:12] songkang1993 commented on #1727
Thank you very much. According to this guide, I solved this problem.

________________________________
发件人: Bastien Gérard <notifications@github.com>
发送时间: 2019年3月11日 19:20
收件人: MongoEngine/mongoengine
抄送: songkang1993; Comment
主题: Re: [MongoEngine/mongoengine] 'background', 'unique' and 'sparse' are not valid for an _id index specification (#1727)

With mongodb >= 3.4, you shouldn't specify the u

[2019-03-13 06:13] ufo911 commented on #2013
May it is possible to determine if the primary key is new before document save ?

[2019-03-13 16:19] neuroid opened #2017 "Minimum required version of pymongo should probably be bumped to 3.0"
`WriteConcern.document` was introduced in pymongo 3.0:

https://github.com/MongoEngine/mongoengine/blob/88c4aa2d87f4479a22aaaef8ec9c697fe94777e1/mongoengine/context_managers.py#L248

[2019-03-14 07:20] mindojo-victor opened #2018 "Document.reload always dereferences via select_related"
https://github.com/MongoEngine/mongoengine/blob/88c4aa2d87f4479a22aaaef8ec9c697fe94777e1/mongoengine/document.py#L718-L720

Is this a correct behavior, that Document.reload always dereferences via select_related even though automatic dereferencing can be disabled ( http://docs.mongoengine.org/guide/querying.html#turning-off-dereferencing ) ?

[2019-03-15 01:19] teamhide opened #2019 "Update all EmbeddedDocument at once"
Here is my models.

[code]
Until now, to set is_deleted=True all embedded document, I used below code.

[code]
Is it a only way to update all document?

Is there any update_all method here?

Thanks.

[2019-03-15 12:42] pauloAmaral opened #2020 "Unique does not work for EmbeddedDocumentListField"
Similarly to what used to happen in issue https://github.com/MongoEngine/mongoengine/issues/358 it seems that setting unique in a field inside an `EmbeddedDocument` used by `EmbeddedDocumentListField` creates no unique indexes.

Example:

[code]
Here only `Foo.name` will have an unique index, no `Bar.kitten_name` indexes will be created at all.

[2019-03-17 19:22] bagerard commented on #2019
Hi @teamhide. From what I see in the doc, if you are using mongo>3.5, there is an operator that  got introduced [(link)](https://jira.mongodb.org/browse/SERVER-1243) and that you could use using `__raw__` as in:
`Test.objects(test_id=test_id).update(__raw__={'$set': {'attachments.$[].is_deleted': True}})`

Otherwise, I think your best option is to do the update on the Document and call .save()
[co

[2019-03-17 20:57] bagerard commented on #2017
Good catch @neuroid , pymongo 3.5 is actually the "oldest" version against which we run the test suite in travis and recent version of pymongo is [backward compatibly](https://docs.mongodb.com/ecosystem/drivers/driver-compatibility-reference/#python-driver-compatibility) so I think it is safe to push it a bit further and require pymongo>=3.5. I don't see any reason why people would want to upgrade

[2019-03-17 21:26] bagerard commented on #2015
Hi @qcho, It looks a bit unusual to load the request payload into a partial `User` instance, usually the controller receives a dict which is easier to handle. In fact the biggest problem that I see in your approach is that mongoengine won't let you easily differentiate the parameter that are set explicitly from the default parameters.

If the payload would be a dict, you could either use
[code]
or

[2019-03-17 22:12] bagerard commented on #1844
Hi @gnulnx, I'm not exactly sure but it might be related to garbage collection, since Document has a direct reference to its embedded documents and vice-versa (through _instance in the embedded structure), AFAIK garbage collector may not call destructors properly in case of circular references.

We are using mongoengine with python 3.6.5 on production for a while and I never saw that error.
Is it

[2019-03-17 23:48] erdenezul commented on #2019
Can we implement this feature like update(set__attachments__S__[]__is_deleted=True) ?

[2019-03-18 01:33] teamhide commented on #2019
@bagerard Both way works perfectly. Anyway, which way is more faster? (I think raw query is faster than for loop)

[2019-03-18 01:33] teamhide commented on #2019
@erdenezul It throw syntax error.

[2019-03-18 02:59] erdenezul commented on #2019
@teamhide yes raw query is faster than for loop because it sends one query instead of many.

[2019-03-18 02:59] erdenezul commented on #2019
@teamhide I mean we develop new feature instead of using __raw__

[2019-03-18 03:04] teamhide commented on #2019
@erdenezul I see. I have one more question.

If I use raw query `Test.objects(test_id=test_id).update(__raw__={'$set': {'attachments.$[].is_deleted': True}})`,  How . can I trigger condition like`path == '1.jpg'`?

I tried to query with Q like this,

`Test.objects(Q(test_id=test_id) & Q(attachments__path='1.jpg')).update(__raw__={'$set': {'attachments.$[].is_deleted': True}})`

But it update all e

[2019-03-18 20:28] AngryUbuntuNerd opened #2023 "Recursive cascading save fails"
When I have three models that are linked to each other via references, a cascading save seems to stop at the second model.

Run the following code and observe in your database how User and Post are saved, but Comment is not. In other scenarios I have seen this to fail with a ValidationError (because the reference cant be resolved), but in this example it seems to fail silently.

I have tried using

[2019-03-19 01:01] #2017 closed

[2019-03-19 01:58] erdenezul commented on #2019
I think answer is the second. add condition into update

[2019-03-19 02:00] erdenezul commented on #2019
[code]
https://docs.mongodb.com/manual/reference/operator/update-array/

[2019-03-19 20:08] bagerard commented on #2019
@erdenezul Adding support for __S__[]_ would be nice but we'll need another convention because that's not valid syntax, any idea?

[2019-03-21 14:04] david-alm opened #2024 "Specifying collations on queries"
*Feature request*
Although defining collations on indexes is doable through `meta`, it's not currently possible to define a collation on a query as specified by [the PyMongo API](https://api.mongodb.com/python/current/examples/collations.html#specify-a-collation-for-a-query)

The current use-case is that of a case-insensitive indexed query - which could be done using regexes, but that would incur

[2019-03-21 16:26] erdenezul commented on #2024
Let me take this one.

[2019-03-21 21:39] #2020 closed

[2019-03-21 22:07] bagerard commented on #1970
For future reference, the problem here is not really the EmbeddedDocumentListField, its the default value of the EmbeddedDocumentListField. When excluding a field, it actually takes the default value when it loads the Document object and from that moment mongoengine sees the default value as a regular value (Document does not know that a field was excluded). `to_json()` is excluding fields that ar

[2019-03-22 05:43] nsuthar0914 commented on #2024
Was trying to do the same almost at the same time as when this feature request was made :D.
My workaround was this:
[code]

Looking forward to the actual feature implementation.

[2019-03-22 16:21] david-alm commented on #2024
@nsuthar0914 Would this not require monkey-patching one of the QuerySet classes?
It seems like overkill to achieve this functionality.

Anyways, this is definitely quite important functionality for certain applications - so if I can help expedite this in any way, I'm happy to help you out.

[2019-03-23 12:58] beneccli opened #2025 "LazyReferenceField does not return id but a representation the class"
Hello,

When using a LazyReferenceField (LR), data returned in a retrieve/list call is like that:

`<LazyReference(<class 'core.models.Child'>, '5c90074d20c06807b7962cd0')>`

So for example we get this:

[code]

I feel like this is not what is expected.

Also I tried to make it return only the id of  the child instead of the representation of the LR class by adding a `to_representation(self, insta

[2019-03-25 17:20] AngryUbuntuNerd commented on #2023
I simplified the example and changed text + title, as I realized that recursive saving is not the problem, but the ListField(ReferenceField(...))

[2019-03-26 03:35] teamhide opened #2026 "ReferenceField with specific field(not ObjectId)"
For example, there is 2 classes `User` and `Item`.

[code]

And to store referencefield, code maybe like this.

[code]

Result is here.

[code]

Referenced `User`'s `ObjectId` is stored into `Item`'s `user_id` field.

In this case, I can approach `User`'s another field via `Item.objects(description='item1').user_id.

But I want to store `user_id` instead of `ObjectId`.

So I changed code.

[code]

[2019-03-26 05:31] teamhide commented on #2026
I set `user_id = StringField(primary_key=True)` in `User` class, it works perfectly.

[2019-03-26 09:42] teamhide opened #2027 "Conditional filter with ReferenceField()"
Assume that there is simple `User` and `Post` model.

[code]

**Result is**

john post
test post
admin post

I triggered condition `user__ne=hide`, So every posts printed except hide's post.

In this case, How can I add more condition likes, `gender='W'`?

Below code is result of I tried.

`posts = Post.objects(user__ne=hide, user__gender__ne='M')`

and

[code]

But both code throw errors -> `mong

[2019-03-26 16:02] rafaelleru commented on #1873
Hi @bagerard I have it ready. I hope to upload the PR this week. :smile:

[2019-03-26 19:45] ufo911 commented on #2027
`posts = Post.objects(Q(user__ne=hide) & Q(user__nin=User.objects(gender__ne='M')))`

[2019-03-27 03:33] teamhide commented on #2027
@ufo911 That code is exactly same with my code. (Do not assign to variable, just assign into parameter directly)

[2019-03-27 04:26] ufo911 commented on #2027
Yes, There is no other way

[2019-03-27 04:28] teamhide commented on #2027
@ufo911 It doesn't cause memory issue?

[2019-03-27 04:30] ufo911 commented on #2027
I am not sure but I have been searching for this and there was no other way.. also the issues are not live and there are many unanswered questions

[2019-03-28 14:21] domenicomonaco commented on #1994
Thanks a lot.

[2019-03-28 14:22] domenicomonaco commented on #1993
I don't know if is only my problem that depends by specific configuration and dependencies.

[2019-03-30 11:59] ishantanu commented on #950
I am facing this issue as well. Any solution? Downgrading to 2.8 did not solve the issue. Instead, it created another issue.

[2019-03-30 19:14] bagerard commented on #950
@ishantanu Can you clarify the problem? You only observe this with dango, right? Can you provide a code snippet that shows the issue?

[2019-03-30 19:30] bagerard commented on #2015
Closing this, let me know in case you have other questions/concerns

[2019-03-30 19:30] #2015 closed

[2019-03-30 19:36] bagerard commented on #2027
Right, there is no joins in mongodb so there is not many option. One simple thing you can do to improve performance and reduce the memory footprint is to fetch only the user ids, see below:
[code]

[2019-03-31 06:11] ishantanu commented on #950
@bagerard I am observing it with something built with Flask and python. So, after downgrading pymongo to 2.8.1, I am seeing this issue:

[code]

And, If I use latest version of pymongo, it shows:

[code]

Any idea what might be issue? Mongo is running just fine.

[2019-03-31 18:34] PeriGK opened #2028 "Roadmap for django?"
Hi,

Apologies if there is something up-to-date in here and it just slipped my attention.

Is there any roadmap/time estimations for django integration?

Thanks,
P.

[2019-03-31 18:40] bagerard commented on #950
Just to make sure I get this right, the error you have with latest mongoengine and latest pymongo is this one:
`mongoengine.connection.MongoEngineConnectionError: Cannot connect to database default :
False is not a read preference.` ?
Could you print the values of `**conf` (on the mongoengine.connect(**conf) call)?
Also specify the mongodb version you are using

[2019-04-01 08:30] geknow commented on #858
@JMGama Me too, are you fix this ?

[2019-04-02 21:31] nickfaughey commented on #1230
Just hit this bottleneck inserting a couple ~5MB documents. Pretty much a deal breaker, having an insert that takes less than a second with pymongo take over a minute with MongoEngine.

[2019-04-02 21:45] shr00mie commented on #1230
@nickfaughey I switched to pymodm. It took very little if any modification with my existing code and is lightning fast. And by MongoDB, so ongoing development.

[2019-04-02 21:48] Cayke commented on #1230
pymodm has a similar sintax and is much faster. You should try it.

[2019-04-04 09:35] taysoh commented on #566
Any updates on this ?

[2019-04-04 11:06] amcgregor commented on #1230
As some `<ShemalessSelfPromotion>` I'd like to point out that I also offer an alternative, directly designed to alleviate some of the issues with ME I've encountered or issues I've submitted but never had corrected.  E.g. promotion/demotion, no distinction between embedded and top-level documents (allowing embedding of top-level documents), lazy conversion, minimal interposing, inline comparison g

[2019-04-04 11:32] amcgregor commented on #167
The basic functionality of treating a record as if it were a different type [has been implemented in the Marrow Mongo trait `Derived`](https://github.com/marrow/mongo/blob/develop/marrow/mongo/core/trait/derived.py).

[2019-04-04 13:45] nickfaughey commented on #1230
Sweet, I'll check these 2 out. In the mean time I've literally just bypassed MongoEngine for these large documents and access mongo directly with PyMongo, but it would be nice to keep an ODM there for schema sanity.

[2019-04-05 09:47] taysoh commented on #566
i'm found way how to solve this issue:
[code]

you need to clean document connection after new connection.
`TestModel._collection = None `

[2019-04-05 18:46] shr00mie commented on #1230
@nickfaughey you didn't even need to go that far. Pymodm has pretty much the same ODM syntax as mongoengine. Literally has ODM in the name. 😉

[2019-04-05 22:04] amcgregor commented on #1230
I'd love to formalize [this benchmark set](https://gist.github.com/amcgregor/ef40e88b3b0dbf0af1cb75a6934b89c2) (akin to template engine's "bigtable" test) and add more contenders to it. The code below the file of older results demonstrates, effectively side-by-side, identical solutions.

[This is a more direct comparison](https://gist.github.com/amcgregor/6ddbda735e6ded267d31) of querying, specifi

[2019-04-07 10:31] Meet-Kalariya commented on #858
[code]

I am getting error
[code]
`Class 'Job' has no 'objects' member`

What should i do now ?

[2019-04-07 15:14] jsbroks opened #2030 "Apply only fields to Documents on export"
When converting a QuerySet with an `only()` or `exclude()` field to json, the required fields returned in each object are the required ones from the query.

[code]
When converting a single document from a query with only paramaters the document containes the fields with default values.

[code]

[2019-04-07 21:18] bagerard commented on #2027
Closing this but I'll reopen it if you have other questions

[2019-04-07 21:18] #2027 closed

[2019-04-10 02:27] txntxn commented on #73
I also am interested in [`no_cursor_timeout`](https://docs.mongodb.com/manual/reference/method/cursor.noCursorTimeout/) for very long running queries.

And, if I use this, how do I close the cursor in MongoEngine?

[2019-04-12 02:07] ibmboy19 opened #2033 "pymongo returns nothing but mongoengine return somthing"
[code]
-----
Return
[code]

[2019-04-15 19:40] bagerard commented on #2033
If you have define default values for certain field, this would be the expected behavior. Whenever mongoengine hits a None value for a given field, it will use the field's default value.
If you want further assistance, please provide:
- Your `Org` mongoengine Document class
- the first pymongo document (print(collection.find()[0]))

[2019-04-16 06:46] StoneMoe opened #2034 "support contains/icontains in list"
Let's say we have a Post model like:
[code]

When I want to find related post by tag, I try to query like:
[code]

But the code above seems not work, so I have to query like:
[code]

Maybe support this will make mongoengine greater again, or just close this in case I just did this in wrong way :P

[2019-04-17 04:28] janejl commented on #1599
It works!! Thank you so much!!! I'm using MongoEngine and multiprocessing, ending up with the same issue. The forked child goes to `debug_1` at first, but if I run any query in child process, it goes to `debug_2` (child is using parent's topology instead of its own). I've tried various way to close and delete the connection, the parent's connection still appeared after forking and caused warning f

[2019-04-19 08:59] Maillol opened #2035 "upsert_one doesn't use defined id/primary_key type."
Details
======
When we use `upsert_one` the defined id type field is ignored and MongoEngine generate a ObjectId.

How to reproduce:
===============

[code]

Current result:
===============
<class 'bson.objectid.ObjectId'> is displayed

Expected result:
=============
<class 'uuid.UUID'>

[2019-04-19 09:18] Maillol commented on #2035
Workaround:

D2.objects(label='A').upsert_one(value=1, set_on_insert__custom_id=uuid4())

[2019-04-22 13:40] bagerard commented on #1213
Currently working on this and fixing a few other things around connect/disconnect

[2019-04-22 18:36] bagerard commented on #565
I'm currently working on this. I don't plan to get rid of the `alias` immediately but I'll improve the `connect` method and fixing the `disconnect` method so that it will be usable

[2019-04-23 16:45] abarto opened #2036 "Allow restricting the fields fetched when using LazyReferenceField"
Suppose we have the following document structure.

[code]
I would like to be able to call `fetch()` on the `bar` field of `Foo` without fetching `a_huge_field` from `Bar`. Maybe we can do something like:

[code]

Which follows the `fields` pattern: https://github.com/MongoEngine/mongoengine/blob/4caa58b9ec3afc856a7c05a2cdca9152b2c29e5f/mongoengine/queryset/base.py#L950.

[2019-04-24 20:37] bagerard commented on #566
Currently working on this, I hope to come up with a fix shortly

[2019-04-24 20:53] bagerard commented on #604
Issue is quite old but this issue actually got fixed :champagne:  (tested on current master)

[2019-04-24 20:53] #604 closed

[2019-04-24 21:09] bagerard commented on #606
I'm introducing the breaking change now in the next version (0.18.0 most likely), it will get documented in the changelog. Better now than never :)

[2019-04-24 21:33] bagerard commented on #704
Issue is quite old but for further reference there is no easy way due to the way mongoengine manages the connections in globals defined in mongoengine.connection module.

Now you can probably hack the globals and inject your own connection. It should work if you manage to hack both _connections & _connection_settings like in:
[code]

[2019-04-24 21:40] bagerard commented on #1487
Relates to #788

[2019-04-24 21:43] bagerard commented on #1599
fyi, I'm currently working on fixing the disconnect method.

[2019-04-26 09:06] teamhide opened #2039 "Bad performance skip(), limit() with large collections"
I have 10,000 documents on my collection. (In fact, it isn't large)

To get data with paging, It takes almost 2 seconds.

`Post.objects().skip(40)`
(Post has 17 fields and 1 EmbeddedDocument field and each field small than 30 characters)

Collection have just 10,000 but it occured performance issue.

Is there any solution to boost up `skip()` and `limit()` performance?

[2019-04-27 20:06] bagerard commented on #2039
It is unlikely that skip/limit are responsible for the poor performance since they translate to the pymongo equivalent behind the scenes. Mongoengine suffers from some performance issues in the deserialization of large objects so my guess is that you are probably hitting this but I'd need more info.

How many objects do you return per page?
For further assistance, please publish:
- your `Post` doc

[2019-04-27 20:33] bagerard commented on #2010
Hi @stockenja I actually started looking into this since there were many open bugs about the connect/disconnect functions. The reason why this was failing was because the second time you use `connect`, mongoengine just ignores the new connection details because it uses the same alias as the first connection (alias='default' in your case). This will get fixed shortly and you'll have to call `discon

[2019-04-28 19:46] bagerard commented on #561
Use case is a bit odd but you should probably hack into `cls` fields instead of the `queryset` within transformed_objects if you need to modify a certain field. Closing this as the issue is quite old and didn't receive much attention but happy to reopen it in case there is still an interest in this.

[2019-04-28 19:46] #561 closed

[2019-04-29 13:37] hmoravec commented on #1898
@JohnAD It would be useful to mention this also in documentation, e.g. in here: http://docs.mongoengine.org/guide/gridfs.html. There is not any mention about this behavior and the `seek` method.

[2019-04-30 12:08] #566 closed

[2019-04-30 12:08] #605 closed

[2019-04-30 12:08] #607 closed

[2019-04-30 12:08] #1213 closed

[2019-04-30 12:08] #1599 closed

[2019-04-30 12:08] #565 closed

[2019-04-30 12:08] #2010 closed

[2019-04-30 17:25] stockenja commented on #2010
Thanks for fixing it... Too busy lately to follow up.

But, i deeply appreciate it.

On Tue, Apr 30, 2019, 8:09 AM erdenezul, <notifications@github.com> wrote:

[2019-05-01 10:13] buggyspace opened #2041 "Performing sum() on DecimalField"
Looks like `.sum("some_decimal_field")` returns `float`.

I suggest returning `decimal.Decimal` in that case, as it is more consistent.
This will break backward compatibility, so I'm in doubt if this change is necessary.

[2019-05-01 18:39] bagerard commented on #2028
Hi @PeriGK, I believe this is more for django-mongoengine project https://github.com/MongoEngine/django-mongoengine

[2019-05-01 18:39] #2028 closed

[2019-05-01 21:42] bagerard commented on #1445
Closing as support for 3.2 & 3.4 was recently added in travis

[2019-05-01 21:42] #1445 closed

[2019-05-02 09:21] teamhide commented on #2039
Sorry for late reply. It caused by `len()`. Replace `len()` to `count()`, it solved.

[2019-05-02 09:21] #2039 closed

[2019-05-02 09:29] bagerard commented on #2039
k glad to see that you figured it out. Maybe you noticed but len(queryset) actually turns the queryset into a list before counting all objects which is terrible in terms of performance if all you need is counting, whereas count() issues a mongo count query which is a lot cheaper.

[2019-05-02 09:31] teamhide commented on #2039
Thanks. It's a little bit different question, I know that Test.objects() is `QuerySet`. So it doesn't excuted before evaluated.`first()` is same with `objects()`?

[2019-05-02 21:57] yueranyuan commented on #1491
[code]
generates a DeprecationWarning on PyMongo 3.x
[code]

Given mongo's change to `Collection.count_documents()` it seems like we have to use `_query` here instead of `_cursor`.

count is a common functionality and it's even featured prominently in the quick start tutorial in the repo README

[code]

it's probably not so good for the README code to create DeprecationWarnings

If this isn't a du

[2019-05-03 07:37] bagerard commented on #1491
Hi @yueranyuan, its worth fixing, feel free to open a PR

[2019-05-03 07:44] bagerard commented on #2039
Test.objects() is a queryset, it will only be evaluated when you iterate over it, or cast it to a list
Test.objects().first() returns you an actual object

Use `type` (instead of print() or str() as they evaluate the queryset) from a terminal if you want to experiment a bit on this

E.g:
[code]

[2019-05-03 19:46] bagerard commented on #1492
On current master, it is still failing but with a different error:
`InvalidQueryError: Querying the embedded document 'Post' failed, due to an invalid query value`

I'm currently working on fixing this

[2019-05-03 20:29] bagerard commented on #1612
@erdenezul Since update_many can't deal with a `limit`, it will be tricky to get this working and the current behavior is misleading. Maybe the safest is to raise an error if using `.limit()` with `.update()`, what do you think?

[2019-05-03 20:30] bagerard commented on #2033
Closing this but happy to reopen if @ibmboy19 brings additional info

[2019-05-03 20:30] #2033 closed

[2019-05-03 20:51] bagerard commented on #1610
Better late than never but we've been working on fixing some of the issues around connect/disconnect functions (#2038). Pymongo's `collection` gets cached in Document class (as `_collection`) and many people had issues with this as it wasn't cleaned properly when calling disconnect().

The `switch_db` context manager seems to work fine but it could be that its not thread safe, maybe that's the pro

[2019-05-03 20:52] bagerard commented on #1986
The `switch_db` context manager was built for this use case, is there anything preventing it use?

[2019-05-04 11:16] bagerard commented on #861
Closing this as it was integrated in travis a while ago

[2019-05-04 11:16] #861 closed

[2019-05-04 11:19] bagerard commented on #763
Closing this as issue is quite old and issue is unclear. Happy to reopen if more info to reproduce it gets provided

[2019-05-04 11:19] #763 closed

[2019-05-04 11:21] bagerard commented on #765
Closing this as issue is quite old and didn't receive much attention. The `switch_db` context manager can be used to achieve this

[2019-05-04 11:21] #765 closed

[2019-05-04 12:28] bagerard commented on #1092
Closing this as it is quite old and code is making use of pymongo's aggregate, not mongoengine's aggregate. If still an issue, maybe move this to Pymongo's project?

[2019-05-04 12:28] #1092 closed

[2019-05-04 15:10] #475 closed

[2019-05-04 15:10] #1492 closed

[2019-05-04 15:10] #1961 closed

[2019-05-04 15:11] erdenezul commented on #1612
Yeah I agree with you. It is so tricky to fix that

[2019-05-06 06:34] a132 opened #2044 "modify not apply where clause"
while count() on querySet apply the where clause, where clause not work on modify.

[code]

[2019-05-06 14:42] DachuanZhao opened #2045 "How to update ListField by index in a efficient way?"
[https://stackoverflow.com/questions/56006371/why-is-it-so-slow-when-update-listfield-in-mongoengine](url)

[code]

It's a efficient method to update ListField?
If not, how to optimize it?
Could mongoengine optimize it automatically？

[2019-05-06 14:56] erdenezul commented on #2045
post.obj.update(comments__1000__comment=update_comment_str)

[2019-05-06 14:57] erdenezul commented on #2045
@DachuanZhao
[code]

[2019-05-06 15:38] erdenezul commented on #2045
I've answered your question in stackoverflow more detailed

[2019-05-06 18:23] DachuanZhao commented on #2045
Hi,@erdenezul. Thank you.I just want to know why mongoengine can't transfer my code to the code you give

[2019-05-06 18:35] #2045 closed

[2019-05-06 19:11] j0hn opened #2046 "pre_save signal does not send created argument"
According to [the documentation](http://docs.mongoengine.org/guide/signals.html?highlight=signals#attaching-events) there's an example of the usage of the `pre_save` signal to detect when an object was created. I wasn't getting the argument so I examined the code and [noticed that it's not sent](https://github.com/MongoEngine/mongoengine/blob/c1aff7a24823d7a01c02297bbab93c24cf4abb17/mongoengine/do

[2019-05-08 21:18] bagerard commented on #2046
Hi @j0hn, maybe I missed it but I don't see references to `created` in the doc of the `pre_save`, I see such references in the example of the `post_save` though.

Feel free to open a PR for this, I don't have any objections to add `created` as parameter to the `pre_save` signal. Make sure to document it (and also document it for `pre_save_post_validation`) and document this in the changelog

[2019-05-09 11:56] paco-cabrera opened #2047 "Can't read from multiple databases"
I have an issue accessing multiple databases allocated in the same host one after another.

The thing is that I want to retrieve two different types of documents from two different databases with different authentication settings.

I have set up this example code.
[code]

I get an error as if the authorization wasn’t right.

I have inquired into this matter and the problem is that when it tries to

[2019-05-09 14:09] DachuanZhao opened #2048 "How to insert after a element in a ListField with mongoengine in python?"
[https://stackoverflow.com/questions/56061288/how-to-insert-after-a-element-in-a-listfield-with-mongoengine-in-python](https://stackoverflow.com/questions/56061288/how-to-insert-after-a-element-in-a-listfield-with-mongoengine-in-python)

Is there any function in mongoengine can make it? I can't find it in the document.

[2019-05-10 22:07] bagerard commented on #2047
Hi @paco-cabrera , which version of MongoDB are you using?
mongoengine is still using db.authenticate and it could be that you are hitting the warning of:
http://api.mongodb.com/python/current/api/pymongo/database.html#pymongo.database.Database.authenticate

[2019-05-11 16:09] #704 closed

[2019-05-11 19:41] bagerard commented on #1568
As pointed out by vayel, there is a `validation` parameter that can be provided to any Field and that will run as part of the validation

[2019-05-11 19:41] #1568 closed

[2019-05-13 10:28] paco-cabrera commented on #2047
Hi @bagerard,
First of all thank you for the reply and the time you spent trying to solve the issue.

But I have run the same exact code you posted in your reply and I'm still getting the same authentication error when trying to do the second query to db1:
`OperationFailure: not authorized on db1 to execute command { find: "doc1", filter: {}, limit: 1, singleBatch: true, $db: "db1", $readPreferenc

[2019-05-13 19:49] ScriptProdigy commented on #1839
Any news about this?
Has anyone been able to do a work-around and use transactions even if mongoengine doesnt have its own interfaces for it?

[2019-05-13 20:27] lukaszkiszka commented on #1839
Hi @ScriptProdigy
I created workaround for this:

1) From `MongoEngine object` I get session
2) I created `Repository` class where I created method for CRUD with transaction via pure pymongo code. I get pymongo `Collection` object from mongoengine `Document`.
Expect added CRUD via pure pymongo I added method which they support mongoengine operations also.

See bellow code example:
[code]
Obviusly

[2019-05-14 14:18] AOF-BudakHasan commented on #6
MongoEngine version: 0.17.0
Python version: 3.6.1

This commit works well only first creation as below;

[code]

But an existing document when updates with save function occurres an **ValidationError: Invalid embedded document instance provided to an EmbeddedDocumentField: ['doc']**

[code]

[code]

Wouldn't it be nice works well as single operation with existing document too?

[2019-05-14 15:33] lonelywm commented on #1839
@lukaszkiszka nice work!!!

[2019-05-14 20:38] bagerard commented on #2047
Hi, I had security turned on during my test but both my users had `readWriteAnyDatabase` role so that's why it was working :).

If I set up the users' roles properly, I now see the exact same error as you.

The error relates to this, which is +- what's happening behind mongoengine:
[code]
When the host is the same, it uses the same MongoClient and then uses the .authenticate method of pymongo.Data

[2019-05-15 11:19] paco-cabrera commented on #2047
Hello @bagerard!
I'm kind of glad that you found the error as I was beginning to think I might be going crazy or something :).

Thanks for the explanation as I understand now where does the error come from.

I came up with the error when connecting to remote mongolatlas dbs hosts, but I have been able to implement your workaround by reordering the list of hosts in one connection; so thanks for tha

[2019-05-15 12:42] aknock commented on #568
:+1:

[2019-05-15 12:42] aknock commented on #568
:+1:

[2019-05-15 13:26] #568 closed

[2019-05-15 15:17] srinivasrk opened #2051 "Dict field in mongoengine does not save None types"
When adding a new field to Dict type if the value is `None` key is never saved.
Attaching the code snippet below
[code]

Output:
[code]

But when doing this:
[code]

Output:
[code]

[2019-05-16 03:50] DachuanZhao opened #2052 "Is there a migration module based on mongoengine?"
Like ```alembic``` and ```sqlalchemy```.
 Is there any module for handling database changes that leverages ```mongoengine``` to per form the migrations ?

[2019-05-16 05:40] StoneMoe commented on #529
Any update on this?

[2019-05-17 09:03] focusj commented on #1098
Any progress on  this issue @MongoEngine team?

[2019-05-17 19:53] bagerard commented on #2048
Got answered on SO

[2019-05-17 19:53] #2048 closed

[2019-05-17 21:05] bagerard commented on #2047
You are welcome. I'm glad we figured it out. I started working on this, it will be fixed in the next version

[2019-05-19 11:41] ufo911 opened #2057 "How to search accross multiple collections ?"
How can I search in multiple collections or how can I join results by searching in predefined collection names ?

[2019-05-20 19:23] david-alm commented on #1332
To all the developers currently struggling with this error:
**QUICKFIX: YOU'RE PASSING A QUERYSET TO THE DOCUMENT CONSTRUCTOR**

This one took me a few hours to figure out, but I finally found the bug in my code and was able to consistently reproduce it. There obviously could be multiple venues for this, but I've included my playground code below.
As far as I know, it's not actually an issue with

[2019-05-20 20:06] scoutparker commented on #1972
I'm running into this issue as well, specifically on URLField.

[2019-05-21 08:47] muzhig commented on #1972
@scoutparker Of course :) the issue is still there

[2019-05-21 19:42] jscul commented on #2057
You should be more specific, what do you mean "search in multiple collections"? Do you mean how would you go about running a find query on 2 different collections? Or do you mean how would you run a find query on an embedded document?

I think this question should be on StackOverflow, not on GitHub as an "issue".

[2019-05-21 19:48] ufo911 commented on #2057
Hi, no this is not stack overflow question. I mean query in different collections/models at same time not in EmbeddedDocumets. How can I search collection by collection and join data ? for example for little website where searchable content is put in 3-5 collections and needed feature is to search across these collections

[2019-05-21 19:51] jscul commented on #2057
You mean like [aggregation](https://github.com/MongoEngine/mongoengine/issues/1252)?

[2019-05-21 19:52] ufo911 commented on #2057
yes

[2019-05-22 22:32] 0x3a opened #2059 "Not able to query DictField key values"
As far as I'm aware `DictField` keys are String types in MongoDB, I'm trying to figure out how to query the key value (see if a key exists in a dictionary) in one of my models.

Here's a simplified example

[code]

Lets say I am searching for `"this_value"` knowing it could be a key in the dictionary, how would I go about it? I've tried the following variations without success:

[code]

I'm unsure

[2019-05-23 01:07] ronakvora commented on #61
To anyone still having trouble with this, or to anyone who needs this in the future, a potential solution might just be to do:

from bson import ObjectId

raw_mongo_obj = doc.to_mongo()
your_lazy_reference_field_id_string  = raw_mongo_obj['your_lazy_reference_field_name']
your_lazy_reference_field_id = ObjectId(your_lazy_reference_field_id_string)

[2019-05-23 06:36] teamhide opened #2060 "Difference of update() and modify()"
I used `update()` for update document.

But in my case, sometimes, it doesnt' perform normally.

Maybe reason of race condition, but in official document, `update()` is atomic.

I can't re-produce that situation again, but it occured sometimes.

So I read document again and found `modify()` method.

But I don't know what is the difference between `update()` and `modify()`.

Both methods behave the

[2019-05-26 02:55] 625781186 commented on #1830
Wow, this api is hard to find, why not encapsulate an interface?

[2019-05-26 10:06] bagerard commented on #2059
Hi @0x3a , I answered a similar post on stackoverflow
https://stackoverflow.com/questions/56000808/filter-models-on-the-basis-of-dictionary-key/56084821#56084821

Make sure to upvote it on SO in case its relevant

[2019-05-28 02:51] 0x3a commented on #2059
@bagerard when I use the `exists` operator it matches every sample... Here some of my test code:

[code]

And the output in my case:
[code]

It seems to also include items where the x-mailer head is not the actual header... but not all emails are in the pool? I'm curious how it matches these down.

[2019-05-28 09:04] goldenspecops opened #2064 "Enable subclassing of EmbeddedDocumentList"
While trying to achieve a more native/OOP like use of the models in my code, I encountered the following issue:
I have the following structure:
- `class P(Document)`
- `class M(EmbeddedDocument)`

P contains a list of Ms, hence in the definition of P I have:
`ms = EmbeddedDocumentListField(M)
`
The problem is that I want to achieve the following usage:
[code]

To enable that, I need the object tha

[2019-05-28 13:38] amcgregor commented on #2013
"How?" is the question that immediately comes to mind.  Saved vs. unsaved for my own records is typically the difference between having a value for the `_id` key or not.  Re-assigning a new ID seems… wrong.  If instead of re-assigning, you instead `del p.id`, when trying to save the _driver_ itself (PyMongo) will add an ID, and it'll probably work a whole lot better.

Alternatively, use the `force

[2019-05-28 16:46] 0x3a commented on #2059
I've also raised this issue on SO now: https://stackoverflow.com/questions/56346404/mongoengine-mongodb-model-filtering-on-basis-of-key-presence-in-dictionary-fie

[2019-05-28 18:13] bagerard commented on #2057
Mongodb does not provide joins and mongoengine can't work around that (https://stackoverflow.com/a/6502696/6203472).

Your best option is to query the collections separately I'm afraid...

[2019-05-28 18:13] #2057 closed

[2019-05-28 18:33] ufo911 commented on #2057
Ok and how can I have list of collection names ?

[2019-05-28 18:46] bagerard commented on #2052
Hi @DachuanZhao, Unfortunately no. The way we are handling migrations at my company is by using pymongo directly

[2019-05-28 18:52] bagerard commented on #2059
Jut answered the [SO](https://stackoverflow.com/questions/56346404/mongoengine-mongodb-model-filtering-on-basis-of-key-presence-in-dictionary-fie) post.

Actually I was wrongly using the `__exists` operator, I corrected the other SO post as well.

$exists requires True/False, but by using
`Email.objects.filter(headers__exists='x-mailer')`

It translates to query like this in pymongo: `c.find({'hea

[2019-05-28 20:33] 0x3a commented on #2059
Ahh, there we go that makes a lot more sense. Thanks for figuring this one out, SO upvoted and accepted as answer. I'll close out this issue as well.

[2019-05-28 20:33] #2059 closed

[2019-05-30 08:44] Nasrin-Shiraly opened #2065 "Inheriting from mongoengine.Document fails to set meta"
Issue description:
mongoengine version: '0.16.3'
python version: 3.7
environment: Ubuntu 18.04.2 LTS

create a class which inherits from `mongoengine.Document`, and try to set meta as below:

[code]
will result in:

This is Okay if the inheritance isn't in place.

Detailed example:
[code]

Is this a required behavior? How can we set db_alias and collection as parameters (would need this for tests)

[2019-05-31 15:59] marcosfede commented on #1727
@bagerard solution worked for me

[2019-05-31 17:52] bagerard commented on #1727
Glad to hear that it helped, closing this issue now

[2019-05-31 17:52] #1727 closed

[2019-06-02 14:16] ufo911 commented on #2013
If the _id or Primariy key (as we call)  will be checked before save and if _id is different for the documen, we will call other method which will be used for creating new document (save method for new document) and if _id is same we will use current save method. after that for the method for creating new document, we have to check if _id already exist in database and will show error or make new d

[2019-06-03 13:17] amcgregor commented on #2013
Under no circumstances must a write be bound to a preparatory read.  The moment you do this, you've introduced a race condition.  Worker A wants to "save", worker B wants to "save", both issue the reads, get "non-existent record' answers, both insert.  You've duplicated a record, and this is the _nicest_ of the failure situations, which also involve change clobbering possibilities.

Any verificati

[2019-06-03 13:22] amcgregor commented on #2013
Note that all of this "save" confusion is an artifact of MongoEngine attempting to mirror database-side state client-side in every application worker process, then monitor that state for changes.  Ostensibly helpful, but you still end up needing to wrap your head around both sides of the update, both Python-side and DB-side.  I advocate—strongly—for plain PyMongo data access semantics; use the pro

[2019-06-03 14:25] antedesk commented on #244
I faced the same issue described by @Yevgnen using the 0.17.0 version of mongoengine.
I believe that it's crucial to underline this issue in some way in the documentation or to properly clarify the raised error.

[2019-06-03 14:30] Yevgnen commented on #244
‘type’ is just a built in function, not keyword. @erdenezul

[2019-06-04 03:37] cmdedj opened #2067 "Can mongomock's documentation be more detailed?"
it's hard for me to understand what it means

[2019-06-04 07:10] bagerard commented on #2067
Are you asking that this [docs](http://docs.mongoengine.org/guide/mongomock.html#use-mongomock-for-testing) from mongoengine regarding the use of mongomock should be more detailed? Could you explain what is missing or what you are trying to achieve?

[2019-06-04 07:32] cmdedj commented on #2067
my mean is it should provide a entire demo like that。
i have to read mongoengine test file then understand how to use the mock in mongoengine.
after that i know i needn't import mongomock for this demo, it's already packaging in mongoengine

import unittest
import requests
from mongoengine import connect
from tag.models import Category
# Create your tests here.

class BasicTestCase(unittest.TestCa

[2019-06-04 20:55] bagerard commented on #2067
Alright, why not

[2019-06-04 20:56] #2067 closed

[2019-06-04 21:09] bagerard commented on #2065
the `meta` class attribute gets digested by the metaclass (during the module import time), I wouldn't advise to update it dynamically because it won't go through the metaclass pipeline anymore, so you might end up with weird things.

If switching databases is important for your tests, consider using the [switch_database](http://docs.mongoengine.org/guide/connecting.html#switch-database) context ma

[2019-06-04 21:15] bagerard commented on #2046
Hi @j0hn, can we expect a PR from you or should we take care of this?

[2019-06-05 20:08] bagerard commented on #1824
This can be achieved using the `validation` parameter on any field (see PR)
Note that in mongoengine <= 0.17.0, the validation callback is expected to return a bool and in >= 0.18.0 (which is under dev), it will expect the callback to raise a ValidationError

[2019-06-05 20:11] bagerard commented on #1689
Closing this as issue is quite old and didnt receive much attention

[2019-06-05 20:11] #1689 closed

[2019-06-05 20:13] bagerard commented on #1747
I believe we can close this

[2019-06-05 20:13] #1747 closed

[2019-06-05 20:30] #1824 closed

[2019-06-05 20:51] bagerard commented on #1770
Hi @wojcikstefan, I'd like to have your input on this. I've always wondered why we were exposing `register_connection` (as opposed to just exposing `connect`), the only valuable reason that I see is to allow users to register the settings and delay the actual creation of the pymongo connections until they are actually required (which they can only do by calling `get_connection()` today, as shown b

[2019-06-06 08:52] danielguardicore opened #2071 "mongoengine fails to connect while PyMongo suceeds"
Running the following versions
Python 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 04:57:36) [MSC v.1900 64 bit (AMD64)]
PyMongo 3.8.0
mongoeingine 0.17.0

Connecting using a connection string that looks as follows
`mongodb://admin_user:PASSWORDHERE@localhost:26481/config?authSource=admin`

The following code works
client = pymongo.MongoClient(connection_string)
client.list_database_names()

While the foll

[2019-06-06 20:39] svanburen opened #2072 "Format with `black`"
Hi,

I recognize that mongoengine already has a [styleguide](https://github.com/MongoEngine/mongoengine/blob/master/CONTRIBUTING.rst#style-guide), but I'm curious if the maintainers would consider formatting the project with [`black`](https://github.com/python/black). `black` should work fine with python2.7 code, and I've found it leads to a consistent codebase for new contributors. Curious to hea

[2019-06-06 21:55] dereklopes opened #2073 "Connecting to mongomock with authentication throws TypeError: 'Collection' object is not callable"
When attempting to call any function on a document (get, save, etc.) after connecting to mongomock with provided username to authenticate with I get the error `TypeError: 'Collection' object is not callable`. For example, this code:

[code]
would produce the following error:
[code]

This is unfortunate as I dynamically set the db address to the mocked address if it is being called by a test. As a

[2019-06-07 14:47] bagerard commented on #2071
Are you creating multiple connections or just 1? You shouldn't have any problem with just 1 but there are known bugs if you use `mongoengine.connect` multiple times

[2019-06-07 19:08] #2047 closed

[2019-06-07 21:08] bagerard commented on #2073
Hi @dereklopes, thanks for reporting this. I confirm we have a bug there. `pymongo.Database` instances have a `authenticate` method that does not exist on the `mongomock.Database`.

I'm not very familiar with mongomock but from what I've seen it doesn't seem to support any kind of authentication (at best it is simply ignored).
Before thinking about if/how we want to fix this in mongoengine, could

[2019-06-07 21:21] bagerard opened #2074 "pymongo.Database.authenticate is deprecated in pymongo 3.8"
As stated in the pymong doc, [pymongo.Database.authenticat](http://api.mongodb.com/python/current/api/pymongo/database.html#pymongo.database.Database.authenticate) got deprecated. I believe the right way to authenticate will be to do it when instantiating the MongoClient

[2019-06-07 21:49] bagerard commented on #1574
Let's close this, issue is quite old and didn't seem to impact other users. If author has an idea to improve this without making mongoengine depend on werkzeug, we can reopen this

[2019-06-07 21:49] #1574 closed

[2019-06-08 21:17] bagerard commented on #629
For future ref, this bug still exist with mongo >=3.2 and latest mongoengine (0.17)

[2019-06-10 09:05] wojcikstefan commented on #2072
Thanks for bringing this up @svanburen.

I'm all for using Black (and have already benefited from using it in other projects) 👍  Are you interested in submitting a PR for it?

[2019-06-10 09:52] wojcikstefan opened #2075 "MongoEngine v0.18.0?"
Hi @erdenezul & @bagerard! First of all, thank you both for your continued efforts to keep this project running! I really appreciate it and I'm sure so do the users of this package :)

I've been thinking that it might be time for a new release of MongoEngine (v0.18.0?). Before we do that though, I wanted to check in with y'all:
1. Does the [cleaned up dev changelog](https://github.com/MongoEngine/

[2019-06-10 15:20] danielguardicore commented on #2071
Single connection.

[2019-06-10 20:30] bagerard commented on #2071
I can't replicate your issue.
If I turn authentication on and create the following user:

[code]
Then I'm able to connect mongoengine and list databases:

![image](https://user-images.githubusercontent.com/11854690/59224565-0337f200-8bcf-11e9-8456-f102ed04ef32.png)

If you want more assistance please provide a complete snippet that will help reproduce your problem

[2019-06-10 20:51] bagerard commented on #2075
Hi @wojcikstefan, thanks for the nice words, I appreciate.
Fine with me to release 0.18.0
1) Looks good, I just have 1 remark regarding the following sentence:

I initially documented it as a 'Potential breaking change' but maybe we should just document it as a `bugfix`, what do you think?

2) yep, let's include that. The sooner we get rid of it the better. There is an open [PR](https://github.com

[2019-06-10 21:24] svanburen commented on #2072
Sure, I can throw together a PR.

[2019-06-11 11:26] erdenezul commented on #2075
Pr #1570 is green now.

[2019-06-11 13:16] wojcikstefan commented on #2075
Thanks fellas! To sum up, the remaining todo's are:
- [ ] Change the wording of the `QuerySet.aggregate` bugfix (done in 118a99813828feed04c778bb14c42301d7154f55)
- [ ] Review and merge #1570
- [ ] Review and merge #2040
- [ ] Move dev changelog entries to a separate "Changes in 0.18.0" section
- [ ] Bump the `VERSION` const in `mongoengine/__init__.py`
- [ ] Create a GH release for v0.18.0

[2019-06-11 16:01] bptarpley commented on #1242
This is a problem for my data model--just pinging to let devs know it would be nice to have fields specified in unique_with which don't require to have values...

[2019-06-12 09:51] wojcikstefan commented on #2075
Alright, v0.18.0 is building here: https://travis-ci.org/MongoEngine/mongoengine/builds/544655131.

Will close this issue once it deploys to PyPI.

[2019-06-12 10:19] teamhide opened #2077 "Upsert on bulk insert"
I want to upsert on bulk insert.

Here is my code snippets.

[code]

If I execute twice, it throw errors.

`pymongo.errors.BulkWriteError: batch op errors occurred`

`mongoengine.errors.NotUniqueError: Document must not have _id value before bulk write (batch op errors occurred)`

I know it is because of index. But I want to insert if it doesn't exist and update if it exists on bulk insert method.

[2019-06-12 10:29] wojcikstefan commented on #2075
Alright, v0.18.0 is live! https://pypi.org/project/mongoengine/0.18.0/

[2019-06-12 10:29] #2075 closed

[2019-06-12 15:10] bagerard commented on #2075
Great news, sorry I didn't have time to help with the Todo's for this release

[2019-06-12 18:08] diegompin opened #2078 "DynamicGeoJsonBaseField for shapely.geometry"
I was trying to directly store shapely.geometry.multipolygon.MultiPolygon and shapely.geometry.polygon.Polygon. I ended up creating a DynamicGeoJsonBaseField.
This is my first time here not sure how I can contribute to this amazing community.

 class DynamicGeoJsonBaseField(GeoJsonBaseField):

    def validate(self, value):
        if not isinstance(value, BaseGeometry):
            self.error(f'{

[2019-06-12 19:22] bagerard opened #2079 "Discrepency between mongoengine aggregate interface and pymongo aggregate"
Considering a pipeline:
[code]

Mongoengine aggregate currently expects to be called like this:
`MyDoc.objects.aggregate(*pipeline)`

whereas mongodb/pymongo aggregate interface expects a list, like:
`collection.aggregate(pipeline)
`
Its a subtle difference but I believe it brings some confusion ([SO](https://stackoverflow.com/questions/45810888/aggregation-in-mongoengine/56568908#56568908)) and i

[2019-06-12 21:38] bptarpley opened #2080 "Updating fields named 'size'"
Greetings!

I've greatly enjoyed using MongoEngine :) One weird thing that's happened to me is that, upon defining a document with a field named 'size,' I'm unable to use .update(set__size=value). Here's an example:

[code]

Upon executing the above, I receive the following error:

This does not happen with Int fields named something else.

[2019-06-13 14:31] casparjespersen opened #2081 "MongoEngineConnectionError with pytest/mongomock since 0.18.0"
Since upgrading to mongoengine 0.18.0 I experienced new errors in combination with pytest and mongomock. I have multiple test files, in which each connect to a mongomock db.

test_a.py:
[code]

test_b.py
[code]
This has previously worked (==0.17.0), but since upgrading to 0.18.0 I get the following error message:
[code]
My current resolution was to roll back mongoengine to 0.17.0, and now it works

[2019-06-13 17:47] dereklopes commented on #2073
Thanks for the reply @bagerard, I will switch to the standard authentication method.

The reason we try to authenticate against mongomock is not because it does anything but because the code is set up to authenticate against whatever server is being connected to. Since we have different servers for different lifecycles, we set environment variables for the server information, including authenticat

[2019-06-13 19:19] daghaian commented on #2081
Can report that this update has also caused issues for my unit tests as well  (pytest)

[2019-06-13 19:21] bagerard commented on #2081
Using connect 2 times in a row with the exact same parameters shouldn't raise an error but you should see this error if you `connect` it with different connection parameters. Please confirm. Note that in mongoengine <= 0.17.0, the second `connect` call was simply ignored. To avoid running into this kind of problem, we decided to go for an explicit disconnect

If you are using pytest you can easily

[2019-06-13 20:45] bagerard commented on #2073
Hi @dereklopes, thanks for the clarification, it sounds fair to use mongomock for the unit tests.

As for the environment variable, the way we handle this is by using the following syntax:
`connect(host=mongodb://{user}:{pwd}@{host}:{port}/{database_name})`

And then have the whole `host` defined as an environment variable, which allows you to easily switch from production mongo to dev/test mongo

[2019-06-13 20:47] dereklopes commented on #2073
Sure @bagerard, thanks for the suggestion

[2019-06-13 20:47] #2073 closed

[2019-06-13 21:13] casparjespersen commented on #2079
I think a combination would be a good solution. Support both for a while (aggregation steps cannot be lists, so it will be well-defines), while issuing a deprecation warning. I think the goal would be to mimic pymongo unless there is a good reason not go.

[2019-06-13 21:26] bagerard commented on #1508
Closing this as it didn't receive much upvotes and son_manipulator got deprecated a while ago anyway (https://stackoverflow.com/a/34579774/6203472)

[2019-06-13 21:26] #1508 closed

[2019-06-14 10:00] wojcikstefan opened #2085 "Use tox-docker"
We could significantly simplify our Travis CI setup and make it more maintainable over the long term by using [tox-docker](https://github.com/tox-dev/tox-docker).

See the discussion on https://github.com/MongoEngine/mongoengine/pull/2058 for context.

Thanks to @thedrow for the suggestion. cc @bagerard.

[2019-06-14 10:18] wojcikstefan commented on #2081
Hi @casparjespersen! As @bagerard said, it sounds like you a) connect to MongoDB via MongoEngine with some params, b) attempt to connect again with different params.

(b) used to fail quietly. As of v0.18.0, it fails loudly. My take (for now – I'm keeping an open mind) is that it was a bug, not a feature, that `connect` calls such as (b) were quiet. That could lead you to expect your connection to

[2019-06-14 13:29] wojcikstefan commented on #357
I think the `_id: 1` index is the *the only one* that can be created implicitly, i.e. we don't need to explicitly define it in `meta['indexes']`. That's because we can't control it in any way or stop its creation. [MongoDB docs say](https://docs.mongodb.com/v3.6/indexes/#default-id-index): "MongoDB creates a unique index on the _id field during the creation of a collection. (...) You cannot drop t

[2019-06-14 14:32] stefanondisponibile commented on #734
Solved with `pip uninstall mongoengine`

[2019-06-14 18:08] casparjespersen commented on #2081
Hi @bagerard and @wojcikstefan. I can confirm that the error only occurs when the connection parameters differ, in which case I understand and agree with the behaviour. I was unaware they were not the same in my code - I will close this issue. And thank you for (contributing to) this great package, it is greatly appreciated.

[2019-06-14 18:08] #2081 closed

[2019-06-14 23:18] GrantBirki opened #2086 "Mongo database crashing when trying to add a user"
I am using CRITs which is a threat assessment program that using mongo. When I go to add a user the program crashes. Below is the output of error code that I am receiving.

[code]

I submitted a similar ticket on the CRITs github page and a user mentioned that the issue was that the mongoengine needs to be rolled back to the requirements.txt file.

I am looking to figure out what the issue is and

[2019-06-15 04:31] apolkosnik commented on #2086
It might be the same issue as previously mentioned with mongomock.

[2019-06-15 10:36] bagerard commented on #2086
Hi @GrantBirki , as pointed out by @apolkosnik. It relates to a change we made in 0.18.0. Your application seems to be calling `connect` multiple times with different parameters, thus attempting to overwrite an existing connection.

In fact, if you consider the following:
[code]
In mongoengine <= 0.17.0, the second call to `connect` was simply ignored. This was a bug rather than a feature an was v

[2019-06-16 13:28] ghonchesefidi commented on #2052
@bagerard Can you please explain more about migrations using pymongo?
I'm using Flask and Mongoengine as my DB.
How can we automate migrations process ?

[2019-06-16 13:30] ghonchesefidi commented on #2052
It will be nice if you give a clue about this subject then I will try it on my own project and if it works I will write and update Mongoengine documents about it.
@bagerard

[2019-06-16 13:40] ghonchesefidi commented on #2052
I had googled a lot and almost fount nothing except [this](https://bitbucket.org/letsignitcloud/flask-mongoengine-migrations/src/master/) package which I couldn't work  with it due to defective documentation.

[2019-06-16 14:33] svanburen commented on #2052
@ghonchesefidi I haven't used it myself, but have you tried something similar to what's outlined here: https://blog.sneawo.com/blog/2017/04/14/migrations-for-mongoengine/ ?

[2019-06-16 21:45] bagerard commented on #1832
Closing this, the lazy evaluation of the regexes addresses the issue for users that aren't using the EmailField. The regex from the EmailField and its lazy-evaluation were inspired by django's EmailField
Happy to reopen it if you see a way to improve this. Note that if you need to use EmailField but don't need the strict validation (which bring slowness and increased memory usage) from the current

[2019-06-16 21:45] #1832 closed

[2019-06-17 03:03] teamhide opened #2088 "Is there any method similar with django f()?"
In django, to avoid race condition and improve performance, we can use `f()`

(https://docs.djangoproject.com/en/2.2/ref/models/expressions/)

Is there any similar function like django's f() in mongoengine?

[2019-06-17 03:07] teamhide commented on #2088
On second thought, this is not necessary because mongoengine support atomic update :)

[2019-06-17 08:09] ghonchesefidi commented on #2052
I'm working on it now. Let's see how it will work. I will share the result.

[2019-06-17 08:32] ghonchesefidi commented on #2052
@bagerard I couldn't make use of it. How should I import and use it? as I said [here](https://github.com/MongoEngine/mongoengine/issues/2052#issuecomment-502453346) documentation is not good

[2019-06-17 21:41] bagerard commented on #2052
Hi, I've never used the `flask-mongoengine-migration` package, the way we handle migration at my company is simply by keeping a version attribute in the database, and then we just have a python script (organized by migration tasks) wrapped with a cli interface. It checks the version and run the migrate tasks accordingly. Such script runs after deploying a new version. We don't try to introspect th

[2019-06-18 07:53] ghonchesefidi commented on #2052
@bagerard Thanks for your reply. I will check the link you provided. I think now I'm able to solve migration problem.
but automating migrations will be a good feature for mongoengine to  add ! I hope to see it in next versions.

[2019-06-18 13:42] wojcikstefan commented on #1246
Agreed with everything @amcgregor said.

There's not much we can do here given that we don't know whether a document with a given ID already exists or not. Please use `QuerySet.objects.insert(doc)` or `doc.save(force_insert=True)`.

[2019-06-18 13:42] #1246 closed

[2019-06-19 08:17] Ricky-Hao opened #2096 "Clarify usage of the shard_key meta attribute"
Use `_id`  as ShardKey, and set meta `meta['shard_key'] = ('id',)`.
When try to `reload()` an object, it will raise:
[code]

The issue was in this code.
https://github.com/MongoEngine/mongoengine/blob/e8dbd12f2250fa68cd03b33b8c4d14cf75b92841/mongoengine/document.py#L563
Here will parse `id` to actual_key `_id`, and in
https://github.com/MongoEngine/mongoengine/blob/e8dbd12f2250fa68cd03b33b8c4d14cf

[2019-06-19 15:49] wojcikstefan commented on #2086
Following up on this one – did you manage to track down where the connection is redefined with different params @GrantBirki? :)

[2019-06-19 15:57] wojcikstefan commented on #2096
Hi @Ricky-Hao! I agree that the error message could be improved here, or it could *just work*. That said, is there a reason you're setting `meta['shard_key']` to just the `('id',)`?

Specifying a shard key really only makes sense if you shard by something else than the ID, since ID is already included as the "query" part of every update/modify/delete operation:
* If you update a document in a coll

[2019-06-20 02:28] Ricky-Hao commented on #2096
Thanks, problem solved. Maybe we could add this case to the document?

[2019-06-20 07:22] wojcikstefan commented on #2096
Yea, I think it would be good to clarify `shard_key`'s behavior/use-case. Making a TODO for myself:

- [ ] Improve the `shard_key` docs: https://github.com/MongoEngine/mongoengine/blob/master/docs/guide/defining-documents.rst#shard-keys

[2019-06-20 09:20] daleeg opened #2098 "Serious bug about using "get_db""
Missing the alias parameter and will  cause instance to connect to the wrong database

mongoengine/ context_managers.py: 182

    def __init__(self):
        """Construct the query_counter
        """
        self.db = get_db()

mongoengine/dereference.py: 171

        else:
            references = get_db()[collection].find({'_id': {'$in': refs}})

[2019-06-20 09:25] #2096 closed

[2019-06-20 09:26] LIMr1209 opened #2100 "mongoengine.errors.InvalidQueryError: Cannot resolve subfield or operator le on the field created_at"
Code.objects(created_at__le=datetime.now() - timedelta(seconds=900)).all()

created_at = db.DateTimeField()

[2019-06-20 19:55] bagerard commented on #2100
Hi @LIMr1209 I think the operator you want is `__lt` or `__lte`  (http://docs.mongoengine.org/guide/querying.html#query-operators)

[2019-06-21 01:35] LIMr1209 commented on #2100
@bagerard Embarrassed, wrong, I think the time field does not support __lt or __lte

[2019-06-22 09:52] bagerard commented on #2100
Please clarify what you are trying to achieve if you want more help
Embarrassed, wrong, the DateTimeField supports `__lt` and `__lte` correctly, see below:
[code]

[2019-06-24 08:49] mpessas commented on #357
I agree it would make index definitions more explicit, but it is against what most people coming to mongoengine from other "ORM"s would expect. That said, as long as it is fine breaking backwards compatibility, dropping those field options sounds good to me.

[2019-06-24 09:24] wojcikstefan commented on #357
The more I think about it, the more I like the idea of defining **all** of the indexes in `meta['indexes']`. This makes scanning for indexes in the code easier and follows The Zen of Python in that "There should be one-- and preferably only one --obvious way to do it."

This is similar to defining all of your indexes via [`Meta.indexes`](https://docs.djangoproject.com/en/2.2/ref/models/options/#dj

[2019-06-24 14:21] wojcikstefan commented on #2098
Hi @vallee11! Not sure I understand the issue just by reading your description. Could you please elaborate or share a failing test case?

[2019-06-24 14:22] wojcikstefan commented on #2086
Closing this one since there's no response. Feel free to reopen though if still facing issues.

[2019-06-24 14:22] #2086 closed

[2019-06-24 19:20] bagerard commented on #2098
I believe the problem is that the 2 context managers aren't designed to work with a different alias than "default", alias should get injected there and it should be `get_db(alias)`

[2019-06-25 04:03] LIMr1209 commented on #2100
@bagerard thanks

[2019-06-25 04:58] 5cmpersec opened #2104 "Please push version 0.18.1 to pypi.org"
Please push version 0.18.1 to pypi.org

Thanks

[2019-06-25 08:09] bagerard commented on #2104
@wojcikstefan Any idea why 0.18.1 didnt make it to pypi? I bumped the version and created a release in the project, did I miss something? Perhaps the latest changes to travis.yml broke the release? Where can I see the logs of that `deploy` job in travis?

[2019-06-25 08:22] bagerard commented on #2100
You are welcome, closing this as it seems resolved

[2019-06-25 08:22] #2100 closed

[2019-06-25 09:07] vallee11 commented on #2098
I used ‘mongoengine’ in my project, but the ‘connection module’ can't meet my needs. I need automatic splitting of db and collection, thread safing, django style configuration input, so I rewrote the ‘connection module‘’ and integrated with orm.

I found the use of ‘get_db ’ in the process, without rigorous testing, I will not use these two modules in the project until you complete the two modules

[2019-06-25 09:21] vallee11 commented on #2098
connection module

    from threading import local
    from django.utils.functional import cached_property
    from django.conf import settings
    from pymongo import MongoClient, ReadPreference, uri_parser
    from mongoengine.base.metaclasses import TopLevelDocumentMetaclass
    from django.utils import timezone
    import django.utils.six as six
    import re
    import logging

    LOG = logg

[2019-06-25 09:28] vallee11 commented on #2098
document module

    # -*- coding: utf-8 -*-
    from __future__ import unicode_literals
    from __future__ import absolute_import, unicode_literals
    from mongoengine import Document, StringField
    from django.utils import timezone
    from threading import local
    from mongoengine.base.metaclasses import TopLevelDocumentMetaclass
    from .connection import mongo_connections, WHEN, MONGO_

[2019-06-25 10:25] wojcikstefan commented on #1041
MongoEngine's `DynamicDocument` turns keys from a MongoDB document into attributes of the document object, e.g.:
[code]

However, in Python 2.7 (which we still support), having object attributes that contain unicode characters is a no-go:
[code]

We may look into supporting unicode MongoDB doc keys/Document object attributes after dropping support for Python 2.7.

[2019-06-25 14:29] wojcikstefan commented on #2104
I typically go to the [Build History on Travis](https://travis-ci.org/MongoEngine/mongoengine/builds) and look for the relevant `vX.Y.Z` build. Here's the one in question: https://travis-ci.org/MongoEngine/mongoengine/builds/547424739

Looking at the [config for that build](https://travis-ci.org/MongoEngine/mongoengine/jobs/547424742/config), I'm realizing that we updated the `$MONGODB` env var to

[2019-06-25 15:07] wojcikstefan commented on #2104
[v0.18.2](https://pypi.org/project/mongoengine/0.18.2/) made it to PyPI thanks to 5c91877b, 1ead7f9b, and af292b0e (and the [GH release](https://github.com/MongoEngine/mongoengine/releases/tag/v0.18.2), of course).

[2019-06-25 15:07] #2104 closed

[2019-06-25 15:28] bagerard commented on #2104
Good catch @wojcikstefan, thanks for sorting that out

[2019-06-25 16:52] neuronist commented on #1388
@JWDobken it's a bit dangerous to implement the validate method like that.

You're overriding the `StringField` validate method completely and `name_validation` is not calling the [`StringField.validate` method](https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/fields.py#L91-L102) with super. This means that you can add a name bigger than 255 characters because you completely igno

[2019-06-25 18:27] bagerard opened #2105 "MongoEngine docs are not up-to-date"
It looks like the online docs isn't updated since 0.17.0
https://mongoengine-odm.readthedocs.io/changelog.html

Could you also clarify how readthedocs update is supposed to be triggered

[2019-06-25 18:35] bagerard commented on #1388
The feature isn't well know and the online doc isn't up to date (due to a bug) but any fields can take a `validation` parameter which is a callable
E.g:
[code]

Note that:
- mongoengine>=0.18 expects the callable to raise a ValidationError
- mongoengine < 0.18 expects it to return a boolean (without possibility to customize the error message, its a generic one)

[2019-06-25 18:38] bagerard commented on #2098
That is a lot of code and your problem is still unclear, is your problem simply the fact that 2 context managers aren't using the `alias` in the nested `get_db` call or is it different?

[2019-06-26 08:08] neuronist commented on #1388
Thanks for that merge request, it will be very helpful. I didn't try the validation arg because I didn't get how it was supposed to use, also reading this "Generally this is deprecated in favor of the FIELD.validate method" confused me and led me to find another option like clean.

[2019-06-26 10:55] neuronist commented on #1984
Any follow up on this? It would be a really interesting addition to the package I had to stop using update because of this. The update method is preferable to update instead of having to "manually" edit the Document object attributes and save it after.

[2019-06-26 12:27] teamhide opened #2108 "operator is very slow on huge collections"
If there is 3 collections,

`posts`
- post_id
- user_id
- body
- region
- state
- created_at
- update_at
- and some fields...

Posts has 2000000 documents.

If I querying with $in, $nin operators,

[code]

Despite I trigger compound index on `user_id`, `state`, `region`, it takes almost 10 seconds until querying finish.

Is there any mistakes on my query?

Or, other trick to improve performance?

[2019-06-26 20:25] bagerard commented on #2108
Hi @teamhide. Indeed, 10sec seems like a lot for this.
If you execute the query multiple times, does it always take 10sec or only the first time?

For more assistance, could you:
1) Build and execute the equivalent query in pymongo, measure its performance and confirm that pymongo returns way faster
2) Provide your Posts model (at least a simplified version of it), including index definition (i.e

[2019-06-27 01:31] teamhide commented on #2108
Actually, `some_user_ids1 = [] (len = 100000)` and `some_user_ids2 = [] (len = 10000)` is result from query `scalar()`.

`User.objects(some condition here).scalar('user_id')`

I used scalar for extract just `user_id`.

But `scalar()` result is queryset. So I changed it to just list and querying,

[code]

It takes just 1 seconds.

I wonder that, why `scalar()` returns queryset and why just list fas

[2019-06-27 11:05] #2072 closed

[2019-06-27 13:49] pankajkgarg commented on #1586
This is how you can define a partial index which supports unique with null values
[code]

[2019-06-29 09:05] bagerard commented on #2105
@wojcikstefan Any idea on this?

[2019-06-29 09:20] bagerard commented on #2108
scalar does not strictly resolve to pymongo so in case you are iterating over a large number of records, mongoengine's overhead may have a significant impact

The following should fix your performance problem:
[code]

[2019-06-29 20:04] bagerard opened #2114 "Switch test suite from nose to pytest"
Unless you are a huge nosetest fan, I'd suggest to switch the test suite to `pytest`. I'm pretty sure you are already familiar with pytest @wojcikstefan but if not, or if you need me to elaborate on why it's better, just let me know :)

[2019-06-30 07:55] wojcikstefan commented on #2114
Thanks for opening an issue about this @bagerard. I'm definitely in favor of switching our test suite to pytest :)

Next steps:
1. Make sure all of our tests are collected.
    * Currently *most* of our test files have a `test_` prefix in their name and hence are automatically discovered by pytest. However, there are some exceptions that we'd need to fix (e.g. `tests/queryset/queryset.py` would ha

[2019-06-30 19:11] #1548 closed

[2019-06-30 19:43] bagerard commented on #2114
Personally I prefer to use the "test_{original_filename}.py" convention for test files (being the default of pytest), I like that it makes test files easier to find in IDE but it doesn't matter much at the end, just tell me which way you want to go.

regarding 3) the pytest guys actually provide [unittest2pytest](https://github.com/pytest-dev/unittest2pytest) that ease the migration (smart move fr

[2019-06-30 19:56] bagerard opened #2116 "Set up pre-commit hooks for flake8, black, etc"
I'll do this shortly but I'm creating the ticket just to keep track of this
by pre-commit hook, I mean using Yelp's framework https://pre-commit.com/

[2019-07-01 01:23] teamhide commented on #2108
@bagerard  Unfortunately, `{us['_id'] for us in user_ids_qs}` takes almost 1.2seconds. I think It isn't mongoengine's problem. Just problem of my schema modeling or, this case doesn't match nosql. Anyway, thanks!

[2019-07-01 10:19] wojcikstefan commented on #2114
That's a valid point. Given that a) this is the pytest default, b) most of our test suite already conforms to this convention, c) it helps with file navigation in some IDEs, I'm happy to go the `test_{original_filename}.py` route 👍

SGTM. Wanna give it a try or should I?

[2019-07-01 12:02] bagerard commented on #2108
Happy to help. Maybe adding some indexes could help decrease that 1.2 seconds, I guess it currently needs to scan the whole collection to find your documents

[2019-07-02 13:52] wojcikstefan commented on #2105
Not sure off the top of my head, but I'll investigate soon.

[2019-07-02 21:22] bagerard commented on #2114
Leave that with me, I should have some time to work on this in the next weeks

[2019-07-03 08:21] bagerard opened #2117 "Improve doc of order_by and mention how it works with multiple keys"
Further to this post on SO https://stackoverflow.com/questions/56859698/how-to-use-order-by-on-booleanfield-using-mongoengine/56859817#56859817

I suggest that we improve the doc of `order_by`
http://docs.mongoengine.org/guide/defining-documents.html?highlight=order_by#ordering

and mention how it works with multiple keys.

[2019-07-04 13:02] teamhide commented on #2108
MongoDB behavior very obviously. Most of `MongoDB vs MySQL` benchmarking result said, MongoDB is faster than MySQL when SELECT. But when there is multiple search condition it spend more time than MySQL.

For example, I have to search with below condition.

[code]

And trigger compound index.

`db.users.createIndex({"is_a": 1, "is_b": 1, "is_c": 1, "is_d": 1, "gender": 1, "birthday": 1, "final_scor

[2019-07-07 18:18] duusty opened #2120 "Different Embedded Documents inside a list field"
Hi,

is there any way of defining different embedded documents inside a list?
I have already tried the GenericEmbeddedDocument Field but this always throws an error

[code]

After i have printed out the type of the value  it said `<marshmallow.missing>` so i thought the error would be marshmallow or in my case the modelschema in marshmallow-mongoengine.

Ive then changed the marshmallow schema to

[2019-07-08 03:18] cmdedj commented on #1442
@4ndr i face same thing, but now i also want to now how to deal with it

[2019-07-08 06:32] cmdedj opened #2122 "how can i search in a multi-embedded model?"
this is my multi-embedded model, now i know the mongoid, category_group_name and user_group_name, how can i search the matched document only contain usergroupinfo.

[code]

i want to get the result
[code]

not that result
[code]

can you tell me how to search and get such result
thank you

[2019-07-08 09:55] krnekhelesh opened #2123 "Read The Docs documentation still shows 0.16.3 as the latest release"
According to the [Read The Docs documentation changelog](http://docs.mongoengine.org/changelog.html) the latest release is **v0.16.3** which was released 8 months ago. The subsequent releases from 0.17- 0.18.2 are not visible in the documentation changelog.

This gave us the false impression that we were on the latest release as we pin the versions in our requirements.txt file to ensure testing as

[2019-07-08 11:16] sonu247 opened #2124 "Collection Name PascalCase?"
Hi,

I am already having a database in which collection names are `PascalCase`, I've to use that database only, but when I created the model and tried to fetch data with model name `UserAccount` but when I insert a document in the collection it created a collection as `user_account`. How can I handle such a situation?

[2019-07-08 15:12] neilgoldman commented on #267
Having a similar issue when setting a DictionaryField to an empty object/dict, the field becomes unset. But the field has required=True so now the document fails validation on loading. I'm able to get around it by using pymongo functions, but am worried that later something will save the document and cause mongoengine to unset it again.

[2019-07-08 18:31] bagerard commented on #2124
Have you tried using the meta class attribute inside your document
`meta = {'collection': "YourCollectionName"}` ?
 it allows to overwritte the automatic name that mongoengine chose based on your Document class name

[2019-07-09 02:59] cmdedj commented on #2122
who can help me =.=?

[2019-07-09 08:34] mindojo-victor commented on #1925
The same problem exists when you have a list of embedded documents and you enumerate them -- `_instance` is not filled.

[2019-07-09 11:49] sonu247 commented on #2124
@bagerard Thanks, It worked!

[2019-07-09 11:49] #2124 closed

[2019-07-09 16:04] bekab95 opened #2126 "Chain of primary keys ? record doesn't exist"
I need to have such Structure

[code]
when editing MainProductTabs I am getting Record Does not exist error in Flask-Admin

[2019-07-10 06:07] sonu247 commented on #2071
@bagerard For me, there is another issue `mongoengine` connects to remote host while `pymongo` doesn't. I've this code in `Django`
[code]

When I run mongoDb on my local sever everything seems fine. But when I stop the local system's mongodb service. I get this error:
![image](https://user-images.githubusercontent.com/33275626/60944617-f6f6a000-a306-11e9-82e9-c1d5938e3a3c.png)

I am not sure why `

[2019-07-10 12:02] cmdedj opened #2128 "how to delete a field in a document?"
one document in db
[code]

how to delete lang field ?
[code]

[2019-07-10 14:41] amcgregor commented on #2128
### [$unset](https://docs.mongodb.com/manual/reference/operator/update/unset/)

[2019-07-10 14:48] amcgregor commented on #2080
There are certain names it is generally best to consider _reserved_.  For example, any field whose name you wish to include a `$` in, can't.  `$` has meaning to MongoDB.  Similarly, as a consequence of _parametric querying_, one should (or must) avoid collisions with all parametric prefixes and suffixes, basically, everything usable as a [query operator](http://docs.mongoengine.org/guide/querying.

[2019-07-10 14:53] bptarpley commented on #2080
Thanks, Alice! I will try to avoid using reserved field names in the future :) That said, some kind of checking for reserved field names before allowing the class to be instantiated would be nice--I assume (perhaps wrongly) that one of the reasons for using an ORM like MongoEngine is to not only save time but also not to have to be fully aware of the ins and outs of MongoDB syntax.

[2019-07-10 14:59] amcgregor commented on #2080
### I would **never** suggest using a tool for the sole purpose of not knowing what you're doing, and avoiding having to learn what you're doing.

My main struggle against jQuery and Bootstrap, that.  Crutches won't stop you from re-breaking your foot if you kick the curb.  You can't prove you've solved a problem unless you have measured, and can prove you've solved the problem.  (One can not solv

[2019-07-10 15:07] amcgregor commented on #2052
Since "migrations" in the MongoDB sense are essentially a transcript of generally atomic operations, I don't bother with extensive migration tracking or coding tools.  A function issuing a few PyMongo requests is more than enough.  As such, my "migration runner" literally just uses `pkg_resources.resource_listdir` to search for all .py files a la `package/*/migration/*.py` (with an area-based sour

[2019-07-10 15:11] bptarpley commented on #2080
Thanks for taking time out of your day to share philosophical advice on the nature of my profession. I still feel this is a valid issue that could save future developers time and headaches.

[2019-07-10 15:43] amcgregor commented on #2080
Thank you for providing the opportunity.  I get the sense from "on the nature of my profession" that it was not welcome advice.  (**My** profession involves not just _utilizing_ DAO tools like these, but also [_writing them from scratch_](https://github.com/marrow/mongo/blob/develop/marrow/mongo/param/update.py#L38).)

This is a headache because you aren't aware of the correct way to query or mani

[2019-07-11 03:27] cmdedj commented on #2128
@amcgregor i mean use it in mongoengine function not a mongo sql

[2019-07-11 04:32] krnekhelesh commented on #2123
I just noticed that issue is a duplicate of #2105 reported earlier. Closing this bug. Sorry for the noise.

[2019-07-11 04:32] #2123 closed

[2019-07-11 08:29] bagerard commented on #2105
@wojcikstefan sorry to insist but this is critical as users won't look at the changelog/breaking changes if readthedocs is not up to date. From what I saw, we must have an integration like with travis and from the readthedocs site you should have accesss to some build logs. AFAIK I don't have access to that space so I can't help

[2019-07-11 10:46] amcgregor commented on #2128
[Let me prefix this with an apology. Your exact type of dismissal of the valid answer without even seemingly looking at it is something that gets under my skin. So while this may seem overly hostile, there is some level of need for this type of response to discourage that process of asking questions and expecting whole solutions be handed back in the future.  I'm not respectful, here, but neither

[2019-07-11 12:50] amcgregor commented on #2080
Ah, additional note: when I say re-name it, I mean re-name the Python-side MongoEngine Document model attribute.  On MongoDB's side, the name "set" (or other collisions such as "size") may be used without **any** issue, _if aliased_.

[code]

[2019-07-11 12:56] cmdedj commented on #2128
@amcgregor thank you very much. your answer is very detailed。
Let me apologize for not describing my question clearly.

I originally wanted to apply it to django rest framework.
i want to access a value from body then can delete the field.

[code]
now i will rewrite serializer.update(self, instance, validated_data)
[code]

if i use your method
[code]
if will delete bar field in all documents
but i

[2019-07-11 13:36] amcgregor commented on #2128
I can not assist you with that.

Good point, there's a problem in that.  I have corrected it, which should now more obviously identify the correct mechanism to restrict that change to a specific document.  Note the use of `.objects`, and remember how documents are queried using MongoEngine.  [And how you filter them.](http://docs.mongoengine.org/guide/querying.html#filtering-queries)

You can't ju

[2019-07-11 14:58] cmdedj commented on #2128
you mean i cant achieve it only by a model instance?

[2019-07-11 15:54] amcgregor commented on #2128
Your question is unclear: what do you mean by "model instance"?  If you mean model class, if you are using MongoEngine for data access, you ought to already have one, and yes, use it, see my three line example.  You have been provided absolutely everything you need to be able to do what you initially asked, in two major ways (with and without MongoEngine), with a demonstration and links to relevan

[2019-07-11 17:31] cmdedj commented on #2128
@amcgregor ok Maybe I didn't describe the problem clearly.
Thank you for your patience.

[2019-07-11 20:24] amcgregor commented on #1099
You don't have control over the construction of GridFS collections, either the file tracking one, or the one containing the actual chunks.  That leaves such configuration to manual effort or server-wide configuration, as was previously pointed out.  Additionally, the MongoDB in-database compression algorithm defaults to Snappy, for performance reasons, or lets you use fast zlib, neither of which o

[2019-07-12 08:32] wojcikstefan commented on #2105
Sorry for the delay on this one. I'll definitely look into it this weekend.

[2019-07-12 10:32] LIMr1209 opened #2129 "An index can be created for a field in an embedded document？"
An index  can be created for a field in an embedded document？
Is the dictionary field OK?

[2019-07-12 10:51] LIMr1209 commented on #2129
Do Embedded Document Field or DictField have query methods? Can i query the document based on a pair of key values in the dictionary?

[2019-07-12 11:07] LIMr1209 commented on #2129
match – performs an $elemMatch so you can match an entire document within an array
How to use match

[2019-07-12 11:47] LIMr1209 commented on #2129
Having looked up some information, I solved all the problems except that of indexing.

[2019-07-12 12:13] NMFR opened #2130 "Default database not set if host is mongomock"
When passing host `mongomock://localhost/some-default-database` to `connect` the default database will be `test` instead of `some-default-database`.

[2019-07-12 13:52] djrochford commented on #298
+1

[2019-07-12 14:31] mojimi opened #2132 "How to have EmbeddedDocuments in a Map?"
First, how does EmbeddeDocumentListField works behinds the scene? Is it a normal list or a map?

And how can I have EmbeddedDocuments that are queried by key? For example :

[code]

Also, what's the difference between GenericEmbeddedDocument, MapField, and DictField? As far as I know in MongoDB these are all Embedded Documents/objects

[2019-07-13 17:49] wojcikstefan commented on #2105
It looks like the RTD integration broke because it had been using the deprecated GitHub Services feature and GitHub [stopped delivering events](https://developer.github.com/changes/2018-04-25-github-services-deprecation/) for it on January 31, 2019 (which is exactly when the last RTD build passed, see https://readthedocs.org/projects/mongoengine-odm/).

@rozza is still the sole owner of the RTD pr

[2019-07-14 13:02] Daviswww commented on #858
setp 1.
pip install pylint-django

setp 2.
open VSCode -> File -> Preferences -> Settings -> search 'python.linting.pylintArgs'

setp 3.
Add this in json.

"python.linting.pylintArgs" :[
     "--load-plugins=pylint_django"
 ]

[2019-07-14 18:45] bagerard commented on #2105
Good catch @wojcikstefan ! That wasn't easy to debug

[2019-07-14 19:42] bagerard commented on #2132
Hi @mojimi,

Below is an example that shows the two fields in action, how to query on a field of an EmbeddedDocumentListField and how you can check the corresponding raw structure:
[code]
prints
[code]

`MapField` and `DictField` are very similar, the difference with `EmbeddedDocument` is that its more flexible  as the keys aren't set in advance but all 3 translate to an object in mongo (a dict in

[2019-07-14 19:49] bagerard commented on #2130
Hi @NMFR , thanks for reporting this and for taking the time to do a PR

[2019-07-14 20:03] bagerard commented on #2128
Hi @cmdedj If you have an existing Document instance, you can unset the field by using python's `del` keyword. It will translate to an `$unset` behind the scene when you'll `.save()` the instance

See below
![image](https://user-images.githubusercontent.com/11854690/61188612-09176c00-a682-11e9-8b32-d1bf6b722fa0.png)

[2019-07-14 21:00] bagerard commented on #2122
For querying embedded fields, you need to use double underscores in the `.objects`call ([doc](http://docs.mongoengine.org/guide/querying.html#filtering-queries)),

E.g:
[code]
this will give you all instances having at least one match in the category_group_infos list.

As to retrieve results in the exact format you mentioned, mongoengine won't provide anything out of the box.  The closest mongoeng

[2019-07-14 21:00] #2122 closed

[2019-07-14 21:10] bagerard commented on #2120
Using the following simplified version works:
[code]
What actually gets saved in the database is the following:
[code]
As you can see, mongoengine is storing an `_cls` attribute to allow to differentiate the classes of the embedded documents when it reloads the object. This _cls isn't sent in your json, this is the problem/ You can try to add that _cls in the json but I'm not sure it will work out

[2019-07-15 03:28] cmdedj commented on #2122
thank you very much

[2019-07-15 03:31] cmdedj commented on #2128
@bagerard thank you very much, it's the best answer i wanted!!!
you solve my question～

[2019-07-15 03:31] #2128 closed

[2019-07-15 03:35] cmdedj commented on #2128
@bagerard thank you，you can always know what i want and then solve it

[2019-07-15 05:46] teamhide opened #2133 "Get ReferenceField data return None"
I have two models.

**Comment**

[code]

**Post**

[code]

And created post and comment.

[code]

To fetch post's comment, I executed below code.

[code]

But it printed `None`

Here is a look at the actual database:

[code]

I wonder that, how can get all the documents on the post model?

Is it impossible?

[2019-07-15 08:01] wojcikstefan commented on #2105
Alrighty, [docs.mongoengine.org](http://docs.mongoengine.org) is up-to-date now :)

[2019-07-15 08:01] #2105 closed

[2019-07-15 08:21] bagerard commented on #2105
Awesome, thanks!

[2019-07-15 13:25] mojimi commented on #2132
@bagerard thank you, I understand now.

I just want to achieve fastest queries possible, all my queries are done with keys only so I believe a DictField of ReferenceFields would be the best scenario

[2019-07-15 13:25] #2132 closed

[2019-07-16 12:59] mojimi opened #2134 "Automatically check if a document is being created?"
The context here is simple, I want to automatically maintain "created" and "last_updated" fields on the model level.

Since the .save() method can be ambiguous (could be either create/update) I couldn't figure out how to do this, specially considering that the python document object might not be in sync with the database document.

Obviously I could implement this at the application's business log

[2019-07-18 18:46] bagerard commented on #2133
You don't get the 2-sided relationships out of the box, if you want it, you can obtain it by using a `@property`

I assume this is a traditional 1-to-many relationships (1 Post can have many comments associated to it) so you would materialize it like the following:
[code]

[2019-07-19 17:17] david-alm commented on #837
Looks to me like this doesn't apply to `LazyReferenceField`s

[2019-07-19 18:42] bagerard commented on #837
@david-alm Please open another ticket and reference this one

[2019-07-19 23:15] aprowe opened #2136 "ReferenceField behavior 0.17.0 vs 0.18.*"
Hello,

After updating to v0.18.0, some of my reference fields break.
Where in 0.17.0 a ReferenceField returns a Document object, for 0.18 it is giving me an ObjectID instead of the Document instance.

I can't recreate it with a simple example, so I am not sure what the deal is.
Any ideas why this would break it?

[2019-07-21 05:37] teamhide commented on #2133
@bagerard You're right. I just want to know if there is another solution. Anyway, thanks :)

[2019-07-21 05:37] #2133 closed

[2019-07-21 09:01] david-alm opened #2137 "Lazy Reference to Abstract class attempts to obtain the classes `id_field`"
This is a similar issue to #837, though pertaining to `LazyReferenceField`s as opposed to `ReferenceFields`

The following code should enable you to replicate the issue in mongoengine version `0.18.0`

[code]

Saving a `Referrer` to the database will trigger a `KeyError: id_field`.
Replacing the `LazyReferenceField` with a regular `ReferenceField` doesn't trigger this exception.

[2019-07-21 19:32] bagerard commented on #2136
Hi @aprowe, I've got a few question:
- Is it 100% reproducible with 0.18.0?
- Can you simulate that from a python shell?

If yes, then it could help to see your Document class and to provide us with one object (print an object from a mongo shell)

[2019-07-22 08:52] FabianGoettl opened #2138 "Index with name: ... exists with different options"
I have the following document, which specifies multiple indexes:

[code]

Now I have upgraded from mongoengine 0.17.0 to 0.18.1 and get the following error, when I try to store a new document:

Have the index options changed between the versions?

[2019-07-22 09:47] bagerard commented on #2138
Could you dump your index definitions here?
[code]

[2019-07-22 09:56] #2130 closed

[2019-07-22 16:32] ShayNehmad commented on #1904
This should be added to the docs somehow, took me quite a few hours to dig this issue up :(
Thanks for the answer!

[2019-07-23 22:26] zellsun commented on #267
You'll get different results when you query a collection or call .first() at this query.
For the whole collection, those unset fields are missing.
But magically, .first() will return you default values for those unset fields.
I rely on this behavior as my workaround, that is I loop the whole results, and for every single iteration the default value is there. (However, they have been unset and no d

[2019-07-24 10:13] damvantai commented on #1829
I think cause version of pymongo and mongoengine

[2019-07-24 19:40] #2120 closed

[2019-07-24 19:45] bagerard commented on #2116
looked into this but since `black` doesn't run under python2 (it can format py2 code but it requires a >py3.6 environment), its kindda tricky to get it working fine and avoid frictions with for instance pyenv, etc

I'd suggest to put this on hold until we have a py2-py3 compatible codebase, at which point having `black` in pre-commit should be a piece of cake.

That being said, I can also introduc

[2019-07-24 19:50] bagerard commented on #1873
@rafaelleru post is quite old, have you had a chance to look into this?

[2019-07-24 22:20] rafaelleru commented on #1873
Hi all sorry for the delay. I will upload code this week. It is ready I think :)

[2019-07-25 03:07] #1938 closed

[2019-07-25 14:04] MihailButnaru opened #2140 "Documentation raw query section information needs to be added"
I was facing a problem and by reading the documentation, I was not be able to find the solution to the problem. The raw query section does not provide enough information, of how to use raw query method in different problems. Will be nice to add a section in the raw query that explains you, how to query a specific record through a nested array in mongo db.

` Example: Document.objects(__raw__={"_id

[2019-07-25 18:27] nixon1333 opened #2141 "Increasing memory usage and query time very high"
Hello,
 So this is my function

[code]

if i call this function this is what happens every time
[code]

The actual mongo query is  less than 1 sec but the `to_json()` is taking more than 11 sec. What would be the issue :(
Using `mongoengine==0.16.2`

[2019-07-26 10:28] bagerard commented on #2141
The actual query only gets fired when you interact with it (e.g: iterate on it, print it, call .to_json(), cast it to list, etc) so here the `.json` actually measures both the pymongo query + the mongoengine json serialization.

E.g:
[code]

You could use a python profiler to see the actual (either with the builtin profiler, either with [pycallgraph](https://stackoverflow.com/a/11822995/6203472) )

[2019-07-26 10:48] nixon1333 commented on #2141
thank you for reply. I was just checking it with profiler. So the issue is with mongoengine I guess. Because the actual raw query is taking less than 1 sec.

the main issue is here `(Q(a_group__in=Gp.objects.filter(a_type='a', is_active=True, ids__in=[str(1)]))` .
So when I was calling the `to_json()` it's first querying the Gp collection and getting out a huge query set, where i only needs the id

[2019-07-26 11:36] nixon1333 commented on #2141
so finally i solved it.

this is the code

[code]

[2019-07-26 11:36] #2141 closed

[2019-07-26 15:02] Killerjay666 commented on #1592
Hey, is there any update on this, or has anyone found a workaround? This is a pretty crucial feature to maintain database integrity in applications with nested document fields (which I imagine is common).
Currently it seems the only option is to write a cascade rule myself, or change all of our EmbeddedDocument containing Referencefields into their own collections (I do not understand why this is

[2019-07-27 09:50] ufo911 commented on #2140
raw query works as mongo console

[2019-08-05 12:58] XDavidT opened #2142 "object.save() crash without any error massage but throw exception in try-catch"
I start using in test environment, and all works fine.
When I got to large project and using it in my server, I put the object.save() in try-catch to understand that the problem is there.
Every time I get to .save(), program skip to exception and don't throw any error.
Is there any return value ? any status I can get ? more details ?

[2019-08-05 15:16] #2142 closed

[2019-08-06 05:35] GopiTheContributer commented on #2030
Do we have any update on this ticket? I'm facing this issue I need solution Please provide any update.

[2019-08-07 07:50] imfht opened #2143 "Is there any options to echo command send to server for debug?"
Hello:
    I'm using mongoengine but it caused some profile problem. So I wanner know what command is sent to my server.
   sqlalchemy has an option `echo`, when set to true. sqlalchemy will echo executed sql. does mongoengine support this?

[2019-08-10 14:01] kassymkhanTJ opened #2145 "Raise exception on trying to access fields that weren't retrieved from db"
Hi. When using mongoengine in our project, we encountered a problem when we tried to access fields that were not received from db (fields in `.exclude ()` or not in `.only ()`). Now it returns `None` or the default value, but we think raising an Exception would be safer, so it will tell us to get these fields to avoid unexpected behavior. As an example I added a `check_fields_retrieved: True` for

[2019-08-19 10:23] ibmboy19 commented on #2060
modify will refresh instance (read back new values from db) while update won't

[2019-08-20 09:19] crunk1 opened #2148 "MongoDB 4.2: mongoengine.errors.OperationError: Update failed (BSON field 'no_cursor_timeout' is an unknown field.)"
[code]

Sorry, don't have exact steps to repro this. Caught this as we were trying out 4.2 and I'm busy reverting back to 4.0 :)

Some basic info:
python: 3.7.4
mongoengine: 0.18.2
pymongo: 3.9.0

Error does not appear when running against server 4.0.12.
Upon upgrading to 4.2, error starts popping up during update queries.

[2019-08-20 12:44] bagerard commented on #2143
Hi @imfht, this could be helpful but unfortunately no we don't have such feature and there is nothing offered by pymongo out of the box...

You can obtain this information by changing the profiling level of your database and then the queries will get inserted in the `system.profile` collection.

E.g:
[code]

This obviously isn't as handy as echo'ing the queries but it is helpful. You also may want

[2019-08-20 13:05] bagerard commented on #2138
Closing this, happy to reopen in case author provide additional info

[2019-08-20 13:05] #2138 closed

[2019-08-20 13:06] bagerard commented on #2136
Any update on this @aprowe

[2019-08-20 13:07] #2065 closed

[2019-08-20 13:09] bagerard commented on #2145
Hi @kassymkhanTJ , we don't have any development going in that direction at the moment but could you provide a few lines of code to show your exact demand? Thanks!

[2019-08-20 13:10] bagerard commented on #2071
Closing this as author isn't replying

[2019-08-20 13:10] #2071 closed

[2019-08-20 13:21] bagerard commented on #478
Closing this as its extremely old and from the description I think that we have it implemented for a while

[2019-08-20 13:21] #478 closed

[2019-08-20 18:17] kassymkhanTJ commented on #2145
Thanks for reply!
For example I have:
[code]
And query like this:
`school = School.objects.only('classes.number', 'director.name').first()`
or
`school = School.objects.exclude('classes.literal', 'director.age').first()`

If we access these fields we will get `None` or default value:
`school.classes[0].literal == None`
`school.director.age == None`

This is expected behavior now, but we require som

[2019-08-21 06:11] GopiTheContributer opened #2150 "connect() cant accept more parameters for kwargs"
when I pass arguments to connect method it throws error like accepts two parameter passed 5
ex:
works fine when I pass
connect(username="asdf", password="asdfa", host="123", port="23423")

but doesnt work when I pass those values from a variable

username="asdf"
password="asdfa"
host="123"
port="23423"

connect(username, password, host, port)

the above line throws the specified exception

[2019-08-21 08:48] sunhk25 opened #2151 "how to create empty collection like modelCls.objects.create()"
I only need a empty collection, Thanks

[2019-08-21 11:10] erdenezul opened #2152 "Misleading error message on bulkwrite"
Error message was like `Document must not have _id value before bulk write.`. But it was misleading. Because of that, I have wasted my one day to debugging data.

[2019-08-21 14:20] jiangbianliming opened #2154 "document.save() fails on when shard_key is not _id"
LivePhotoVideo(
            id=media_id,
            owner=user_id,
            size=size,
            original_fid=original_fid,
).save()

owner is shard_key

This was failing with the following exception:

/opt/tiger/everphoto/media/models/legacy_data_source.py +51 save_live_photo_video
/opt/tiger/pyenv3.7/lib/python3.7/site-packages/mongoengine/document.py +419 save
OperationError:Could not sav

[2019-08-23 09:34] imfht commented on #2143
Thanks!

[2019-08-23 09:34] #2143 closed

[2019-08-25 12:32] #2060 closed

[2019-08-26 14:16] bagerard commented on #2114
I'm working on this right now, I struggled with getting it working with 2to3 + tox but its moving forward, almost there

[2019-08-28 08:06] Fjolnir-Dvorak opened #2155 "Document the backing driver in ReadTheDocs"
Can you please add documentation to ReadTheDocs that you only support pymongo version x+ and that support for motor in the future is very unlikely? It was very unclear to me which driver this library uses and whether it is compatible to my code or not which was not possible to answer for sure reading your documentation.

[2019-08-28 12:30] bagerard commented on #2150
This is normal as the signature of the function is
[code]
So the function isn't able to tell that the first argument you send it the username, second the password (etc) just because it doesn't care about how you name your variables, it only look at their values and order so when you call
[code]
it just receives
[code]
and if you look at its signature, it will assume that db="asdf" and alias="asdfa

[2019-08-28 12:30] #2150 closed

[2019-08-28 13:26] bagerard commented on #2114
Current status:
- [x] Rename all test files to test_{orginal_filename}.py #2156
- [ ] Switch test suite runner from `nose` to `pytest` and plug coverage (currently experimenting in my fork https://github.com/bagerard/mongoengine/pull/12)
- [ ] Convert all legacy assertions (self.assertEqual) to (pytest) natural assertions

[2019-08-29 06:58] vivektweeny commented on #267
Hi, In Model definition add

[2019-08-29 06:59] vivektweeny commented on #267
Hi, In the model definition set the default value

[2019-08-29 07:02] vivektweeny commented on #267
Hi, In the model definition add default value like this "users = fields.ListField(default=['text/html'])",
 it will set empty list [ ]  at time of updating the document.

[2019-08-29 07:03] vivektweeny commented on #267
Hi, In the model definition add default value like this "users = fields.ListField(default=['text/html'])",
it will set empty list [ ] at time of updating the document.

[2019-08-30 00:37] lonelywm opened #2158 "Does It available to use session and transaction in mongoengine?"
I saw as you mentioned in #1936  and #2061 that had added a special session para in document's save function, but in the newest version of 0.18.2 I didn't find it. So what is the best practice to use transaction or can I directly use pymongo's session and transcation?
²

[2019-08-30 16:02] kassymkhanTJ commented on #2145
I created https://github.com/MongoEngine/mongoengine/pull/2159 where I add some functionality. Could you leave comments, am I doing right changes, or this functionality is unwanted. Simply I just pass `.only()` or `.exclude()` fields to Document and Embedded documents if `check_fields_retrieved` set True in documents meta. Then I store all accessible fields in `_requested_fields` so I can raise `F

[2019-09-01 11:32] svanburen commented on #2114
@bagerard you may have luck with https://github.com/pytest-dev/unittest2pytest for your third TODO

[2019-09-01 19:03] bagerard commented on #2114
Yep, I actually already started reworking the assertions and that lib was amazing, worked like a charm :)

[2019-09-02 02:58] GopiTheContributer commented on #2150
thanks for the clarifications @bagerard understood the implementation

[2019-09-02 02:59] GopiTheContributer commented on #2150
@bagerard actually im very much new to MongoEngine. I don't know where to ask my doubts about MongoEngine. Can you help me to understand it? I know Mongo (I mean I can write MongoDB queries) but I'm facing many challenges converting those queries into the MongoEngine queries

[2019-09-02 08:52] bagerard commented on #2150
I think Stackoverflow is a better fit for question & answer, github is more for reporting bugs/issues. Note that I'm also active on Stackoverflow so I should see your questions

[2019-09-02 13:25] GopiTheContributer commented on #2150
Really nice to hear from you. Will ask my queries over StackOverflow thanks @bagerard

[2019-09-02 19:23] bagerard commented on #2154
Hi @jiangbianliming, could you post your Document class (i.e `LivePhotoVideo`)?

[2019-09-02 19:31] bagerard commented on #2151
Hi @sunhk25,
collections in mongodb are created lazily (upon first insert) so there is usually no reason to create a collection.

See this [SO post](https://stackoverflow.com/a/17471593/6203472)

It is possible to create it by retrieving the pymongo's Database object after connecting mongoengine with the following code:
[code]

[2019-09-02 19:31] #2151 closed

[2019-09-03 11:16] vainu-arto commented on #2148
This seems to be an undocumented breaking change in Mongo 4.2. Should this be reported as a bug on that side?

On another note, pymongo only documents no_cursor_timeout for some operations, so perhaps this was never supported for update?

In any case, the problem is caused by this: https://github.com/MongoEngine/mongoengine/blob/master/mongoengine/queryset/base.py#L1579

Mongoengine _always_ adds

[2019-09-04 07:42] #2152 closed

[2019-09-04 15:58] aprowe commented on #2136
Hey apologies for the silence, we have been using a workaround to keep development moving:
[code]
It's hard to recreate because it may depend on database state- I haven't been able to recreate it from scratch.
It also appears to happen with v0.17.0 as well. Somehow, downgrading it fixed it in one situation, but at some point the issue popped up with v0.17.0 installed.

I'll give it some more inves

[2019-09-05 07:10] bagerard opened #2161 "Document the .aggregate with a tutorial"
Currently the only place documenting the .aggregate on readthedocs is the API Reference, aggregation being an important feature of mongodb, it could be worth to make it more visible with a tutorial

[2019-09-05 13:20] codeninja55 opened #2162 "Querying Document using QuerySet objects() returns a Type error"
Say I have a Document:

[code]

In my Flask view for login, I am doing a simple `User.objects(email=email)` and I get the following errors.

[code]

Does anyone possibly know why MongoEngine is causing this as I cannot seem to find why I would need a float.

Thanks.

[2019-09-05 13:28] svanburen commented on #2162
you should probably check if there's a stray database entry with one of those field names with a float type?

[2019-09-05 13:41] codeninja55 commented on #2162
Thanks. I'll look into that. Seems the database has some strange entries.

[2019-09-05 13:41] #2162 closed